<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>
  function supcat(supcat){
  var sup_cat = $("#sup_cat").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>exams/getcourse',
      data: 'sup_cat='+supcat,
      success: function(data){
        if(data){
          $("#course").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
  }
  
  function getsubsubject(){
    var subid = $( "#subject" ).val();
    $.ajax({
      type: 'POST',
      url: '<?php echo BASEURL;?>questionbank/getsubsubject',
      data: 'subjectid='+subid,
      success: function(data){
        if(data){
          $("#subsubject").html(data);
          $("#topics").html("<option>[ Select Topics ]</option>");
          $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
          console.log(data);
        }
      }
    });
  }
    function gettopics(){
      var ssubid = $( "#subsubject" ).val();
      var subid = $( "#subject" ).val();
      $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL;?>questionbank/gettopics',
        data: {subjectid:subid,ssubid:ssubid},
        success: function(data){
          if(data){
            $("#topics").html(data);
            $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
            console.log(data);
          }
        }
      });
    }
    function getsubtopics(){
      var topics = $("#topics").val();
      var ssubid = $("#subsubject").val();
      var subid = $("#subject").val();
      $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL;?>questionbank/getsubtopics',
        data: {subjectid:subid,ssubid:ssubid,topics:topics},
        success: function(data){
          if(data){
            $("#subtopics").html(data);
            console.log(data);
          }
        }
      });
    }
    function getqid(){
    $("#loader").css("display","block");
      var topics = $("#topics").val();
      var ssubid = $("#subsubject").val();
      var subid = $("#subject").val();
      var subtopics = $("#subtopics").val();
      $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL;?>fixedtest/getqid',
        data: {subjectid:subid,ssubid:ssubid,topics:topics,subtopic:subtopics},
        success: function(data){
          if(data){
            $("#qid").html(data);
            $("#loader").css("display","none");
            console.log(data);
          }
        }
      });
    }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Fixed Test</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>fixedtest/addtest" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Fixed test Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Fixed test Name" type="text" name="name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Super Category</label>
                                        <div class="col-md-6">
                                        <select name="sup_cat" required  onclick="supcat(this.value)"  class="form-control">
                                          <option value="">-- Super Category --</option>
                                          <?php
                                            foreach($supcat as $supcatRes){ ?>
                                              <option value="<?=$supcatRes->scid?>"><?=$supcatRes->scname?></option>
                                           <?php }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label" >Course <i class="fa fa-question-circle" data-toggle="tooltip" title="Course are listed Under Super Category"></i></label>
                                        <div class="col-md-6" >
                                            <select name="course" class="form-control" id="course">
                                              <option value="">[-- Choose course --]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Number Of Question</label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Number Of Question" id="no_qs" type="text" name="no_qs" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Time In Minute</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Time In Minute" type="text" name="time" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                          <label for="subject">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" onchange="getqid()" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <label for="">Questions Selected</label>
                                          <div id="qselect"></div>
                                          <input type="hidden" id="quscount" value="0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <div id="qid"></div>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Description</label>
                                        <div class="col-md-6">
                                        <textarea required  name="description" class="form-control">
                                        </textarea>
                                        </div>
                                    </div>                                   
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Fix Test</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Fix Test</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<div class="loader-con" id="loader" style="display:none;width: 100%; height:100%; position: fixed; z-index: 2000; background: rgba(0, 0, 0, 0.48); background-image:url('<?= BASEURL ?>frontend/img/loader.gif'); background-position: center center; background-repeat: no-repeat;top:0;">
                    </div>
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
  jQuery.fn.exists = function(){return this.length>0;}

  function selectqid(qid){
    var qselect = $("#qselect").html();
    var qsinput = $("#qsinput").val();
    if($("#no_qs").val()!=''){
      if($("#quscount").val()!=$("#no_qs").val()){
        if($("#"+qid).exists()){
          alert('Id Already Exits.');
        }else{
          var qid = '<div class="qselect-list chkquep" onClick="chekques(this)" id="'+qid+'" >'+qid+'<i class="fa fa-times-circle" aria-hidden="true"></i><input type="hidden" id="'+qid+'hid" value="'+qid+'" name="questionid[]"></div>';
          $("#qselect").html(qselect+qid);
          var count = $("#quscount").val();
          count = parseInt(count)+1;
          $("#quscount").val(count);
        }
      }else{
        alert('You are reached at maximun no of question');
      }
    }else{
      alert('Fist enter no of question to add.');
    }
  }
  
  function chekques(item) {
    var curqid = $(item).attr("id");
    $('#'+curqid).remove();
    $("#quscount").val(parseInt($("#quscount").val())-1);
    alert('Successfully Removed!');
  }
  
</script>