<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

          <!-- Start Page Here -->
          <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
            <ul>
              
              <li class="right">
                <ul class="nav nav-pills nav-pills-primary">
                  <li class="active">
                    <a href="<?=BASEURL?>fixedtest/addpackages">Add Fixed Packages</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

 				<section class="panel">

			                <header class="panel-heading">
			                    <div class="panel-actions">
			                        <a href="#" class="fa fa-caret-down"></a>
			                        <a href="#" class="fa fa-times"></a>
			                    </div>
			            
			                    <h2 class="panel-title">Fixed Package Details</h2>
			                </header>
			                    <div class="panel-body">
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
			                                    <th>SL# &nbsp;</th>
			                                    <th>Package Name</th>
			                                    <th>Description</th>
			                                    <th>Price</th>
			                                    <th>Status</th>
			                                    <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                <?php $x=1; foreach ($package as $val) { ?>
			                                <tr>
			                                    <td><?php echo $x?></td>
			                                    <td><?php echo $val->name?></td>
			                                    <td><?php echo $val->desc?></td>
			                                    <td><?php echo $val->price?></td>
			                                    <td>
			                                    <?php 
                                                    if ($val->status==1) {
                                                        echo $this->tag->linkTo("fixedtest/packageupdstatus/2/".$val->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                                    }
                                                    else
                                                    {
                                                        echo $this->tag->linkTo("fixedtest/packageupdstatus/1/".$val->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                                    }
                                                ?>
                                                </td>
			                                    <td>
			                                    	
                                              <?php echo $this->tag->linkTo("fixedtest/updatepackage/".$val->id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                              <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $val->id?>" style="cursor:pointer;"></i>
                                                
			                                    </td>
			                                    <div id="delete<?php echo $val->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                              <div class="modal-dialog">
                                                <div class="modal-content">

                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->name); ?></h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="">
                                                        Do you want to delete this package?
                                                    </div>
                                                    
                                                  </div>
                                                  <div class="modal-footer">
                                                    <?php echo Phalcon\Tag::linkTo(array("fixedtest/deletepackages/".$val->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                    
                                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                  </div>

                                                </div><!-- /.modal-content -->
                                              </div><!-- /.modal-dialog -->
                                            </div>

                                            
			                                </tr>
			                            <?php 
			                            	$x++; 
			                        	}
			                        	unset($x);
			                             ?>
			                            </tbody>
			                        </table>
			                    </div><!--panel-body-->
           		</section>
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->