<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>

    function supcat(supcat){
      var sup_cat = $("#sup_cat").val();
      // ajax call start here
      $.ajax({
          type: 'POST',
          url: '<?=BASEURL?>exams/getcourse',
          data: 'sup_cat='+supcat,
          success: function(data){
            if(data){
              $("#course").html(data);
                console.log(data);
            }
          }
        });
      // console.log(sup_cat);
      }

    function getfixtest(abj)
    {
        if($("#sup_cat").val()!=''){
            var sup_cat = $("#sup_cat").val();
            var course = $(abj).val();
            $.ajax({
              type: 'POST',
              url: '<?=BASEURL?>fixedtest/getfixtest',
              data: 'sup_cat='+sup_cat+'&course='+course,
              success: function(data){
                if(data){
                    $("#fixtests").html(data);
                }
              }
            });
        }else{
            alert("Please select a Super Cateroy");
        }
        
    }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Update Fix Package</h2>
                                <div class="col-md-3 mandatory">
                                    ( <span class="required">*</span> Marked are Mandatory)
                                </div>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>fixedtest/updatepackage" method="post">
                                    <input type="hidden" name="id" value="<?=$val->id?>">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Package Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Package Name" type="text" name="name"  required value="<?=$val->name?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Description</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Enter Description" name="desc"><?=$val->desc?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Super Category <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="sup_cat" required class="form-control " id="sup_cat" onchange="supcat(this.value)">
                                            <option>--Choose Super Category--</option>
                                        <?php foreach($supcat as $value): ?>
                                            <option value="<?=$value->scid?>"
                                                <?php 
                                                    if($val->sup_cat==$value->scid){
                                                        echo 'selected';
                                                    }
                                                ?>
                                            ><?=$value->scname?></option>
                                        <?php endforeach;?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Course<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="course" required class="form-control " id="course" onchange="getfixtest(this)">
                                            <option>--Choose Course --</option>
                                            <?php
                                                foreach($course as $ce){
                                                    if($ce->id==$val->course){
                                                        $selected = 'selected';
                                                    }else{
                                                        $selected = '';
                                                    }
                                                    echo '<option value="'.$ce->id.'" '.$selected.'>'.$ce->name.'</option>';
                                                }
                                            ?>
                                        </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-8 col-md-offset-2" id="fixtests">
                                        <?php $ftid = json_decode($val->fixtest_id); //echo '<pre>';//print_r($ftid); ?>
                                        <?php
                                        for($i=0;$i<=count($fixtest)-1;$i++){
                                        ?>

                                            
                                            <div class="col-md-3">
                                                <select name="fixid[]" id="" class="form-control">
                                                    <option value="">-- Choose fixtest --</option>
                                                    <?php foreach($fixtest as $ft): ?>
                                                        <option value="<?=$ft->id?>"><?=$ft->name?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" name="date[]" data-plugin-datepicker class="form-control" placeholder="Starting Date">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" name="stime[]" data-plugin-timepicker class="form-control" placeholder="Starting Time">
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" name="etime[]" data-plugin-timepicker class="form-control" placeholder="Ending Time">
                                            </div>
                                            <div class="clearfix"></div>
                                        <?php } ?>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Test Type <span class="required">*</span></label>
                                        <div class="col-md-6">    
                                            <select name="test_type" required class="form-control ">
                                                <option value="4" selected>Fixed Wise Test</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Price <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter Plan Name" type="text" name="price" value="<?=$val->price?>" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?=($val->status==1)?'selected':''?>>Active</option>
                                          <option value="0" <?=($val->status==0)?'selected':''?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Fix Package</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Fix Package</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<style type="text/css">
    .clearfix {
    margin-bottom: 4px!important;
}
</style>