<?php
/**
*Page index 
* 
* Author By: Preetish priyabrata
* Created On:26/05/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav()?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar()?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
                  <!-- Toolbar Here -->
                      <div class="inner-toolbar clearfix"> 
                        <ul>
                          <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                              <li class="active">
                                <a href="<?=BASEURL?>questions/add_question_source">Add Source</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  <!-- Toolbar Here end -->
                  <!-- main contain start-->
 				<section class="panel">

			                <header class="panel-heading">
			                    <div class="panel-actions">
			                        <a href="#" class="fa fa-caret-down"></a>
			                        <a href="#" class="fa fa-times"></a>
			                    </div>
			            
			                    <h2 class="panel-title">Source Type Details</h2>
			                </header>
			                    <div class="panel-body">
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
			                                    <th>SL# &nbsp;</th>
			                                    <th>Source Type</th>	                                    
			                                    <th>Status</th>
			                                    <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
                                  <?php $x=1; foreach ($ques_sour as $val) { ?>
                                      <tr>
                                          <td><?php echo $x?></td>
                                          <td><?php echo $val->qsname?></td>
                                          <td>
                                          <?php 
                                                    if ($val->status==1) {
                                                        echo $this->tag->linkTo("questions/update_sourcestatus/2/".$val->qsid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                                    }
                                                    else
                                                    {
                                                        echo $this->tag->linkTo("questions/update_sourcestatus/1/".$val->qsid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                                    }
                                                ?>
                                                </td>
                                               <td>
                                                  <?php echo $this->tag->linkTo("questions/update_question_source/".$val->qsid, "<i class='fa fa-pencil' title='Update Question Type'></i>") ?>
                                                     <i class="fa fa-times" title='Delete Question Source' data-toggle="modal" data-target="#delete<?php echo $val->qsid?>" style="cursor:pointer;"></i>
                                                
                                          </td>

                                          <!--view modal-->
                                           <div id="myModal<?php echo $val->qtid?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel">Question Source Details</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Source Name</label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->qsname; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>        
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Status</label>
                                                                <div class="col-sm-9">
                                                                    <?php 
                                                              if ($val->status==1) {
                                                                  echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
                                                              }
                                                              else
                                                              {
                                                                  echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
                                                              }
                                                          ?>
                                                                </div>
                                                            </div>
                                                          </div>
                                                      </div>                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
                                              <!-- view modal end here-->


                                              <!--delete modal start-->
                                              <div id="delete<?php echo $val->qsid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->qsname); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this Question Type?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("questions/qs_delete/".$val->qsid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
                                              <!-- delete modal end here-->
                                      </tr>
                                      <?php 
                                    $x++; 
                                     }
                                    unset($x);
                                   ?>			                                 
			                            </tbody>
			                        </table>
			                    </div>
                          <!--panel-body-->
                          <!--main contain end here-->
           		</section>





      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->