<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("dashboard"); ?>
<section class="body">

	<?=UIElementsAdmin::getHeadnav()?>

	<div class="inner-wrapper">

		<?=UIElementsAdmin::getSidebar()?>
		<section role="main" class="content-body">
			<?=UIElementsAdmin::getBreadcrumds()?>
			<?=UIElementsAdmin::getContent()?>
		</section>
	</div>

</section>
<?php echo UIElementsAdmin::getFooter("dashboard"); ?>