<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<?php //echo UIElementsAdmin::frontcss(); ?><!-- frontjss-->
<?php //echo UIElementsAdmin::frontjs(); ?><!-- frontjss-->
<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar" style="padding-top:10px;">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <div class="col-md-12">
                <form id="form1" class="form-horizontal" method="post" action="<?= BASEURL ?>sitesetting/update" enctype="multipart/form-data"> 
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>
                            <?php
                            foreach ($siteinfo as $value) {
                                $site_name = $value->site_name;
                                $addres = $value->address;
                                $city = $value->city;
                                $pincode = $value->pincode;
                                $state = $value->state;
                                $country = $value->country;
                                $email_id = $value->email_id;
                                $phone_no = $value->phone_no;
                                $timeing = $value->timeing;
                                $copy_right = $value->copy_right;
                                $logo = $value->logo;
                                $id = $value->id_setting;
                            }
                            ?>
                            <h2 class="panel-title">Add Website Details</h2>
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website Logo: </label>
                                <div class="col-md-8">
                                    <input type="file" name="logo" onChange="ValidateSingleInput(this);">
                                    <?php if ($logo != '') { ?>
                                        <img src="files/<?= $logo ?>" height="100px;" width="100px;">
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website Name: </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="site_name" value="<?php echo $site_name; ?>"/>
                                </div>
                            </div>              
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address: </label>
                                <div class="col-sm-10">
                                    <textarea rows="4" class="form-control" required name="address"><?php echo $addres; ?></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="city" class="form-control" required value="<?php echo $city; ?>">
                                    <input type="hidden" name="id_setting" value="<?php echo $id; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">PIN: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="pincode" class="form-control" required value="<?php echo $pincode; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">State: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="state" class="form-control" required value="<?php echo $state; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="country" class="form-control" required value="<?php echo $country; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email ID: </label>
                                <div class="col-sm-10">
                                    <input type="email" name="email_id" class="form-control" required value="<?php echo $email_id; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone No: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="phone_no" class="form-control" required value="<?php echo $phone_no; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Timing: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="timeing" class="form-control" required value="<?php echo $timeing; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Copyright: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="copy_right" class="form-control" required value="<?php echo $copy_right; ?>">
                                </div>
                            </div>

                        </div>
                        <footer class="panel-footer text-right">
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button class="btn btn-primary">Save</button>
                        </footer>
                    </section>
                </form>
            </div>          
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->
<script>
    function ValidateSingleInput(oInput) {
        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
             
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
</script>