<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<script>
function addpoint(id){
    var point = $("#wallet"+id).val();
    $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL; ?>users/points',
        data: 'id='+id+'&point='+point,
        success: function(data){
            if(data){
                $("#wallet"+id).val('');
                alert(data);
            }
        }
    });
}
</script>
    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>
                <!-- Start Page -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">View Quiz test detail</h2>
                    </header>
                    <div class="panel-body">
                        <?php 
                            echo '<div class="btn btn-primary btn-sm pull-right" onclick="formsubmit()">Submit</div>';
                            echo 'Starting Date:'.$mqus->start_date.'<br>';
                            echo 'Ending Date:'.$mqus->end_date.'<br>';
                            
                            $qids = json_decode($mqus->questionid);
                            $q = implode("','", $qids);
                            $mq = MasterQuestionBank::find("questionid IN ('{$q}')");
                            foreach($mq as $mqval){
                                $mqv[$mqval->questionid] = $mqval->question;
                            }
                            $count = 1;
                        ?>
                        <form action="<?=BASEURL?>sitesetting/addquiz/<?=$mqus->quiz_id?>" method="post" id="fsubmit">
                            <input type="hidden" name="start_date" value="<?=$mqus->start_date?>">
                            <input type="hidden" name="end_date" value="<?=$mqus->end_date?>">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Quetionid</th>
                                    <th>Question</th>
                                    <th>Action</th>
                                </tr>
                                <?php foreach($qids as $qval): ?>
                                    <tr id="<?=$qval?>">
                                        <td>
                                            <?=$count++;?>
                                            <input type="hidden" name="qid[]" value="<?=$qval?>">
                                        </td>
                                        <td><?=$qval?></td>
                                        <td>
                                            <?php
                                                echo $mqv[$qval];
                                            ?>
                                        </td>
                                        <td> <button class="btn btn-primary btn-sm" onclick="removes('<?=$qval?>')">Remove</button></td>
                                    </tr>
                                <?php endforeach; ?>
                            </table>
                        </form>
                    </div>
                </section>

        <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>
<script>
    function removes(id)
    {
        $("#"+id).remove();
        alert("Remove Successfully");
    }

    function formsubmit()
    {
        $("#fsubmit").submit();
    }
</script>