input:required:invalid, {
	border: 1px solid #ccc;
}
input:onblur:required:invalid { 
	
	border-radius: 25px;
    border: 1px solid red;
	
	} 

input:required:valid { 
	
	border-radius: 25px;
    border: 1px solid #8AC007;

	
	  }