<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("questiontype"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav()?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar()?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Source</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>questions/add_question_source" method="post">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">Question Source Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="qtname" placeholder="Enter Question Type Name" type="text" name="qsname"   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("questiontype"); ?>