<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("questiontype"); ?>


<section class="body">
    <?=UIElementsAdmin::getHeadnav()?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar()?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Qusetion Type</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>questions/add_question_type" method="post">
                                    <?php foreach($qtupdet as $val){ ?>
                                    <input type="hidden" value="<?php echo $val->qtid ?>" name="qtid">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">Question Type Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="qtname" placeholder="<?php echo $val->qtname ?>" type="text" name="qtname"  value="<?php echo $val->qtname ?>"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Description</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Description" type="text" name="qtdesc" value="<?php echo $val->qtdesc ?>" required>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php echo $val->status==1?'selected':'' ?> >Active</option>   
                                          <option value="0" <?php echo $val->status==0?'selected':'' ?> >Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update</button>
                                        </div>
                                    </div>
                                     <?php } ?>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("questiontype"); ?>