html {
	direction: ltr;
}
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: white;
	color: #777777;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	margin: 0;
}
section{
	float: left; width: 100%; overflow: auto;
}
.uname{
	margin: 20px 0 15px 0;
    float: left;
    width: 100%;
	text-align: center;
}
.uname p{
	display: block;
	overflow: auto;
	text-align: center;
	margin: 0;
    padding: 5px 0;
}
.uname p span:nth-child(1){
    min-width: 25%;
    font-size: 2.5rem;
    padding-bottom: 7px;
    display: inline-block;
    font-weight: 600;
    color: #636363;
    text-transform: capitalize;
    border-bottom: 1px solid #b5b5b5;
    margin: 1px 0 0 0;
}
.uname p span:nth-child(1) b{
    color: #04CAB7;
    font-weight: 500;
}
.uname p span:nth-child(2){
	display: block;
	margin: 10px auto;
	width: 75%;
    font-weight: 600;
    color: #6b6b6b;
}
.uname>span{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #01bcd4;
    display: block;
    margin: 0 auto;
    background: #f8f8f8;
}
.uname>span i{
    font-size: 37px;
    margin-top: 24px;
    color: #00b8d0;
}
.course-container{
	width: 75%;
	height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: auto;
}
.course-container>h3{
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #757575;
}
.course-container>a{
    border: 1px solid #e8e8e8;
    margin: 5px 10px;
    width: 30%;
    box-shadow:0px 2px 4px 0px rgba(0,0,0,0.2);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.course-container a:nth-child(1){
    color: #e04f5f;
}
.course-container a:nth-child(2){
    color: #32bea6;
}
.course-container a:nth-child(3){
    color: #4167a4;
}

.course-container a>span>img{
    border-radius: 50%;
    border: 3px solid #f9f9f9;
    box-shadow: 0px 0px 6px rgb(160, 157, 157);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.course-container a:hover{
    text-decoration: none;
    cursor: pointer;
    box-shadow: -3px 3px 3px #cfcfcf;
    opacity: .80;
}

.course-container a:hover>span>img{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.course-container .mail-con{
    width: 60%;
    margin: 0 auto;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    padding: 50px 40px;
}
.course-container .mail-con .mail-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #d2d2d2;
    display: inline-block;
    margin: 0 auto;
    background: #f8f8f8;
    text-align: center;
}
.course-container .mail-con .mail-icon i{
    font-size: 31px;
    margin-top: 16px;
    color: #607D8B;
}
.course-container .mail-con input{
    display: inline-block;
    width: 80%;
    margin: 0px 0px 0px 0px;
    height: 38px;
    font-size: 13px;
    font-weight: 600;
}

.course-box{
	height: auto;
	float: left;
	cursor: pointer;
	padding:50px 0 100px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
}
/*.course-box:hover{
	background: radial-gradient(#fff 25%,#E8E7E7);
	background: -webkit-radial-gradient(#fff 25%,#E8E7E7);
	background: -moz-radial-gradient(#fff 25%,#E8E7E7);
	background: -ms-radial-gradient(#fff 25%,#E8E7E7);
}*/
.course-box span{
	display: block;
}
.course-box h3{
	display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: #009688;
}
.course-box span:nth-child(2){
	margin: 10px 0;
}
.stear{
    position: relative;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 25px 0 30px 0;
}
.stear button{
    outline: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 65px;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    float: none !important;
    border-radius: 0;
}
.stear button:hover, .stear button:focus{
	opacity:.90;
}
.stear button.btn-success{
    background-color: #47a447 !important;
    border: 1px solid #3b9a3b !important;

}
.stear button:nth-child(1){float:right; }
.stear button:nth-child(2){float:left;}
.stear button:hover{
	background: #165463;
}
.prog-con{
    width: 75%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
    overflow: auto;
    text-align: center;
}
.prog-con>h3{
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: #757575;
	}
.prog-con a{
    opacity: 1 !important;
	display:inline-block;
    border: 1px solid #e8e8e8;
    margin: 5px 10px;
    width: 20%;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    height: auto;
    cursor: pointer;
    padding: 45px 0 70px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    background: #fff;
}
.prog-con a>span{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    border: 1px solid #e8e8e8;
    box-shadow: -1px 1px 1px rgb(206, 206, 206);
    margin: 0 auto;
    background: #ffffff;
    margin-bottom: 10px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.prog-con a:hover>span{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.prog-con a>span>i{
    font-size: 37px;
    color: #fff;
    margin-top: 23px;
}
.prog-con a img{
	width: 25%;
    display: block;
    margin: 10px auto; 
}
.prog-con a:hover{
    text-decoration: none;
    cursor: pointer;
    box-shadow: -3px 3px 3px #cfcfcf;
    opacity: .80;
}
.prog-con a:nth-child(1){
	color: #0BB7DE;
}
.prog-con a:nth-child(2){
	color: #0BD480;
}
.prog-con a:nth-child(3){
	color: #FD5353;
}
.prog-con a:nth-child(4){
	color: #FABC3D;
}
.prog-con a:nth-child(5){
	color: #9B59B6;
}
.prog-con a:nth-child(6){
	color: #F16603;
}
.prog-con a:nth-child(1)>span{
	background: #0BB7DE;
}
.prog-con a:nth-child(2)>span{
	background: #0BD480;
}
.prog-con a:nth-child(3)>span{
	background: #FD5353;
}
.prog-con a:nth-child(4)>span{
	background: #FABC3D;
}
.prog-con a:nth-child(5)>span{
	background: #9B59B6;
}
.prog-con a:nth-child(6)>span{
	background: #F16603;
}
@media (max-width: 768px) {
	/*.uname p span:nth-child(1) b{
		display: block;
	}
	.course-box{
		width: 99%;
	}
	.course-container a:nth-child(1){
	border-top: 1px solid #C3C3C3;
	border-right: 1px solid #C3C3C3;
	border-bottom: none;
	border-left: 1px solid #C3C3C3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    color: #E04F5F;
	}
	.course-container a:nth-child(2){
		border-top: 1px solid #C3C3C3;
		border-right: 1px solid #C3C3C3;
		border-left: 1px solid #C3C3C3;
		border-bottom: none;
		color: #32BEA6;
	}
	.course-container a:nth-last-child(1){
		border-right: 1px solid #C3C3C3;
		border-bottom: 1px solid #C3C3C3;
		border-left: 1px solid #C3C3C3;
		border-top-right-radius: 0;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
		color: #32BE50;
	}
	.course-container a:nth-child(4){
		border-right: 1px solid #C3C3C3;
		border-bottom: 1px solid #C3C3C3;
		border-left: 1px solid #C3C3C3;
		border-top-right-radius: 0;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    color: #4167A4;
	}
	.prog-con a {
	    float: left;
	    width: 100%;
	}
	.prog-con a img{
	    width: 13%;
	}*/
}
