html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle{
  background: #07BAEC;
  transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
}
.navbar-default .navbar-toggle .icon-bar{
  background: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background: #FDA02C;
}
.page-header{
  margin-top:45px;
}
.text-teal{
  color: #08AF85;
}
.timer{
  float: left;
    width: 100%;
    padding:5px;
    background: #ECECEC;
    overflow: auto;
}
.clock{
  width: 68px;
    float: left;
    overflow: auto;
    background: #08AF85;
    padding: 4px;
    border-radius: 5px;
}
.clock img{
  width: 100%;
}
.timer-box{
  float: left;
  width: 65%;
  padding: 0 5px;
  overflow: auto;
  text-align: center;
}
#minutes, #seconds{
  width: 40px;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    color: #06C4F1;
    display: inline-block;
}
.pause{
  margin: 0 5px;
    padding: 3px 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    background-color: #9C9B9B;
    color: #fff;
}
.big-option{
  padding: 24% 0;
  font-size: 2em;
  border-bottom: 1px solid #D2D2D2;
  display: block;
  text-decoration: none !important;
  color: #08AF85 !important;
  cursor: pointer;
  transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
}
.big-option:hover{
  background: #08AF85;
  color: #fff !important;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}
.footer a{
  color: #808080;
    text-decoration: none;
    font-size: 1.5em;
    margin: 5px 3%;
    display: inline-block;
    transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
}
.footer a:hover{
  color: #08AF85;
}
@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}