html, body{
	height: 100%;
}
.pagination > li > a, .pagination > li > span {
	float: none !important;
}
#datatable-default thead tr th {
	font-size: 13px !important;
} 
#datatable-default tbody tr td {
	font-size: 13px !important;
}
.panel-up-button {
	position: absolute;
	right: 80;
	top: 10;
}
.bg-green {
	background: #00A65A !important;
}
.bg-yellow {
    background-color: #F39C12 !important; 
}
.bg-red {
    background-color: #F56954 !important;
}
.checkbox-custom {
	float: left;
	margin-right: 15px;
}
.match .form-group {
	margin:0;
}
.an-form-group-l {
	margin-left: 15px !important;
	margin-right: 5px !important;
}
.an-form-group-r {
	margin-left: 5px !important;
	margin-right: 15px !important;
}
.qs-bg-0 {
	background: #8E8989 !important;
	color:#FFF;
}
.qs-bg-1 {
	background: #13FD13 !important;
	color:#FFF;
}
.qs-bg-2 {
	background:#1FBBA6 !important;
	color:#FFF;
}
.qs-bg-3 {
	background: #FE5454 !important;
	color:#FFF;
}
.qs-bg-4 {
	background: #67CBF5 !important;
	color:#FFF;
}
.qs-bg-5 {
	background: #F37934 !important;
	color:#FFF;
}
.gap {
	margin-bottom: 15px;
}
.editCollection div {
	margin-bottom: 10px;
}
.subject-list li {
	list-style: none;
}
.assign-update {
	margin-bottom: 10px;
}
.show {
	display: inline;
}
.hide {
	display: none;
}
span.required {
	color: red;
}
.mandatory {
	right: 30px;
	top: -20px !important;
	float: right !important;
}
.panel-ssub div h3 {
	margin-top: 10px;
}
.ssub-border {
	border: 3px solid;
	border-radius: 3px;
}
.panel-bg {
	float: left;
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	color: #FFF;
}
.panel-bg:hover {
	color: #B4CED1;
}
.panel-bg .col-md-4 p {
	margin-top: 15px;
}
.breadcrumbs {
	margin-right:20px !important;
}
.fa-custom {
	width: 3em;
	height:3em;
}
.fa-custom .fa-stack-2x {
	font-size: 3em;
}
.fa-custom .fa-inverse {
	margin-top: 15px;
}
.right-arrow {
	margin-top: 15px;
}
.sl-no {
	margin-right: 10px;
}
.right-sidebar h3 {
	margin-top: 0;
	padding-bottom: 20px;
	border-bottom: 2px solid #000;
	color: #000;
}
.sidcon h1,.sidcon h5 {
	margin: 0;
	padding: 0;
}
.sidcon h1 {
	color: #4A4A4A;
}
.sidsec {
	padding: 15px 0;
	border-bottom: 1px solid #777;
}
.sidicon {
	width: 65px;
	float: left;
	margin-right: 15px;
}
.qextra {
	padding: 10px 0;
}
.qs-bar{
	position: fixed;
	height: 100%;
	overflow: auto;
	background: #fff;
}
.qcontent {
    font-size: 14px;
    color: #5D5C5C;
    padding: 5px;
}
.qcontent font{
    float:none;
}
.qoption {
	font-size: 15px;
	color: #4d4d4d !important;
}
.qoption .option-deco {
	padding: 18px 0px;
	cursor: pointer;

}
.qoption .options:hover font {
	color: #08C !important;
}
.qoption .options:hover span {
	background: #08C;
}
.qoption .option-deco span {
	padding: 2px 9px 2px 8px;
  	background-color: #444444;
  	border-radius: 50%;
  	color: #FFF;
}
.panel-ssub .panel-body {
	box-shadow: 1px 1px 5px;
}
.user-bread .breadcrumbs {
	margin-left: 15px;
}
/*.after-breadcrumds h2 {
	margin-top: 15px;
}*/
/*.front-sidebar-left {
	width: 200px;
}
html.fixed .front-header {
	left: 200px !important;
}*/
/*.front-content {
	margin-left: 200px !important;
}*/
.after-breadcrumds {
    background: #359acc;
    box-shadow: 0px 1px 2px #BDBDBD;
    color: #fff;
	margin-bottom: 30px;
    min-height: 90px;
}
.bread-menu ul {
	margin: 0;
	padding: 0;
}
.bread-menu ul li {
	display: inline-block;
	margin-right: 15px;
}
.right-qs h5 {
	border-bottom: 1px solid #777;
}
.mod-textarea {
	width: 100%;
}
.doutmcon {
	height: 200px;
}
.border-red {
	border-color: red;
}
.ans-btn {
	width: 100%;
}
.option-selected {
	background:#EBF9FB !important;
}
.option-selected font {
	color: #08C;
}
.option-selected span {
	background: #08C !important;
}
.right-ans {
	background:#E2FDE2 !important;
}
.right-ans span {
	background:#2EB82E !important;
}
.wrong-ans {
	background:#FBE8E8 !important;
}
.wrong-ans span {
	background:#B80000 !important;
}
.hidden {
	display: none !important;
}
.option-label-wrong {
	color: #B80000;
	margin: 0;
}
.option-label-right {
	color:#2EB82E;
	margin: 0;
}
.match-table tbody tr td {
	width: 50%;
}
.booked {
	color: #d68c15 !important;
}
.unattempt {
	color:#06F;
}
.wrong {
	color:red;
}
.right {
	color: green;
}
.test-fixed-ans {
	position: fixed;
	right: 0;
	margin-top: 110px;
	margin-bottom: 20px;
	margin-right: 15px;
	height: 100%;
	width: 215px;
	z-index: 9;
}
.right-test {
	margin: 0;
	padding: 0;
	height: 100%;
}
.right-test li {
	margin: 0;
	list-style: none;
	height: 25%;
	text-align: center;
	font-size: 2em;
	padding-top: 25%;
}
.right-test li:hover {
	background: #08AF85;
	color: #fff;
}
.test-fixed-qlist {
	position: fixed;
	left: 0;
	width: 300px;
	height: 100%;
	z-index: 9;
	background: #FFF;
	display: none;
}
.test-np {
	position: fixed;
	padding: 10px 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	z-index: 99;
	background: #FFF;
	text-align: center;
	font-size: 1.7em;
}
#test-toggle-icon {
	font-size: 2em;
    position: fixed;
    top: 15%;
    z-index: 99;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #CECECE;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.question_select {
	overflow: scroll;
	padding: 0 10px;
}
.test-questions {
	display: none;
}
.test-questions:first-child {
	display: block;
}
.swapper{
	position: fixed;
	bottom: 5%;
}
.swap-right{
	right: 1%;
}
#next,#pre {
	cursor: pointer;
}
.goto-chapter {
	background: transparent;
    border: 0;
    outline: 0;
    display: inline-block;
    float: right;
    font-size: 2.5em;
    margin: 5px 0;
    color: #DEDCDC;
    transition: all .5s;
    -webkit-transition: all .5s;
}
.bread-menu li a {
    color: #f1f1f1 ;
    font-weight: 600;
	text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.bread-menu li a:hover {
	color:#fff !important;
}
.assess-qus {
	margin-bottom: 15px;
}
.widget-summary-col a {
	text-decoration: none;
}
.circle-img-marg {
	margin-right: 20px;
}
ul.simple-user-list li .title {
	width: 84%;
}
.end-info{
	font-size: 1.2em;
}
.end-info b{
}
.isfu .info{
	line-height: 4rem !important;
}
.question-section .panel-heading{
	border-radius: 0;
    background: #E8E8E8 !important;
}
.question-section .quiz-questions-con{
    padding: 70px 10px 15px 25px;
}
.question-section .quiz-questions-con .tab-content {
    box-shadow: none;
    border: 0;
}
.question-section .quiz-questions-con .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus{
    border-top: 2px solid #15A6EF;
    background: #fff;
}
.question-section .quiz-questions-con .nav-tabs li a:hover {
    border-top: 2px solid #15A6EF;
}
.question-section .quiz-questions-con .nav-tabs li a, .nav-tabs li a:hover {
    background: #FAFAFA;
    border-top: 2px solid #dddddd;
}
.question-section .quiz-questions-con .quiz-questions{
    padding-bottom: 5px;
    cursor: pointer;
    border-bottom: 1px dotted #CECDCD;
    margin-bottom: 12px;
}
.question-section .quiz-questions-con .quiz-questions:hover{
    border-bottom: 1px dotted #08c;
}
.question-section .quiz-questions-con .quiz-questions:hover .badge{
	background-color: #08c;
}
.question-section .quiz-questions-con .quiz-questions:hover .qcontent{
	color: #08c !important;
	font-weight: 500;
}
.panel-ssub .qcontent{
	margin-bottom:5px;
}
.panel-ssub ul li{
	cursor: pointer;
}
.panel-ssub ul li span{
    margin-right: 6px;
-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.panel-ssub ul li:hover{
	color:#08c;
}
.panel-ssub ul li:hover span{
	background-color:#08c;
	margin-right:10px;
}
.quiz-result-con{
	background: #fdfdfd;
}
.quiz-result-con h1{
    background-color: #08c;
    color: #fff;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 0 0 15px 0;
}
.quiz-result-con>a{
    background-color: #E8E8E8;
    display: block;
    color: #08c;
    text-align: right;
    padding: 8px 20px;
    font-size: 14px;
	}
.quiz-result-con>a>i{
    font-size: 22px;
    color: #006394;
}
.quiz-result-content{
	padding:15px;
}
.quiz-result-content>p{
	font-size: 13px;
    padding-bottom: 9px;
    margin-bottom: 15px;
    border-bottom: 1px solid #E0DFDF;
}
.quiz-result-content>p .quiz-result-icon{
    font-size: 20px;
    padding-right: 4px;
}
.quiz-result-content>p .quiz-result-icon .i1{
	color: #0AADFF;
}
.quiz-result-content>p .quiz-result-icon .i2{
	color: #F5AA02;
}
.quiz-result-content>p .quiz-result-icon .i3{
	color: #00C345;
}
.quiz-result-content>p .quiz-result-icon .i4{
	color: #019636;
}
.quiz-result-content>p .quiz-result-icon .i5{
    color: #BF2C00;
}
.question-section-top{
	padding: 8px;
	position: fixed;
	width: 25%;
    z-index: 1;
}
.question-section-top img{
    display: block;
    margin: 5px auto;
    height: 34px;
}
.exam-right-con-top{
	padding:0;
}
.exam-finish-btn{
	display: block;
    float: right;
    height: 61px;
    padding: 17px 25px;
    background: rgba(0,0,0,0.1);
    color: #fff;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    margin-right: 12px;
}
.exam-finish-btn:hover{
    background: rgba(0, 0, 0, 0.2);
}
.exam-finish-btn>i{
	font-size: 23px;
}
.exam-finish-btn:hover>i{
	color: #FBBEBE;
}
.exam-finish-btn>label{
    font-size: 14px;
    font-weight: 600;
    padding-left: 2px;
    text-transform: uppercase;
}
.exam-finish-btn:hover>label{
	cursor:pointer;
}
.custom-countdown{
	margin-top: 0px;
    font-weight: 600;
}
.custom-countdown p{
    letter-spacing: normal;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    margin: 10px 0 6px 0;
    color: #F3F3F3;
}
.exam-right-heading{
	padding: 0 15px;
    margin: 17px 0 0 0;
    font-size: 21px;
    font-weight: 600;
	}
.info-box{
		background-color: #999;
		background-image: -webkit-linear-gradient(-43deg, #bcbcbc, #727272, #a3a3a3);
		background-image: -webkit-linear-gradient(-43deg, #bcbcbc, #727272, #a3a3a3);
		background-image: -moz-linear-gradient(-43deg, #bcbcbc, #727272, #a3a3a3);
		background-image: -ms-linear-gradient(-43deg, #bcbcbc, #727272, #a3a3a3);
		background-image: -o-linear-gradient(-43deg, #bcbcbc, #727272, #a3a3a3);
		background-size: cover;
		min-height: 100%;
		overflow:auto;
		width: 100%;
		height: 100%;
		padding-top: 30px;
	}
.info-box .panel{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.info-box .panel .exam-inst-left{
    width: 24%;
    float: left;
    position: fixed;
    height: 100%;
    padding-bottom: 50px;
}
.info-box .panel .exam-inst-right{
	width: 69%;
    float: right;
    height: 100%;
    padding-bottom: 20px;
}
.info-box .panel .exam-inst-left .dashboard-top{
    box-shadow: 0 2px 7px 0 rgba(48, 48, 48, 0.83);
    border: 1px solid #747474;
    margin-bottom: 8px;
    padding-bottom: 15px;
    background: #fff;
    height: 100%;
    padding-top: 50%;
	position:relative;
}
.exam-inst-con{
    height: 100%;
	overflow:auto;
	background:#fff;
    border-radius: 3px;
    box-shadow: 0 2px 7px 0 rgba(48, 48, 48, 0.83);
    border: 1px solid #747474;
    margin-bottom: 150px;
}
.exam-inst-con h1{
    text-align: center;
    background-color: #08c;
    color: #fff;
    padding: 17px 0;
    font-size: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.exam-inst-con .exam-inst-content{
    padding: 30px 35px;
    height: 100%;
    background: #fff;
}
.exam-inst-con .exam-inst-content .exam-inst-head{
    margin-bottom: 25px;
    text-align: center;
}
.exam-inst-con .exam-inst-content .exam-inst-head span{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #f8f8f8;
    border: 2px solid #cecece;
    display: inline-block;
    position: relative;
    text-align: center;
}
.exam-inst-con .exam-inst-content .exam-inst-head span i{
	font-size: 20px;
    margin-top: 11px;
    color: #919191;
}
.exam-inst-con .exam-inst-content .exam-inst-head h3{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    color: #868686;
    margin: 0 auto;
    border-bottom: 2px solid #242424;
}
.exam-inst-con .exam-inst-content .inst-content-list{
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10px;
    margin-bottom: 18px;
    min-height: 45px;
}
.exam-inst-con .exam-inst-content .inst-content-list:last-child(){
	margin-bottom:100px;
}
.exam-inst-con .exam-inst-content .inst-content-list .badge{
    background-color: #0088CC;
	padding: 4px 7px;
}
.exam-inst-con .exam-inst-content .inst-content-list label{
    font-size: 14px;
    padding-left: 5px;
    font-weight: 600;
	margin-bottom:4px;
	color:#0088CC;
}
.exam-inst-con .exam-inst-content .inst-content-list .inst-bottom{
    display: block;
    padding-left: 30px;
    font-size: 12px;
    font-style: italic;
}
.inst-btn-con{
    background: #fbfbfb;
    padding: 40px 0;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
}
.inst-btn-con .inst-btn{
	text-align: center;
    display: block;
    width: 65%;
    margin: 0px auto;
    background: #4f88cc !important;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    border: 1px solid #999 !important;
    border-bottom: 3px solid #1a4b86 !important;
    border-radius: 4px;
    padding: 8px 0;
    box-shadow: 0px 3px 3px #a5a5a5;
}
.inst-btn-con .inst-btn:hover{
	opacity:.95;
    border: 1px solid #999 !important;
    border-bottom: 3px solid #1a4b86 !important;
}
.inst-btn-con .inst-btn i{
-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.inst-btn-con .inst-btn:hover i{
	padding-left:6px;
}
.wallet-nodata{
	color: #F3BF02;
    font-size: 16px;
    line-height: 100px !important;
    text-align: center;
}
.package-purchase-tr{
	font-size: 15px;
    background: #CACACA;
    color: #737272;
}
.package-purchase-tr>th{
	min-width:100px;
	text-align:center;
}
.result-questions{
	background-color:transparent;
	padding:15px 0;
}
.result-questions .practice-question-con .top-menus .qicons>a {
    border-right: 1px solid #B5B5B5;
    padding: 0 5px;
}
.result-questions .practice-question-con .top-menus .qicons>a>i {
    font-size: 14px;
	}
.result-questions .practice-question-con .top-menus .qicons>label {
    margin: 0;
    color: #787878;
    font-weight: 600;
    font-size: 12px;
    padding: 0 5px;
    font-style: italic;
	}
.result-questions .practice-question-con .top-menus {
    padding: 10px 10px 8px 15px;
}
.result-questions .practice-question-con .panel-body {
    border-bottom: 6px solid #DDDDDD;
}
.question-section{
    -webkit-animation-fill-mode: initial;
    animation-fill-mode: initial;
}
.tips-con .panel-body{
    box-shadow: 1px 1px 5px;
    padding: 0px;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.tips-con .panel-body .tips-header{
    padding: 10px 15px 10px 15px;
}
.tips-con .panel-body .tips-header p{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
	margin:0;
}
.tips-con .panel-body .tips-header p>b{
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
    border-right: 1px solid #CACACA;
    margin-right: 10px;
}
.tips-con .panel-body .tips-body{
    padding: 15px 30px 15px 30px;
}
.tips-con .panel-body .tips-body h3{
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: #656565;
}
.tips-con .panel-body .tips-body p{
    font-weight: 500;
    color: #656565;
    font-size: 13px;
}
.tips-con.tips-type-formula{
	border-top: 4px solid #83BBF5;
}
.tips-con.tips-type-formula .panel-body .tips-header p{
	color:#3E9DFF;
}
.tips-con.tips-type-law{
	border-top: 4px solid #83E0F5;
}
.tips-con.tips-type-law .panel-body .tips-header p{
	color:#21C9EF;
}
.tips-con.tips-type-definition{
	border-top: 4px solid #FFA0A0;
}
.tips-con.tips-type-definition .panel-body .tips-header p{
	color:#FD7676;
}
.free-test-top{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    background: #379DD0;
    color: #fff;
    border-top: 2px solid #08C;
}

.free-test-top>.container>h2{
    margin: 20px 0 20px 10px;
    font-size: 28px;
}
.free-test-top>.free-test-tabs{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    background: #379DD0;
}
.free-test-top>.free-test-tabs ul{
    list-style: none;
    display: block;
    height: 50px;
    padding-left: 0px;
}
.free-test-top>.free-test-tabs ul li{
    float: left;
	cursor:pointer;
    margin-right: 10px;
}
.free-test-top>.free-test-tabs ul li a{
    display: block;
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    text-decoration: none;
}
.free-test-top>.free-test-tabs ul .active a{
    border-bottom: 4px solid #1A648A;
    color: #fff;
}
.free-test-top>.free-test-tabs ul li:hover a{
    color: #fff;
}
.free-test-con{
    padding: 150px 0 20px 0;
}
.free-test-con .ft-heading{
    font-size: 20px;
    line-height: 25px;
    color: #1A1A1A;
    font-weight: 700;
    margin: 10px 0 14px 0;
}
.free-test-con .free-test-list{
}
.free-test-con .free-test-list .single-test{
    display: block;
    position: relative;
    background: #fff;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.free-test-con .free-test-list .single-test .ft-title{
    padding: 26px 20px;
}
.free-test-con .free-test-list .single-test .ft-title h5{
    font-size: 31px;
    line-height: 35px;
    font-weight: 500;
    color: #4a4a4a;
    margin: 0;
    text-transform: uppercase;
}
.free-test-con .free-test-list .single-test i{
    position: absolute;
    top: 50%;
    right: 40px;
    margin-top: -15px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    color: rgba(74,74,74,0.15);
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.free-test-con .free-test-list .single-test:hover{
    -webkit-transition: box-shadow 200ms ease-out;
    -moz-transition: box-shadow 200ms ease-out;
    transition: box-shadow 200ms ease-out;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
}
.free-test-con .free-test-list .single-test:hover i{
    right: 25px;
}
.no-test{
    text-align: center;
    margin-top: 10%;
    font-size: 15px;
    font-weight: 600;
    color: #F44336;
}
.no-test>b{
    font-size: 20px;
    font-weight: 500;
    padding-left: 2px;
}
/****************************************
			MY PROFILE
****************************************/
.profile-main-con {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    padding-bottom: 100px;
	background:#fff;
}
.profile-main-con .profile-top{
    width: 100%;
    overflow: auto;
    background: #379DD0;
    color: #fff;
    border-top: 2px solid #08C;
}
.profile-main-con .profile-top h4{
    margin: 20px 0 8px 25px;
    font-size: 28px;
}
.profile-main-con .profile-top p{
    margin: 0px 0 5px 25px;
    font-size: 12px;
}
.profile-main-con .profile-con{
	background:#fff;
    padding-top: 40px;
    margin-bottom: 70px;
}
.profile-main-con .profile-con .profile-fields h4{
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
    color: #222;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700 !important;
}
.profile-main-con .profile-con .profile-fields .single-content{
}
.profile-main-con .profile-con .profile-fields .single-content label{
	display:block;
    font-size: 12px;
    line-height: 15px;
    color: #AFAFAF;
    font-weight: 700;
    text-transform: uppercase;
	margin:30px 0px 10px 0;
}
.profile-main-con .profile-con .profile-fields .single-content input[type=text]{
    height: 40px;
    width: 100%;
    padding: 9px 10px;
    font-size: 17px;
    line-height: 22px;
    color: #222;
    background: #fff;
    border: 1px solid #D2D2D2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	display:block;
}
.profile-main-con .profile-con .profile-fields .single-content input[type=text]:focus{
    border: 1px solid #379DD0;
}
.profile-main-con .profile-con .profile-fields .single-content select{
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    font-size: 17px;
    line-height: 22px;
    color: #222;
    background: #fff;
    border: 1px solid #D2D2D2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	display:block;
}
.profile-main-con .profile-con .profile-fields .single-content select option{
    font-size: 14px;
}
.profile-main-con .profile-con .profile-fields .single-content textarea{
    height: 100px;
    width: 100%;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 22px;
    color: #222;
    background: #fff;
    border: 1px solid #D2D2D2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
	display:block;
}
.profile-main-con .profile-con .profile-fields .single-content button{
    background-color: #379DD0;
    color: #fff;
    border-color: #28a9e4;
    height: 45px;
    padding: 0 28px;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    margin: 30px 0;
}
.profile-main-con .profile-con .profile-fields .single-content button:hover{
	opacity:.90;
}
.profile-main-con .profile-con .profile-img-con{
    background: #F8F8F8;
    padding: 20px;
    display: block;
    position: relative;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 40px;
}
.profile-main-con .profile-con .profile-img-con .img-con{
    width: 160px;
    height: 160px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #EFEEEE;
}
.profile-main-con .profile-con .profile-img-con .img-con>img{
    width: inherit;
    height: inherit;
}
.profile-main-con .profile-con .fileUpload {
    position: relative;
    overflow: hidden;
    margin: 20px;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    line-height: 38px;
    font-weight: 700;
    color: #979797;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    border: 1px solid #979797;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.profile-main-con .profile-con .fileUpload:hover {
    color: #7e7e7e;
    border-color: #7e7e7e;
}
.profile-main-con .profile-con .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.profile-main-con .profile-con .not-allowed{
	height: 40px;
    width: 100%;
    padding: 9px 10px;
    font-size: 17px;
    line-height: 22px;
    color: #222;
    background: #F7F7F7;
    border: 1px solid #D2D2D2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display:block;
    cursor: not-allowed;
}
/*************************************
		TIMELINE VIEW
*************************************/
.fixed-test-top{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    background: #379DD0;
    color: #fff;
    border-top: 2px solid #08C;
}

.fixed-test-top>.container>h2{
    margin: 20px 0 8px 25px;
    font-size: 28px;
}
.fixed-test-top>.container>p{
    margin: 0px 0 5px 25px;
    font-size: 12px;
}	
.fixed-test-con{
    padding: 150px 0 20px 0;
}
.timelines .timelines-item:after, header:before, .timelines .timelines-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}
.timelines {
  width: 100%;
  margin: 30px auto;
  margin-top: 2px;
  position: relative;
  padding: 0 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.timelines:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #379dd0;
  left: 50%;
  top: 0;
  position: absolute;
}
.timelines:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
.timelines .timelines-item {
  margin-bottom: 0px;
  position: relative;
  margin-top: -10px;
}
.timelines .timelines-item-head {
  margin-bottom: 50px;
  position: relative;
}
.timelines .timelines-item-head .timelines-icon-head {
    background: #0088cc;
    width: 150px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -75px;
    border-radius: 1px;
    box-shadow: -2px 3px 5px #8c8c8c;
	overflow:hidden;
}
.timelines .timelines-item-head .timelines-content-head {
	height:50px;
}
.timelines .timelines-item-head .timelines-icon-head h4 {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0 10px 0;
}
.timelines .timelines-item .timelines-icon {
    /* background: #379dd0; */
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.timelines .timelines-item .timelines-icon i {
    color: #fff;
    text-align: center;
    display: block;
    font-size: 27px;
    margin: 12px 0 10px 0;
}
.timelines .timelines-item .timelines-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.timelines .timelines-item .timelines-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 12px 20px;
    background: #379dd0;
    color: #fff;
    margin: -20px -20px 0 -20px;
    font-weight: 500;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.timelines .timelines-item .timelines-content h2 i{
    font-weight: normal;
    font-size: 17px;
    margin-right: 2px;
}
.timelines .timelines-item .timelines-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #379dd0;
}
.timelines .timelines-item .timelines-content.right {
  float: right;
}
.timelines .timelines-item .timelines-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #379dd0;
}
.timelines .timelines-item .timelines-content .dates-con{
    display: block;
}
.timelines .timelines-item .timelines-content .dates-con .single-dates{
    display: inline-block;
    width: 48px;
    height: 48px;
    text-decoration: none;
    margin: 10px 8px 0 0;
}
.timelines .timelines-item .timelines-content .dates-con .single-dates h5{
    font-size: 11.4px;
    height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #888;
    color: #fff;
    text-align: center;
    border-radius: 0;
    margin: 0;
    padding-top: 3px;
}
.timelines .timelines-item .timelines-content .dates-con .single-dates p{
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border: 1px solid #d8d8d8;
    border-top: none;
    color: #4a4a4a;
    text-align: center;
    border-radius: 0px 0px 3px 3px;
}
.timelines .timelines-item .timelines-content .dates-con .single-dates:hover h5{
    background-color: #5f5e5e;
}
.beep-con {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  background: #45453f;
}
.current-month .pulses {
    border: 8px solid #8cff90;
    background-color: #346c88;
}
.current-month .dots {
    border: 10px solid #4bf752;
}
.previous-months .pulses {
    border: 8px solid #888888;
    background-color: #f8f8f8;
}
.previous-months .dots {
    border: 10px solid #888888;
}
.pulses {
    width: 30px;
    height: 30px;
    border: 8px solid #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #09557b;
    z-index: 10;
    position: absolute;
    left: -14px;
    top: -5px;
    box-shadow: 0px 0px 4px #0086ca;
}
.dots {
    border: 10px solid #0584c3;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 70px;
    width: 70px;
    position: absolute;
    top: -24.5px;
    left: -34.8px;
    z-index: 1;
    opacity: 0;
}

@keyframes pulses {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0.2);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.5);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(1);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1.3);
    opacity: 0.0;
 }
}
.dots-animation {
  -webkit-animation: pulses 2s ease-out;
  -moz-animation: pulses 2s ease-out;
  animation: pulses 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@media screen and (max-width: 991px) {
  .timelines {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  .timelines:before {
    left: 0;
  }
  .timelines .timelines-item{
	  margin-top:0;
	  margin-bottom:20px;
  }
  .timelines .timelines-item .timelines-content {
    width: 90%;
    float: right;
  }
  .timelines .timelines-item .timelines-content:before, .timelines .timelines-item .timelines-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #379dd0;
  }
  .timelines .timelines-item .timelines-icon {
    left: 0;
  }
  .timelines .timelines-item-head .timelines-icon-head {
	  left:0;
	  margin-left:0px;
  }
}
/****************TimeLine View End***************/
	
.widget-tasks-media{
        margin-bottom:65px;
}




/******Only for MOZILA*****/
@-moz-document url-prefix() {
    .widget-tasks-media{
        margin-bottom:65px;
    }
	.nano-content ul li .nav-animate-icon {
		margin-top:-15px;
	}
	.nano-content .widget-tasks-media ul li .nav-animate-icon {
		margin-top:5px;
	}
}

/********************************/
.toasty-style{
	display: none;
    position: fixed;
    top: 20px;
    right: 5px;
    font-size: 16px;
    color: #FFF;
    font-family: sans-serif;
    font-weight: 500;
    width: 320px;
    height: auto;
    padding: 15px 15px 15px 20px;
	margin: 0 0 6px;
	-moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    opacity: 0.8;
    background-repeat: no-repeat !important;
    background-position: 15px !important;
    background-size: 28px !important;			
}

	.toast-content{
	width: 100%;
    float: left;
    padding-left: 40px;
    margin-top: 5px;
	}
	.toasty-info{
		  background-color: #2f96b4;
		 background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
	}
	.toasty-success{
 background-color: #51a351;
   background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
	}
	.toasty-warning{
		background: #f89406;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}		
	.toasty-danger{
  background-color: #bd362f;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;	 
	}

/********Media Queries*********/
@media screen and (min-width: 1366px) {
	.page-header {
	    margin: 0px -40px 0px -2px !important;
	}
}
@media screen and (max-width: 1365px) {
	.page-header {
	    margin: 0px -40px 0px -2px !important;
	}
}
@media screen and (max-width: 991px) {
	.user-bread-right {
		margin: 0px 15px;
	}
	.dashboard-con{
		margin-top:20px;
	}
	.page-header {
	    margin:0px -40px 0px -2px !important;
	}
	.your-stats{
		text-align:center;
	}
	.topic-wise-test .widget-summary .widget-summary-col {
		display: inline-block;
	}
	.topic-wise-test .widget-summary {
		width: 99%;
	}
	.assessment-portlet .assessment-status {
		padding-bottom: 55px;
	}
	.assessment-portlet .assessment-footer {
    	margin-bottom: 40px;
	}
	.profile-main-con .profile-con .profile-img-con {
		margin-top: 0;
    	margin-bottom: 30px;
	}
	.fixed-test-con {
		padding: 75px 0 20px 0;
	}
	.uname p span:nth-child(2) {
		width: 95%;
	}
	.course-container {
		width: 95%;
	}
	.course-container a>span>img {
		width: 100px;
	}
	.course-box h3 {
		font-size: 22px;
	}
	.course-box {
		padding: 40px 0 70px 0;
	}
	.course-container .mail-con input {
		width: 79%;
	}
	.prog-con {
		width: 85%;
	}
	.prog-con a {
		width: 35%;
	}
}
@media only screen and (max-width: 480px){
	.recent-activities .simple-user-list .circle-img-marg {
		margin-right: 10px;
	}
	.recent-activities .simple-user-list li .title {
		width: 75%;
	}
	.course-container .mail-con .mail-icon {
		display:block;
	}
	.course-container .mail-con input {
		display: block;
		width: 100%;
		margin: 10px 0px 0px 0px;
	}
	.prog-con a {
		width: 95% !important;
		display: block !important;
	}
	.toasty-style {
		width: 300px;
	}
	.free-test-con {
		padding: 180px 0 20px 0;
	}
}
@media only screen and (max-width: 767px){
	.your-stats-cust>div>span {
		margin-bottom:0px;
	}
	.your-stats-cust>div>label {
		margin-bottom: 6px;
	}
	.unit-one-i {
		margin-top: 50px;
	}
	.course-container {
		width: 90%;
	}
	.course-container .mail-con {
		width: 100%;
		padding: 40px 25px;
	}
	.after-breadcrumds {
	    margin: -2px -15px 20px;
		min-height: 60px;
	}
	.after-breadcm {
		margin-left: 0 !important;
		padding-top:0;
	}
	.page-header {
	    margin: 0 -15px 0px !important;
	}
	.after-breadcrumds>div>h2{
		font-size:20px;
	}
	.goto-sub .widget-summary {
		width: 100%;
	}
	.goto-sub .widget-summary .summary-icon {
		font-size: 3.2rem;
		width: 70px;
		height: 70px;
		line-height: 70px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	.callus-con .panel-heading-icon{
		font-size: 3.2rem;
		width: 70px;
		height: 70px;
		line-height: 70px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	.callus-con .panel-body {
		height: 116px;
	}
	.custom-countdown {
		margin-top: 55px;
		position: absolute;
		width: 100%;
		background: #30A0D8;
		left: 0;
		padding-top: 2px;
	}
	.exam-finish-btn {
		height: 55px;
		margin-right: 2px;
	}
	.user-bread-right {
		margin: 0px 25px;
		float:left !important;
	}
	.free-test-top>.free-test-tabs{
		z-index:90;
	}
	.widget-tasks-media{
		margin-bottom:70px;
	}
	.stear button {
		display:block;
		margin: 0 auto;
		margin-bottom:5px;
		text-align:center;
		width: 225px;
	}
	.course-container>a {
		width:95%;
	}
	.course-box {
		padding: 40px 0 60px 0;
	}
	.course-container a>span>img {
		width: 95px;
	}
	.prog-con {
		width: 95%;
	}
	.prog-con a {
		width: 40%;
	}
	.info-box .panel .exam-inst-left {
		width: 100%;
		position: relative;
		height:auto;
		padding-bottom:10px;
	}
	.info-box .panel .exam-inst-right {
		width: 100%;
		float: left;
		height: 100%;
	}
	.info-box .panel .exam-inst-left .dashboard-top {
		height: auto;
		padding-top: 25px;
	}
	.inst-btn-con {
		padding: 20px 0;
		position: relative;
	}
}

@media screen and (min-width: 1200px) {
	.after-breadcrumds {
	    margin: 0 -40px 20px;
	}
	.after-breadcm {
		padding-top:0;
	}

}
@media screen and (min-width: 992px) {
	.after-breadcrumds {
	    margin: 0 -40px 20px;
	}
	.after-breadcm {
		padding-top:0;
	}
}
@media screen and (min-width: 768px) {
	.after-breadcrumds {
	    margin: 0 -40px 20px;
	}
	.after-breadcm {
		padding-top:0;
	}

}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.info-box .panel {
		width: 95%;
	}
	.info-box .panel .exam-inst-left {
		width: 29%;
	}
}
.table .fa-pencil{
    padding-right: 7px;
    padding-left: 7px;
}
.course-details p{
font-size: 13px;
text-transform: uppercase;
font-weight: 600;
margin-bottom: 5px;
color: #FB7171;
}
.course-details p i{
color: #ff8f8f;

}
.course-details .span-con{
margin-left: 20px;
    
}
.course-details .span-con label{
font-weight: 600;
margin: 4px !important;
font-size: 13px;
color: #7d7d7d;
    
}
.course-details .span-con label i{
font-size: 12px;
color: #5D5E69;
    
}
/*style for loader start here*/
.loading {
              font: 26px/1.5 Monospace;
              color: #03ef84;
              -webkit-perspective: 100px;
                      perspective: 100px;
            }
            .loading > span {
              -webkit-animation: flip 2s infinite;
                      animation: flip 2s infinite;
              display: inline-block;
              -webkit-transform-origin: 50% 50% -10px;
                      transform-origin: 50% 50% -10px;
              -webkit-transform-style: preserve-3d;
                      transform-style: preserve-3d;
            }
            .loading > span:nth-child(1) {
              -webkit-animation-delay: 0.1s;
                      animation-delay: 0.1s;
            }
            .loading > span:nth-child(2) {
              -webkit-animation-delay: 0.2s;
                      animation-delay: 0.2s;
            }
            .loading > span:nth-child(3) {
              -webkit-animation-delay: 0.3s;
                      animation-delay: 0.3s;
            }
            .loading > span:nth-child(4) {
              -webkit-animation-delay: 0.4s;
                      animation-delay: 0.4s;
            }
            .loading > span:nth-child(5) {
              -webkit-animation-delay: 0.5s;
                      animation-delay: 0.5s;
            }
            .loading > span:nth-child(6) {
              -webkit-animation-delay: 0.6s;
                      animation-delay: 0.6s;
            }
            .loading > span:nth-child(7) {
              -webkit-animation-delay: 0.7s;
                      animation-delay: 0.7s;
            }
            .loading > span:nth-child(8) {
              -webkit-animation-delay: 0.8s;
                      animation-delay: 0.8s;
            }
            .loading > span:nth-child(9) {
              -webkit-animation-delay: 0.9s;
                      animation-delay: 0.9s;
            }
            .loading > span:nth-child(10) {
              -webkit-animation-delay: 1s;
                      animation-delay: 1s;
            }
            .loading > span:nth-child(11) {
              -webkit-animation-delay: 1.1s;
                      animation-delay: 1.1s;
            }
            .loading > span:nth-child(12) {
              -webkit-animation-delay: 1.2s;
                      animation-delay: 1.2s;
            }

            @-webkit-keyframes flip {
              to {
                -webkit-transform: rotateX(1turn);
                        transform: rotateX(1turn);
              }
            }

            @keyframes flip {
              to {
                -webkit-transform: rotateX(1turn);
                        transform: rotateX(1turn);
              }
            }
            .load_box {
                  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    z-index: 99999;
    position: absolute;
    width: 100%;
            }
            /*style for loader end here*/