<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <a href="<?=BASEURL?>subject/addsubject">Add Subject</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                          

                  
                          <h2 class="panel-title">View Question</h2>
                      </header>
                          <div class="panel-body">
                             <div class="">
                             <h5>Question</h5>
                                  <?=$question->question?>
                                  <div class="clear-fix" style="margin-bottom:20px;"></div>

                                <div class=" show-grid">
                                <h5>Options</h5>
                                <div class="col-md-8">
                                  <div class="col-md-4">A) <?=$question->option1?></div>
                                  <div class="col-md-4">B) <?=$question->option2?></div>
                                </div>
                                <div class="col-md-8">
                                  <div class="col-md-4">C) <?=$question->option3?></div>
                                  <div class="col-md-4">D) <?=$question->option4?></div>
                                </div>
                                </div>
                                <h5>Answer</h5>
                                <div class="col-md-4"><?=$question->ans?></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="">
                            <h5 for="">Hint</h5>
                                  <?=$question->hint?>
                            </div>
                            <div class="form-group">
                            <div class="row show-grid">
                                
                                  <div class="col-md-4">.col-md-4</div>
                                  <div class="col-md-2"></div>
                                  <div class="col-md-4">.col-md-4</div>
                            </div>
                            </div>
                            <div class="form-group">
                                  <div class="form-group">
                                    <label class="col-md-2 control-label">Option One</label>
                                    <div class="col-md-3">
                                          <div class="well">
                                            <strong>Need any help?!</strong> We are glad to help you if you need.
                                          </div>
                                     </div>
                                  </div>
                                  <label class="col-md-2 control-label">Question Source</label>
                                    <div class="col-md-6">
                                     <div class="well">
                                        <strong>Need any help?!</strong> We are glad to help you if you need.
                                      </div>
                                    </div>
                            </div>
                            
                           <div class="form-group">
                            <label class="col-md-2 control-label">Tags</label>
                            <div class="col-md-6">
                             <div class="well">
                                  <strong>Need any help?!</strong> We are glad to help you if you need.
                                  </div>
                             </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-2 control-label">Keywords</label>
                            <div class="col-md-6">
                             <div class="well">
                                  <strong>Need any help?!</strong> We are glad to help you if you need.
                                  </div>
                             </div>
                            </div>

                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->