/* Add here all your CSS customizations */
 .course-list div,.course-list2 div {
	font-size:1.4em;
	width: 100%;
	cursor: pointer;
}
.course-list hr:last-child {
	border:0;
	margin:0;
	padding:0;
	height: 0;
}
.course-list .para {
	margin-bottom: 0;
	margin-top: 22px;
	margin-left: 10px;
}
.course-list .icon {
	margin-bottom: 0;
	margin-top: 27px;
}
.logo-ltitle {
	margin-right: 10px;
	width: 50px;
}
.icon-left {
	font-size: 22px;
	cursor: pointer;
}
.course-form,.course-list,.signuptitle,.logintitle,.login-form,.course-list2,.message {
	display:none;
}
.facebook-bg{
    background: #3b5998;
    color: #fff !important;
}
.facebook-bg:hover{
	opacity:.90;
}
.googleplus-bg{
	background: #dd4b39;
    color: #fff !important;
}
.googleplus-bg:hover{
	opacity:.90;
}

.modal-signin {
	width:450px;
}
.border-red {
	border: 1px solid red;
}
/* Add here all your CSS customizations */
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 300px;
	max-width: 300px;
	max-height: 300px;
	width: 30%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */

/*---------------*/
/***** Julia *****/
/*---------------*/

figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: none;
	height: 400px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
	position: relative;
    padding: 0.5em 0;
    color: #fff;
    text-align: center;
}

figure.effect-julia p {
	display: block;
	margin: 0 0 0.25em;
	padding: 0.2em 1em;
	text-align: center;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}
figure.effect-julia p:hover {
	background-color:#08c;
	color:#fff;
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.qday{
	min-width: 385px;
    min-height: 275px;
    background: #FFF8F8;
    padding: 5px;
    border: 1px dashed #222;
}
.qday b{
	font-size: 1.2em;
	color: #A0A0A0;
}
.qday span{
	font-size: 1em;
	display: block;
	color: #101010;
}
.qday span small{
	display: block;
	margin-left: 2%;
}/* Add here all your CSS customizations */
.blog-summary{
    display: inline-block;
}
.blog-summary img{
    border-radius:5px;
    margin-right: 5px;
}

/*Question of the day*/
.box
{
	position: relative;
	width: 100%;
	padding: 25px;
	margin: 0 auto;
	background: radial-gradient(#FFFFFF, #F3F3F3);
	background: -webkit-radial-gradient(#FFFFFF, #F3F3F3);
	background: -moz-radial-gradient(#FFFFFF, #F3F3F3);
	margin-bottom:90px;
}
.box:before, .box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 14px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
.question{
	font-size: 1.3em;
    font-weight: 300;
    line-height: 1.6em;
    text-align: justify;
    color: #757575;
    margin-bottom: 0;
}
.question span{
	height: 27px;
    width: 27px;
    border-radius: 50%;
    display: inline-block;
    background: #FF5C1C;
    text-align: center;
    color: #fff;
    font-size: 15px;
}
.box .box-content font{
    font-size: 15px;
    line-height: normal;
    font-weight: 400;
    color: #7B7B7B;
}
.box .box-content ul li{
	cursor:pointer;
}
.box .box-content ul li .badge{
    margin-top: 4px;
    margin-right: 7px;
-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
	}
.box .box-content ul li:hover .badge{
	background-color:#08C;
    margin-right: 11px;
}
.box .sol{
    display: block;
    font-size: 13px;
-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.box .sol:hover{
	text-decoration:underline;
}
.headings {
	display: inline-block;
    padding: 0px 0 10px 0;
    background: url(../img/divider-img.png) bottom center no-repeat;
    background-size: 200px;
    color: #5A5A5A;
}
.modal-header{
	background-color:#08c;
	color:#fff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.modal-title {
    color: #fff;
}
.modal-header .close {
    color: #fff;
    opacity: .80;
}
.modal-header .close:hover {
    opacity: 1;
}
.course-list{
	padding:0;
}

.course-list .home-course-list {
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 1px dotted #D6D4D4;
    margin: 20px 0;
}
.course-list .home-course-list {
    border-bottom: 1px dotted #08c;
}
.course-list .home-course-list img {
    width: 65px;
    display: block;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.course-list .home-course-list:hover img{
-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
	}
.course-list .home-course-list:hover p {
	color: #5bc0de;
}
.course-list .home-course-list i {
    margin: 15px 25px 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.course-list .home-course-list:hover i {
    margin: 15px 5px 0 0;
    color: #5bc0de;
}
.select-course-next{
	color:#fff;
    margin-bottom: 5px;
}
.course-list2>div{
	border-bottom:1px dotted #E8E8E8;
}
.course-list2>div:hover{
	border-bottom:1px dotted #08c;
}
.course-list2>div i{
    margin: 15px 15px 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.course-list2>div:hover i {
    margin: 15px 5px 0 0;
	color:#08c;
}
.course-list2>div:hover p{
	color:#08c;
}
.select-course-icon{
    margin: 15px 0px 0px 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.select-course-icon:hover{
    margin: 15px 0px 0px 0px;
    text-shadow: -5px 1px 4px #232323;
}
@media only screen and (max-width: 767px) {
	.grid figure {
    min-width: 100%;
	}
	figure.effect-julia img {
    width: 100%;
	}
	figure.effect-julia p {
	-webkit-transform: inherit;
    transform: inherit;
	}
	.modal-signin {
		width: auto;
	}
	.facebook-bg {
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 767px) and (min-width: 600px) {
figure.effect-julia p {
    width: 70%;
    margin: 0 auto;
	margin-bottom:7px;
}
}


/**********Scroll Bar*************/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 9px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}


/*********/

/**************************Hover Animation**************************/
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
