<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"><!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <a href="<?=BASEURL?>exams/addexamtype">Add Exam</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Exams Type</h2>
                      </header>
                          <div class="panel-body">
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Exam Type Name</th>
                                          <th>Metadesc</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody id="table-data">

                                    <?php 
                                    $x=1;
                                    if (isset($exam_type) && count($exam_type)>0) {
                                      foreach ($exam_type as $exam_typeRes) {
                                    ?>
                                      <tr>
                                        <td><?=$x++?></td>
                                        <td><?=stripslashes(ucwords($exam_typeRes->etname))?></td>
                                        <td></td>
                                        <td>
                                          <?php 
                                            if ($exam_typeRes->status==1) {
                                                echo $this->tag->linkTo("exams/updextystatus/2/".$exam_typeRes->etid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                            }else{
                                                echo $this->tag->linkTo("exams/updextystatus/1/".$exam_typeRes->etid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                            }
                                        ?>
                                        </td>
                                        <td>
                                          <i class="fa fa-desktop" title="Display" data-toggle="modal" data-target="#myModal<?php echo $subjectRes->id?>" style="cursor:pointer;"></i>
                                          <?php echo $this->tag->linkTo("exams/updexamtype/".$exam_typeRes->etid, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                          <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $subjectRes->id?>" style="cursor:pointer;"></i>
                                        </td>

                                        <!-- Modal Start Here -->
                                          <div id="delete<?php echo $subjectRes->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($subjectRes->subjectname); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Do you want to delete this Subject?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("subject/deletesubject/".$subjectRes->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>

                                          <div id="myModal<?php echo $subjectRes->id?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                              <div class="modal-dialog">
                                                <div class="modal-content">

                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Subject Details</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="">
                                                        <div class="row">
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Course Name</label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->subjectname; ?>
                                                              </div>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Coures Description </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->slug; ?>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Meta Data </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->metadata; ?>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Meta Type </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->metatype; ?>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Meta Description </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->metadesc; ?>
                                                              </div>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Status</label>
                                                              <div class="col-sm-9">
                                                                  <?php 
                                                                  if ($subjectRes->status==1){
                                                                      echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
                                                                      }else{
                                                                          echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
                                                                    }
                                                                  ?>
                                                              </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                  </div>

                                                </div><!-- /.modal-content -->
                                              </div><!-- /.modal-dialog -->
                                          </div>
                                          <!-- Modal End Here -->
                                      </tr>
                                      <?php  
                                      }
                                    }
                                    ?>
                                  </tbody>
                              </table>
                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->