<?php

$qt = json_decode($exam_type->q_type);
foreach($qt as $val){
  $qarray[$val] = $val;
}

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>
  function supcat(supcat){
  // var sup_cat = $("#sup_cat").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>exams/getcourse',
      data: 'sup_cat='+supcat,
      success: function(data){
        if(data){
          $("#course").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
  }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Practice</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>exams/updatepractice" method="post">
                                  <input type="hidden" value="<?=$exam_type->id?>" name="id">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter practice Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter practice Name" type="text" name="name" value="<?=$exam_type->name?>"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Super Category</label>
                                        <div class="col-md-6">
                                        <select name="sup_cat" required  onchange="supcat(this.value)"  class="form-control">
                                          <option value="">-- Super Category --</option>
                                          <?php
                                            foreach($supcat as $supcatRes){ ?>
                                              <option value="<?=$supcatRes->scid?>"
                                              <?php
                                                    if($supcatRes->scid==$exam_type->sup_cat){
                                                      echo 'selected';
                                                    }
                                              ?>
                                              ><?=$supcatRes->scname?></option>
                                           <?php }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label" >Course <i class="fa fa-question-circle" data-toggle="tooltip" title="Course are listed Under Super Category"></i></label>
                                        <div class="col-md-6" >
                                          <select name="course" id="course" class="form-control">
                                            <option value="">Select Course</option>
                                            <?php foreach($course as $crs):?>
                                              <option value="<?=$crs->id?>"
                                                <?php 
                                                  if($crs->id==$exam_type->course){
                                                    echo 'selected';
                                                  }
                                                ?>
                                              ><?=$crs->name?></option>
                                            <?php endforeach; ?>
                                          </select>
                                          
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Question Type</label>
                                        <div class="col-md-6">
                                          <?php foreach($qtype as $qtypeRes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="qtype<?=$qtypeRes->qtid?>" value="<?=$qtypeRes->qtid?>" name="q_type[]"
                                                <?=(isset($qarray[$qtypeRes->qtid]))?'checked':'' ?>
                                              >
                                              <label for="qtype<?=$qtypeRes->qtid?>" ><?=$qtypeRes->qtname?></label>
                                            </div>
                                          <?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group" id="notapply">
                                         <label class="col-md-3 control-label">Question Level</label>
                                        <div class="col-md-6"> 
                                          <div class="row">
                                              <table class="table mb-none">
                                                <thead>
                                                  <tr>
                                                    <th>Question Level</th>
                                                    <th>Easy</th>
                                                    <th>Medium</th>
                                                    <th>Hard</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>Easy</td>
                                                    <?php $ql_easy = json_decode($exam_type->ql_easy)?>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]" value="<?=$ql_easy[0]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]" value="<?=$ql_easy[1]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]" value="<?=$ql_easy[2]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>Medium</td>
                                                    <?php $ql_medium = json_decode($exam_type->ql_medium); ?>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]" value="<?=$ql_medium[0]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]" value="<?=$ql_medium[1]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]" value="<?=$ql_medium[2]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>Hard</td>
                                                    <?php $ql_hard = json_decode($exam_type->ql_hard); ?>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]" value="<?=$ql_hard[0]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]" value="<?=$ql_hard[1]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]" value="<?=$ql_hard[2]?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?=($exam_type->status==1)?'selected':''?>>Active</option>
                                          <option value="0" <?=($exam_type->status==0)?'selected':''?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Practice</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Practice</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
  function checktest(){
    $("#notapply").css("display","none");
  }
</script>