<?php
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
 <script type="text/javascript">
function Slugs() {
var title_nm= document.getElementById("title").value;
$.post("/ischool4u/concepts/slugify/"+title_nm,function(r){
    console.log(r);
    obj = JSON.parse(r);
    var elem = document.getElementById("slug");
     elem.value = obj.value;
     $("#slug_error").html(obj.msg);
        if (obj.status==1) {
            $('.submit').prop('disabled', false);
        }
        else
        {
            $('.submit').prop('disabled', true);
        }
    });
}
function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubsubject',
          data: 'subjectid='+subid,
          success: function(data){
            if(data){
              $("#subsubject").html(data);
              $("#topics").html("<option>[ Select Topics ]</option>");
              $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/gettopics',
          data: {subjectid:subid,ssubid:ssubid},
          success: function(data){
            if(data){
              $("#topics").html(data);
              $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function getstcheckbox(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>exams/getstcheckbox',
          data: {subjectid:subid,ssubid:ssubid,topics:topics},
          success: function(data){
            if(data){
              $("#subtopics").html(data);
              console.log(data);
            }
          }
        });
      }             
</script>
<style>
    #btn-description{
        display: none;
    }
</style>
                        
<!-- slug script end here-->
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::news()?>


  				<div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Assessment</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>exams/updassess" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                    <div class="form-group">
                                    </div>
                                    <input type="hidden" name="id" value="<?=$assessment->id?>">
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Subject <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>' <?= ($subdetRes->id == $assessment->subject) ? "selected" : '' ?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Sub Subject <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                                <?php if (isset($subsubdet)) {
                                                foreach ($subsubdet as $subsubdetRes) { ?>
                                                    <option value='<?= $subsubdetRes->ssid ?>' <?= ($subsubdetRes->ssid == $assessment->subsubject) ? "selected" : '' ?>><?= stripslashes(ucwords($subsubdetRes->ssname)) ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Topics <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getstcheckbox()" >
                                                <option value="">[ Select Topics ]</option>
                                                 <?php if (isset($mTopicdet)) {
                                                foreach ($mTopicdet as $mTopicdetRes) { ?>
                                                    <option value='<?= $mTopicdetRes->tid ?>' <?= ($mTopicdetRes->tid == $assessment->topics) ? "selected" : '' ?>><?= stripslashes(ucwords($mTopicdetRes->tname)) ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Sub Topics <span class="required">*</span></label>
                                        <div class="col-md-6" id="subtopics">
                                            <?php 
                                            $arr=json_decode($assessment->subtopics);
                                            foreach($msTopicdet as $allmstopic){?>
                                            <div class="checkbox-custom checkbox-default">
                      <input type="checkbox" id="st<?=$value->stid?>" value="<?=$allmstopic->stid?>" name="subtopics[]" <?php if(in_array($allmstopic->stid,$arr)){ ?>checked<?php } ?>>
                      <label for="st<?=$allmstopic->stid?>"><?=$allmstopic->stname?></label>
                </div><?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Assessment Title <span class="required">*</span></label>
                                        <div class="col-md-6">
                                         <input class="form-control" id="title" onkeyup="Slugs()"  placeholder="Enter Page" type="text" name="title" value="<?=$assessment->title?>" >
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Slug <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Enter Meta Description" type="text" name="slug"value="<?=$assessment->slug ?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" id="status" class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if ($assessment->status == 1) { ?>selected<?php } ?>>Active</option>   
                                          <option value="0" <?php if ($assessment->status == 0) { ?>selected<?php } ?>>Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right"  >Update Assessment</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Update Assessment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->