<?php
$courses = json_decode($exam_type->course);
$q_type = json_decode($exam_type->q_type);
$ql_easy = json_decode($exam_type->ql_easy);
$ql_medium = json_decode($exam_type->ql_medium);
$ql_hard = json_decode($exam_type->ql_hard);
echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>
  function supcat(supcat){
  // var sup_cat = $("#sup_cat").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>exams/getcourse',
      data: 'sup_cat='+supcat,
      success: function(data){
        if(data){
          $("#course").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
  }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
          <div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Exam type</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>exams/updexamtype" method="post">
                                    <input type="hidden" name="etid" value="<?=$exam_type->etid?>">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Exam Type Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Exam Type Name" type="text" name="etname"  required value="<?=$exam_type->etname?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Super Category</label>
                                        <div class="col-md-6">
                                        <select name="sup_cat" required onclick="supcat(this.value)" class="form-control">
                                          <option value="">-- Super Category --</option>
                                          <?php
                                            foreach($supcat as $supcatRes){ ?>
                                              <option value="<?=$supcatRes->scid?>" <?=($exam_type->sup_cat==$supcatRes->scid)?'selected':''?>><?=$supcatRes->scname?></option>
                                           <?php }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Course</label>
                                        <div class="col-md-6" id="course">
                                          <?php foreach($course as $courseRes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="curs<?=$courseRes->id?>" value="<?=$courseRes->id?>" name="course[]"  
                                                <?php
                                                  foreach($courses as $val){
                                                    if($val==$courseRes->id){
                                                      echo 'checked';
                                                    }
                                                  }
                                                ?>
                                              >
                                              <label for="curs" ><?=$courseRes->name?></label>
                                            </div>
                                          <?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Question Type</label>
                                        <div class="col-md-6">
                                          <?php foreach($qtype as $qtypeRes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="qtype<?=$qtypeRes->qtid?>" value="<?=$qtypeRes->qtid?>" name="q_type[]" 
                                              <?php
                                                  foreach($q_type as $val){
                                                    if($val==$qtypeRes->qtid){
                                                      echo 'checked';
                                                    }
                                                  }
                                                ?>
                                              >
                                              <label for="qtype<?=$qtypeRes->qtid?>" ><?=$qtypeRes->qtname?></label>
                                            </div>
                                          <?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Type of Test</label>
                                        <div class="col-md-6">
                                        <select name="exam_type"  class="form-control">
                                          <option value="">-- Choose type of test --</option>
                                          <option value="1" <?=($exam_type->exam_type==1)?'selected':''?>>Subject Wise</option>
                                          <option value="2" <?=($exam_type->exam_type==2)?'selected':''?>>Topic Wise</option>
                                          <option value="3" <?=($exam_type->exam_type==3)?'selected':''?>>Unit Wise</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Number Of Question</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Number Of Question" type="text" name="no_qs" value="<?=$exam_type->no_qs?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Time In Minute</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Time In Minute" type="text" name="time" value="<?=$exam_type->time?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Date</label>
                                        <div class="col-md-6">
                                        <?php 
                                          $date = strtotime($exam_type->date);
                                          $date = date("m/d/Y",$date);
                                        ?>
                                        <input class="form-control" data-plugin-datepicker placeholder="Date" type="text" name="date" value="<?=$date?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Question Level</label>
                                        <div class="col-md-6">
                                          <div class="row">
                                              <table class="table mb-none">
                                                <thead>
                                                  <tr>
                                                    <th>Question Level</th>
                                                    <th>Easy</th>
                                                    <th>Medium</th>
                                                    <th>Hard</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>Easy</td>
                                                    <?php foreach($ql_easy as $val) { ?>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]" value="<?=$val?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <?php } ?>
                                                  </tr>
                                                  <tr>
                                                    <td>Medium</td>
                                                    <?php foreach($ql_medium as $val) { ?>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]" value="<?=$val?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <?php } ?>
                                                  </tr>
                                                  <tr>
                                                    <td>Hard</td>
                                                    <?php foreach($ql_hard as $val) { ?>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]" value="<?=$val?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <?php } ?>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?=$exam_type->status==1?'selected':''?>>Active</option>
                                          <option value="0" <?=$exam_type->status==0?'selected':''?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Exam type</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Exam type</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->