<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
<script>
function examt(){
  var test_type = $("#test_type").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>tests/examt',
      data: 'test_type='+test_type,
      success: function(data){
        if(data){
          $("#exam_type").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
}
function testcur(){
  var etid = $("#exam_type").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>tests/testcur',
      data: 'etid='+etid,
      success: function(data){
        if(data){
          $("#course").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
}

function afcurtest(){
  var test_type = $("#test_type").val();
  var course = $("#course").val();
  var etid = $("#exam_type").val();
  // alert(test_type);
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>tests/stuwise',
      data: 'course='+course+'&test_type='+test_type+'&etid='+etid,
      success: function(data){
        if(data){
          $("#afcurtest").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
}
</script>
            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Subject,Topics and Unit wise Tests</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>tests/addtests" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Type of Test</label>
                                        <div class="col-md-6">
                                        <select name="test_type" id="test_type" class="form-control" onchange="examt()">
                                          <option value="">-- Choose type of test --</option>
                                          <option value="1">Subject Wise</option>
                                          <option value="2">Topic Wise</option>
                                          <option value="3">Unit Wise</option>
                                          <option value="5">Full Syllabus</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Select Test</label>
                                        <div class="col-md-6">
                                          <select name="exam_type" id="exam_type" class="form-control" onchange="testcur()">
                                              <option value="">-- Select Test --</option>
                                          </select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Course <i class="fa fa-question-circle" data-toggle="tooltip" title="Course are listed Under Super Category"></i></label>
                                        <div class="col-md-6">
                                          <select name="couse" id="course" class="form-control" onchange="afcurtest()">
                                              <option value="">-- Select Course --</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div id="afcurtest">
                                      
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Test</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Test</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->