<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('sid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$fixpack)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Fixed Test Pack</h2>
                </div>
            </div>

            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <?='<h3 style="margin:5px;">'.$count.' '.$package->name.'</h3>'?>
                                    <p>Desc: <?=$package->desc?>
                                        <?php if(!isset($upack->id)): ?>
                                        <form action="<?=BASEURL?>package/selectpackage">
                                        <input type="hidden" name="packageid" value="<?=$package->id?>">
                                        <input type="hidden" name="url" value="<?=$url?>">
                                        <input type="submit" value="Buy Package" class="pull-right btn btn-primary">
                                        </form>
                                        <?php endif; ?>
                                    </p>
                                    <p>Price: <?=$package->price?></p>
                                    <table class="table">
                                        <tr>
                                            <th>Sl. No</th>
                                            <th>Fixed test</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                        <tbody>
                                    <?php
                                        $fixed_id = json_decode($package->fixtest_id);
                                        foreach ($fixed_id as $key => $value): ?>
                                        <tr>
                                            <td><?=$value[0]?></td>
                                            <td><?php
                                            echo $fixtest[$value[0]];
                                            ?></td>
                                            <td><?=$value[1]?></td>
                                            <td>
                                                <?php
                                                    date_default_timezone_set('Asia/Calcutta');
                                                    $tv = strtotime($value[1]);
                                                    $pre = strtotime(date("Y-m-d"));
                                                    if($tv>$pre){
                                                        echo 'Exam will be held in the time.';
                                                    }elseif($tv==$pre){
                                                        if(strtotime($value[2])<strtotime(now) && strtotime($value[3])>strtotime(now)){
                                                            echo '<a href="'.BASEURL.'tests/fixedtest/'.$value[0].'" class="btn btn-primary">Take a test</a>';
                                                        }else{
                                                            echo 'Exam Time is Over.';
                                                        }
                                                    }else{
                                                        echo 'Exam date is over.';
                                                    }
                                                ?>
                                            </td>
                                        </tr>
                                    <?php endforeach;?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>