<?php 

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<style>
	.smarg {
		margin-right: 10px;
	    background: #0088CC;
	    color: #FFF;
	    border-radius: 50%;
	    padding: 0px 7px 0px 7px;
	}
	.hed{
		line-height: 2em;
	}
	.tbtn {
		margin: 0 auto;
		display: block;
		width: 115px;
	}
	.info-box{
		background: url("<?=BASEURL?>images/students.png") no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		padding-top: 6%;
	}
	.extra-info{
		font-size: 15px;
	    display: block;
	    color: #A7A7A7;
	    text-indent: 5%;
	    line-height: 25px;
	}
</style>
<div class="info-box">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 class="text-center text-primary text-capitalize">Free Test</h1>
				<hr>
					<table class="table table-bordered">
						<tr>
							<th>Sl. No</th>
							<th>Name</th>
							<th>Action</th>
						</tr>
				<?php
					foreach ($freetest as $key => $value) {
						echo '<tr>';
						echo '<td>1</td>';
						echo '<td>'.$value->name.'</td>';
						echo '<td><a href="'.BASEURL.'tests/freetest/'.$value->id.'" class="btn btn-primary">Take test</a></td>';
						echo '</tr>';
					}
				?>
					</table>
				<hr>
			</div>
		</div>
	</div>
</div>