<?php 

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<style>
	.smarg {
		margin-right: 10px;
	    background: #0088CC;
	    color: #FFF;
	    border-radius: 50%;
	    padding: 0px 7px 0px 7px;
	}
	.hed{
		line-height: 2em;
	}
	.tbtn {
		margin: 0 auto;
		display: block;
		width: 115px;
	}
	.info-box{
		background: url("<?=BASEURL?>images/students.png") no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		padding-top: 6%;
	}
	.extra-info{
		font-size: 15px;
	    display: block;
	    color: #A7A7A7;
	    text-indent: 5%;
	    line-height: 25px;
	}
</style>
<div class="info-box">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 class="text-center text-primary text-capitalize">Subject Wise <?=$subject?> Test</h1>
				<hr>
				<?php
				$me = json_decode($master_exam->qint);
				$qtype = MasterQuesType::find("status=1");
				$count = 0;$sl=1;
				for($i=0;$i<=count($me);$i=$i+7){
					foreach($qtype as $val){
						if($val->qtid==$me[$i]){
							echo '<h4 class="hed"><span class="smarg">'.$sl++.'</span>&#32;&#32;';
							echo 'Questions &#34;'.($count+1).'-'.$count=$count+$me[$i+1].'&#34; are '.$val->qtname.'.';
							switch ($val->qtid) {
								case '1':
									echo '<span class="extra-info">( You will get +'.$me[$i+2].' marks for marking a correct options and -'.$me[$i+3].' for wrong answers.  )</span>';
									break;
								case '2':
									echo '<span class="extra-info">( You will get +'.$me[$i+2].' marks for marking all correct options and -'.$me[$i+3].' for wrong answers. )</span>';
									break;
								case '3':
									echo '<span class="extra-info">( You will get +'.$me[$i+2].' marks for marking all correct options and -'.$me[$i+3].' for wrong answers. )</span>';
									break;
								case '4':
									echo '<span class="extra-info">( You will get +'.$me[$i+2].' marks for input a correct answer and -'.$me[$i+3].' for wrong answers. )</span>';
									break;
								case '5':
									# code...
									break;
								case '6':
									# code...
									break;
								case '7':
									# code...
									break;
								case '8':
									# code...
									break;
								default:
									# code...
									break;
							}
							echo '</h4>';
							// echo $val->qtname.' No. of question:'.$me[$i+1].", Positive Mark:".$me[$i+2].", Negetive Mark:".$me[$i+3]."<br>";
						}
					}
				}
				echo'<hr>';
				echo '<div class="tbtn"><a href="'.BASEURL.'tests/subjectwise/'.$submit_redirect.'" class="btn btn-primary btn-lg">Take Test</a></div>';
				?>
			</div>
		</div>
	</div>
</div>