<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
$getVal=$this->request->get();
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
<script>
  function checkbookmark(qid){
    if($("#"+qid+'book').hasClass('booked')!=true){
      $("#"+qid+"book").addClass("booked");
    }else{
      $("#"+qid+"book").removeClass("booked");
    }
    $.ajax({
      type: 'POST',
      url: '<?php echo BASEURL;?>bookmarks/book',
      data: 'qid='+qid,
      success: function(data){
        if(data){
            console.log(data);
        }
      }
    });
  }
</script>
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->subjectname,$subsubject->ssname)?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topics->slug))?></h2>
                    <div class="bread-menu">
                        <ul>
<!--                            <li><a href="<?=BASEURL?>question/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Practice Question</a></li>-->
<!--                            <li><a href="<?=BASEURL?>assessment/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Assessment</a></li>-->
<!--                            <li><a href="<?=BASEURL?>tip/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Tips</a></li>-->
<!--                            <li><a href="<?=BASEURL?>articles/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Study Material</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <?php
                        if(count($questionsIDlist)>0){ $count=1;
                        shuffle($questionsIDlist);
                          foreach ($questionsIDlist as $key => $questionsList) {
                          $questions = MasterQuestion::find(array("questionid = '".$questionsList."'"));
                              
                                    foreach ($questions as $questionsres): ?>
                                        <div class="panel panel-ssub practice-question-con">
                                            <div class="panel-body">
                                                <?php
                                                if($questionsres->tableid==1):
                                                $question = MasterQuestionBank::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                                                ?>
                                                    <div class="top-menus clearfix">
                                                        <?php
                                                            $attempt = MasterQattempt::findFirst(array("questionid='".$questionsres->questionid."'"));
                                                            if($questionsres->q_type==2){
                                                                if(isset($attempt->checks) && $attempt->checks==1){
                                                                  echo '<p class="text-uppercase pull-left unattempt right" id="'.$question->questionid.'aoua"><b class="badge bg-default">'.$count.'</b> | Multiple Type Questions</p>';
                                                                }elseif(isset($attempt->checks) && $attempt->checks==2){
                                                                  echo '<p class="text-uppercase pull-left unattempt wrong" id="'.$question->questionid.'aoua"><b class="badge bg-default">'.$count.'</b> | Multiple Type Questions</p>';
                                                                }else{
                                                                  echo '<p class="text-uppercase pull-left unattempt" id="'.$question->questionid.'aoua"><b class="badge bg-default">'.$count.'</b> | Multiple Type Questions</p>';
                                                                }
                                                            }else{
                                                                
                                                                if(isset($attempt->checks) && $attempt->checks==1){
                                                                  echo '<p class="text-uppercase pull-left unattempt right" id="'.$question->questionid.'aoua"><b class="badge bg-default">'.$count.'</b> | Single Type Questions</p>';
                                                                }elseif(isset($attempt->checks) && $attempt->checks==2){
                                                                  echo '<p class="text-uppercase pull-left unattempt wrong" id="'.$question->questionid.'aoua"><b class="badge bg-default">'.$count.'</b> | Single Type Questions</p>';
                                                                }else{
                                                                  echo '<p class="text-uppercase pull-left unattempt" id="'.$question->questionid.'aoua"><b class="badge bg-default">'.$count.'</b> | Single Type Questions</p>';
                                                                }
                                                            }
                                                        ?>
                                                        
                                                    </div>
                                                    <div class="qcontent" data-ans="<?=$question->ans?>">
                                                        <?=$question->question?>                                                        
                                                    </div>
                                                    <?php if($questionsres->q_type==2){ ?>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" id="<?=$question->questionid?>A" onClick="clickoption('<?=$question->questionid?>','A')"><span class="badge badge-inverse pull-left">A</span> <?=$question->option1?></li>
                                                        <li class="list-group-item" id="<?=$question->questionid?>B" onClick="clickoption('<?=$question->questionid?>','B')"><span class="badge badge-inverse pull-left">B</span> <?=$question->option2?></li>
                                                        <li class="list-group-item" id="<?=$question->questionid?>C" onClick="clickoption('<?=$question->questionid?>','C')"><span class="badge badge-inverse pull-left">C</span> <?=$question->option3?></li>
                                                        <li class="list-group-item" id="<?=$question->questionid?>D" onClick="clickoption('<?=$question->questionid?>','D')"><span class="badge badge-inverse pull-left">D</span> <?=$question->option4?></li>
                                                    </ul>
                                                    <input type="hidden" value="" id="<?=$question->questionid?>">
                                                    <input type="hidden" value="<?=$question->ans?>" id="<?=$question->questionid?>ans">
                                                    <div class="btn btn-primary btn-lg col-md-12 ans-btn"  id="<?=$question->questionid?>submit" onclick="checkmultians('<?=$question->questionid?>','<?=$notication?>')">Submit</div>
                                                    <?php }else{ ?>
                                                    <ul class="list-group">
                                                        <li class="list-group-item" id="<?=$question->questionid?>A" onClick="oneclickoption('<?=$question->questionid?>','A')"><span class="badge badge-inverse pull-left">A</span> <?=$question->option1?></li>
                                                        <li class="list-group-item" id="<?=$question->questionid?>B" onClick="oneclickoption('<?=$question->questionid?>','B')"><span class="badge badge-inverse pull-left">B</span> <?=$question->option2?></li>
                                                        <li class="list-group-item" id="<?=$question->questionid?>C" onClick="oneclickoption('<?=$question->questionid?>','C')"><span class="badge badge-inverse pull-left">C</span> <?=$question->option3?></li>
                                                        <li class="list-group-item" id="<?=$question->questionid?>D" onClick="oneclickoption('<?=$question->questionid?>','D')"><span class="badge badge-inverse pull-left">D</span> <?=$question->option4?></li>
                                                    </ul>
                                                    <input type="hidden" value="" id="<?=$question->questionid?>">
                                                    <input type="hidden" value="<?=$question->ans?>" id="<?=$question->questionid?>ans">
                                                    <button type="button" class="btn option practice-question-btn ans-btn" id="<?=$question->questionid?>submit" onclick="checkoneans('<?=$question->questionid?>','<?=$notication?>')">Submit</button>
                                                    <?php } ?>
                                                
                                                <?php elseif($questionsres->tableid==2):
                                                    $question = MasterMatchQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                            <div class="qextra clearfix">
                                                                <?='<p class="text-uppercase pull-left unattempt" id="'.$question->questionid.'aoua">'.$count.' | Match Type Questions</p>'?>
                                                                
                                                            </div>
                                                            <div class="qcontent" data-ans="<?=$question->ans?>">
                                                                <?=$question->question?>
                                                            </div>
                                                            <table class="table table-bordered match-table">
                                                                <tbody>
                                                                    <tr>
                                                                        <td><span>A</span> <?=$question->a?></td>
                                                                        <td><span>P</span> <?=$question->p?></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span>B</span> <?=$question->b?></td>
                                                                        <td><span>Q</span> <?=$question->q?></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span>C</span> <?=$question->c?></td>
                                                                        <td><span>R</span> <?=$question->r?></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><span>D</span> <?=$question->d?></td>
                                                                        <td><span>S</span> <?=$question->s?></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="qoption">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <?php $aans = array("A","B","C","D","E"); 
                                                                            if($question->ans_e ==''){
                                                                                $count = 3;
                                                                            }else{
                                                                                $count = 4;
                                                                            }
                                                                        ?>
                                                                        <?php for($i=0;$i<=$count;$i++): ?>
                                                                        <div class="col-md-1"><?=$aans[$i]?>:</div>
                                                                        <div class="col-md-11">
                                                                            <div class="checkbox-custom checkbox-default"><input type="checkbox" value="P" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>p"><label>P</label></div>
                                                                            <div class="checkbox-custom checkbox-default"><input type="checkbox" value="Q" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>q"><label>Q</label></div>
                                                                            <div class="checkbox-custom checkbox-default"><input type="checkbox" value="R" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>r"><label>R</label></div>
                                                                            <div class="checkbox-custom checkbox-default"><input type="checkbox" value="S" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>s"><label>S</label></div>
                                                                            <?php if($question->ans_e!=""):?>
                                                                            <div class="checkbox-custom checkbox-default"><input type="checkbox" value="T" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>t"><label>T</label></div>
                                                                            <?php endif;?>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                        <?php endfor; ?>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="" id="<?=$question->questionid?>">
                                                            <input type="hidden" value="<?=$question->ans_a?>" id="<?=$question->questionid?>ans1">
                                                            <input type="hidden" value="<?=$question->ans_b?>" id="<?=$question->questionid?>ans2">
                                                            <input type="hidden" value="<?=$question->ans_c?>" id="<?=$question->questionid?>ans3">
                                                            <input type="hidden" value="<?=$question->ans_d?>" id="<?=$question->questionid?>ans4">
                                                            <input type="hidden" value="<?=$question->ans_e?>" id="<?=$question->questionid?>ans5">
                                                            <div class="btn btn-primary col-md-12 ans-btn" onclick="checkmatchans('<?=$question->questionid?>','<?=$notication?>')">Submit</div>
                                                <?php elseif($questionsres->tableid==3):
                                                    $question = MasterNumericQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                            <div class="qextra clearfix">
                                                                <?='<p class="text-uppercase pull-left unattempt" id="'.$question->questionid.'aoua">'.$count.' | Numeric Type Questions</p>'?>
                                                                
                                                            </div>
                                                            <div class="qcontent" data-ans="<?=$question->ans?>">
                                                                <?=$question->question?>
                                                            </div>
                                                            <div class="qoption">
                                                                <div class="row">
                                                                    <div class="col-md-3">Min:  <?=$question->option1?></div>
                                                                    <div class="col-md-3" >Max:  <?=$question->option2?></div>
                                                                    <div class="col-md-3">
                                                                        <input type="text" class="form-control" id="<?=$question->questionid?>" placeholder="Answer">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>submit" onclick="checknuans('<?=$question->questionid?>','<?=$notication?>')">Submit</div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <div class="reason<?=$question->questionid?>">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="<?=$question->ans?>" id="<?=$question->questionid?>ans">
                                                <?php elseif($questionsres->tableid==4):
                                                    $question = MasterParaQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                            <div class="qextra clearfix">
                                                                <?='<p class="text-uppercase pull-left unattempt" id="'.$question->questionid.'aoua">'.$count.' | Paragraph Type Questions</p>'?>
                                                                
                                                            </div>
                                                            <div class="qcontent">
                                                                <?=$question->para?>
                                                            </div>
                                                            <?php $opt=1; for($i=1;$i<=4;$i++): ?>
                                                            <div class="para-opt">
                                                                <?php
                                                                  if($i==1 && $question->question1!=''){
                                                                    echo $question->question1;
                                                                  }elseif($i==2 && $question->question2!=''){
                                                                    echo $question->question2;
                                                                  }elseif($i==3 && $question->question3!=''){
                                                                    echo $question->question3;
                                                                  }elseif($i==4 && $question->question4!=''){
                                                                    echo $question->question4;
                                                                  }
                                                                ?>
                                                            </div>
                                                            <div class="qoption">
                                                                <div class="">
                                                                    <?php if($i==1 && $question->question1!=''): ?>
                                                                      <ul class="list-group">
                                                                        <li class="list-group-item" id="<?=$question->questionid?>1A" onClick="oneclickoption('<?=$question->questionid?>1','A')"><?=$question->option1?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>1B" onClick="oneclickoption('<?=$question->questionid?>1','B')"><?=$question->option2?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>1C" onClick="oneclickoption('<?=$question->questionid?>1','C')"><?=$question->option3?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>1D" onClick="oneclickoption('<?=$question->questionid?>1','D')"><?=$question->option4?></li>
                                                                      </ul>
                                                                    <?php elseif($i==2 && $question->question2!=''): ?>
                                                                      <ul class="list-group">
                                                                        <li class="list-group-item" id="<?=$question->questionid?>2A" onClick="oneclickoption('<?=$question->questionid?>2','A')"><?=$question->option5?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>2B" onClick="oneclickoption('<?=$question->questionid?>2','B')"><?=$question->option6?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>2C" onClick="oneclickoption('<?=$question->questionid?>2','C')"><?=$question->option7?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>2D" onClick="oneclickoption('<?=$question->questionid?>2','D')"><?=$question->option8?></li>
                                                                      </ul>
                                                                    <?php elseif($i==3 && $question->question3!=''): ?>
                                                                      <ul class="list-group">
                                                                        <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','A')"><?=$question->option9?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','B')"><?=$question->option10?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','C')"><?=$question->option11?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','D')"><?=$question->option12?></li>
                                                                      </ul>
                                                                    <?php elseif($i==4 && $question->question4!=''): ?>
                                                                      <ul class="list-group">
                                                                        <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','A')"><?=$question->option13?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','B')"><?=$question->option14?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','C')"><?=$question->option15?></li>
                                                                        <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','D')"><?=$question->option16?></li>
                                                                      </ul>
                                                                    <?php endif; ?>
                                                                </div>
                                                            </div>
                                                            <?php if($i==1 && $question->question1!=''): ?>
                                                            <input type="hidden" value="" id="<?=$question->questionid?>1">
                                                            <input type="hidden" value="<?=$question->ans1?>" id="<?=$question->questionid?>1ans">
                                                            <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>1submit" onclick="checkmultians('<?=$question->questionid?>1','<?=$notication?>')">Submit</div>
                                                            <div class="clearfix"></div>
                                                            <?php endif; ?>
                                                            <?php if($i==2 && $question->question2!=''): ?>
                                                            <input type="hidden" value="" id="<?=$question->questionid?>2">
                                                            <input type="hidden" value="<?=$question->ans2?>" id="<?=$question->questionid?>2ans">
                                                            <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>2submit" onclick="checkmultians('<?=$question->questionid?>2','<?=$notication?>')">Submit</div>
                                                            <div class="clearfix"></div>
                                                            <?php endif; ?>
                                                            <?php if($i==3 && $question->question3!=''): ?>
                                                            <input type="hidden" value="" id="<?=$question->questionid?>3">
                                                            <input type="hidden" value="<?=$question->ans3?>" id="<?=$question->questionid?>3ans">
                                                            <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>3submit" onclick="checkmultians('<?=$question->questionid?>3','<?=$notication?>')">Submit</div>
                                                            <div class="clearfix"></div>
                                                            <?php endif; ?>
                                                            <?php if($i==4 && $question->question4!=''): ?>
                                                            <input type="hidden" value="" id="<?=$question->questionid?>4">
                                                            <input type="hidden" value="<?=$question->ans4?>" id="<?=$question->questionid?>4ans">
                                                            <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>4submit" onclick="checkmultians('<?=$question->questionid?>4','<?=$notication?>')">Submit</div>
                                                            <div class="clearfix"></div>
                                                            <?php endif; ?>
                                                            <?php endfor; ?>
                                                <?php elseif($questionsres->tableid==5):
                                                    $question = MasterReasonQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                            <div class="qextra clearfix">
                                                                <?='<p class="text-uppercase pull-left unattempt" id="'.$question->questionid.'aoua"><span class="">'.$count.'</span> | Reason Assertion</p>'?>
                                                                
                                                            </div>
                                                            <div class="qcontent" data-ans="<?=$question->ans?>">
                                                                <?=$question->question?>
                                                            </div>
                                                            <ul class="list-group">
                                                                <li class="list-group-item" id="<?=$question->questionid?>A" onClick="oneclickoption('<?=$question->questionid?>','A')"><span class="badge badge-inverse pull-left">A</span> <?=$question->option1?></li>
                                                                <li class="list-group-item" id="<?=$question->questionid?>B" onClick="oneclickoption('<?=$question->questionid?>','B')"><span class="badge badge-inverse pull-left">B</span> <?=$question->option2?></li>
                                                                <li class="list-group-item" id="<?=$question->questionid?>C" onClick="oneclickoption('<?=$question->questionid?>','C')"><span class="badge badge-inverse pull-left">C</span> <?=$question->option3?></li>
                                                                <li class="list-group-item" id="<?=$question->questionid?>D" onClick="oneclickoption('<?=$question->questionid?>','D')"><span class="badge badge-inverse pull-left">D</span> <?=$question->option4?></li>
                                                            </ul>
                                                            <input type="hidden" value="" id="<?=$question->questionid?>">
                                                            <input type="hidden" value="<?=$question->ans?>" id="<?=$question->questionid?>ans">
                                                            <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>submit" onclick="checkoneans('<?=$question->questionid?>','<?=$notication?>')">Submit</div>
                                                <?php elseif ($questionsres->tableid == 6):
                                                $question = MasterSubtheoQuestion::findFirst(array("questionid='" . $questionsres->questionid . "' AND qid='" . $questionsres->qusid . "' "));
                                                $mquestion = MasterQuestion::findFirst("questionid='" . $question->questionid . "'");
                                                        ?>
                                                <div class="top-menus clearfix">
                                                    <?php if ($mquestion->q_type == 6){?>
                                                    <?php if (isset($attempt->checks) && $attempt->checks == 1) {
                                                            echo '<p class="text-uppercase pull-left unattempt" id="' . $question->questionid . 'aoua"><b class="badge bg-default">'.$count.'| Theory Type Questions</p>';
                                                        } ?>
                                                   <?php }else{?>
                                                    <?php if (isset($attempt->checks) && $attempt->checks == 1) {
                                                            echo '<p class="text-uppercase pull-left unattempt" id="' . $question->questionid . 'aoua"><b class="badge bg-default">'.$count.'</b> | Subjective Type Questions</p>';
                                                        } ?>
                                                    <?php } ?>
                                                </div>
                                                <div class="qcontent" data-ans="">
                                                    <?= $question->question ?>
                                                </div>
                                                <div class="qoption">
                                                    <div class="">
<!--                                                        <div class="col-md-12">Answer: <?= $question->answer ?></div>-->
                                                            <div class="col-md-12" id="Sol<?= $question->questionid ?>" style="display:none;">Solution:<br/> <?= $question->hint ?></div>
                                                        <div class="clearfix"></div>
                                                        <button type="button" class="btn option practice-question-btn ans-btn"  id="" onclick="showans('<?= $question->questionid ?>')">Submit/Solution</button>
                                                    </div>
                                                </div>
                                                <input type="hidden" value="<?= $question->ans ?>" id="<?= $question->questionid ?>ans">
                                            <?php endif; ?>
                                            </div>
                                    </div>
                                    <?php $count++;
                                    endforeach;
                                  }
                        }else{
                         echo '<p class="no-test">Question Removed By Admin</p>';
                        }
                       
                     ?>
                        
                </div>
                
                
            </div>
            <div class="clearfix">
                <div class="row">
                    <div class="col-md-12">
                        <?php if(!empty($reply)){foreach($reply as $key) { ?>
                        <div class="challengeed-user">
                        	<div class="challengeed-user-body">
                            	<div class="challengeed-user-top">
                                	<a href="#"><img src="<?=BASEURL?>assets/images/!logged-user.jpg" height="50px;" class="img-circle pull-left" ><label><?=ucfirst($key['name'])?></label></a>
                                     <span class="message truncate"><?=$key['add_date']?></span>
                                </div>
                                <div class="challengeed-user-bottom">
                             <?php $corans=str_split($question->ans);$givans=explode(',',$key['ans']); sort($givans); sort($corans); if(implode(",",$corans)==implode(",",$givans)){echo "<p class='correct-ans'>Correct Answer</p>";}else{ echo "<p class='wrong-ans'>Wrong Answer</p>";} ?>
                             </div>
                             </div>
                        </div>
                        <?php } }?>
                        </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
});

</script>