<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <script>
        function checkbookmark(qid,type){
            if($("#"+qid+'book').hasClass('booked')!=true){
                $("#"+qid+"book").addClass("booked");
            }else{
                $("#"+qid+"book").removeClass("booked");
            }
            alert(qid);
            $.ajax({
                type: 'POST',
                url: '<?php echo BASEURL; ?>bookmarks/books',
                data: 'qid='+qid+'&type='+type,
                success: function(data){ alert(data);
                    if(data){
                        console.log(data);
                    }
                }
            });
        }
    </script>
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->subjectname,$subsubject->ssname,$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Study Material</h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a>View Article</a></li>
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-12">
                    <?php
                        if(isset($article)){?>
                        <section class="panel panel-featured panel-featured-info view-article-con">
								<header class="panel-heading">
									<div class="panel-actions">
                                            <i class="fa fa-lightbulb-o"></i> <a href="#" data-toggle="modal" data-target="#solu<?= $article->id ?>">Add Note</a> |
                                                <!-- Solution Modal -->
                                                <div class="modal fade" id="solu<?= $article->id ?>" tabindex="-1" role="dialog" 
                                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" 
                                                                        data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    View Note 
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                            <div class="modal-con-new">
                                                                <?php
                                                                
                                                                $snote = MasterSnote::find("user_id='" . $user_session['id'] . "' AND questionid='" . $article->id . "' AND type='2'");
                                                                
                                                                ?>
                                                                 <div class='modal-con-lists'>
                                                                <div class="snote<?= $article->id ?>">
                                                                <h4><i class="fa fa-thumb-tack text-info" aria-hidden="true"></i> Note</h4>
                                                                    <?php
                                                                    $s = 1;
                                                                    if (isset($snote) && !empty($snote)) {
                                                                        foreach ($snote as $value) {
                                                                            echo '<div class="clearfix">';
                                                                            echo $s . ') ' . $value->note;
                                                                            echo '</div>';
                                                                            $s++;
                                                                        }
                                                                    }
                                                                    ?>
                                                                </div>
                                                                <div class="solution-note">
                                                                    <div class="form-group">
                                                                        <input type="hidden" id="ntype<?= $article->id ?>" value="2">
                                                                        <textarea id="note<?= $article->id ?>" class="form-control" rows="4"></textarea>
                                                                   </div>

                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                    <div class="modal-footer">
                                                                    <button class="btn btn-primary pull-right" onclick="snote('<?= $article->id ?>')" >Add Note</button>
                                                               </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /. Solution Modal -->
                                                <?php
                                                $book = MasterBookmarks::findFirst("user_id='" . $user_session['id'] . "' AND questionid='" . $article->id . "' AND type='2'");
                                                ?>
                                                <i class="fa fa-bookmark <?= ($book->id != '') ? 'booked' : '' ?>" data-toggle="tooltip" data-placement="top" title="Bookmark" id="<?= $article->id ?>book" onClick="checkbookmark('<?= $article->id ?>','2')"></i>
                                        <a href="#" class="fa fa-caret-down"></a>
                                        </div>
                                            <h2 class="panel-title"></h2>                                        
                                            </header>
                                          <div class="panel-body">
                                        <h3><i class="fa fa-align-left" aria-hidden="true"></i> <?=$article->title?></h3>
                                        <p><?=$article->article;?></p>
                                    </div>
							</section>
                            <?php
                        }else{
                            echo "There is no article found.";
                        }
                     ?>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>