<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));

foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->subjectname,$subsubject->ssname,$this->session->get("course_name"))?>
            
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topic->slug))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="<?=BASEURL?>question/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topic->slug?>">Practice Question</a></li>
                            <li><a href="<?=BASEURL?>assessment/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topic->slug?>">Assessment</a></li>
                            <li><a href="<?=BASEURL?>tip/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topic->slug?>">Tips</a></li>
                            <li><a href="<?=BASEURL?>articles/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topic->slug?>" class="sublist-active">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <?php $this->flashSession->output() ?>
            <div class="row">
                <div class="col-md-8">
                    <?php 
                        // $subsub = json_decode($course->subsubject);
                        if(isset($subtopic) && $subtopic->count()!=0){ $i=1;
                            foreach ($subtopic as $subtopicres) {
                                // Article link
                                ?>
<section class="panel isfu">
                                                   <a href="<?=BASEURL?>articles/<?=$subject->slug?>/<?=$subsubject->slug?>/<?=$topic->slug?>/<?=$subtopicres->slug?>/" class="sub-subject-con">
                                                        <div class="panel-body">                                            
                                                            <div class="widget-summary widget-summary-sm">
                                                                <div class="widget-summary-col widget-summary-col-icon">
                                                                    <div class="summary-icon">
                                                                        <b><?=$i++;?></b>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-summary-col">
                                                                    <div class="summary">                                                       
                                                                        <div class="info">
                                                                            <strong class="amount"><?=$subtopicres->stname?>stname?</strong>                            
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="summary-footer">
                                                                        <a class="text-muted text-uppercase">(view all)</a>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                            <button class="goto-chapter">
                                                                <i class="fa fa-chevron-right"></i>
                                                            </button>
                                                        </div>
                                                    </a>
                                                </section>                                 
                                
                                
                                <!--<div class="panel panel-ssub">
                                    <div class="panel-body">
                                        <a href="<?//=BASEURL?>articles/<?//=$subject->slug?>/<?//=$subsubject->slug?>/<?//=$topic->slug?>/<?//=$subtopicres->slug?>/">
                                            <div class="panel-bg" style="background:url(<?//=BASEURL?>images/blur.jpg) no-repeat scroll 8% 21%;">
                                                <div class="pull-left sl-no">
                                                <span class="fa-stack fa-lg text-center fa-custom">
                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                  <i class="fa fa-inverse"><?//=$i++;?></i>
                                                </span>
                                                </div>
                                                <h3 class="pull-left"><?//=$subtopicres->stname?></h3>
                                                <i class="fa fa-chevron-right pull-right fa-2x right-arrow"></i>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>-->
                                <?php
                            }
                        }else{
                            echo 'No data found.';
                        }
                     ?>
                </div>
                <div class="col-md-4">
                <section class="panel suggested-toppers">
                    <header class="panel-heading">
                        <h2 class="panel-title">Toppers to Follow</h2>
                    </header>
                    <div class="panel-body">
                        <ul class="simple-post-list">
                            <?php foreach($follow as $fval): ?>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <?php if($fval['img']!=''): ?>
                                                <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php else: ?>
                                                    <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                        <a href="#"><b><?=$fval['name']?></b></a>
                                        <div class="post-meta">
                                            <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                        </div>                                                      
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </section>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>