<?php
echo $this->getContent();
echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::question()?>
            <script>
              function getsubsubject(){
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubsubject',
                  data: 'subjectid='+subid,
                  success: function(data){
                    if(data){ 
                      $("#subsubject").html(data);
                      $("#topics").html("<option value=''>[ Select Topics ]</option>");
                      $("#subtopics").html("<option value=''>[ Select Sub Topics ]</option>");
                      //console.log(data);
                    }
                  }
                });
              }
              function gettopics(){
                var ssubid = $( "#subsubject" ).val();
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/gettopics',
                  data: {subjectid:subid,ssubid:ssubid},
                  success: function(data){
                    if(data){
                      $("#topics").html(data);
                      $("#subtopics").html("<option value=''>[ Select Sub Topics ]</option>");
                      //console.log(data);
                    }
                  }
                });
              }
              function getsubtopics(){
                var topics = $("#topics").val();
                var ssubid = $("#subsubject").val();
                var subid = $("#subject").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubtopics',
                  data: {subjectid:subid,ssubid:ssubid,topics:topics},
                  success: function(data){
                    if(data){
                      $("#subtopics").html(data);
                      //console.log(data);
                    }
                  }
                });
              }
              function getanswer(){
                var q_type = $("#q_type").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getanswer',
                  data: {q_type:q_type},
                  success: function(data){
                    if(data){
                      $("#answer").html(data);
                      //console.log(data);
                    }
                  }
                });
              }
            </script>
            <style>
                #btn-question,#btn-option1,#btn-option2,#btn-option3,#btn-option4,#btn-ma,#btn-mb,#btn-mc,#btn-md,#btn-me,#btn-mp,#btn-mq,#btn-mr,#btn-ms,#btn-mt,#btn-hint {
                    display: none;
                }
            </style>
        <!-- Start Page Here -->
          

  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Match Question</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>questionbank/addmmquestion" method="post">
                                    <div class="form-group">                                         
                                        <div class="col-md-12">
                                          <textarea class="form-control Editor-editor"   placeholder="Text Editor" rows="12" name="ques_name"></textarea>
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-question" onclick="setTextArea('question')">Add Question</div>
                                          <div class="btn btn-primary" id="btn-option1" onclick="setTextArea('option1')">Add Option1</div>
                                          <div class="btn btn-primary" id="btn-option2" onclick="setTextArea('option2')">Add Option2</div>
                                          <div class="btn btn-primary" id="btn-option3" onclick="setTextArea('option3')">Add Option3</div>
                                          <div class="btn btn-primary" id="btn-option4" onclick="setTextArea('option4')">Add Option4</div>
                                          <div class="btn btn-primary" id="btn-hint" onclick="setTextArea('hint')">Add Hint</div>
                                          <div class="btn btn-primary" id="btn-ma" onclick="setTextArea('ma')">Add Match Ans 1</div>
                                          <div class="btn btn-primary" id="btn-mb" onclick="setTextArea('mb')">Add Match Ans 2</div>
                                          <div class="btn btn-primary" id="btn-mc" onclick="setTextArea('mc')">Add Match Ans 3</div>
                                          <div class="btn btn-primary" id="btn-md" onclick="setTextArea('md')">Add Match Ans 4</div>
                                          <div class="btn btn-primary" id="btn-me" onclick="setTextArea('me')">Add Match Ans 5</div>
                                          <div class="btn btn-primary" id="btn-mp" onclick="setTextArea('mp')">Add Match Ans 6</div>
                                          <div class="btn btn-primary" id="btn-mq" onclick="setTextArea('mq')">Add Match Ans 7</div>
                                          <div class="btn btn-primary" id="btn-mr" onclick="setTextArea('mr')">Add Match Ans 8</div>
                                          <div class="btn btn-primary" id="btn-ms" onclick="setTextArea('ms')">Add Match Ans 9</div>
                                          <div class="btn btn-primary" id="btn-mt" onclick="setTextArea('mt')">Add Match Ans 10</div>
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <div class="btn btn-sm btn-info" onclick="setEditor('question')">Edit Question</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('ma')">Edit OPT - A</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('mb')">Edit OPT - B</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('mc')">Edit OPT - C</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('md')">Edit OPT - D</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('me')">Edit OPT - E</div>  
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('mp')">Edit OPT - P</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('mq')">Edit OPT - Q</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('mr')">Edit OPT - R</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('ms')">Edit OPT - S</div>
                                          <div class="btn btn-sm btn-info" onclick="setInputArea('mt')">Edit OPT - T</div>
                                          <div class="btn btn-sm btn-info" onclick="setEditor('hint')">Edit HINT</div>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question" required  placeholder="Enter Question" rows="3" name="question"  ></textarea>
                                        </div>
                                        
                                    </div>

                                    <div class="form-group">
                                          <div class="col-md-6">
                                            <div class="form-group an-form-group-l">
                                              <div class="input-group">
                                                <div class="input-group-addon">A</div>
                                                <input type="text" name="a"  id="ma" value="" readonly="true" class="form-control pull-left">                                                
                                              </div>
                                            </div> 
                                            <div class="form-group an-form-group-l">
                                              <div class="input-group">
                                                <div class="input-group-addon">B</div>
                                                <input type="text" name="b"  id="mb" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-l">
                                              <div class="input-group">
                                                <div class="input-group-addon">C</div>
                                                <input type="text" name="c" id="mc" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-l">
                                              <div class="input-group">
                                                <div class="input-group-addon">D</div>
                                                <input type="text" name="d" id="md" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-l">
                                              <div class="input-group">
                                                <div class="input-group-addon">E</div>
                                                <input type="text" name="e" id="me" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-md-6">
                                            <div class="form-group an-form-group-r">
                                              <div class="input-group">
                                                <div class="input-group-addon">P</div>
                                                <input type="text" name="p" id="mp" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-r">
                                              <div class="input-group">
                                                <div class="input-group-addon">Q</div>
                                                <input type="text" name="q" id="mq" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-r">
                                              <div class="input-group">
                                                <div class="input-group-addon">R</div>
                                                <input type="text" name="r" id="mr" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-r">
                                              <div class="input-group">
                                                <div class="input-group-addon">S</div>
                                                <input type="text" name="s" id="ms" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                            <div class="form-group an-form-group-r">
                                              <div class="input-group">
                                                <div class="input-group-addon">T</div>
                                                <input type="text" name="t" id="mt" readonly="true" class="form-control pull-left">
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div  class="clearfix" style="margin-bottom:20px;"></div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Hints</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control hint" id="hint"  placeholder="Hints" rows="3" name="hint"  ></textarea>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Answer</label>
                                        <div class="col-md-10">
                                          <div class="col-md-12">                                            
                                            <div class="pull-left" style="margin-right:15px;">
                                              <p class="pull-left" style="margin-right:15px;">A : </p>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="P" onchange="getChecked('P','ans_a','ans_aa')" value="P"> P
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="Q" onchange="getChecked('Q','ans_a','ans_aa')" value="Q"> Q
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="R" onchange="getChecked('R','ans_a','ans_aa')" value="R"> R
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="S" onchange="getChecked('S','ans_a','ans_aa')" value="S"> S
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="T" onchange="getChecked('T','ans_a','ans_aa')" value="T"> T
                                              </label>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="ans_a" id="ans_a" disabled class="form-control pull-left" style="width:20%;" value="<?=$question->ans_a?>" />
                                                <input type="hidden" name="ans_a" id="ans_aa" value="<?=$question->ans_a?>" />
                                            </div>
                                          </div>
                                          <div class="clearfix"></div>
                                          <div class="col-md-12">
                                            <div class="pull-left" style="margin-right:15px;">
                                            <p class="pull-left" style="margin-right:15px;">B : </p>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IP" onchange="getChecked('IP','ans_b','ans_bb')" value="P"> P
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IQ" onchange="getChecked('IQ','ans_b','ans_bb')" value="Q"> Q
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IR" onchange="getChecked('IR','ans_b','ans_bb')" value="R"> R
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IS" onchange="getChecked('IS','ans_b','ans_bb')" value="S"> S
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IT" onchange="getChecked('IT','ans_b','ans_bb')" value="T"> T
                                              </label>
                                            </div>
                                              <div class="form-group">
                                                <input type="text" name="ans_b" id="ans_b" disabled class="form-control pull-left" style="width:20%;" value="<?=$question->ans_b?>"/>
                                                <input type="hidden" name="ans_b" id="ans_bb" value="<?=$question->ans_b?>"/>
                                            </div>
                                          </div>
                                          <div class="clearfix"></div>
                                          <div class="col-md-12">
                                            <div class="pull-left" style="margin-right:15px;">
                                            <p class="pull-left" style="margin-right:15px;">C : </p>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIP" onchange="getChecked('IIP','ans_c','ans_cc')" value="P"> P
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIQ" onchange="getChecked('IIQ','ans_c','ans_cc')" value="Q"> Q
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIR" onchange="getChecked('IIR','ans_c','ans_cc')" value="R"> R
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIS" onchange="getChecked('IIS','ans_c','ans_cc')" value="S"> S
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIT" onchange="getChecked('IIT','ans_c','ans_cc')" value="T"> T
                                              </label>
                                            </div>
                                              <div class="form-group">
                                                <input type="text" name="ans_c" id="ans_c" disabled class="form-control pull-left" style="width:20%;" value="<?=$question->ans_c?>" />
                                                <input type="hidden" name="ans_c" id="ans_cc" value="<?=$question->ans_c?>" />
                                            </div>
                                          </div>
                                          <div class="clearfix"></div>
                                          <div class="col-md-12">
                                            <div class="pull-left" style="margin-right:15px;">
                                            <p class="pull-left" style="margin-right:15px;">D : </p>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIIP" onchange="getChecked('IIIP','ans_d','ans_dd')" value="P"> P
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIIQ" onchange="getChecked('IIIQ','ans_d','ans_dd')" value="Q"> Q
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIIR" onchange="getChecked('IIIR','ans_d','ans_dd')" value="R"> R
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIIS" onchange="getChecked('IIIS','ans_d','ans_dd')" value="S"> S
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="IIIT" onchange="getChecked('IIIT','ans_d','ans_dd')" value="T"> T
                                              </label>
                                            </div>
                                              <div class="form-group">
                                                <input type="text" name="ans_d" disabled id="ans_d" class="form-control pull-left" style="width:20%;" value="<?=$question->ans_d?>" />
                                                <input type="hidden" name="ans_d" id="ans_dd" value="<?=$question->ans_d?>" />
                                            </div>
                                          </div>
                                          <div class="clearfix"></div>
                                          <div class="col-md-12">
                                            <div class="pull-left" style="margin-right:15px;">
                                            <p class="pull-left" style="margin-right:15px;">E : </p>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="VP" onchange="getChecked('VP','ans_e','ans_ee')" value="P"> P
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="VQ" onchange="getChecked('VQ','ans_e','ans_ee')" value="Q"> Q
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="VR" onchange="getChecked('VR','ans_e','ans_ee')" value="R"> R
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="VS" onchange="getChecked('VS','ans_e','ans_ee')" value="S"> S
                                              </label>
                                              <label class="checkbox-inline">
                                                <input type="checkbox" id="VT" onchange="getChecked('VT','ans_e','ans_ee')" value="T"> T
                                              </label>
                                            </div>
                                              <div class="form-group">
                                                <input type="text" name="ans_e" id="ans_e" disabled class="form-control pull-left" style="width:20%;" value="<?=$question->ans_e?>" />
                                                <input type="hidden" name="ans_e" id="ans_ee" value="<?=$question->ans_e?>"/>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Type</label>
                                        <div class="col-md-10">
                                        <select name="q_type" id="q_type" class="form-control">
                                          <option value="3" selected>Matching Type Question</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Exam Type</label>
                                        <div class="col-md-10">
                                        <select name="e_type" id="e_type" class="form-control">
                                          <option value="">[ select Exam Type ]</option>
                                          <?php 
                                            foreach($examtype as $examtyperes){
                                              echo '<option value="'.$examtyperes->etid.'">'.$examtyperes->etname.'</option>';
                                            }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                          <label for="subject">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Pool</label>
                                        <div class="col-md-10">
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="practice" value="1" name="e_type[]">
                                            <label for="practice" >Practice Pool</label>
                                          </div>
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="test" value="2" name="e_type[]">
                                            <label for="test" >Test Pool</label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Source</label>
                                        <div class="col-md-10">
                                        <select name="q_source"  class="form-control">
                                          <option value="">--Choose Question Source--</option>
                                          <?php foreach($qsources as $value){ ?>
                                          <option value="<?=$value->qsid?>"><?=$value->qsname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Level</label>
                                        <div class="col-md-10">
                                        <select name="q_level"  class="form-control">
                                          <option value="">--Choose Question Level--</option>
                                          <option value="1">Easy</option>
                                          <option value="2">Medium</option>
                                          <option value="3">Hard</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-10">
                                        <input class="form-control"  placeholder="Tags" type="text" name="tag">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Keywords</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control"  placeholder="Keywords" rows="3" name="keyword"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status</label>
                                        <div class="col-md-10">
                                          <select name="status"  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1">Final</option>
                                            <option value="2">Complete</option>
                                            <option value="3">Error</option>
                                            <option value="4">Without Solution</option>
                                            <option value="5">Need Update</option>
                                            <option value="0">Unchecked</option>
                                          </select>
                                          <div class="status-info">
                                              <i class="fa fa-circle" style="color:#13FD13;"></i> Final | 
                                              <i class="fa fa-circle" style="color:#1FBBA6;"></i> Complete |
                                              <i class="fa fa-circle" style="color:#FE5454;"></i> Error |
                                              <i class="fa fa-circle" style="color:#67CBF5;"></i> Without Solution |
                                              <i class="fa fa-circle" style="color:#F37934;"></i> Need Update |
                                              <i class="fa fa-circle" style="color:#8E8989;"></i> Unchecked
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Match Question</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Match Question</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->