<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <a href="<?=BASEURL?>subject/addsubject">Add Subject</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                          

                  
                          <h2 class="panel-title">View Question</h2>
                      </header>
                          <div class="panel-body">
                             <div class="">
                             <h5>Question</h5>
                                  <?=$question->question?>
                                  <div class="clear-fix" style="margin-bottom:20px;"></div>

                                <div class=" show-grid">
                                <div class="col-md-12">
                                  <table class="table table-bordered match-table">
                                                    <tbody>
                                                        <tr>
                                                            <td><span>A : </span> <?= $question->a ?></td>
                                                            <td><span>P : </span> <?= $question->p ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>B : </span> <?= $question->b ?></td>
                                                            <td><span>Q : </span> <?= $question->q ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>C : </span> <?= $question->c ?></td>
                                                            <td><span>R : </span> <?= $question->r ?></td>
                                                        </tr>
                                                        <tr>
                                                            <td><span>D : </span> <?= $question->d ?></td>
                                                            <td><span>S : </span> <?= $question->s ?></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                </div>
                                </div>
                                <h5>Answer : </h5>
                                <div class="col-md-12"> A   <-->  <?=$question->ans_a?></div>
                                <div class="col-md-12"> B   <-->  <?=$question->ans_b?></div>
                                <div class="col-md-12"> C   <-->  <?=$question->ans_c?></div>
                                <div class="col-md-12"> D   <-->  <?=$question->ans_d?></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="">
                            <h5 for="">Hint</h5>
                                  <?=$question->hint?>
                            </div>
                            <div class="form-group">
                                  <label class="col-md-2 control-label">Question Source</label>
                                    <div class="col-md-6">
                                     <div class="well">
                                        <strong><?php echo empty($source)?"N/A":$source->qsname;?></strong>
                                      </div>
                                    </div>
                            </div><!--
                            
                           <div class="form-group">
                            <label class="col-md-2 control-label">Tags</label>
                            <div class="col-md-6">
                             <div class="well">
                                  <strong>Need any help?!</strong> We are glad to help you if you need.
                                  </div>
                             </div>
                            </div>
                            <div class="form-group">
                            <label class="col-md-2 control-label">Keywords</label>
                            <div class="col-md-6">
                             <div class="well">
                                  <strong>Need any help?!</strong> We are glad to help you if you need.
                                  </div>
                             </div>
                            </div>-->

                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->