<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>
<?php $this->flashSession->output() ?>
<?php echo UIElementsAdmin::getHeader("adm_login") ?>

	<section class="body-sign">

            <div class="center-sign">
                <!-- <a href="/" class="logo pull-left">
                    <img src="<?=BASEURL?>assets/images/logo.png" height="54" alt="Porto Admin" />
                </a> -->
                <div class="panel panel-sign admin-login-panel">
                    <div class="panel-title-sign mt-xl text-right">
                        <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign In</h2>
                    </div>
                    <div class="panel-body">
                       <!--<form action="<?php echo BASEURL?>admin/checkuser" method="post"  name="form1" onsubmit="return validateForm1();">-->
                      <?php echo Phalcon\Tag::form(array("admin/login", "method" => "post","autocomplete"=>"off"));?>
                            <div class="form-group mb-lg">
                                <label>Username</label>
                                <div class="input-group input-group-icon">
                                    <input name="email" onblur="return checkmail();" type="text" id ="username" class="form-control input-lg" value="" placeholder="Enter Email-ID"  />

                                    <label ><span id="error" style="display:block;height:20px; width:100%;"></span></label>
                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group mb-lg">
                                <div class="clearfix">
                                    <label class="pull-left">Password</label>
<!--                                    <a href="pages-recover-password.html"   class="pull-right">Lost Password?</a>-->
                                </div>
                                <div class="input-group input-group-icon">
                                    <input name="password" value="" id="pass" type="password" class="form-control input-lg"  placeholder="Enter Password"  />
                                    <label>
                                    <span id="error1" style="display:block;height:20px; width:100%;"></span>
                                    </label>
                                    <span class="input-group-addon">
                                        <span class="icon icon-lg">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="admin-login-btn">
<!--                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="RememberMe" name="rememberme" type="checkbox"/>
                                        <label for="RememberMe">Remember Me</label>
                                    </div>
                                </div>-->
                                    <button type="submit" class="btn hidden-xs" onclick="return logValidation();">Let Me In <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                    <button type="submit" class="btn visible-xs mt-lg" onclick="return logValidation();">Let Me In <i class="fa fa-sign-in" aria-hidden="true"></i></button>
                            </div>
                            <div class="clear-fix"></div>
                           <!--  <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                                <span>or</span>
                            </span> -->

                           <!--  <div class="mb-xs text-center">
                                <a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
                                <a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
                            </div> -->
                            <!-- <p class="text-center">Don't have an account yet? <a href="<?=BASEURL?>admin/signup">Sign Up!</a> -->

                        </form>
                    </div>
                </div>

                <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2016 Ischool4u. All Rights Reserved.</p>
            </div>
        </section>
    <?php echo UIElementsAdmin::getFooter("adm_login") ?>
<style>
html, body {
    background: #e5e3e3;
}
.text-muted {
    color: #717171 !important;
}
</style>