<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adm_login") ?>
<script type="text/javascript">

 function val1()
 {
    
        var name=document.form2.name.value;
        if(name=="")
        {
         
        $("#er").html('<font color="#cc0000">Please enter  username</font>'); 
        document.getElementById("name").style.borderColor = "red"; 
        //document.form1.name.focus();
        $("#name").focus();
        }
}
function ValidateAlpha(evt)
{
    var keyCode = (evt.which) ? evt.which : evt.keyCode
    if ((keyCode < 65 || keyCode > 90) && (keyCode < 97 || keyCode > 123) && (keycode = 08) && keyCode != 32){
        $("#er").html('<font color="#cc0000">Numerics are not allowed here</font>');        
        return false;
        return true;
    }
}
 function val3()
{
    document.getElementById("name").style.borderColor = "green"; 
     $("#er").html(''); 

}
function checkEmail()
 {

    var email = document.getElementById('email');
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if (!filter.test(email.value)) 
    {
    $("#er1").html('<font color="#cc0000">Please enter valid EmailId</font>'); 
    document.getElementById("email").style.borderColor = "red";

    document.form2.email.focus();   
     return false;
    }
}
function password1()
{
        var x=document.form2.pwd.value;
        if(x=="")
        {
        $("#error1").html('<font color="#cc0000">Please enter password</font>'); 
        document.getElementById("pwd").style.borderColor = "red";
        document.form2.pwd.focus();
        } 
    

}
function password2()
{
    document.getElementById("pwd").style.borderColor = "green"; 
     $("#error1").html(''); 

}
function password3()
{
        var x=document.form2.pwd_confirm.value;
        if(x=="")
        {
        $("#error2").html('<font color="#cc0000">Please enter confirim password</font>'); 
        document.getElementById("pwd_confirm").style.borderColor = "red";
        document.form2.pwd_confirm.focus();
        } 
    

}
function password4()
{
    document.getElementById("pwd_confirm").style.borderColor = "green"; 
     $("#error2").html(''); 

}
function checkPass()
{
    var pass1 = document.getElementById('pwd');
    var pass2 = document.getElementById('pwd_confirm');
    var message = document.getElementById('confirmMessage');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    
    if(pass1.value == pass2.value)
    {
        
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
    }
    else
    {
        
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
    }

}
function validateForm()
{

    var name1=val1();
    var email1=checkEmail();
    var pass3=password1();
    var cpass1=password3();
    if(name1 && email1 && pass3 && cpass1){
        document.form2.submit();
    }
    else {
        return false;
    }
    
    
    
}



</script>
 
       
	<section class="body-sign">

            <div class="center-sign">
                <!-- <a href="/" class="logo pull-left">
                    <img src="<?=BASEURL?>assets/images/logo.png" height="54" alt="Porto Admin" />
                </a> -->
                <div class="panel panel-sign">
                    <div class="panel-title-sign mt-xl text-right">
                        <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
                    </div>
                    <div class="panel-body">
                        <form action=""   name="form2" onsubmit="return validateForm();"  method="post"  >
                        <div class="form-group mb-lg">
                                <label>Name</label>
                                <input  name="name" id="name" onBlur="return val1();" onKeyPress="return ValidateAlpha(event);" onclick="return val3();" class="form-control input-lg" type="text" >
                                <label><span id="er" height="1em" style="display:block;height:2px;"></span></label>
                            </div>
                            
                            <div class="form-group mb-lg">
                                <label>E-mail Address</label>
                                <input name="email" id="email" class="form-control input-lg" onBlur="return checkEmail();" type="email" >
                                <label><span id="er1" style="display:block;height:2px;"></span></label>

                            </div>

                            <div class="form-group mb-none">
                                <div class="row">
                                    <div class="col-sm-6 mb-lg">
                                        <label>Password</label>
                                        <input name="pwd" id="pwd" class="form-control input-lg" type="password"  onBlur="return password1();" onclick="return password2();"  >
                                      <label><span id="error1" style="display:block;height:2px;"></span></label>
                                    </div>
                                    <div class="col-sm-6 mb-lg">
                                        <label>Password Confirmation</label>
                                        <input name="pwd_confirm" id="pwd_confirm" onBlur="return password3();" onclick="return password4();" onkeyup="checkPass(); return false;" class="form-control input-lg" type="password" >
                                        <label><span id="error2" style="display:block;height:2px;"></span></label>
                                    </div>
                                    <span id="confirmMessage" class="confirmMessage" ></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="AgreeTerms" name="agreeterms" type="checkbox"  >
                                        <label for="AgreeTerms">I agree with <a href="#">terms of use</a></label>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-right">
                                    <button type="submit"  class="btn btn-primary hidden-xs"  >Sign Up</button>
                                    <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Sign Up</button>
                                </div>
                            </div>

                            <!-- <span class="mt-lg mb-lg line-thru text-center text-uppercase">
                                <span>or</span>
                            </span>

                            <div class="mb-xs text-center">
                                <a class="btn btn-facebook mb-md ml-xs mr-xs">Connect with <i class="fa fa-facebook"></i></a>
                                <a class="btn btn-twitter mb-md ml-xs mr-xs">Connect with <i class="fa fa-twitter"></i></a>
                            </div> -->

                            <p class="text-center">Already have an account? <a href="<?=BASEURL?>admin/login">Sign In!</a>

                        </p>

                        </form>
                    </div>
                </div>

                <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2014. All Rights Reserved.</p>
            </div>
        </section>
    <?php echo UIElementsAdmin::getFooter("adm_login") ?>
