<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?= UIElementsAdmin::getHeadnav($access_roles) ?>

    <div class="inner-wrapper">

        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <!-- Start Page -->
            <section class="panel">
                <header class="panel-heading">
                                    <h2 class="panel-title">Doubts</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>QuestionId</th>
                                <th>Doubt</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $x = 1;
                            $slno = 0;
                            foreach ($dnote as $key) {
                                $slno++;
                                ?>

                                <tr class="gradeX">
                                    <td><?php echo $x++; ?></td>
                                    <td><?php echo $key['questionid']; ?></td>
                                    <td><?php echo $key['note']; ?></td>
                                    <td>
                                        <i class="fa fa-pencil" onClick="return getdoubQueDetails('<?=$key['questionid']?>','<?=$key['id']?>');"  title='Solve Doubt' data-toggle="modal" data-target="#error<?php echo $key['id']?>"  style="cursor:pointer;"></i>
                                        <div id="error<?php echo $key['id'] ?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">

                                                    <div class="modal-header bg-danger">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Doubt No. #<?php echo $key['id']; ?>(<?=$key['questionid']?>)</h4>
                                                    </div>
                                                    <form action="<?= BASEURL ?>admin/sdoubt/<?= $key['id'] ?>" method="post" id="error<?= $key['id'] ?>">
                                                        <div class="modal-body">
                                                            <div class="modal-con-new">
                                                                <div class='modal-con-lists'>
                                                                    <h4><i class="fa fa-question-circle text-danger" aria-hidden="true"></i> Question</h4>
                                                                    <div id="question_Details_<?=$key['id']?>">
                                                                            <!-- Question will appear here after click on edit by ajax-->
                                                                        </div>
                                                                </div>
                                                                <div class='modal-con-lists'>
                                                                        <input type="hidden" name="questionid" value="<?= $key['questionid'] ?>">
                                                                         <input type="hidden" name="type" value="2">
                                                                        <textarea name="solved" id="" class="form-control" rows="10" required placeholder="Enter Solution"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                           <a target="_blank" class="btn btn-success" href="<?=BASEURL?>exams/updquestion/<?=$key['questionid']?>/<?=$key['id']?>/2">View</a>
                                                            <input type="submit" class="btn btn-primary" value="submit" name="submit">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                    </td>
                                    <!-- Delete Modal -->
                                </tr>

                            <?php } ?>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>