<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
<?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
        <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <?php
            $auth = $this->session->get('authority');
            ?>
            <section class="panel">
                <div class="panel-heading">Manage Details</div>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" action="<?=BASEURL?>sitesetting/adddetails" method="post">
                    <div class="form-group">
                    <label class="col-md-3 control-label">Course Name <span class="required">*</span></label>
                                    <div class="col-md-9">
                                        <select name="course" data-msg="Please select the Super Category name"class="form-control">
                                            <option value=''>--select--</option>
                                            <?php foreach($stanes as $scat){?>
                                            <option value='<?=$scat->id ?>' <?php if( !empty($cat) && $cat->course==$scat->id){ ?> selected <?php } ?> ><?=$scat->name ?></option>
                                            <?php } ?>
                                            </select>
<!--                                        <input class="form-control"  placeholder="Enter Category Name" type="text" name="name"  required>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Question Name <span class="required">*</span></label>
                                    <div class="col-md-9">
                                        <input class="form-control" data-msg="Please enter the Category name" value="<?= $cat->question ?>" placeholder="Enter Category Name" type="text" name="question" >
                                    </div>
                                </div>
                        <div class="form-group">
                         <label class="col-md-3 control-label">Answer <span class="required">*</span></label>
                            <div class="col-md-9">
                                <textarea class="form-control" placeholder="Text Editor" rows="12" name="answer"><?= $cat->answer ?></textarea>
                            </div>
                        </div>
                                                            <div class="form-group">
                                         <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-9">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if( !empty($cat) && $cat->status==1){ ?> selected <?php } ?>>Active</option>   
                                          <option value="2" <?php if( !empty($cat) && $cat->status==2){ ?> selected <?php } ?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                        <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                        <?php if(!empty($cat)){?>
                                          <input type="hidden" name="id" value="<?= $cat->id ?>">      
                                          <button type="submit" class="btn btn-success hidden-xs pull-right"  >Update</button>      
                                            <?php }else{?>
                                        <button type="submit" class="btn btn-success hidden-xs pull-right"  >Add</button>
                                                <?php } ?>
                                        </div>
                        </div>
                    </form>                       
                </div>
            </section>
            <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
    CKEDITOR.replace( 'answer',
    {  
    });
</script>
