<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader(); ?>
<section class="body">
    <?= UIElementsAdmin::getHeadnav() ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar" style="padding-top:10px;">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <div class="col-md-12">
                <form id="form1" class="form-horizontal" method="post" action="<?= BASEURL ?>sitesetting/update" enctype="multipart/form-data" onsubmit="return sitevalidate();"> 
                    <section class="panel panel-primary">
                        <header class="panel-heading">
                            <div class="panel-actions">                                
                            </div>
                            <?php
                            foreach ($siteinfo as $value) {
                                $site_name = $value->site_name;
                                $addres = $value->address;
                                $city = $value->city;
                                $pincode = $value->pincode;
                                $state = $value->state;
                                $country = $value->country;
                                $email_id = $value->email_id;
                                $phone_no = $value->phone_no;
                                $timeing = $value->timeing;
                                $copy_right = $value->copy_right;
                                $logo = $value->logo;
                                $id = $value->id_setting;
                                $threshold = $value->threshold_value;
                                $inviteby = $value->invite_by;
                                $newuser = $value->new_student;
                            }
                            ?>
                            <h2 class="panel-title">Add Website Details</h2>
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website Logo: <span class="required">*</span></label>
                                <div class="col-md-4">
                                    <div class="widget-profile-info">                                                    
                                        <div class="profile-info" style="vertical-align:top;">
                                            <h5>
                                                <input type="file" name="logo" data-msg="Please upload the logo image" onChange="ValidateSingleInput(this);" style="margin-top:12px;">
                                            </h5>                                            
                                        </div>
                                        <div class="profile-picture">
                                            <?php if ($logo != '') { ?>
                                                <img src="files/<?= $logo ?>" alt="website logo">
                                            <?php } ?>
                                        </div>
                                    </div>                             
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website Name: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" data-msg="Please enter the site name" name="site_name" value="<?php echo $site_name; ?>"/>
                                </div>
                            </div>              
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Address: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <textarea rows="4" class="form-control" data-msg="Please enter the Address" name="address"><?php echo $addres; ?></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="city" class="form-control" data-msg="Please enter the city" value="<?php echo $city; ?>">
                                    <input type="hidden" name="id_setting" value="<?php echo $id; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">PIN: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="pincode" class="form-control" data-msg="Please enter the pincode" value="<?php echo $pincode; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">State: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="state" class="form-control" data-msg="Please enter the state" value="<?php echo $state; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="country" class="form-control" data-msg="Please enter the country" value="<?php echo $country; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email ID: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="email" name="email_id" class="form-control" data-msg="Please enter the email Id" value="<?php echo $email_id; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone No: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="phone_no" data-msg="Please enter the phone number" class="form-control" required value="<?php echo $phone_no; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Timing: </label>
                                <div class="col-sm-10">
                                    <input type="text" name="timeing" class="form-control"  value="<?php echo $timeing; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Copyright: <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="copy_right" class="form-control" data-msg="Please enter the copyright" value="<?php echo $copy_right; ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Threshold Assessment(%): <span class="required">*</span></label>
                                <div class="col-sm-10">
                                    <input type="text" name="threshold_value" class="form-control" data-msg="Please enter the threshhold assessment" value="<?php echo $threshold; ?>">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">New user(Get in Wallet): </label>
                                <div class="col-sm-10">
                                    <input type="text" name="new_student" class="form-control" value="<?php echo $newuser; ?>">
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-sm-2 control-label">Invite By(Get in wallet): </label>
                                <div class="col-sm-10">
                                    <input type="text" name="invite_by" class="form-control" value="<?php echo $inviteby;?>">
                                </div>
                            </div>

                        </div>
                        <footer class="panel-footer text-right">
                            <button type="reset" class="btn btn-default">Reset</button>
                            <button class="btn btn-primary">Save</button>
                        </footer>
                    </section>
                </form>
            </div>          
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->
<script>
    function ValidateSingleInput(oInput) {
        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
             
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
</script>