<?php echo $this->getContent(); ?>
<?php 
$getVal = $this->request->get();
echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
  <?= UIElementsAdmin::getHeadnav($access_roles) ?>
  <div class="inner-wrapper">
    <?= UIElementsAdmin::getSidebar($access_roles) ?>
    <section role="main" class="content-body has-toolbar">
      <?= UIElementsAdmin::getBreadcrumds() ?>
      <?php $this->flashSession->output() ?>
      <div class="inner-toolbar clearfix"> <!-- Toolbar Here -->
        <div class="row">
          <div class="col-md-12">
            <form action="<?= BASEURL ?>sitesetting/quesans" method="get">
              <span class="pull-left">
                <select name="course" onchange="form.submit();" class="form-control" style="margin-top: 9px;  width:240px;">
                  <option value="">---select---</option>
                  <?php foreach($stanes as $k=>$crs){ ?>
                    <option value="<?php echo $k; ?>" <?php if($getVal['course']==$k){ echo "selected";}?>><?php echo $crs;?></option>
                    <?php } ?>
                </select>
              </span>
            </form>
            <span class="pull-right">
                <a href="<?= BASEURL ?>sitesetting/adddetails" class="btn btn-success" style="margin-top: -4px;">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                </a>
            </span>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <!--  <h3 class="word-rotator-title">
          <strong>Course Description </strong>
          </h3> -->
          <?php if($cat->count()!=0) { $x = 1; foreach ($cat as $val) {
          $status=($val->status == 1)?2:1;?>
          <section class="panel <?=($val->status == 1)?"panel-primary":"panel-danger"?>">
            <header class="panel-heading">
              <div class = "btn-group-vertical pull-right">
                  <button type = "button" class = "btn btn-default btn-xs dropdown-toggle" data-toggle = "dropdown">
                  Action
                  <span class = "caret"></span>
                  </button>                
                  <ul class = "dropdown-menu">
                    <li><a onclick="return confirm('Are you sure to change the status?');" href = "<?= BASEURL.'sitesetting/detailsstatus/'.$status.'/'. $val->id ?>" >Change Status</a></li>
                    <li><a href = "<?= BASEURL.'sitesetting/adddetails/'. $val->id ?>">Edit</a></li>
                    <li><a onclick="return confirm('Are you sure to delete?');" href = "<?= BASEURL.'sitesetting/deletequesans/'. $val->id ?>" >Delete</a></li>
                  </ul>
                </div>
              <h2 class="panel-title"><?=$x?>) <?=$val->question?> <i>(<?=$stanes[$val->course]?>)</i></h2>
            </header>
            <div class="panel-body" style="display: block;">
              <p>
                  <?=$val->answer?>
              </p>
            </div>
          </section>
          <?php $x++; } }else{ echo "No Question Found";}?>
        </div>
      </div>
    </div>
  </div>
  </section><!--content -body-->
  </div><!--inner-wrapper-->
  </section><!--body-->
  <?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->