<?php echo $this->getContent(); ?>
<?php
$getVal = $this->request->get();
?>
<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>
    function getssubject(){
        var s = $( "#subject" ).val();
        $.ajax(
        {
            type: 'POST',
            url: '<?php echo BASEURL; ?>exams/getsubsubject',
            data: 'subid='+s,
            success: function(data){
                if(data) 
                {
                    $("#subsubject").html(data);
                }
            }
        });
    }
    function gettopics(){
        var ss = $( "#subsubject" ).val();
        var s = $( "#subject" ).val();
        $.ajax(
        {
            type: 'POST',
            url: '<?php echo BASEURL; ?>exams/gettopics',
            data: 'ssubid='+ss+'&subid='+s,
            success: function(data){
                if(data)
                {
                    $("#topics").html(data);
                }
            }
        });
    }
    function getsubtopics(){
        var t = $( "#topics" ).val();
        var ss = $( "#subsubject" ).val();
        var s = $( "#subject" ).val();
        $.ajax(
        {
            type: 'POST',
            url: '<?php echo BASEURL; ?>exams/getsubtopics',
            data: 'ssubid='+ss+'&subid='+s+'&tid='+t,
            success: function(data){
                if(data)
                {
                    $("#subtopics").html(data);
                }
            }
        });
    }
    function updqt(id){
        var d='';
        if($( "#test"+id).is(':checked')){
            d += $( "#test"+id).val()+',';
        }
        if($( "#practice"+id).is(':checked')){
            d += $( "#practice"+id).val()+',';
        }
        d = d.replace(/,$/,'');
        if(d==''){
            alert('Please checked an checked box before update.');
        }else{
            d = "["+d+"]";
            // alert(d);
            $.ajax(
            {
                type: 'POST',
                url: '<?php echo BASEURL; ?>exams/updqt',
                data: 'qid='+id+'&etype='+d,
                success: function(data){
                    if(data)
                    {
                        alert('Successfully updated.');
                    }
                }
            });
        }
    }
</script>

<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body ">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>

            <section class="panel course-body"> <!-- Second Panel -->
                <header class="panel-heading">

                    <h2 class="panel-title">Quiz</h2>
                </header>
                <div class="panel-body">
                    <form class="form-bordered" action="<?= BASEURL ?>sitesetting/quizlist/" name="form1" method="get" id="fetchquestion">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Subject</label>
                                        <select class="form-control mb-md" id="subject" required name="subject" onclick="getssubject()">
                                            <option value="">[ Select Subject ]</option>
                                            <?php if (isset($subdet)) {
                                                foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?= $subdetRes->id ?>' <?php
                                            if (isset($getVal['subject']) & $getVal['subject'] == $subdetRes->id) {
                                                echo "selected";
                                            }
                                                    ?> ><?= stripslashes(ucwords($subdetRes->subjectname)) ?></option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Sub Subject</label>
                                        <select class="form-control mb-md" id="subsubject" name="subsubject" onclick="gettopics()">
                                            <option value="">[ Select Sub Subject ]</option>
                                            <?php if (isset($subsubdet)) {
                                                foreach ($subsubdet as $subsubdetRes) { ?>
                                                    <option value='<?= $subsubdetRes->ssid ?>' <?php
                                            if (isset($getVal['subsubject']) & $getVal['subsubject'] == $subsubdetRes->ssid) {
                                                echo "selected";
                                            }
                                                    ?> ><?= stripslashes(ucwords($subsubdetRes->ssname)) ?></option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Topics</label>
                                        <select class="form-control mb-md" id="topics" name="topics" onclick="getsubtopics()">
                                            <option value="">[ Select Topics ]</option>
                                            <?php if (isset($mTopicdet)) {
                                                foreach ($mTopicdet as $mTopicdetRes) { ?>
                                                    <option value='<?= $mTopicdetRes->tid ?>' <?php
                                            if (isset($getVal['topics']) & $getVal['topics'] == $mTopicdetRes->tid) {
                                                echo "selected";
                                            }
                                                    ?> ><?= stripslashes(ucwords($mTopicdetRes->tname)) ?></option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Sub Topics</label>
                                        <select class="form-control mb-md" id="subtopics" name="subtopics">
                                            <option value="">[ Select Sub Topics ]</option>
                                            <?php if (isset($msTopicdet)) {
                                                foreach ($msTopicdet as $msTopicdetRes) { ?>
                                                    <option value='<?= $msTopicdetRes->stid ?>' <?php
                                            if (isset($getVal['subtopics']) & $getVal['subtopics'] == $msTopicdetRes->stid) {
                                                echo "selected";
                                            }
                                                    ?> ><?= stripslashes(ucwords($msTopicdetRes->stname)) ?></option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Question Type</label>
                                        <select class="form-control mb-md" name="qtype">
                                            <?php if (isset($qtype)) {
                                                foreach ($qtype as $qtypeRes) { ?>
                                                    <option value='<?= $qtypeRes->qtid ?>' <?php
                                            if (isset($getVal['qtype']) & $getVal['qtype'] == $qtypeRes->qtid) {
                                                echo "selected";
                                            }
                                                    ?> ><?= stripslashes(ucwords($qtypeRes->qtname)) ?></option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Question Level</label>
                                        <select class="form-control mb-md" name="qlevel">
                                            <option value="">All Question Level</option>
                                            <option value="1" <?= ($getVal['qlevel'] == 1) ? "selected" : '' ?>>Easy</option>
                                            <option value="2" <?= ($getVal['qlevel'] == 2) ? "selected" : '' ?>>Medium</option>
                                            <option value="3" <?= ($getVal['qlevel'] == 3) ? "selected" : '' ?>>Hard</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Pole Type</label>
                                        <select class="form-control mb-md" name="etype">
                                            <option value="1">Practice Pool</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="show_question">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="button" class="btn btn-primary" name="submit" onclick="searchdata();" value="Search">
                            </div>

                        </div>
                    </form>
                    <div class="clearfix gap"></div>
                    <div class="col-md-12">
                        <h4>Selected Question</h4>
                        <form action="<?= BASEURL ?>sitesetting/addquiz" method="post" id="quizform">
                            <div class="col-md-3">
                                <input type="text" id="startdate" data-plugin-datepicker data-date-format="dd-mm-yyyy" placeholder="Starting Date" class="form-control" required name="start_date">
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="enddate" data-plugin-datepicker data-date-format="dd-mm-yyyy" placeholder="Ending Date" class="form-control" required name="end_date">
                            </div>
                            <div class="col-md-3">
                                <select name="course" id="course" class="form-control" required>
                                    <option value="">[-- Choose Course --]</option>
                                    <?php foreach ($course as $cval): ?>
                                        <option value="<?= $cval->id ?>"><?= $cval->name ?></option>
                                    <?php endforeach; ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" id="totalques"  placeholder="Enter Question Amount" class="form-control" required name="total">
                            </div>
                            <div class="clearfix gap"></div>
                            <div id="qselect"></div>
                        </form>
                    </div>
                    <div>
                    </div>
                    
                    <div class="clearfix gap"></div>
                    <div class="col-md-12">
                        <a href="<?= BASEURL ?>sitesetting/viewqizqus" class="btn btn-success">View Quiz</a>
                        <div class="btn btn-primary" onclick="formsubmit()">Submit</div>
                    </div>
                    <div class="clearfix gap"></div>
                    <hr>
                    <div id="shodata"></div>
<!--                    <table class="table table-bordered table-striped mb-none" >
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>Question</th>
                                <th>Question Type</th>
                                <th style="width:150px;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">
                    <?php
                    $qtype = ["1" => "Single Type", "2" => "Multiple Type Question", "3" => "Match Type Question", "4" => "Numerical Type", "5" => "Paragraphs", "6" => "Theory Question", "7" => "Reason Assertion", "8" => "Subjective Question"];
                    $x = 1;
                    if (isset($question) && count($question) > 0) {
                        foreach ($question as $questionRes) {
                            if ($questionRes->tableid == 1) {
                                $ques = MasterQuestionBank::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                            } elseif ($questionRes->tableid == 2) {
                                $ques = MasterMatchQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                            } elseif ($questionRes->tableid == 3) {
                                $ques = MasterNumericQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                            } elseif ($questionRes->tableid == 4) {
                                $ques = MasterParaQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                            } elseif ($questionRes->tableid == 5) {
                                $ques = MasterReasonQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                            }
                            if (isset($ques) && count($ques) > 0) {
                                $et = json_decode($ques->e_type);
                                ?>
                                                    <tr>
                                                        <td><?= $questionRes->questionid ?></td>
                                                        <td><?= stripslashes(ucwords($ques->question)) ?></td>
                                                        <td>
                                <?php
                                echo $qtype[$questionRes->q_type];
                                ?>
                                                        </td>
                                                        <td>
                                                                 <button id="upaa<?php echo $questionRes->questionid; ?>" 
                                <?php if ($ap[$questionRes->questionid] != '') { ?>
                                                                        title="Click to remove" onclick="removequiz('<?php echo $questionRes->questionid; ?>');" 
                                <?php } else { ?>
                                                                        title="Click to add" onclick="addquiz('<?php echo $questionRes->questionid; ?>');"
                                <?php } ?>
                                                                    class="btn btn-info btn-xs">
                                <?php if ($ap[$questionRes->questionid] != '') { ?>Assigned<?php } else { ?>Add<?php } ?>
                                                                </button> 
                                                            <button class="btn btn-primary" onclick="selectqid('<?= $questionRes->questionid ?>')">Add</button>
                                                        </td>
                                                    </tr>
                                <?php
                            }
                        }
                    }
                    ?>
                        </tbody>
                    </table>-->
            </section> <!-- Second Panel End -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<div class="loader-con" id="loader" style="display:none;width: 100%; height:100%; position: fixed; z-index: 2000; background: rgba(0, 0, 0, 0.48); background-image:url('<?= BASEURL ?>frontend/img/loader.gif'); background-position: center center; background-repeat: no-repeat;top:0;">
                    </div>
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
    function selectqid(qid){
        var qselect = $("#qselect").html();
        if($("#"+qid).length > 0){
            alert('Id Already Exits.');
        }else{
            var qid = '<div class="col-md-2 chkquep" onClick="chekques(this)" id="'+qid+'" >'+qid+'<input type="hidden" id="'+qid+'hid" value="'+qid+'" name="qid[]"></div>';
            $("#qselect").html(qselect+qid);
        }
    }

    function chekques(item) {
        var curqid = $(item).attr("id");
        $('#'+curqid).remove();
        alert('Successfully Removed!');
    }

    function formsubmit(){
        if($("#startdate").val()!='' && $("#enddate").val()!='' && $("#course").val()!=''){
            $("#quizform").submit();
        }else{
            alert("Starting Date , Ending date and Course are not Empty");
        }
    }
    function searchdata(){
        var data=$("#fetchquestion").serialize();
        if(data){
            $("#loader").css("display","block");
            $.post("<?php echo BASEURL; ?>sitesetting/fetchquestion",{"data":data},function(res){
                $("#loader").css("display","none");
                $("#shodata").html(res);
            })
        }
    }
</script>