<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<?= UIElementsAdmin::getHeadnav($access_roles) ?>

    <div class="inner-wrapper">

<?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
        <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <?php
            $auth = $this->session->get('authority');
            //print_r();
            ?>
            <!-- Start Page -->
            <section class="panel">
                <div class="panel-heading">Terms & Conditions
                    <a href = "<?=BASEURL?>sitesetting/addterm" class = "btn btn-success pull-right" role = "button">Manage Terms & Condition</a>
                </div>
                <div class="panel-body">
                    <?=$mqus->description?>
                </div>
            </section>
            <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>
