<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<script>
function addpoint(id){
    var point = $("#wallet"+id).val();
    $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL; ?>users/points',
        data: 'id='+id+'&point='+point,
        success: function(data){
            if(data){
                $("#wallet"+id).val('');
                alert(data);
            }
        }
    });
}
</script>
    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
                
                

                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>
            
                <!-- Start Page -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">View Question of the Day</h2>
                    </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>SL# &nbsp;</th>
                                    <th>Question ID</th>
                                    <th>Question</th>
                                    <th width="150">Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php 
                            $x=1; $slno=0;
                            foreach ($qod as $key ) {$slno++ ; ?>

                                <tr class="gradeX">
                                    <td><?php echo $x++; ?></td>
                                    <td><?=$key->questionid?></td>
                                    <td>
                                        <?php
                                            switch ($qids[$key->questionid]['table']) {
                                                case '1':
                                                    $question = MasterQuestionBank::findFirst("questionid='{$key->questionid}'");
                                                    echo $question->question;
                                                    break;
                                                case '2':
                                                    $question = MasterMatchQuestion::findFirst("questionid='{$key->questionid}'");
                                                    echo $question->question;
                                                    break;
                                                case '3':
                                                    $question = MasterNumericQuestion::findFirst("questionid='{$key->questionid}'");
                                                    echo $question->question;
                                                    break;
                                                case '4':
                                                    $question = MasterParaQuestion::findFirst("questionid='{$key->questionid}'");
                                                    echo $question->question;
                                                    break;
                                                case '5':
                                                    $question = MasterReasonQuestion::findFirst("questionid='{$key->questionid}'");
                                                    echo $question->question;
                                                    break;
                                                case '6':
                                                    $question = MasterSubtheoQuestion::findFirst("questionid='{$key->questionid}'");
                                                    echo $question->question;
                                                    break;
                                                default:
                                                    # code...
                                                    break;
                                            }
                                        ?>
                                    </td>
                                    <td><?=$key->show_date?></td>
                                    <td><a href="<?=BASEURL?>sitesetting/deleteqod/<?=$key->id_qday?>">Delete</a></td>
                                  </div>
                                </tr>

                             <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </section>

        <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>