<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
                <div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Assign subject</h2>
                                <div class="col-md-3 mandatory">
                                    ( <span class="required">*</span> Marked are Mandatory)
                                </div>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>course/addcourse" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Course Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select name="id" required class="form-control">
                                            <option value=''>--select course--</option>
                                            <?php foreach($course as $cat){?>
                                            <option value='<?=$cat->id ?>'><?=$cat->name ?></option>
                                            <?php } ?>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Subject and Subsubject <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <?php foreach($subject as $value){ 
                                                    $subsubject = MasterSubSubject::find(array("subid='".$value->id."' AND status=1"));
                                                ?>
                                                <ul class="subject-list">
                                                    <li><input type="checkbox" id="<?=strtolower($value->subjectname)?>" onclick="allselect('<?=strtolower($value->subjectname)?>')" class="inline-checkbox" value="<?=$value->id?>" name="subject[]"/>&nbsp;<?=$value->subjectname?></li>
                                                    <li>
                                                        <?php foreach($subsubject as $val){
                                                            // $topics = MasterTopics::find(array("subid='".$value->id."' AND ssubid='".$val->ssid."' AND status=1"));
                                                            // foreach($topics as $topic){
                                                        ?>
                                                        <ul class="subsubject-list">
                                                            <li><input type="checkbox" class="inline-checkbox <?=strtolower($value->subjectname)?>" value="<?=$val->ssid?>" name="subsubject[]"/>&nbsp;<?=$val->ssname?></li>
                                                        </ul>
                                                        <?php } ?>
                                                        <?php //} } ?>
                                                    </li>
                                                    
                                                </ul>
                                            <?php } ?>
                                        </div>
                                    </div>
<!--                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label  hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Course</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Course</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update");?><!-- footer-->
<script>
    function allselect(para)
    {
        if($("#"+para).is(":checked")){
            $('.'+para).prop('checked', true);
        }else{
            $('.'+para).prop('checked', false);
        }
        
    }
</script>