<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Plan</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>course/addplans" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Plan Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Plan Name" type="text" name="name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Price </label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Price" type="text" name="price"  required>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Enter Description</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Enter Description "  name="desc" required></textarea>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Period </label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Period " type="text" name="period"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Starting Date </label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Start Date" type="text" name="start_date"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Ending Date </label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter End Date" type="text" name="end_date"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label  hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->