<?php echo $this->getContent(); ?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>

    function supcat(supcat){
        var sup_cat = $("#sup_cat").val();
        $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>exams/getcourse',
            data: 'sup_cat='+supcat,
            success: function(data){
                if(data){
                    $("#course").html(data);
                    getalltopic();
                }
            }
        });
    }

    function getalltopic()
    {
        if($("#course").val()!=''){
            var sup_cat = $("#sup_cat").val();
            var course = $("#course").val();
            $.ajax({
                type: 'POST',
                url: '<?= BASEURL ?>course/getalltopic',
                data: 'sup_cat='+sup_cat+'&course='+course,
                success: function(data){
                    if(data){
                        $("#alltopic").html(data);
                         $("#chkbox").prop("checked",false);
                    }
                }
            });
        }
        
    }
    function chkunchk(){
        if($("#chkbox").is(":checked")){
            $(".allbychk").prop("checked",true);
        }else{
            $(".allbychk").prop("checked",false); 
        }
    }  
</script>
<section class="body">
<?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
    <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
        <?= UIElementsAdmin::getBreadcrumds() ?>

            <!-- Start Page Here -->
            <div class="row"> 
                <div class="col-xs-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>
                            <h2 class="panel-title">Add Practice Package</h2>
                            <div class="col-md-3 mandatory">
                                ( <span class="required">*</span> Marked are Mandatory)
                            </div>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" action="<?= BASEURL ?>course/addpracticepackage" method="post">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Package Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Package Name" type="text" name="name"  required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Enter Description</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Enter Description" name="description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputSuccess">Super Category <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <select name="sup_cat" required class="form-control " id="sup_cat" onchange="supcat(this.value)">
                                            <option>--Choose Super Category--</option>
<?php foreach ($supcat as $val): ?>
                                                <option value="<?= $val->scid ?>"><?= $val->scname ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputSuccess">Course<span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <select name="course" required class="form-control " id="course" onchange="getalltopic();">
                                            <option>--Choose Course --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputSuccess">Select Type<span class="required">*</span></label>
                                    <div class="col-md-3">
                                        <select name="indtype" required class="form-control">
                                            <option value="1">Multiple</option>
                                            <option value="2">Individual</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="checkbox" id="chkbox" onclick="chkunchk();"> Check/Uncheck All
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="inputSuccess">Choose Topic <span class="required">*</span></label>
                                    <div class="col-md-6" id="alltopic">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Price <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter price" type="text" name="price">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Validity <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter Validity In days" type="text" name="validity">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1">Active</option>   
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label hidden-xs"></label>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success hidden-xs pull-right">Add Package</button>
                                        <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Package</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->