<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Add Package</h2>
                                <div class="col-md-3 mandatory">
                                    ( <span class="required">*</span> Marked are Mandatory)
                                </div>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>course/addpackages" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Package Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Package Name" type="text" name="name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Description</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Enter Description" name="desc"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Super Category <span class="required">*</span></label>
                                        <div class="col-md-6">                                                
                                        <?php foreach($supcat as $val): ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="qtype<?=$val->scid?>" value="<?=$val->scid?>" name="sup_cat[]">
                                              <label for="qtype<?=$val->scid?>" ><?=$val->scname?></label>
                                            </div>
                                        <?php endforeach;?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Test Type <span class="required">*</span></label>
                                        <div class="col-md-6">                                                
                                            <select name="test_type" required class="form-control ">
                                                <option>--Choose Format--</option>
                                                <option value="1">Subject Wise</option>
                                                <option value="2">Topic Wise</option>
                                                <option value="3">Unit Wise</option>
                                                <option value="5">Full Syllabus</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">No of Tests <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="No of Test" type="text" name="not">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Price <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter Plan Name" type="text" name="price"  >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Package</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Package</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->