<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

 				<section class="panel">

			                <header class="panel-heading">
			                    <span class="pull-right">
                              <a href="<?= BASEURL ?>course/addcourse" class="btn btn-dark">
                                  <i class="fa fa-plus-circle" aria-hidden="true"></i> Assign Subject
                              </a>
                          </span>
			                    <h2 class="panel-title">Course Details</h2>
			                </header>
			                    <div class="panel-body">
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
			                                    <th>SL# &nbsp;</th>
			                                    <th>Course Name</th>
			                                    <th>Details</th>
			                                    <th>Status</th>
			                                    <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                            <?php $x=1; foreach ($course as $val) { 
                                    $subsub=json_decode($val->subsubject);
                                    ?>
			                                <tr>
			                                    <td><?php echo $x?></td>
			                                    <td><?php echo $val->name?></td>
                                          <td class="course-details">
                                          <?php $sub=json_decode($val->subject);foreach($sub as $va){ ?>
                                            <p><i class="fa fa-th-list" aria-hidden="true"></i>
 <?=$subject[$va]?></p>
  <div class="span-con">
 <?php foreach($subsubject[$va] as $key=>$v){ if(in_array($key,$subsub)){?>
                                           
                                              <label><i class="fa fa-hand-o-right" aria-hidden="true"></i>
 <?=$v?></label>
                                            
                                            <?php } } ?>
                                            </div>
                                            <?php } ?>
                                          </td>			                                    
			                                    <td>
			                                    <?php 
                                                    if ($val->status==1) {
                                                        echo $this->tag->linkTo("course/courseupdstatus/2/".$val->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                                    }
                                                    else
                                                    {
                                                        echo $this->tag->linkTo("course/courseupdstatus/1/".$val->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                                    }
                                                ?>
                                                </td>
			                                    <td>
			                                    	
                                                	<?php echo $this->tag->linkTo("course/updatecourse/".$val->id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                            <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $val->id?>" style="cursor:pointer;"></i>
                                                
			                                    </td>
			                                    <div id="delete<?php echo $val->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->first_name." ".$val->name); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this user?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("course/deletecourse/".$val->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                          </div>

                                            <div id="myModal<?php echo $val->id?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel">Course Details</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Course Name</label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->name; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Coures Description </label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->desc; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Status</label>
                                                                <div class="col-sm-9">
                                                                    <?php 
					                                                    if ($val->status==1) {
					                                                        echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
					                                                    }
					                                                    else
					                                                    {
					                                                        echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
					                                                    }
					                                                ?>
                                                                </div>
                                                            </div>
                                                          </div>
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
			                                </tr>
			                            <?php 
			                            	$x++; 
			                        	}
			                        	unset($x);
			                             ?>
			                            </tbody>
			                        </table>
			                    </div><!--panel-body-->
           		</section>





      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->