<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>
function supcat(supcat){
      var sup_cat = $("#sup_cat").val();
      $.ajax({
          type: 'POST',
          url: '<?=BASEURL?>exams/getcourse',
          data: 'sup_cat='+supcat,
          success: function(data){
            if(data){
              $("#course").html(data);
             getalltopic();
            }
          }
        });
      }

    function getalltopic()
    {
        if($("#course").val()!=''){
            var sup_cat = $("#sup_cat").val();
            var course = $("#course").val();
            $.ajax({
              type: 'POST',
              url: '<?=BASEURL?>course/getalltopic',
              data: 'sup_cat='+sup_cat+'&course='+course,
              success: function(data){
                if(data){
                    $("#alltopic").html(data);
                }
              }
            });
        }
        
    }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Update Practice Package</h2>
                                <div class="col-md-3 mandatory">
                                    ( <span class="required">*</span> Marked are Mandatory )
                                </div>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>course/updatepracticepackage" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Package Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input type="hidden" name="upid" value="<?php echo $package->id;?>">
                                        <input class="form-control"  placeholder="Enter Package Name" type="text" name="name"  required value="<?php echo $package->name;?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Description</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Enter Description" name="description"><?php echo $package->description;?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Super Category <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select required class="form-control " id="sup_cat" onchange="supcat(this.value)">
                                            <option>--Choose Super Category--</option>
                                        <?php foreach($supcat as $val): ?>
                                            <option value="<?=$val->scid?>" <?php if($val->scid==$newsupcat){ echo "selected";}?>><?=$val->scname?></option>
                                        <?php endforeach;?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Course<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="course" required class="form-control " id="course" onchange="getalltopic();">
                                            <option>--Choose Course --</option>
                                             <?php foreach($newcourse as $valn){?>
                                            <option value="<?=$valn->id?>" <?php if($package->course==$valn->id){ echo "selected";}?>><?=$valn->name?></option>
                                        <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Choose Topic <span class="required">*</span></label>
                                        <div class="col-md-6" id="alltopic">
                                         <?php
                                            $allseltopicne=json_decode($package->topic);
                                            foreach($allseltopicne as $va){
                                                $allseltopic[]=$va->id;
                                            }
                                            $coursecc = MasterCourse::findFirst(array("id='" . $package->course . "'"));
                                            $sub = json_decode($coursecc->subject);
                                            $str = "";
                                            if (!empty($sub)) {
                                                foreach ($sub as $va) {
                                                    $subjectname = MasterSubject::findFirst(array("id='" . $va . "'"));
                                                    echo "<label><b>" . $subjectname->subjectname . "</b></label><div>";
                                                    $topic = MasterTopics::find(array("subid='" . $va . "' AND status=1"));
                                                    foreach ($topic as $top) { ?>
                                                       <div class='badge bg-primary' style='margin:2px;'><label><input type='checkbox' style='vertical-align:sub;' name='topic[]' value='<?=$top->tid?>' <?php if(in_array($top->tid,$allseltopic)){ echo "checked";}?>><?=ucfirst($top->tname)?></label></div>
                                                   <?php }
                                                    echo "</div><br/>";
                                                }
                                            } else {
                                                echo "No Subject Found For this Course";
                                            }
                                            ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Price <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter price" type="text" name="price" value="<?php echo $package->price;?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Validity <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter Validity In days" type="text" name="validity" value="<?php echo $package->validity;?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if($package->status==1){ echo "selected";}?>>Active</option>   
                                          <option value="0" <?php if($package->status==0){ echo "selected";}?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Package</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Package</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->