<tbody>
    <tr>
        <td style="padding:40px 0  0 0;">
            <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

            <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Dear <?= $name ?> !</h2>
            
              <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">To verify your Email ID , Please click the below link.        
                <br>
                <br>
                <a style="background:#E86537;color:#fff;padding:10px" href="<?= $publicUrl ?><?= $confirmUrl?>">Click here</a>
                <br>
                <br>  Thanks ,
		<br>  Ischoo4u
                <br>
            </p>
        </td>
    </tr>
</tbody>

