<?php
/**
*Page index 
* 
* Author By: Rajesh Sardar
* Created On:26/05/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav()?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar()?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
                  <!-- Toolbar Here -->
                      <div class="inner-toolbar clearfix"> 
                        <ul>
                          <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                              <li class="active">
                                <a href="<?=BASEURL?>concepts/addcontype">Add Tips Type</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  <!-- Toolbar Here end -->
                  <!-- main contain start-->
 				<section class="panel">

			                <header class="panel-heading">
			                    <div class="panel-actions">
			                        <a href="#" class="fa fa-caret-down"></a>
			                        <a href="#" class="fa fa-times"></a>
			                    </div>
			            
			                    <h2 class="panel-title">Tips Type</h2>
			                </header>
			                    <div class="panel-body">
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
			                                    <th>SL# &nbsp;</th>
			                                    <th>Title</th>
			                                    <th>Status</th>
			                                    <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                 <?php $x=1; foreach ($contype as $contypeRes) { ?>
			                                <tr>
			                                    <td><?php echo $x?></td>
			                                    <td><?php echo $contypeRes->title?></td>
			                                    <td>
			                                    <?php 
                                                    if ($contypeRes->status==1) {
                                                        echo $this->tag->linkTo("concepts/updcontysta/2/".$contypeRes->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                                    }
                                                    else
                                                    {
                                                        echo $this->tag->linkTo("concepts/updcontysta/1/".$contypeRes->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                                    }
                                                ?>
                                                </td>
			                                    
			                                    <td>
			                                    	  <i class="fa fa-pencil" title="Display" data-toggle="modal" data-target="#myModal<?php echo $contypeRes->id?>" style="cursor:pointer;"></i>
                                              <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $contypeRes->id?>" style="cursor:pointer;"></i>
                                                
			                                    </td>

			                                    <!--view modal-->
			                                     <div id="myModal<?php echo $contypeRes->id?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">
                                                    <form class="form-horizontal form-bordered" action="<?=BASEURL?>concepts/updcontype" method="post">
                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel">Concept Type Details</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Title</label>
                                                                <div class="col-sm-9">
                                                                <input type="hidden" name="id" class="form-control" value="<?=$contypeRes->id?>"/>
                                                                    <input type="text" name="title" class="form-control" value="<?=$contypeRes->title?>"/>
                                                                </div>
                                                            </div>
                                                           
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Status</label>
                                                                <div class="col-sm-9">
                                                                    <select name="status" id="" class="form-control">
                                                                      <option value="0" <?=($contypeRes->status==0)?'selected':''?>>Inactive</option>
                                                                      <option value="1" <?=($contypeRes->status==1)?'selected':''?>>Active</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                          </div>
                                                      </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                      <input type="submit" class="btn btn-success" value="Update">
                                                    </div>
                                                    </form>
                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
                                              <!-- view modal end here-->


                                              <!--delete modal start-->
                                              <div id="delete<?php echo $contypeRes->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($contypeRes->title); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this Concept Type?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("concepts/deletecontyp/".$contypeRes->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
                                              <!-- delete modal end here-->
			                                 </tr>
			                                <?php 
			                            	$x++; 
			                        	}
			                        	unset($x);
			                             ?>
			                            </tbody>
			                        </table>
			                    </div>
                          <!--panel-body-->
                          <!--main contain end here-->
           		</section>
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->