<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<script>
function addpoint(id){
	var point = $("#wallet"+id).val();
	$.ajax({
	    type: 'POST',
	    url: '<?php echo BASEURL; ?>users/points',
	    data: 'id='+id+'&point='+point,
	    success: function(data){
	        if(data){
	        	$("#wallet"+id).val('');
	            alert(data);
	        }
	    }
	});
}
</script>
    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
                
                

                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>
            
                <!-- Start Page -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">Users Point</h2>
                    </header>
                    <div class="panel-body">
                    	<form action="" method="get">
                    		<div class="col-md-8 col-md-offset-2">
                    			<div class="col-md-4">
                    				<input type="text" class="form-control" name="search" title="Search Name or Email" placeholder="Search Name or Email">
                    			</div>
                    			<div class="col-md-4">
                    				<input type="submit" class="btn btn-primary" value="Search">
                    			</div>
                    		</div>
                    	</form>
                    	<div class="clearfix gap"></div>
                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>SL# &nbsp;</th>
                                    <th>Name</th>
                                    <th>Email - ID</th>
                                    <th>Contact No.</th>
                                    <th>Course</th>
                                    <th>Add Points</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php 
                            $x=1; $slno=0;
                            foreach ($user as $key ) {$slno++ ; ?>

                                <tr class="gradeX">
                                    <td><?php echo $x++; ?></td>
                                    <td><?php echo ucwords($key->first_name)." ".ucwords($key->last_name); ?></td>
                                    <td><?php echo $key->mail_id; ?></td>
                                    <td><?php echo $key->contact_no; ?></td>
                                    <td>
                                    <?php
                                    	if(isset($userpoint[$key->uid])){
                                    		echo $userpoint[$key->uid];
                                    	}else{
                                    		echo 'No Points';
                                    	}
                                    ?>
                                    </td>
                                    <td><input type="text" id="wallet<?=$key->uid?>" class="form-control"></td>
                                    <td><div class="btn btn-primary" onclick="addpoint(<?=$key->uid?>)">Add</div></td>
                                  </div>
                                </tr>

                             <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </section>

        <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>