<?php
$client_id = "301667846490-4j3d37dcdj5a120vg8nonvsfk25nhkah.apps.googleusercontent.com";
$client_secret = "6aQzLzJXjNeDCuo9pzXBy4Lp";
$redirecturi = BASEURL . "socialisation/gmaillogin";
$fb_client = "1141358925893848";
$redirecturifb = BASEURL . "socialisation/facebooklogin";
?>
<?= UIElementsUsers::frontcss() ?>
<script type="text/javascript">
    function showsignup(){
            $("#signup").modal("show");
            $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
            $(".course-list").css("display","block");
            $(".course-form").css("display","none");
            $(".course-list2").css("display","none");
        }
        function getsup(id,name,slug){
            $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left select-course-icon" onClick=backsup()></i><h4 class="text-center select-course-next"><img src="<?php echo BASEURL; ?>images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
            $(".course-list").css("display","none");
            $(".course-form").css("display","none");
            $.post("<?= BASEURL ?>socialisation/getcoursesign/"+id,function(res){
                $("#cous_id").html(res);
            });
            $(".course-list2").css("display","block");
            $("#scid").val(id);
        }
        function getcurs(id){
            var scid = $("#scid").val();
            $("#sucid").val(scid);
            $("#course").val(id);
            $(".course-list").css("display","none");
            $(".course-form").css("display","block");
            $(".course-list2").css("display","none");
        }
        function backsup(){
            $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
            $(".course-list").css("display","block");
            $(".course-form").css("display","none");
            $(".course-list2").css("display","none");
        }
        function validateEmail(id) {
            var email = $('#'+id).val();
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if(re.test(email)==false){
                $('#'+id).addClass('border-red');
                $('.email-alert').css('display', 'block');
                $(".all-alert").attr("style","display:none;");
            }else{
                $('#'+id).removeClass('border-red');
                $('.email-alert').css('display', 'none');
                $(".all-alert").attr("style","display:none;");
            }
        }
        function signupgmail(){
            var jsondata=[];
            var item = {}
            item ["supcat"]= $("#sucid").val();
            item ["course"]=  $("#course").val();
            item ["create_user"]=  $("#create_user").val();
            item ["quesid"]=  $("#quesid").val();
            var jsondata=encodeURI(JSON.stringify(item));
            window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto&state="+jsondata;
        }
        function loginwithgmail(){
            window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto";
        }
        function loginwithfb(){
            window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true";
        }
        function signupfacebook(){
            var jsondata=[];
            var item = {}
            item ["supcat"]= $("#sucid").val();
            item ["course"]=  $("#course").val();
            item ["create_user"]=  $("#create_user").val();
            item ["quesid"]=  $("#quesid").val();
            var jsondata=encodeURI(JSON.stringify(item));
            window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true&state="+jsondata;
        }
</script>
 <div class="body">
        <header id="header">
            <div class="container">
                <div class="logo">
                    <a href="<?= BASEURL ?>index">
                        <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="<?= BASEURL ?>frontend/img/logo.png">
                    </a>
                </div>
                <div class="search">
                </div>
                <ul class="social-icons">
                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                </ul>
                <nav>
                    <ul class="nav nav-pills nav-top">
                        <li>
                            <a href="<?= BASEURL ?>index/about"><i class="fa fa-angle-right"></i>About Us</a>
                        </li>
                        <li>
                            <a href="<?= BASEURL ?>index/contact"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                        <li class="phone">
                            <span><i class="fa fa-phone"></i><?php echo $setting->phone_no;?></span>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">                     
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li >
                                <a href="<?= BASEURL ?>index">HOME</a>
                            </li>
                            <li>
                                <a href="<?= BASEURL ?>index#courses">COURSES</a>
                            </li>
                            <li>
                                <a href="<?= BASEURL ?>index#features">FEATURES</a>
                            </li>
                            <!--<li>
                                <a href="#">TOPPERS</a>
                            </li>-->
                            <li>
                                <a href="#" title="Sign In" data-toggle="modal" data-target="#signin">SIGNIN</a>
                                <div id="signin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-signin">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Login</h4>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button class="btn  facebook-bg" onClick="loginwithfb();"><i class="fa fa-facebook"></i> Login with Facebook</button>
                                                        <button onclick="loginwithgmail();" class="btn  googleplus-bg"><i class="fa fa-google-plus"></i> Login with Google+</a>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <hr>
                                                        <h5>Or Simply Login</h5>
                                                        <hr>
                                                        <label class="text-danger creden-error" style="display:none;">Please Enter Valid Email and Password</label>
                                                        <label class="text-danger email-alert" style="display:none;">Please Enter Valid Email ID</label>
                                                        <label class="text-danger all-alert" style="display:none;">Please Enter Email ID & Password</label>
                                                        <form class="form-horizontal form-bordered" action="<?= BASEURL ?>index/login" method="post" id="loginform" onSubmit="return validatelogin();">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-user"></i>
                                                                </span>
                                                                <input type="email" id="email" onBlur="validateEmail('email')" name="email" class="form-control input-lg" placeholder="Type Your Email...">
                                                            </div>
                                                    </div>          
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-lock"></i>
                                                            </span>
                                                            <input type="password" id="pass" name="pass" class="form-control input-lg" placeholder="Type Your Password...">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id='like' name="like" value="">
                                                    <input type="hidden" id='cmnt' name="comment" value="">
                                                    <div class="form-group text-center">
                                                        <input type="button" name="submitlogin" class="btn btn-primary btn-lg col-md-12" value="Login" onclick="return checklogin();">
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </li>
                            <!--accet modal done by satya-->
                            <div id="accept_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="checkaccept(1);"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body" style="overflow:auto;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <button class="btn facebook-bg" onClick="checkaccept(2);"> Accept <?php if (!empty($this->session->get('quesid'))) { ?>Challenge <?php } else { ?>Invitation <?php } ?></button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn  googleplus-bg" onClick="checkaccept(1);"> Cancel <?php if (!empty($this->session->get('quesid'))) { ?>Challenge <?php } else { ?>Invitation <?php } ?></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <!--end here -->
                            <li>
                                <a  title="Sign Up" data-toggle="modal" onClick="showsignup();">SIGNUP</a>
                                <div id="signup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-signin">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <div>
                                                    <h4 class="modal-title" id="myModalLabel">Select Course</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="course-list" <?= (isset($signup_error)) ? 'style="display:none;"' : 'style="display:block;"' ?>>
                                                        <?php
                                                        foreach ($supcat as $value) {
                                                            $scname = "'" . $value->scname . "'";
                                                            $slug = "'" . $value->slug . "'";
                                                            echo "<div class='clearfix' style='display:block;' onClick=getsup($value->scid,$scname,$slug)><img src='" . BASEURL . "images/" . $value->slug . ".png' width='75px' class='pull-left'/><p class='pull-left para'>" . $value->scname . "</p><i class='fa fa-chevron-right pull-right icon'></i></div><hr/>";
                                                        }
                                                        ?>
                                                    </div>
                                                    <input type="hidden" id='scid' value="">
                                                    <div class="course-list2" id="cous_id">

                                                    </div>
                                                    <div class="course-form" <?= (isset($signup_error)) ? 'style="display:block;"' : '' ?> >
                                                        <div class="">
                                                            <button class="btn facebook-bg" onClick="signupfacebook();"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                                                            <button class="btn googleplus-bg" onClick="signupgmail();"><i class="fa fa-google-plus"></i> Signup with Google+</button>
                                                        </div>
                                                        <form class="form-horizontal form-bordered " action="<?= BASEURL ?>index/signup" method="post" id="signupform" onSubmit="return validatesignup();">
                                                            <div class="text-center">
                                                                <hr>
                                                                <h5>Or Simply Signup</h5>
                                                                <hr>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="hidden" id='sucid' name="sup_cat" value="">
                                                                <input type="hidden" id='course' name="course" value="">
                                                                <input type="hidden" id='create_user' name="create_user" value="">
                                                                <input type="hidden" id='quesid' name="quesid" value="">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="first_name" class="form-control input-lg" placeholder="First Name">
                                                                    </div>
                                                                    <label for="first_name" class="error"></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="last_name" class="form-control input-lg" placeholder="Last Name">
                                                                    </div>
                                                                </div>
                                                                <div class="text-danger"><?= (isset($check_email)) ? $check_email : '' ?></div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-at"></i>
                                                                        </span>
                                                                        <input type="email" name="mail_id" class="form-control input-lg"  placeholder="Email">
                                                                    </div>
                                                                      <label for="mail_id" class="error"></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-lock"></i>
                                                                        </span>
                                                                        <input type="password" name="pass" class="form-control input-lg" placeholder="Password">
                                                                    </div>
                                                                    <label for="pass" class="error"></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Sign Up">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </li>
                            <li class="active">
                                <a href="<?= BASEURL ?>index/blog" >BLOG</a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#signin">QUIZ</a>
                            </li>                               
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
<body>
<div class="body">
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Blog</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
            </section>

            <div class="container">

                <div class="row">
                    <div class="col-md-9">
                    <div class="blog-posts">
                        <?php if (empty($bloglist->items['0'])) {
                                echo "No blog found...";
                            } else {
                                foreach ($bloglist->items as $v) { ?>
                            <article class="post post-medium">
                                <div class="row">

                                    <div class="col-md-5">
                                        <div class="post-image">
                                            <img class="img-responsive img-rounded" src="<?=BASEURL?>files/<?php if($v['image']!=''){echo $v['image'];}else{ echo "NotAvailable.png";} ?>" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-7">

                                        <div class="post-content">
                                             <?php
                                            $arr = array('1' => "Innovation", '2' => "Exams", '3' => "Motivation");
                                            $author = MasterAdminUsers::findFirst(array("aid='" . $v['user_id'] . "'"));
                                            ?>
                                            <h2><a href="<?= BASEURL ?>index/blogdetails/<?= $v['slug']; ?>/"><?php echo $v['title']; ?></a></h2>
                                            <p><?php echo $v['subtitle']; ?>[...]</p>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="post-meta">
                                            
                                            <div class="post-meta">
                                                <span><i class="fa fa-calendar"></i><?php echo date("jS F, Y", strtotime($v['add_date'])); ?></span>
                                                <span style="cursor:pointer;"><i class="fa fa-user"></i> By <a  data-toggle="popover" data-placement="top" data-html="true" data-content="<?php echo "<img src='" . BASEURL . "author/" . $author->profile_image . "' style='display:block;height:55px;width:55px;margin:0px auto;border-radius:4px;'><br/><b>Qualification : </b>" . $author->education . " <br/><b>Profession : </b>" . $author->profession . " <br/><b>Currently Working : </b>" . $author->currently_working; ?>">
        <?php echo ucfirst($author->first_name) . " " . ucfirst($author->last_name); ?></a></span>
                                                <span><i class="fa fa-files-o"></i> <a href="<?= BASEURL ?>index/blog/<?= $arr[$v['category']] ?>/"><?php echo $arr[$v['category']]; ?></a></span>
                                                <span><i class="fa fa-tag"></i><?php echo implode(",", json_decode($v['tags'])); ?></span>
                                                <span><i class="fa fa-comments"></i> <a href="#" onClick="commentdata('<?= $v['slug']; ?>');"><?php $com = BlogComment::find(array("id_blog='" . $v['id_blog'] . "'"));
        echo count($com); ?></a></span>
                                                <span><i class="fa fa-heart"></i> <a href="#" onClick="likedata('<?= $v['id_blog']; ?>');"><?php $lik = BlogLike::find(array("id_blog='" . $v['id_blog'] . "'"));
        echo count($lik); ?></a></span>
                                                <a href="<?= BASEURL ?>index/blogdetails/<?= $v['slug']; ?>/" class="btn btn-xs btn-primary pull-right">Read more...</a>
                                        </div>
                                    </div>
                                </div>

                            </article>
                            <?php } ?>
                                <ul class="pagination pagination-md pull-right">
                                    <a href="<?= BASEURL ?>index/blog/">First</a>
                                    <a href="<?= BASEURL ?>index/blog?page=<?= $bloglist->before; ?>">Previous</a>
                                    <a href="<?= BASEURL ?>index/blog?page=<?= $bloglist->next; ?>">Next</a>
                                    <a href="<?= BASEURL ?>index/blog?page=<?= $bloglist->last; ?>">Last</a>

    <?php echo "You are in page ", $bloglist->current, " of ", $bloglist->total_pages; ?>
                                </ul>
<?php } ?>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <aside class="sidebar">

                            <form>
                                <div class="input-group input-group-lg">
                                    <input class="form-control" placeholder="Search..." name="s" id="s" type="text" value="<?php echo $_GET['s']; ?>">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>

                            <hr />

                            <h4>Categories</h4>
                            <ul class="nav nav-list primary push-bottom">
                                <li><a href="<?= BASEURL ?>index/blog/Innovation/">Innovation</a></li>
                                <li><a href="<?= BASEURL ?>index/blog/Exams/">Exams</a></li>
                                <li><a href="<?= BASEURL ?>index/blog/Motivation/">Motivation</a></li>
                            </ul>

                            <div class="tabs blog-tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a></li>
                                    <li><a href="#recentPosts" data-toggle="tab">Recent</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="popularPosts">
                                        <ul class="simple-post-list">
                                                        <?php foreach ($popular as $all) { ?>
                                                <li>
                                                    <div class="post-info">
                                                        <a href="<?= BASEURL ?>index/blogdetails/<?= $all->slug; ?>/"><?php echo $all->title; ?></a>
                                                        <div class="post-meta">
                                                <?php echo date("M d, Y ", strtotime($all->add_date)); ?>
                                                        </div>
                                                    </div>
                                                </li>
                                            <?php } ?>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="recentPosts">
                                        <ul class="simple-post-list">
                                                        <?php foreach ($latest as $all) { ?>
                                                <li>
                                                    <div class="post-info">
                                                        <a href="<?= BASEURL ?>index/blogdetails/<?= $all->slug; ?>/"><?php echo $all->title; ?></a>
                                                        <div class="post-meta">
                                                <?php echo date("M d, Y ", strtotime($all->add_date)); ?>
                                                        </div>
                                                    </div>
                                                </li>
<?php } ?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>

            </div>

        </div>

        <footer id="footer">
            <div class="container">
                <div class="row">
                    <a href="<?= BASEURL ?>index/contact">
                        <div class="footer-ribbon">
                            <span>Get in Touch</span>
                        </div>
                    </a>
                    <div class="col-md-5">
                        <div id="googlemaps" class="google-map small"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> <?php echo $setting->address;?>,<?php echo $setting->city;?>,<?php echo $setting->state;?></p></li>
      <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> <?php echo $setting->phone_no;?></p></li>
      <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="<?php echo $setting->email_id;?>"><?php echo $setting->email_id;?></a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook">
                                    <a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a>
                                </li>
                                <li class="twitter">
                                    <a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a>
                                </li>
                                <li class="googleplus">
                                    <a href="https://plus.google.com/" target="_blank" data-placement="bottom" data-tooltip title="Google+">Google+</a>
                                </li>
                                <li class="linkedin">
                                    <a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a>
                                </li>                            
                                <li class="pinterest">
                                    <a href="https://in.pinterest.com/" target="_blank" data-placement="bottom" data-tooltip title="Pinterest">Pinterest</a>
                                </li> 
                                <li class="skype">
                                    <a href="https://www.skype.com/" target="_blank" data-placement="bottom" data-tooltip title="Skype">Skype</a>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="iSchool4U" class="logo">
                                <img alt="" class="img-responsive" src="<?= BASEURL ?>frontend/img/logo-footer.png">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>© Copyright 2016. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="<?= BASEURL ?>index/faq">FAQ's</a></li>
                                    <li><a href="<?= BASEURL ?>index/termcondition">Terms & Conditions</a></li>
                                    <li><a href="<?= BASEURL ?>index/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<?= UIElementsUsers::frontjs() ?>
<script>

    /*
Map Settings

    Find the Latitude and Longitude of your address:
        - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
        - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

     */

    // Map Markers
    var mapMarkers = [{
            address: "<?php echo $setting->address;?>,<?php echo $setting->city;?>,<?php echo $setting->state;?>",
       html: "<strong>ischool4u</strong><br><?php echo $setting->address;?>,<?php echo $setting->city;?>,<?php echo $setting->state;?>",
            icon: {
                image: "img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            },
            popup: true
        }];

    // Map Initial Location
    var initLatitude = 40.75198;
    var initLongitude = -73.96978;

    // Map Extended Settings
    var mapSettings = {
        controls: {
            draggable: true,
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 16
    };

    var map = $("#googlemaps").gMap(mapSettings),
    mapRef = $("#googlemaps").data('gMap.reference');

    // Create an array of styles.
    var mapColor = "#0088cc";

    var styles = [{
            stylers: [{
                    hue: mapColor
                }]
        }, {
            featureType: "road",
            elementType: "geometry",
            stylers: [{
                    lightness: 0
                }, {
                    visibility: "simplified"
                }]
        }, {
            featureType: "road",
            elementType: "labels",
            stylers: [{
                    visibility: "off"
                }]
        }];

    var styledMap = new google.maps.StyledMapType(styles, {
        name: "Styled Map"
    });

    mapRef.mapTypes.set('map_style', styledMap);
    mapRef.setMapTypeId('map_style');

</script>
<script>
    $(document).ready(function(){
        var create_id="<?= $this->session->get('id_create') ?>";
        var tomail="<?= $this->session->get('tomail') ?>";
        var inviteid="<?= $this->session->get('inviteid') ?>";
        if(create_id!=''){
            $("#accept_modal").modal("show");
        }
    });
<?php if (!empty($login_error)) { ?>
            $(document).ready(function(){
                setTimeout(function(){
                    $("#signin").modal('show');
                    $(".creden-error").css('display', 'block');
                    setTimeout(function(){
                        $(".creden-error").css('display', 'none');
                    },5000);
                }, 1000);
            });
<?php } ?>
<?php if (!empty($signup_error)) { ?>
            $(document).ready(function(){
                setTimeout(function(){
                    $("#signup").modal('show');
                    $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
                }, 1000);
            });
<?php } ?>

        function checkaccept(flg){
            var inviteid="<?= $this->session->get('inviteid') ?>";
            var id_create="<?= $this->session->get('id_create') ?>";
            var quesid="<?= $this->session->get('quesid') ?>";
            if(flg==1){
                $.post("<?= BASEURL ?>index/destroysession/",function(res){
                });
                $("#accept_modal").modal("hide");
            }else{
                if(inviteid!=''){
                    $.post("<?= BASEURL ?>index/checkfriend/"+id_create+"/"+inviteid+"/"+quesid,function(res){
                        alert("You are accepted successsfully");
                        $("#accept_modal").modal("hide");
                    });
                }else{
                    $.post("<?= BASEURL ?>index/destroysession/",function(res){
                        $("#signup").modal('show'); 
                        $("#accept_modal").modal("hide");
                        $("#create_user").val(id_create);
                        $("#quesid").val(quesid);
                    });
               
                }
            }
        }
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
    });
    function likedata(id_blog){
        $("#like").val(id_blog);
        $("#signin").modal("show");
    }
    function commentdata(slug){
        $("#cmnt").val(slug);
        $("#signin").modal("show");
    }
</script>
<style>
	.blog-tabs ul.nav-tabs li a {
    color: #0088cc !important;
	border-top:2px solid transparent;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
	color: #666 !important;
}
</style>
