<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val['id'] == $subval) {
            $cours['subject'][$j] = array('id' => $val['id'], 'slug' => $val['slug'], 'name' => $val['name']);
            $j++;
        }
    }
}
$cours['sup_cat'] = $user_session['sup_cat'];
$course = MasterCourse::findfirst("id='" . $user_session['course'] . "'");
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>

<script type="text/javascript">
    
    function getsup(id){
        $("#sup_cate").val(id);
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>index/course',
            data: {id:id},
            success: function(data){
                if(data){
                    $("#sup_cat").css("display","none");
                    $("#course").html(data);
                    $("#course").css("display","block");
                    $("#crox").css("display","block");
                    $("#submits").css("visibility","hidden");
                }
            }
        });
    }
    function back_supcat(){
        $("#crox").css("display","none");
        $("#sup_cat").css("display","block");
        $("#course").css("display","none");
        $("#submits").css("visibility","hidden");
    }
    function select_course(id){
        $("#change_course_id").val(id);
        $("#submits").css("visibility","visible");
    }
    function submitform(){
        document.getElementById("course_change").submit();
    }
</script>
<section class="body">
    <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
        <?= UIElementsUsers::getfrontSidebar($cours, $this->session->get("fixpack"), $this->session->get("fullsylabus")) ?>
        <section role="main" class="content-body">

            <?= UIElementsUsers::getBreadcrumds('', '', $this->session->get("course_name")); ?>
            <?php $this->flashSession->output(); ?>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <span class="day"><?php echo date("d M,Y", strtotime($bloglist->add_date)); ?></span>
                            </div>
                            <h2 class="panel-title"><a href="#"><?= $bloglist->title; ?></a></h2>
                            <?php
                            $arr = array('1' => "Innovation", '2' => "Exams", '3' => "Motivation");
                            $author = MasterAdminUsers::findFirst(array("aid='" . $bloglist->user_id . "'"));
                            ?>
                            <div class="post-meta">
                                <span><i class="fa fa-user"></i> By <a  data-toggle="popover" data-placement="top" data-html="true" data-content="<?php echo "<img src='" . BASEURL . "author/" . $author->profile_image . "' style='display:block;height:55px;width:55px;margin:0px auto;border-radius:4px;'><br/><b>Qualification : </b>" . $author->education . " <br/><b>Profession : </b>" . $author->profession . " <br/><b>Currently Working : </b>" . $author->currently_working; ?>"><?php echo ucfirst($author->first_name) . " " . ucfirst($author->last_name); ?></a> </span>
                                <span><i class="fa fa-files-o"></i> <a href="<?= BASEURL ?>index/blog/<?= $arr[$bloglist->category] ?>/"><?php echo $arr[$bloglist->category]; ?></a></span>
                                <span><i class="fa fa-tag"></i><?php echo implode(",", json_decode($bloglist->tags)); ?></span>
                                <span><i class="fa fa-comments"></i> <a href="#" ><?php $com = BlogComment::find(array("id_blog='".$bloglist->id_blog."'")); echo count($com);?></a></span>
                                <span><i class="fa fa-heart"></i> <a href="#" onclick="likedata('<?= $bloglist->id_blog; ?>');"><?php $lik = BlogLike::find(array("id_blog='" . $bloglist->id_blog . "'"));
                                        echo count($lik); ?></a></span>
                            </div>
                        </header>
                        <div class="panel-body">
                            <?= $bloglist->blog; ?>
                        </div>
                        <hr/>
                        <div class="panel-body">
                            <form method="post" action="<?= BASEURL ?>index/comment/<?= $bloglist->slug; ?>/">
                                <input type="hidden" name="id_blog" value="<?php echo $bloglist->id_blog; ?>">
                                <textarea class="form-control" required id="comment" name="comment" rows="4" placeholder="Post Your comment Here..."></textarea>
                                <button type="submit" class="btn btn-info pull-right" style="border-radius: 0px; margin-top: 5px; margin-bottom: 5px;">Post <i class="glyphicon glyphicon-step-forward"></i></button>
                            </form>
                            <hr/>
                            <?php
                            $comment = BlogComment::find(array("id_blog='" . $bloglist->id_blog . "'"));
                            foreach ($comment as $cmn) {
                                $user = MasterUsers::findFirst(array("uid='" . $cmn->user_id . "'"));
                                ?>
                                <div style="padding:5px; overflow: auto; border: 1px solid #ccc; margin-bottom: 5px; box-shadow: 0 0 5px 0 #DADADA;">
                                    <!-- comment content and image -->
                                    <div>
                                        <img src="<?php echo BASEURL . "images/usericon.png"; ?>" style="background: rgba(107,107,107,1.00); margin: 5px;" width="50" class="img-responsive pull-left">
                                        <p style="margin:5px 0 0 55px; padding: 5px; color: #666; font-size: 12px;"> <a class="text-danger pull-left" style="text-decoration: none; text-align: right; color: #C71818; font-weight: bold;"><?php echo $user->first_name . " " . $user->last_name; ?></a> <br/> <?php echo $cmn->comment; ?></p>
    <?php ?>                                                                                          
                                        <li style="padding-top: 5px; padding-right: 5px; cursor: pointer; float:right;list-style: none;" >
                                            <a href="#" title="Reply to this">
                                                <span class="addreplybtn" id="<?php echo $cmn->id_comment; ?>" onclick="replytocmnt('<?php echo $cmn->id_comment; ?>');">
                                                    <i class="fa fa-comments-o"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </div>
                                </div>
                                <?php
                                $commentrep = BlogCommentReply::find(array("comment_id='" . $cmn->id_comment . "'"));
                                foreach ($commentrep as $rep) {
                                    $userrep = MasterUsers::findFirst(array("uid='" . $rep->user_id . "'"));
                                    ?>
                                    <div style="padding-left:5px; border: 1px solid #ccc; margin:0 0 5px 9%; box-shadow: 0 0 5px 0 #DADADA;">
                                        <div>
                                            <img src="<?php echo BASEURL . "images/usericon.png"; ?>" style="background: rgba(107,107,107,1.00); margin: 5px;" width="50" class="img-responsive pull-left">
                                            <p style="margin:5px 0 0 55px; padding: 5px; color: #666; font-size: 12px;"> <a class="text-danger pull-left" style="text-decoration: none; text-align: right; color: #C71818; font-weight: bold;"><?php echo $userrep->first_name . " " . $userrep->last_name; ?></a> <br/> <?php echo $rep->reply; ?></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <?php
                                }
                                ?>
                                <!-- //comment content and image  -->
                                <!-- Bottom Links  -->
                                <div class="clearfix"></div>
<?php } ?>
                            <div class="clearfix"></div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    var replyflag=false;
    function replytocmnt(id){
        var cmnt_id=id;
        var htmlCode = 	'<form class="formComment" method="post" action="<?= BASEURL ?>index/replycomment/<?= $bloglist->slug; ?>/"><input type="hidden" value="'+cmnt_id+'" name="comment_id">'+
            '<textarea class="form-control" name="reply" placeholder="post your reply.." required id="reply_data" style="resize: vertical;border: 1px solid #909090; padding: 10px; color: #909090; outline: none; border-radius: 0px;">'+
            '</textarea>'+
            '<button type="submit" class="btn btn-info pull-right" style="border-radius: 0px; margin-top: 5px; margin-bottom: 5px;">'+
            'Reply <i class="glyphicon glyphicon-step-forward"></i>'+
            '</button>'+
            '<a onclick="removeComment()" class="btn btn-danger pull-right" style="border-radius: 0px; margin-top: 5px; margin-bottom: 5px;">'+
            'Cancle <i class="glyphicon glyphicon-eject"></i>'+
            '</a>'+
            '</form>'; 
        if(replyflag==false)
            $("#"+id).closest("div").append(htmlCode);
        replyflag=true;
    }
    function removeComment(){
        $('.formComment').remove();
        $commentFlag = false;
        replyflag=false;
    }
    
</script>