<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val['id'] == $subval) {
            $cours['subject'][$j] = array('id' => $val['id'], 'slug' => $val['slug'], 'name' => $val['name']);
            $j++;
        }
    }
}
$cours['sup_cat'] = $user_session['sup_cat'];
$course = MasterCourse::findfirst("id='".$user_session['course']."'");
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>

<script type="text/javascript">
    
    function getsup(id){
        $("#sup_cate").val(id);
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>index/course',
          data: {id:id},
          success: function(data){
            if(data){
                $("#sup_cat").css("display","none");
                $("#course").html(data);
                $("#course").css("display","block");
                $("#crox").css("display","block");
                $("#submits").css("visibility","hidden");
            }
          }
        });
    }
    function back_supcat(){
        $("#crox").css("display","none");
        $("#sup_cat").css("display","block");
        $("#course").css("display","none");
        $("#submits").css("visibility","hidden");
    }
    function select_course(id){
        $("#change_course_id").val(id);
        $("#submits").css("visibility","visible");
    }
    function submitform(){
        document.getElementById("course_change").submit();
    }
</script>
<section class="body">
        <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
            <?= UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body">
        
<?= UIElementsUsers::getBreadcrumds('','',$this->session->get("course_name")); ?>
                    <?php $this->flashSession->output(); ?>
            <div class="row dashboard-con">
                 <div class="col-xl-6 col-md-12 col-lg-4 pull-right">
                    <?php 
                $icon = array('fa-flask','fa-joomla','fa-superscript','fa-bug');
                 $threshold = SiteSetting::findfirst("id_setting=1"); 
                foreach ($sub as $subres) {
                    if($subject[$subres]['id']==1):
                    ?>
                    <section class="panel panel-featured-left panel-featured-gray">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa <?=$icon[0]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                           $totalsec=0; 
                                           $totasstopic=array();
                                            $totalchtoic = MasterSubTopics::find("subid=1"); 
                                            $c = MasterAssessment::find("subject='1'");
                                            if($c->count()!=0){
                                            foreach($c as $val){
                                                $tt[]= $val->id;
                                            }
                                            $tt = json_encode($tt);
                                            $tt = str_replace("[", "", $tt);$tt = str_replace("]", "", $tt);
                                            
                                            $tkc = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$tt})");
                                            foreach($tkc as $tkk){
                                                $percen=number_format((float)$tkk->nora/$tkk->noq,2, '.', '')*100;
                                                if($percen>$threshold->threshold_value){
                                                    $assessmentid=MasterAssessment::findfirst("id='".$tkk->assess_id."'");
                                                    $sucstop=json_decode($assessmentid->subtopics);
                                                    foreach ($sucstop as $nval) {
                                                        array_push($totasstopic,$nval);
                                                    }
                                                    //$cnt++;
                                                }
                                            } 
                                            }
                                            $totasstopicuniq=array_unique($totasstopic);
                                            $uniatopiccomp=number_format((float)count($totasstopicuniq)/$totalchtoic->count(),2, '.', '')*100;
                                            $sql = "SELECT SUM(totaltime) as totime from PracticeTimeSpent WHERE id_subject=1 AND id_user='{$user_session['id']}' GROUP BY id_subject";
                                            $rescm=$this->modelsManager->executeQuery($sql);
                                            if(isset($rescm[0])){
                                            $totalsec=round($rescm[0]->totime/60);
                                           }
                                        ?>
                                       <h4 class="title"><small><i class="fa fa-history"></i> Practice Time <?=$totalsec?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                                       <div class="summary-footer-content text-primary"><b><?=$uniatopiccomp?>%</b> Completed</div>
                                        <div class="circular-bar circular-bar-xs mt-xs mr-md pull-right">
                                                <div class="circular-bar-chart" data-percent="<?=$uniatopiccomp?>" data-plugin-options='{ "barColor": "#0088cc", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#dedede" }'>
                                                    <strong>Average</strong>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php elseif($subject[$subres]['id']==2):?>
                    <section class="panel panel-featured-left panel-featured-gray">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        <i class="fa <?=$icon[1]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $p = MasterAssessment::find("subject='2'");
                                             $totalsec1=0;
                                             $tsucphtopic=array();
                                            $totalphtoic = MasterSubTopics::find("subid=2"); 
                                            if($p->count()!=0){
                                                foreach($p as $pval){
                                                    $tts[]= $pval->id;
                                                }
                                                
                                                $tts = json_encode($tts);
                                                
                                                $tts = str_replace("[", "", $tts);
                                                $tts = str_replace("]", "", $tts);
                                                
                                                $tkp = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$tts})");
                                                foreach($tkp as $tkk){
                                                $percen=number_format((float)$tkk->nora/$tkk->noq,2, '.', '')*100;
                                                if($percen>$threshold->threshold_value){
                                                    $assessmentid=MasterAssessment::findfirst("id='".$tkk->assess_id."'");
                                                    $sucphstop=json_decode($assessmentid->subtopics);
                                                    foreach ($sucphstop as $pval) {
                                                        array_push($tsucphtopic,$pval);
                                                    }
                                                }
                                            }
                                             }
                                               $tphstopicuniq=array_unique($tsucphtopic);
                                               $uniphycomp=number_format((float)count($tphstopicuniq)/$totalphtoic->count(),2, '.', '')*100;
                                                $sql1 = "SELECT SUM(totaltime) as totime from PracticeTimeSpent WHERE id_subject=2 AND id_user='{$user_session['id']}' GROUP BY id_subject";
                                                 $rescm1=$this->modelsManager->executeQuery($sql1);
                                            if(isset($rescm1[0])){
                                                $totalsec1=round($rescm1[0]->totime/60);
                                            }
                                        ?>
                                        <h4 class="title"><small><i class="fa fa-history"></i> Practice Time <?=$totalsec1?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                         <div class="summary-footer-content text-danger"><b><?=$uniphycomp?>%</b> Completed</div>
                                    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
                                                <div class="circular-bar-chart" data-percent="<?=$uniphycomp?>" data-plugin-options='{ "barColor": "#d2322d", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#dedede" }'>
                                                    <strong>Average</strong>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php elseif($subject[$subres]['id']==3):?>
                    <section class="panel panel-featured-left panel-featured-gray">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-tertiary">
                                        <i class="fa <?=$icon[2]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $m = MasterAssessment::find("subject='3'");
                                            $totalsec2=0;
                                            $tsucphtopic=array();
                                            $totalmatoic = MasterSubTopics::find("subid=3"); 
                                            if($m->count()!=0){
                                                foreach($m as $mval){
                                                    $ttm[]= $mval->id;
                                                }
                                                $ttm = json_encode($ttm);
                                                $ttm = str_replace("[", "", $ttm);
                                                $ttm = str_replace("]", "", $ttm);
                                                // echo $tt;
                                                $tkm = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$ttm})");
                                                foreach($tkm as $tkk){
                                                $percen=number_format((float)$tkk->nora/$tkk->noq,2, '.', '')*100;
                                                if($percen>$threshold->threshold_value){
                                                    $assessmentid=MasterAssessment::findfirst("id='".$tkk->assess_id."'");
                                                    $sucmastop=json_decode($assessmentid->subtopics);
                                                    foreach ($sucmastop as $mval) {
                                                        array_push($tsucphtopic,$mval);
                                                    }
                                                }
                                                }
                                                }
                                                 $tmstopicuniq=array_unique($tsucphtopic);
                                               $unimacomp=number_format((float)count($tmstopicuniq)/$totalmatoic->count(),2, '.', '')*100;
                                                $sql2 = "SELECT SUM(totaltime) as totime from PracticeTimeSpent WHERE id_subject=3 AND id_user='{$user_session['id']}' GROUP BY id_subject";
                                                 $rescm2=$this->modelsManager->executeQuery($sql2);
                                                 if(isset($rescm2[0])){
                                                $totalsec2=round($rescm2[0]->totime/60);
                                            }
                                                
                                        ?>
                                         <h4 class="title"><small><i class="fa fa-history"></i> Practice Time <?=$totalsec2?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                        <div class="summary-footer-content text-tertiary"><b><?=$unimacomp?>%</b> Completed</div>
                                    <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
                                                <div class="circular-bar-chart" data-percent="<?=$unimacomp?>" data-plugin-options='{ "barColor": "#2baab1", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#dedede" }'>
                                                    <strong>Average</strong>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php elseif($subject[$subres]['id']==4):?>
                    <section class="panel panel-featured-left panel-featured-quartenary">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quartenary">
                                        <i class="fa <?=$icon[3]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $b = MasterAssessment::find("subject='4'");
                                            $tsucphtopic=array();
                                            $totalbitoic = MasterSubTopics::find("subid=4");
                                            $totalsec3 = 0;
                                            if($b->count()!=0){
                                                foreach($b as $bval){
                                                    $ttb[]= $bval->id;
                                                }
                                                $ttb = json_encode($ttb);
                                                $ttb = str_replace("[", "", $ttb);
                                                $ttb = str_replace("]", "", $ttb);
                                                // echo $tt;
                                                $tkb = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$ttb})");
                                                foreach($tkb as $tkk){
                                                $percen=number_format((float)$tkk->nora/$tkk->noq,2, '.', '')*100;
                                                if($percen>$threshold->threshold_value){
                                                     $assessmentid=MasterAssessment::findfirst("id='".$tkk->assess_id."'");
                                                    $sucbistop=json_decode($assessmentid->subtopics);
                                                    foreach ($sucbistop as $bval) {
                                                        array_push($tsucphtopic,$bval);
                                                    }
                                                }
                                               }
                                            }
                                            $tbstopicuniq=array_unique($tsucphtopic);
                                            $unibicomp=number_format((float)count($tbstopicuniq)/$totalbitoic->count(),2, '.', '')*100;
                                            $sql3 = "SELECT SUM(totaltime) as totime from PracticeTimeSpent WHERE id_subject=4 AND id_user='{$user_session['id']}' GROUP BY id_subject";
                                                 $rescm23=$this->modelsManager->executeQuery($sql3);
                                                 if(isset($rescm3[0])){
                                                $totalsec3=round($rescm3[0]->totime/60);
                                            }
                                        ?>
                                         <h4 class="title"><small><i class="fa fa-history"></i> Practice Time <?=$totalsec3?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                        <div class="summary-footer-content text-tertiary"><b><?=unibicomp?>%</b> Completed</div>
                                         <div class="circular-bar circular-bar-xs m-none mt-xs mr-md pull-right">
                                                <div class="circular-bar-chart" data-percent="<?=unibicomp?>" data-plugin-options='{ "barColor": "#4caf50", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#dedede" }'>
                                                    <strong>Average</strong>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php endif; ?>
                    <?php
                }
                ?>
                <section class="panel panel-featured-left panel-featured-gray hidden-xs hidden-sm">
                        <a href="tel: +91-999999999" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount">Call Us</strong>
                                        </div>

                                        <h4 class="title"><small>+91-999999999</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>   
                    
                <section class="panel panel-featured-left panel-featured-gray hidden-xs hidden-sm">
                        <a href="#" title="Invite your friend" data-toggle="modal" data-target="#invitefrienddata" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-hand-o-right"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info" style="line-height: normal;padding-top: 25px;">
                                            <strong class="amount">Invite Friend</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>                                          
                    
                    <?php if($userdetails->mail_verified==0 && $userdetails->mail_code!=''){?>
                     <section class="panel panel-horizontal">
                        <header class="panel-heading bg-white">
                            <div class="panel-heading-icon bg-primary mt-sm">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                        </header>
                        <div class="panel-body p-lg">
                            <a  href="<?=BASEURL."index/sendingverifymail"?>" title="Verify Your Email"><h4 class="text-semibold mt-sm">Verify Email</h4></a>
                        </div>
                    </section>
                    <?php } ?>
                    <!--          modal start here          -->
                    <div id="invitefrienddata" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-signin">
                            <div class="modal-content">
                                <form class="form-horizontal form-bordered" action="<?= BASEURL ?>socialisation/invitefriend" method="post">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Choose Friend Type</h4>
                                    </div>
                                    <div class="modal-body" style="overflow:auto;">
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                <label class="btn btn-primary">
                                                    <div class="radio-custom radio-primary">
                                                        <input type="radio" id="radioExample1" name="friend_type" value="1" required>
                                                        <label for="radioExample1"><small>Facebook Friend</small></label>
                                                    </div>                                                    
                                                </label>
                                            </div>  
                                            <div class="col-md-4">                                                
                                                <label class="btn bg-secondary">
                                                    <div class="radio-custom radio-danger">
                                                        <input type="radio" id="radioExample2" name="friend_type" value="2" required>
                                                        <label for="radioExample2"><small>Gmail Friend</small></label>
                                                    </div>                                                    
                                                </label>
                                            </div>  
                                            <div class="col-md-4">
                                                <label class="btn bg-tertiary">
                                                    <div class="radio-custom radio-success">
                                                        <input type="radio" id="radioExample3" name="friend_type" value="3" required>
                                                        <label for="radioExample3"><small>Ischool Friend</small></label>
                                                    </div>                                            
                                                </label>
                                            </div>  
                                        </div>'
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn btn-success text-center" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <!--          modal end here          -->
                    <section class="panel suggested-toppers hidden-xs hidden-sm" style="margin-top:35px;">
                        <header class="panel-heading">
                            <h2 class="panel-title">Suggested Topprs to Follow</h2>
                        </header>
                        <div class="panel-body">
                            <ul class="simple-post-list">
                                <?php foreach($follow as $fval): ?>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <?php if($fval['img']!=''): ?>
                                                <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php else: ?>
                                                    <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                        <a href="#"><b><?=$fval['name']?></b></a>
                                        <div class="post-meta">
                                            <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                        </div>                                                      
                                    </div>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </section>
                </div>                
                <div class="col-md-12 col-lg-8 col-xl-6 pull-left"> 
                    <section class="panel recent-activities">                                      
                        <div class="dashboard-top">
                        	<span><i class="fa fa-bank"></i></span>
                            <h3>Recent Activities</h3>
                            <p>Know your each and every activity in our TimeLine View.</p>
                        </div>

                        <div class="panel-body dashboard-panel-body">
                            
                            <div class="content">
                                <ul class="simple-user-list">
                                
                                    <?php  if(!empty($data)){ foreach($data as $val){?>
                                    <li class="clearfix">
                                        <?php
                                            if(!empty($val['img'])){ ?>
                                                <img src="<?=BASEURL?>propic/<?=$val['img']?>" class="user-img img-circle pull-left circle-img-marg" >
                                        <?php }else{ ?>
                                            <img src="<?=BASEURL?>assets/images/!logged-user.jpg" class="user-img img-circle pull-left circle-img-marg" >
                                        <?php
                                            }
                                        ?>
                                        <div class="title pull-left recent-activity-contents">
                                            <?=html_entity_decode($val['message'])." ."?>
                                        </div>
                                        <span class="message truncate pull-right"><?=$val['add_date']?></span>
                                    </li>
                                    <?php }}else{ echo "<div class=''>No Recent Activity</div>";} ?>
                                </ul>
                            </div>
                        </div>                              
                    </section>
                <section class="panel panel-featured-left panel-featured-gray hidden-md hidden-lg">
                        <a href="tel: +91-999999999" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount">Call Us</strong>
                                        </div>

                                        <h4 class="title"><small>+91-999999999</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>   
                    
                <section class="panel panel-featured-left panel-featured-gray hidden-md hidden-lg">
                        <a href="#" title="Invite your friend" data-toggle="modal" data-target="#invitefrienddata" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-hand-o-right"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info" style="line-height: normal;padding-top: 25px;">
                                            <strong class="amount">Invite Friend</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section> 
                    <section class="panel suggested-toppers hidden-md hidden-lg">
                        <header class="panel-heading">
                            <h2 class="panel-title">Suggested Topprs to Follow</h2>
                        </header>
                        <div class="panel-body">
                            <ul class="simple-post-list">
                                <?php foreach($follow as $fval): ?>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <?php if($fval['img']!=''): ?>
                                                <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php else: ?>
                                                    <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                        <a href="#"><b><?=$fval['name']?></b></a>
                                        <div class="post-meta">
                                            <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                        </div>                                                      
                                    </div>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </section>
                                        
                </div>
            </div>
        </section><!--Right-Side-Section-->
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<style>
@media only screen and (min-width: 1200px){
    .widget-summary {
        width: 100%;
    }
}
/*@media only screen and (max-width: 1365px){
.page-header {
    margin: -40px -40px 4px -40px !important;
}
.dashboard-con {
    margin-top: 20px;
}
}*/
/*@media only screen and (max-width: 767px){
.page-header {
    margin: 0 -15px 6px !important;
}
}*/

</style>