<?php
$client_id = "301667846490-4j3d37dcdj5a120vg8nonvsfk25nhkah.apps.googleusercontent.com";
$client_secret = "6aQzLzJXjNeDCuo9pzXBy4Lp";
$redirecturi = BASEURL . "socialisation/gmaillogin";
$fb_client = "1141358925893848";
$redirecturifb = BASEURL . "socialisation/facebooklogin";
?>
<?= UIElementsUsers::frontcss() ?>
<script type="text/javascript">
    function showsignup(){
            $("#signup").modal("show");
            $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
            $(".course-list").css("display","block");
            $(".course-form").css("display","none");
            $(".course-list2").css("display","none");
        }
        function getsup(id,name,slug){
            $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left select-course-icon" onClick=backsup()></i><h4 class="text-center select-course-next"><img src="<?php echo BASEURL; ?>images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
            $(".course-list").css("display","none");
            $(".course-form").css("display","none");
            $.post("<?= BASEURL ?>socialisation/getcoursesign/"+id,function(res){
                $("#cous_id").html(res);
            });
            $(".course-list2").css("display","block");
            $("#scid").val(id);
        }
        function getcurs(id){
            var scid = $("#scid").val();
            $("#sucid").val(scid);
            $("#course").val(id);
            $(".course-list").css("display","none");
            $(".course-form").css("display","block");
            $(".course-list2").css("display","none");
        }
        function backsup(){
            $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
            $(".course-list").css("display","block");
            $(".course-form").css("display","none");
            $(".course-list2").css("display","none");
        }
        function validateEmail(id) {
            var email = $('#'+id).val();
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            if(re.test(email)==false){
                $('#'+id).addClass('border-red');
                $('.email-alert').css('display', 'block');
                $(".all-alert").attr("style","display:none;");
            }else{
                $('#'+id).removeClass('border-red');
                $('.email-alert').css('display', 'none');
                $(".all-alert").attr("style","display:none;");
            }
        }
        function signupgmail(){
            var jsondata=[];
            var item = {}
            item ["supcat"]= $("#sucid").val();
            item ["course"]=  $("#course").val();
            item ["create_user"]=  $("#create_user").val();
            item ["quesid"]=  $("#quesid").val();
            var jsondata=encodeURI(JSON.stringify(item));
            window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto&state="+jsondata;
        }
        function loginwithgmail(){
            window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto";
        }
        function loginwithfb(){
            window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true";
        }
        function signupfacebook(){
            var jsondata=[];
            var item = {}
            item ["supcat"]= $("#sucid").val();
            item ["course"]=  $("#course").val();
            item ["create_user"]=  $("#create_user").val();
            item ["quesid"]=  $("#quesid").val();
            var jsondata=encodeURI(JSON.stringify(item));
            window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true&state="+jsondata;
        }
</script>
 <div class="body">
        <header id="header">
            <div class="container">
                <div class="logo">
                    <a href="<?= BASEURL ?>index">
                        <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="<?= BASEURL ?>frontend/img/logo.png">
                    </a>
                </div>
                <div class="search">
                </div>
                <ul class="social-icons">
                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                </ul>
                <nav>
                    <ul class="nav nav-pills nav-top">
                        <li>
                            <a href="<?= BASEURL ?>index/about"><i class="fa fa-angle-right"></i>About Us</a>
                        </li>
                        <li>
                            <a href="<?= BASEURL ?>index/contact"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                        <li class="phone">
                            <span><i class="fa fa-phone"></i><?php echo $setting->phone_no;?></span>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">                     
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li >
                                <a href="<?= BASEURL ?>index">HOME</a>
                            </li>
                            <li>
                                <a href="<?= BASEURL ?>index#courses">COURSES</a>
                            </li>
                            <li>
                                <a href="<?= BASEURL ?>index#features">FEATURES</a>
                            </li>
                            <!--<li>
                                <a href="#">TOPPERS</a>
                            </li>-->
                            <li>
                                <a href="#" title="Sign In" data-toggle="modal" data-target="#signin">SIGNIN</a>
                                <div id="signin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-signin">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Login</h4>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button class="btn  facebook-bg" onClick="loginwithfb();"><i class="fa fa-facebook"></i> Login with Facebook</button>
                                                        <button onclick="loginwithgmail();" class="btn  googleplus-bg"><i class="fa fa-google-plus"></i> Login with Google+</a>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <hr>
                                                        <h5>Or Simply Login</h5>
                                                        <hr>
                                                        <label class="text-danger creden-error" style="display:none;">Please Enter Valid Email and Password</label>
                                                        <label class="text-danger email-alert" style="display:none;">Please Enter Valid Email ID</label>
                                                        <label class="text-danger all-alert" style="display:none;">Please Enter Email ID & Password</label>
                                                        <form class="form-horizontal form-bordered" action="<?= BASEURL ?>index/login" method="post" id="loginform" onSubmit="return validatelogin();">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-user"></i>
                                                                </span>
                                                                <input type="email" id="email" onBlur="validateEmail('email')" name="email" class="form-control input-lg" placeholder="Type Your Email...">
                                                            </div>
                                                    </div>          
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-lock"></i>
                                                            </span>
                                                            <input type="password" id="pass" name="pass" class="form-control input-lg" placeholder="Type Your Password...">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id='like' name="like" value="">
                                                    <input type="hidden" id='cmnt' name="comment" value="">
                                                    <div class="form-group text-center">
                                                        <input type="button" name="submitlogin" class="btn btn-primary btn-lg col-md-12" value="Login" onclick="return checklogin();">
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </li>
                            <!--accet modal done by satya-->
                            <div id="accept_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="checkaccept(1);"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body" style="overflow:auto;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <button class="btn facebook-bg" onClick="checkaccept(2);"> Accept <?php if (!empty($this->session->get('quesid'))) { ?>Challenge <?php } else { ?>Invitation <?php } ?></button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn  googleplus-bg" onClick="checkaccept(1);"> Cancel <?php if (!empty($this->session->get('quesid'))) { ?>Challenge <?php } else { ?>Invitation <?php } ?></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <!--end here -->
                            <li>
                                <a  title="Sign Up" data-toggle="modal" onClick="showsignup();">SIGNUP</a>
                                <div id="signup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-signin">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <div>
                                                    <h4 class="modal-title" id="myModalLabel">Select Course</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="course-list" <?= (isset($signup_error)) ? 'style="display:none;"' : 'style="display:block;"' ?>>
                                                        <?php
                                                        foreach ($supcat as $value) {
                                                            $scname = "'" . $value->scname . "'";
                                                            $slug = "'" . $value->slug . "'";
                                                            echo "<div class='clearfix' style='display:block;' onClick=getsup($value->scid,$scname,$slug)><img src='" . BASEURL . "images/" . $value->slug . ".png' width='75px' class='pull-left'/><p class='pull-left para'>" . $value->scname . "</p><i class='fa fa-chevron-right pull-right icon'></i></div><hr/>";
                                                        }
                                                        ?>
                                                    </div>
                                                    <input type="hidden" id='scid' value="">
                                                    <div class="course-list2" id="cous_id">

                                                    </div>
                                                    <div class="course-form" <?= (isset($signup_error)) ? 'style="display:block;"' : '' ?> >
                                                        <div class="">
                                                            <button class="btn facebook-bg" onClick="signupfacebook();"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                                                            <button class="btn googleplus-bg" onClick="signupgmail();"><i class="fa fa-google-plus"></i> Signup with Google+</button>
                                                        </div>
                                                        <form class="form-horizontal form-bordered " action="<?= BASEURL ?>index/signup" method="post" id="signupform" onSubmit="return validatesignup();">
                                                            <div class="text-center">
                                                                <hr>
                                                                <h5>Or Simply Signup</h5>
                                                                <hr>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="hidden" id='sucid' name="sup_cat" value="">
                                                                <input type="hidden" id='course' name="course" value="">
                                                                <input type="hidden" id='create_user' name="create_user" value="">
                                                                <input type="hidden" id='quesid' name="quesid" value="">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="first_name" class="form-control input-lg" placeholder="First Name">
                                                                    </div>
                                                                    <label for="first_name" class="error"></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="last_name" class="form-control input-lg" placeholder="Last Name">
                                                                    </div>
                                                                </div>
                                                                <div class="text-danger"><?= (isset($check_email)) ? $check_email : '' ?></div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-at"></i>
                                                                        </span>
                                                                        <input type="email" name="mail_id" class="form-control input-lg"  placeholder="Email">
                                                                    </div>
                                                                      <label for="mail_id" class="error"></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-lock"></i>
                                                                        </span>
                                                                        <input type="password" name="pass" class="form-control input-lg" placeholder="Password">
                                                                    </div>
                                                                    <label for="pass" class="error"></label>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Sign Up">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </li>
                            <li>
                                <a href="<?= BASEURL ?>index/blog" >BLOG</a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#signin">QUIZ</a>
                            </li>                               
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
<body>
    <div class="body">
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li><a href="<?= BASEURL ?>index">Home</a></li>
                                <li class="active">FAQ's</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>FAQ's</h1>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="word-rotator-title">
                            <strong>Features of </strong>Ischool4u
                        </h3>
                        <div class="toogle" data-plugin-toggle>
                            <section class="toggle active">
                                <label>What is Ischool4u?</label>
                                <p>Ischool4u is an online platform for learning, practice and testing that helps students prepare for pre-engineering(JEE-Advance, JEE-main etc), pre-medical(AIPMT, AIIMS etc), School Boards(CBSE etc) and other competitive exams in the best structured way possible.</p>
                            </section>
                            <section class="toggle">
                                <label>What type of exams are covered by Ischool4u?</label>
                                <p>Ischool4u is basically covered various top level pre-engineering, pre-medical exams as well as it prepare student for CBSE board exam.</p>
                            </section>
                            <section class="toggle">
                                <label>What is the best way to use ischool4u?</label>
                                <p>You can learn concepts by using detailed theory given as per requirement. You can practice a lot question on each topic after learning than use assessments and topic wise tests. You can test your potential by our all india test series and compare yourself with top level students.</p>
                            </section>
                            <section class="toggle">
                                <label>What are Goals in topic?</label>
                                <p>Each chapter has been divided into individual units(subtopics) called goals that will be tested during continuous assessment. You have to complete these goals to make continuous progress.</p>
                            </section>
                            <section class="toggle">
                                <label>How can one get benefitted ?</label>
                                <p>Each topic has lot of question for practice, tips, concepts and assessment. Going through all this student can make a topic strong.<br>
                                Most of the questions are available with solutions. You will find a "Ask a doubt" button on each question which you click to ask your doubt. Our subject experts of Kota, will reply to your doubt on the doubt thread which you would also receive via an email.</p>
                            </section>
                            <section class="toggle">
                                <label>Are there solutions to all questions?</label>
                                <p>Most of the questions are present with solution. We have a strong team of experts from Kota, adding new solutions and questions everyday.</p>
                            </section>
                            <section class="toggle">
                                <label>How many questions are at Ischool4u?</label>
                                <p>There are 2,30,000 questions on Ischool4u at the time. More are being added continuously. You can be assured that these questions cover the entire breadth and depth of your syllabus.</p>
                            </section>
                        </div>
                    </div>
                </div>
                            
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="word-rotator-title">
                            <strong>Advantage of </strong>Ischool4u
                        </h3>
                        <div class="toogle" data-plugin-toggle>
                            <section class="toggle active">
                                <label>Why I practice online on Ischool4u even if I plan to give an exam Offline?</label>
                                <p>When you practice on Ischool4u, you are presented with valuable analysis that saves your time, effort and improves your efficiency. Our students are able to know their weak / strong areas using practice series analysis and track their progress objectively. They are far better prepared. This is not possible if they were to study only from books. Also, JEE and other competitive exams are gradually shifting to an online pattern which is why we believe an online package is a must.</p>
                            </section>
                            <section class="toggle">
                                <label>How is Ischool4u is better than other similar products?</label>
                                <p>Ischool4u covers concepts, question practice and quality testing to enhance level of student. Ischool4u has 2,50000+ well organised questions, for continuous practice. It’s unique practice series help student to gradually cover your syllabus. Supplemented with instant reports and detailed feedback, you can start working on your weak areas instantly.</p>
                            </section>
                            <section class="toggle">
                                <label>Is preparation through Ischool4u enough for selecting in an entrance exam ?</label>
                                <p>Yes, if you utilize all the features. Ischool4u is a learning, practice and test platform. Ischool4u provide u complete analysis of your preparation. By using our test series you can compare your score with a large no of students, appearing in test and get the reflection and analysis of your preparation.</p>
                            </section>                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <h3 class="word-rotator-title">
                        <strong>How to use </strong>Ischool4u
                    </h3>
                    <div class="toogle" data-plugin-toggle>
                        <section class="toggle active">
                            <label>How should I use Ischool4u?</label>
                            <p>Ischool4u is a learning, practicing and testing platform that will aid you during your preparation of competitive exams. Ideally, you should give the tests when you get a basic understanding of the relevant concepts. Ischool4u will provide you complete analysis for your performance, which you can use to identify your weak areas and focus on them. You can measure your progress using Ischool4u.</p>
                        </section>
                        <section class="toggle">
                            <label>How should i take goals?</label>
                            <p>Your aim should be complete goals in each chapter. Your will progress on goals as you correct questions in continuous assessment. If you face difficulty in solving a question, you can check out the solution or ask your doubts to our subject experts through the Ask a doubt button on the question.</p>
                        </section>
                        <section class="toggle">
                            <label>Can Ischool4u help me understand theory of chapters?</label>
                            <p>Yes, at Ischool4u We have researched and organised the best videos and learning materials on the web under Study materials in each chapter. You can go through the videos or the relevant web links to understand the concepts better.</p>
                        </section>
                        <section class="toggle">
                            <label>Do I need an Internet connection to use Ischool4u?</label>
                            <p>You will need an internet connection to use Ischool4u. You can use Ischool4u on a computer or on your mobile/ tablet. </p>
                        </section>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <a href="<?=BASEURL?>index/contact">
                        <div class="footer-ribbon">
                            <span>Get in Touch</span>
                        </div>
                    </a>
                    <div class="col-md-5">
                        <div id="googlemaps" class="google-map small"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> <?php echo $setting->address; ?>,<?php echo $setting->city; ?>,<?php echo $setting->state; ?></p></li>
                                <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> <?php echo $setting->phone_no; ?></p></li>
                                <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="<?php echo $setting->email_id; ?>"><?php echo $setting->email_id; ?></a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook">
                                    <a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a>
                                </li>
                                <li class="twitter">
                                    <a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a>
                                </li>
                                <li class="googleplus">
                                    <a href="https://plus.google.com/" target="_blank" data-placement="bottom" data-tooltip title="Google+">Google+</a>
                                </li>
                                <li class="linkedin">
                                    <a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a>
                                </li>
                                <li class="pinterest">
                                    <a href="https://in.pinterest.com/" target="_blank" data-placement="bottom" data-tooltip title="Pinterest">Pinterest</a>
                                </li>
                                <li class="skype">
                                    <a href="https://www.skype.com/" target="_blank" data-placement="bottom" data-tooltip title="Skype">Skype</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="iSchool4U" class="logo">
                                <img alt="" class="img-responsive" src="<?=BASEURL?>frontend/img/logo-footer.png">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>© Copyright 2016. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="<?=BASEURL?>index/faq">FAQ's</a></li>
                                    <li><a href="<?=BASEURL?>index/termcondition">Terms & Conditions</a></li>
                                    <li><a href="<?=BASEURL?>index/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<?= UIElementsUsers::frontjs() ?>
<script>
/*
Map Settings
Find the Latitude and Longitude of your address:
- http://universimmedia.pagesperso-orange.fr/geo/loc.htm
- http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/
*/
// Map Markers
var mapMarkers = [{
address: "<?php echo $setting->address;?>,<?php echo $setting->city;?>,<?php echo $setting->state;?>",
html: "<strong>ischool4u</strong><br><?php echo $setting->address;?>,<?php echo $setting->city;?>,<?php echo $setting->state;?>",
icon: {
image: "img/pin.png",
iconsize: [26, 46],
iconanchor: [12, 46]
},
popup: true
}];
// Map Initial Location
var initLatitude = 40.75198;
var initLongitude = -73.96978;
// Map Extended Settings
var mapSettings = {
controls: {
draggable: true,
panControl: true,
zoomControl: true,
mapTypeControl: true,
scaleControl: true,
streetViewControl: true,
overviewMapControl: true
},
scrollwheel: false,
markers: mapMarkers,
latitude: initLatitude,
longitude: initLongitude,
zoom: 16
};
var map = $("#googlemaps").gMap(mapSettings),
mapRef = $("#googlemaps").data('gMap.reference');
// Create an array of styles.
var mapColor = "#0088cc";
var styles = [{
stylers: [{
hue: mapColor
}]
}, {
featureType: "road",
elementType: "geometry",
stylers: [{
lightness: 0
}, {
visibility: "simplified"
}]
}, {
featureType: "road",
elementType: "labels",
stylers: [{
visibility: "off"
}]
}];
var styledMap = new google.maps.StyledMapType(styles, {
name: "Styled Map"
});
mapRef.mapTypes.set('map_style', styledMap);
mapRef.setMapTypeId('map_style');
</script>
<script>
$(document).ready(function(){
var create_id="<?= $this->session->get('id_create') ?>";
var tomail="<?= $this->session->get('tomail') ?>";
var inviteid="<?= $this->session->get('inviteid') ?>";
if(create_id!=''){
$("#accept_modal").modal("show");
}
});
<?php if (!empty($login_error)) { ?>
$(document).ready(function(){
setTimeout(function(){
$("#signin").modal('show');
$(".creden-error").css('display', 'block');
setTimeout(function(){
$(".creden-error").css('display', 'none');
},5000);
}, 1000);
});
<?php } ?>
<?php if (!empty($signup_error)) { ?>
$(document).ready(function(){
setTimeout(function(){
$("#signup").modal('show');
$(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
}, 1000);
});
<?php } ?>
function checkaccept(flg){
var inviteid="<?= $this->session->get('inviteid') ?>";
var id_create="<?= $this->session->get('id_create') ?>";
var quesid="<?= $this->session->get('quesid') ?>";
if(flg==1){
$.post("<?= BASEURL ?>index/destroysession/",function(res){
});
$("#accept_modal").modal("hide");
}else{
if(inviteid!=''){
$.post("<?= BASEURL ?>index/checkfriend/"+id_create+"/"+inviteid+"/"+quesid,function(res){
alert("You are accepted successsfully");
$("#accept_modal").modal("hide");
});
}else{
$.post("<?= BASEURL ?>index/destroysession/",function(res){
$("#signup").modal('show');
$("#accept_modal").modal("hide");
$("#create_user").val(id_create);
$("#quesid").val(quesid);
});

}
}
}
</script>