<?php
echo $this->getContent();
$client_id = "301667846490-4j3d37dcdj5a120vg8nonvsfk25nhkah.apps.googleusercontent.com";
$client_secret = "6aQzLzJXjNeDCuo9pzXBy4Lp";
$redirecturi = BASEURL . "socialisation/gmaillogin";
$fb_client="1141358925893848";
$redirecturifb = BASEURL . "socialisation/facebooklogin";
?>
<?= UIElementsUsers::frontcss() ?>
<script type="text/javascript">
    function showsignup(){
        $("#signup").modal("show");
        $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
        $(".course-list").css("display","block");
        $(".course-form").css("display","none");
        $(".course-list2").css("display","none");
    }
    function getsup(id,name,slug){
        $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
        $(".course-list").css("display","none");
        $(".course-form").css("display","none");
        $.post("<?= BASEURL ?>socialisation/getcoursesign/"+id,function(res){
                $("#cous_id").html(res);
            });
        $(".course-list2").css("display","block");
        $("#scid").val(id);
    }
    function getcurs(id){
        var scid = $("#scid").val();
        $("#sucid").val(scid);
        $("#course").val(id);
        $(".course-list").css("display","none");
        $(".course-form").css("display","block");
        $(".course-list2").css("display","none");
    }
    function backsup(){
        $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
        $(".course-list").css("display","block");
        $(".course-form").css("display","none");
        $(".course-list2").css("display","none");
    }
    function validateEmail(id) {
        var email = $('#'+id).val();
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        if(re.test(email)==false){
            $('#'+id).addClass('border-red');
            $('.email-alert').css('display', 'block');
        }else{
            $('#'+id).removeClass('border-red');
            $('.email-alert').css('display', 'none');
        }
    }
    function signupgmail(){
       var jsondata=[];
        var item = {}
        item ["supcat"]= $("#sucid").val();
        item ["course"]=  $("#course").val();
        item ["create_user"]=  $("#create_user").val();
        item ["quesid"]=  $("#quesid").val();
        var jsondata=encodeURI(JSON.stringify(item));
        window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto&state="+jsondata;
    }
    function loginwithgmail(){
        window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto";
    }
    function loginwithfb(){
        window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?=$fb_client?>&redirect_uri=<?=$redirecturifb?>/&fbTrue=true";
    }
    function signupfacebook(){
       var jsondata=[];
        var item = {}
        item ["supcat"]= $("#sucid").val();
        item ["course"]=  $("#course").val();
        item ["create_user"]=  $("#create_user").val();
        item ["quesid"]=  $("#quesid").val();
        var jsondata=encodeURI(JSON.stringify(item));
        window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?=$fb_client?>&redirect_uri=<?=$redirecturifb?>/&fbTrue=true&state="+jsondata;
    }
</script>
<div class="body">
    <header id="header" class="single-menu flat-menu">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="frontend/img/logo.png">
                </a>
            </div>
            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">
                <ul class="social-icons">
                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                </ul>
                <nav class="nav-main">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li>
                            <a data-hash href="#home">Home</a>
                        </li>
                        <li>
                            <a data-hash href="#courses">Courses</a>
                        </li>
                        <li>
                            <a data-hash href="#features">Features</a>
                        </li>
                        <li>
                            <a data-hash href="#team">Toppers</a>
                        </li>							
                        <li>
                            <a data-hash href="#contact">Contact Us</a>
                        </li>
                        <li>
                            <a href="#" title="Sign In" data-toggle="modal" data-target="#signin">Signin</a>
                            <div id="signin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Login</h4>
                                        </div>
                                        <div class="modal-body" style="overflow:auto;">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button class="btn  facebook-bg" onClick="loginwithfb();"><i class="fa fa-facebook"></i> Login with Facebook</button>
                                                    <button onclick="loginwithgmail();" class="btn  googleplus-bg"><i class="fa fa-google-plus"></i> Login with Google+</a>
                                                </div>
                                                <div class="form-group text-center">
                                                    <hr>
                                                    <h5>Or Simply Login</h5>
                                                    <hr>
                                                    <label class="text-danger creden-error" style="display:none;">Please Enter Valid Email and Password</label>
                                                    <label class="text-danger email-alert" style="display:none;">Please Enter Valid Email ID</label>
                                                    <form class="form-horizontal form-bordered" action="<?= BASEURL ?>index/login" method="post">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="email" id="email" onblur="validateEmail('email')" name="email" class="form-control input-lg" placeholder="Type Your Email...">
                                                        </div>
                                                </div>			
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                                        <input type="password" id="pass" name="pass" class="form-control input-lg" placeholder="Type Your Password...">
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <input type="submit" name="submit" class="btn btn-primary btn-lg col-md-12" value="Login" >
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </li>

                        <!--                                                                accet modal done by satya-->
                        <div id="accept_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-signin">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="checkaccept(1);"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body" style="overflow:auto;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <button class="btn facebook-bg" onClick="checkaccept(2);"> Accept <?php if(!empty($this->session->get('quesid'))){ ?>Challenge <?php } else{ ?>Invitation <?php } ?></button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn  googleplus-bg" onClick="checkaccept(1);"> Cancel <?php if(!empty($this->session->get('quesid'))){ ?>Challenge <?php } else{ ?>Invitation <?php } ?></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!--                                                                end here -->
                        <li>

                            <a title="Sign Up" data-toggle="modal" onClick="showsignup();">Signup</a>
                            <div id="signup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <div>
                                                    <h4 class="modal-title" id="myModalLabel">Select Course</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="course-list" <?= (isset($signup_error)) ? 'style="display:none;"' : 'style="display:block;"' ?>>
                                                        <?php
                                                        foreach ($supcat as $value) {
                                                            $scname = "'" . $value->scname . "'";
                                                            $slug = "'" . $value->slug . "'";
                                                            echo "<div class='clearfix' style='display:block;' onClick=getsup($value->scid,$scname,$slug)><img src='images/" . $value->slug . ".png' width='75px' class='pull-left'/><p class='pull-left para'>" . $value->scname . "</p><i class='fa fa-chevron-right pull-right icon'></i></div><hr/>";
                                                        }
                                                        ?>
                                                    </div>
                                                    <input type="hidden" id='scid' value="">
                                                    <div class="course-list2" id="cous_id">
                                                        
                                                    </div>
                                                    <div class="course-form" <?= (isset($signup_error)) ? 'style="display:block;"' : '' ?> >
                                                        <div class="">
                                                            <button class="btn facebook-bg" onClick="signupfacebook();"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                                                           <button class="btn googleplus-bg" onClick="signupgmail();"><i class="fa fa-google-plus"></i> Signup with Google+</button>
                                                        </div>
                                                        <form class="form-horizontal form-bordered " action="<?= BASEURL ?>index/signup" method="post">
                                                            <div class="text-center">
                                                                <hr>
                                                                <h5>Or Simply Signup</h5>
                                                                <hr>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="hidden" id='sucid' name="sup_cat" value="">
                                                                <input type="hidden" id='course' name="course" value="">
                                                                <input type="hidden" id='create_user' name="create_user" value="">
                                                                <input type="hidden" id='quesid' name="quesid" value="">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="first_name" class="form-control input-lg" placeholder="First Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="last_name" class="form-control input-lg" placeholder="Last Name">
                                                                    </div>
                                                                </div>
                                                                <div class="text-danger"><?= (isset($check_email)) ? $check_email : '' ?></div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-at"></i>
                                                                        </span>
                                                                        <input type="email" name="mail_id" class="form-control input-lg"  placeholder="Email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-lock"></i>
                                                                        </span>
                                                                        <input type="password" name="pass" class="form-control input-lg" placeholder="Password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Sign Up">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div role="main" class="main" id="home">

        <div class="slider-container slider-container-fullscreen">
            <div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
                <ul>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="frontend/img/slides/slider1.jpg" data-fullwidthcentering="on" alt="">

                        <div class="tp-caption sft stb visible-lg"
                             data-x="417"
                             data-y="100"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="frontend/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption top-label lfl stl"
                             data-x="center" data-hoffset="0"
                             data-y="100"
                             data-speed="300"
                             data-start="500"
                             data-easing="easeOutExpo">DO YOU NEED A NEW</div>

                        <div class="tp-caption sft stb visible-lg"
                             data-x="717"
                             data-y="100"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="frontend/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption main-label sft stb"
                             data-x="center" data-hoffset="0"
                             data-y="130"
                             data-speed="300"
                             data-start="1500"
                             data-easing="easeOutExpo">WEB DESIGN?</div>

                        <div class="tp-caption bottom-label sft stb"
                             data-x="center" data-hoffset="0"
                             data-y="200"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">Check out our options and features.</div>



                    </li>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="frontend/img/slides/slider2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" />

                        <div class="tp-caption top-label lfl stl"
                             data-x="140"
                             data-y="180"
                             data-speed="300"
                             data-start="500"
                             data-easing="easeOutExpo">You just found the</div>

                        <div class="tp-caption main-label sft stb"
                             data-x="135"
                             data-y="210"
                             data-speed="300"
                             data-start="1500"
                             data-easing="easeOutExpo">BEST SOLUTION</div>

                        <div class="tp-caption bottom-label sft stb"
                             data-x="150"
                             data-y="280"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">The #1 Selling HTML Site Template on ThemeForest</div>

                        <a class="tp-caption customin btn btn-lg btn-primary main-button" data-hash href="#home-intro"
                           data-x="260"
                           data-y="335"
                           data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                           data-speed="800"
                           data-start="2500"
                           data-easing="Back.easeInOut"
                           data-endspeed="300">
										Get Started Now!
                        </a>

                        <div class="tp-caption main-label sft stb visible-lg"
                             data-x="345"
                             data-y="415"
                             data-speed="500"
                             data-start="2700"
                             data-easing="easeOutExpo"><a data-hash href="#home-intro"><i class="fa fa-arrow-circle-o-down"></i></a></div>

                    </li>
                    <li data-transition="fade" data-slotamount="10" data-masterspeed="300">
                        <img src="frontend/img/slides/slider3.jpg" data-fullwidthcentering="on" alt="">

                    </li>
                </ul>
            </div>
        </div>
        <section class="highlight top">
            <div class="container">
                <div class="row" id="courses">
                    <div class="col-md-12">
                        <h2 style="color:#fff;">Latest <strong>Courses</strong></h2>

                        <div class="row featured-boxes">
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-primary">
                                    <div class="box-content">
                                        <i class="icon-featured fa fa-user"></i>
                                        <h4>Loved by Customers</h4>
                                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-secundary">
                                    <div class="box-content">
                                        <i class="icon-featured fa fa-book"></i>
                                        <h4>Well Documented</h4>
                                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-tertiary">
                                    <div class="box-content">
                                        <i class="icon-featured fa fa-trophy"></i>
                                        <h4>Winner</h4>
                                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="featured-box featured-box-quartenary">
                                    <div class="box-content">
                                        <i class="icon-featured fa fa-cogs"></i>
                                        <h4>Customizable</h4>
                                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">

            <div class="row center">
                <div class="col-md-12">
                    <h1 class="short word-rotator-title">
								Porto is
                        <strong class="inverted" data-appear-animation="bounceIn">
                            <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                                <span class="word-rotate-items">
                                    <span>incredibly</span>
                                    <span>especially</span>
                                    <span>extremely</span>
                                </span>
                            </span>
                        </strong>
								 beautiful and fully responsive.</h1>
                    <p class="featured lead">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                    </p>
                </div>
            </div>

            <hr class="tall" />
        </div>

        <div class="container">
            <div class="row" id="features">
                <div class="col-md-8">
                    <h2 data-appear-animation="fadeInLeft">Our <strong>Features</strong></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Customer Support</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">HTML5 / CSS3 / JS</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, adip.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">500+ Google Fonts</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-adjust"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Colors</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-film"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Sliders</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Icons</h4>
                                    <p class="tall">Lorem ipsum dolor sit amet, consectetur adip.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-bars"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Buttons</h4>
                                    <p class="tall">Lorem ipsum dolor sit, consectetur adip.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Lightbox</h4>
                                    <p class="tall">Lorem sit amet, consectetur adip.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 data-appear-animation="fadeInRight">and more...</h2>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-usd"></i>
												Pricing Tables
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="panel-body">
											Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <i class="fa fa-comment"></i>
												Contact Forms
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="panel-body">
											Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <i class="fa fa-laptop"></i>
												Portfolio Pages
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="panel-body">
											Donec tellus massa, tristique sit amet condimentum vel, facilisis quis sapien.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(frontend/img/parallax.jpg);">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <i class="fa fa-comments icon-featured" data-appear-animation="bounceIn"></i>
                        <h2 class="short text-shadow big white bold"><strong>We're excited about Porto Template</strong></h2>
                        <h3 class="lead white">5,500 customers in 100 countries use Porto Template. Meet our customers.</h3>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row" id="team">
                <div class="col-md-12">
                    <h2 data-appear-animation="fadeInLeft">Meet the <strong>Toppers</strong></h2>

                    <div class="row">

                        <ul class="team-list">
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <div class="team-item thumbnail">
                                    <a href="#" class="thumb-info team">
                                        <img alt="" height="270" src="frontend/img/team/dp1.jpg">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">John Doe</span>
                                        </span>
                                    </a>
                                    <span class="thumb-info-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                                        <span class="thumb-info-social-icons">
                                            <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                                        </span>
                                    </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <div class="team-item thumbnail">
                                    <a href="#" class="thumb-info team">
                                        <img alt="" height="270" src="frontend/img/team/dp2.jpg">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Jessica Doe</span>
                                        </span>
                                    </a>
                                    <span class="thumb-info-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                                        <span class="thumb-info-social-icons">
                                            <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                                        </span>
                                    </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <div class="team-item thumbnail">
                                    <a href="#" class="thumb-info team">
                                        <img alt="" height="270" src="frontend/img/team/dp1.jpg">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Rick Edward Doe</span>
                                        </span>
                                    </a>
                                    <span class="thumb-info-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                                        <span class="thumb-info-social-icons">
                                            <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                                        </span>
                                    </span>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <div class="team-item thumbnail">
                                    <a href="#" class="thumb-info team">
                                        <img alt="" height="270" src="frontend/img/team/dp2.jpg">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner">Melinda Wolosky</span>
                                        </span>
                                    </a>
                                    <span class="thumb-info-caption">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan.</p>
                                        <span class="thumb-info-social-icons">
                                            <a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                                            <a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                                        </span>
                                    </span>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(frontend/img/parallax-transparent.jpg);">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <i class="fa fa-envelope icon-featured" data-appear-animation="bounceIn"></i>
                        <h2 class="short text-shadow big bold" data-appear-animation="fadeInUp"><strong>Get in Touch With Us</strong></h2>
                    </div>
                </div>
            </div>
        </section>

        <!-- Google Maps -->
        <div id="googlemaps" class="google-map push-top"></div>

        <div class="container">

            <div class="row" id="contact">
                <div class="col-md-6">

                    <div class="alert alert-success hidden" id="contactSuccess">
                        <strong>Success!</strong> Your message has been sent to us.
                    </div>

                    <div class="alert alert-danger hidden" id="contactError">
                        <strong>Error!</strong> There was an error sending your message.
                    </div>

                    <h2 class="short"><strong>Contact</strong> Us</h2>
                    <form id="contactForm" action="php/contact-form.php" method="POST">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <label>Your name *</label>
                                    <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Your email address *</label>
                                    <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Subject</label>
                                    <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label>Message *</label>
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">

                    <h4 class="push-top">Get in <strong>touch</strong></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus.</p>

                    <hr />

                    <h4>The <strong>Office</strong></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</li>
                        <li><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</li>
                        <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                    </ul>

                    <hr />

                    <h4>Business <strong>Hours</strong></h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-time"></i> Monday - Friday 9am to 5pm</li>
                        <li><i class="fa fa-time"></i> Saturday - 9am to 2pm</li>
                        <li><i class="fa fa-time"></i> Sunday - Closed</li>
                    </ul>

                </div>

            </div>

        </div>
    </div>

    <footer class="short" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>About Porto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos...</p>
                    <hr class="light">
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h5 class="short">Contact Us</h5>
                    <span class="phone">(800) 123-4567</span>
                    <p class="short">International: (333) 456-6670</p>
                    <p class="short">Fax: (222) 531-8999</p>
                    <ul class="list icons list-unstyled">
                        <li><i class="fa fa-envelope"></i> <a href="mailto:okler@okler.net">okler@okler.net</a></li>
                    </ul>
                    <div class="social-icons">
                        <ul class="social-icons">
                            <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
                            <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row" id="test">
                    <!--<div class="col-md-1">
								<a href="index.html" class="logo">
                                    <img alt="Porto Website Template" class="frontend/img-responsive" src="frontend/img/logo-footer.png">
								</a>
							</div>-->
                    <div class="col-md-11">
                        <p>© Copyright 2015. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<?= UIElementsUsers::frontjs() ?>
<!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script>
    $(document).ready(function(){
        var create_id="<?= $this->session->get('id_create') ?>";
        var tomail="<?= $this->session->get('tomail') ?>";
        var inviteid="<?= $this->session->get('inviteid') ?>";
        if(create_id!=''){
            $("#accept_modal").modal("show");
        }
    });
   
    /*
        Map Settings

                Find the Latitude and Longitude of your address:
                        - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
                        - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

     */

    // Map Markers
    var mapMarkers = [{
            address: "217 Summit Boulevard, Birmingham, AL 35243",
            html: "<strong>Alabama Office</strong><br>217 Summit Boulevard, Birmingham, AL 35243<br><br><a href='#' onclick='mapCenterAt({latitude: 33.44792, longitude: -86.72963, zoom: 16}, event)'>[+] zoom here</a>",
            icon: {
                image: "frontend/img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            }
        },{
            address: "645 E. Shaw Avenue, Fresno, CA 93710",
            html: "<strong>California Office</strong><br>645 E. Shaw Avenue, Fresno, CA 93710<br><br><a href='#' onclick='mapCenterAt({latitude: 36.80948, longitude: -119.77598, zoom: 16}, event)'>[+] zoom here</a>",
            icon: {
                image: "frontend/img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            }
        },{
            address: "New York, NY 10017",
            html: "<strong>New York Office</strong><br>New York, NY 10017<br><br><a href='#' onclick='mapCenterAt({latitude: 40.75198, longitude: -73.96978, zoom: 16}, event)'>[+] zoom here</a>",
            icon: {
                image: "frontend/img/pin.png",
                iconsize: [26, 46],
                iconanchor: [12, 46]
            }
        }];

    // Map Initial Location
    var initLatitude = 37.09024;
    var initLongitude = -95.71289;

    // Map Extended Settings
    var mapSettings = {
        controls: {
            panControl: true,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            overviewMapControl: true
        },
        scrollwheel: false,
        markers: mapMarkers,
        latitude: initLatitude,
        longitude: initLongitude,
        zoom: 5
    };

    var map = $("#googlemaps").gMap(mapSettings);

    // Map Center At
    var mapCenterAt = function(options, e) {
        e.preventDefault();
        $("#googlemaps").gMap("centerAt", options);
    }
<?php if (!empty($login_error)) { ?>
        $(document).ready(function(){
            setTimeout(function(){
                $("#signin").modal('show');
                $(".creden-error").css('display', 'block');
                setTimeout(function(){
                    $(".creden-error").css('display', 'none');
                },5000);
            }, 1000);
        });
<?php } ?>
<?php if (!empty($signup_error)) { ?>
        $(document).ready(function(){
            setTimeout(function(){
                $("#signup").modal('show');
                $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
            }, 1000);
        });
<?php } ?>

    function checkaccept(flg){
        var inviteid="<?= $this->session->get('inviteid') ?>";
        var id_create="<?= $this->session->get('id_create') ?>";
        var quesid="<?= $this->session->get('quesid') ?>";
        if(flg==1){
            $.post("<?= BASEURL ?>index/destroysession/",function(res){
            });
            $("#accept_modal").modal("hide");
        }else{
            if(inviteid!=''){
                $.post("<?= BASEURL ?>index/checkfriend/"+id_create+"/"+inviteid+"/"+quesid,function(res){
                    alert("You are accepted successsfully");
                    $("#accept_modal").modal("hide");
                });
            }else{
                $.post("<?= BASEURL ?>index/destroysession/",function(res){
                    $("#signup").modal('show'); 
                    $("#accept_modal").modal("hide");
                    $("#create_user").val(id_create);
                    $("#quesid").val(quesid);
                });
               
            }
        }
    }


</script>