<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>


	<!-- HEADER MENU OF THE USER VIEW-->
		<?php echo UIElements::getHeader() ?>        


	<!-- TOP BANNER IN THE INDEX PAGE-->
	<div class="_topbanner">
		<?php echo UIElements::topBanner() ?>        
	</div>


	<!-- CATEGORY MENU -->
	<div class="_lg256">
		<?php echo UIElements::catMenu() ?>        
	</div>



	<!-- middle Content-->
	    <div class="container">
    	<!--  Spotlight section start  -->
    	<div class="col-lg-12">
        	<div class="row">
        		<div class="col-lg-9 col-sm-9 col-xs-12">
                	<div class="row">
                    	<div class="right30 _spotlight">
                        	<h1>Ads in the spotlight</h1>
                            <div class="featureaad hidden-xs">Feature your as here</div>
                            <div class="spotlight_slide">
                            	<ul id="carousel" class="elastislide-list1">
                                    <li>
                                    	<a href="#">
                                        	<img src="<?=BASEDIR?>images/spot1.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                     <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot2.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                     <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot3.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                     <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot4.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                    <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot1.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                     <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot2.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                     <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot3.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                    
                                     <li>
                                    	<a href="#">
                                        	<img src="/beta/images/spot4.jpg" alt="image01" />
                                            <h3>Vivamus pellentesque hobe congue</h3>
                                            <h4>West Ealing, London</h4>
                                            <p>Ad posted 30 mins ago</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                	<div class="row">
                    	<img src="/beta/images/ad1.jpg" alt="">
                    </div>
                </div>
        	</div>
    	</div>
        <!--  Spotlight section end  -->
    </div>
    


    <!--  Latesta Ads section start  -->
    <div class="lightgray1 hidden-xs">
        <div class="container">
        	<div class="col-lg-12">
                <div class="row latest_add">
                    <h1>Latest Ads in</h1>
                    <div class="featureaad hidden-xs"><a href="#">view all</a></div>
                    <select class="forsale">
                    	<option selected="selected">For Sale</option>
                        <option>For Sale</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="col-lg-12">
                <div class="row latest_add">                    
                    <div class="spotlight_slide1">
                        <ul id="carouselL" class="elastislide-list">
                            <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>    
    <!--  Latesta Ads section start  -->
    
    
    <!--  Latesta2 Ads section start  -->
    <div class="lightgray2 hidden-xs">
        <div class="container">
        	<div class="col-lg-12">
                <div class="row latest_add">
                    <h1>Latest Ads in</h1>
                    <div class="featureaad hidden-xs"><a href="#">view all</a></div>
                    <select class="forsale">
                    	<option selected="selected">For Motors</option>
                        <option>For Sale</option>
                    </select>
                    <div class="clearfix"></div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="col-lg-12">
                <div class="row latest_add">                    
                    <div class="spotlight_slide3">
                        <ul id="carouselR" class="elastislide-list">
                            <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon34.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon24.png" alt="image01" />
                                    <h3>Vivamus pellentesque hobe congue</h3>
                                    <h4>West Ealing, London</h4>
                                    <p>Ad posted 30 mins ago</p>
                                    <div class="price-tag">€ 200.00pm</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>    
    <!--  Latesta2 Ads section start  -->
    
    
    <!--  Bottom slider start  -->
    <div class="lightgray3">
    
    	<div class="container">
        	<div class="col-lg-12">
            	<div class="row">
                    <div class="deepgray">
                        <div class="col-lg-5 col-sm-5 col-xs-12 leftTL1">
                            <h2>A used car could cost you 3,500 a year to run.</h2>
                            <p>Use our simple online tool to work out how much you can afford.</p>
                        </div>
                        
                        <div class="col-lg-3 col-sm-3 col-xs-12">
                            <button type="submit" class="btn btn-cost">Calculate your Car cost</button>
                        </div>
                        
                        <div class="col-lg-4 col-sm-4 col-xs-12 img_tlpan">
                            <div>the Money <br> <span>Advice Service</span></span>
                            <img src="/beta/images/car.png" alt="">
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>

    	<div class="clearfix"></div>
    	<hr>
        
        <div class="container">
        	<div class="col-lg-12">
            	<div class="row latest_add scroll_last">
                    <h1>News from Huxur</h1>
                    <div class="featureaad hidden-xs"><a href="#">view all</a></div>
                    <div class="clearfix"></div>
                </div>
            	<div class="row latest_add">                    
                    <div class="spotlight_slide4">
                        <ul id="carouselM" class="elastislide-list">
                            <li>
                                <a href="#">
                                    <img src="/beta/images/icon41.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon42.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon43.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon44.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                            <li>
                                <a href="#">
                                    <img src="/beta/images/icon41.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon42.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon43.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                             <li>
                                <a href="#">
                                    <img src="/beta/images/icon44.png" alt="image01" />
                                    <h2>Vivamus pellentesque scelerisque</h2>
                                    <p>
                                    	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                                    </p>
                                </a>
                                <a href="#" class="morebtn">read more</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>	
            </div>
        </div>
    
    </div>
	    <!--  Bottom slider end  -->


	    
	    

	<!--FOOTER CATEGORY MENU-->
	<div class="lightgray4">
		<?php echo UIElements::bottomMenu() ?>        
	</div>


	<!--FOOTER SOCIAL MENU-->
	<div class="container fot_social">
		<?php echo UIElements::socialMenu() ?>        
	</div>


	<!--FOOTER TAB -->
	<footer>
		<?php echo UIElements::footer() ?>        
	</footer>
	