<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
foreach ($subject as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent(); ?>
<?php 
$cour_ship = MasterCourse::find(array("status=:status: ORDER BY name",'bind' => array("status"=>1)));
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content">
            <?=UIElementsUsers::getBreadcrumds('profile');?>
            <?php $this->flashSession->output(); ?>
            <form method="post" action="<?=BASEURL?>index/profile/update/" enctype="multipart/form-data">
            <div class="profile-main-con">
            	<div class="profile-top">
                	<h4>My Profile</h4>
                    <p>Now check and change your details here.</p>
                </div>
                
                <div class="col-md-12 profile-con">
                	<div class="col-md-6 col-xs-12 pull-right">
                    	<div class="profile-img-con">
                        	<div class="img-con">

                            <?php if ($user->img!='') { ?>
                                    <img src="<?= BASEURL ?>propic/<?= $user->img ?>" alt="image" class="img-circle" />
                                <?php } else { ?>
                                    <img src="<?= BASEURL ?>assets/images/nopic.png" alt="image" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
                                <?php } ?>
                            </div>
                            <div class="fileUpload">
                                <span>Change Photo</span>
                                <input type="file" class="upload" name="pic" value=''/>
                            </div>                            
                        </div>
                    </div>
                	<div class="col-md-6 profile-fields">
                    	<h4>My Details</h4>
                    	<div class="single-content">
                        	<label>First Name</label>
                            <input type="text" name="first_name" value="<?=$user->first_name?>"/>
                        </div><!--single-content-->
                        <div class="single-content">
                            <label>Last Name</label>
                            <input type="text" name="last_name" value="<?=$user->last_name?>"/>
                        </div>
                    	<div class="single-content">
                        	<label>EMAIL ADDRESS</label>
                            <input placeholder="Enter Mail-ID" type="text" name="mail_id" pattern="[^@]+@[^@]+\.[a-zA-Z]{1,}" value="<?=$user->mail_id?>"/>
                        </div><!--single-content-->
                        
                    	<div class="single-content">
                        	<label>PHONE</label>
                            <input type="text" id="contact_no" onblur="checkphone()" placeholder="Enter Contact No"  name="contact_no" value="<?=$user->contact_no?>"/>
                        </div><!--single-content-->
                        <div class="single-content">
                            <label>Password</label>
                            <input type="text" value="<?=base64_decode($user->pass)?>" name="pass"/>
                        </div><!--single-content-->
                        
                    	<div class="single-content">
                        	<label>Course</label>
                             <p class="not-allowed">          
                              <?php 
                                            foreach ($cour_ship as $c_list) {
                                                if($c_list->id==$user->course){
                                                    echo $c_list->name;
                                                }
                                            }
                               ?>
                             </p>
                        </div><!--single-content-->                        
                        <input type="hidden" name="created" value="<?=$user->created?>">
                                <input type="hidden" name="google_id" value="<?=$user->google_id?>">
                                <input type="hidden" name="facebook_id" value="<?=$user->facebook_id?>">
                                 <input type="hidden" name="sup_cat" value="<?=$user->sup_cat?>">
                                <input type="hidden" name="course" value="<?=$user->course?>">
                                <input type="hidden" value="<?='India'?>" name="country">
                    	<div class="single-content">
                        	<label>Super Category</label>
                             <p class="not-allowed">          
                                        <?php 
                                            foreach ($supcat as $supcatres){
                                                if($supcatres->scid==$user->sup_cat){
                                                    echo $supcatres->scname;
                                                }
                                            }
                                        ?>
                             </p>
                        </div><!--single-content-->
                        
                    	<div class="single-content">
                        	<label>City</label>
                            <input type="text" value="<?=$user->city?>" name="city"/>
                        </div><!--single-content-->                        
                        
                    	<div class="single-content">
                        	<label>State</label>
                            <input type="text" value="<?=$user->state?>" name="state"/>
                        </div><!--single-content-->                        
                        
                    	<div class="single-content">
                        	<label>Zip Code</label>
                            <input type="text" value="<?=$user->zip?>"  name="zip"/>
                        </div><!--single-content-->                        
                        
                    	<div class="single-content">
                        	<label>Address</label>
                            <textarea name="address"><?=$user->address?></textarea>
                        </div><!--single-content-->
                        
                    	<div class="single-content">
							<button type="submit">Save Changes</button>
                        </div><!--single-content-->                                                                      
                    </div>                    
                </div><!--profile-con-->
                
            </div>
            </form>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    function edit(){
        $('.profile-form').css("display","block");
        $('.profile-show').css("display","none");
    }
</script>
<style>
	.page-header{
		box-shadow:none;
	}
	body{
		background:#fff;
	}
	.inner-wrapper{
		overflow:initial;
	}
</style>