<?php

$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val['id'] == $subval) {
            $cours['subject'][$j] = array('id' => $val['id'], 'slug' => $val['slug'], 'name' => $val['name']);
            $j++;
        }
    }
}
echo $this->getContent();
?>
    <?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    
        <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
            <?= UIElementsUsers::getfrontSidebar($cours) ?>
        <section role="main" class="content-body front-content">
<?= UIElementsUsers::getBreadcrumds('dashboard'); ?>
                    <?php $this->flashSession->output(); ?>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12"> 
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">                                        
                                <span class="va-middle">Search Result</span>
                            </h2>
                        </header>
                        <div class="panel-body">
                            <div class="content">
                                <ul class="simple-user-list">
                                    <?php 
                                    if(count($arr)>0){
                                        foreach ($arr as $val) {
                                            if($val['name']!=''){ ?>
                                        <li class="clearfix">
<!--                                            <img src="<?= BASEURL ?>assets/images/!logged-user.jpg" height="50px;" class="img-circle pull-left" >-->
                                            <span class="title"><a href="<?=$val['link']?>"><?= substr($val['name'],0,250) . "..." ?></a></span>
                                            <br/><span class="title"><a href="#"><?= substr($val['link'],0,80)."..." ?></a></span>
                                        </li>

                                        <hr class="dotted short"> 
                                    <?php } }
                                    }else{
                                        echo "No result found";
                                    } ?>
                                </ul>
                            </div>
                        </div>                              
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>