<?php
echo $this->getContent();
$client_id = "301667846490-4j3d37dcdj5a120vg8nonvsfk25nhkah.apps.googleusercontent.com";
$client_secret = "6aQzLzJXjNeDCuo9pzXBy4Lp";
$redirecturi = BASEURL . "socialisation/gmaillogin";
$fb_client = "1141358925893848";
$redirecturifb = BASEURL . "socialisation/facebooklogin";
?>
<?= UIElementsUsers::frontcss() ?>
<script type="text/javascript">
    function showsignup(){
        $("#signup").modal("show");
        $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
        $(".course-list").css("display","block");
        $(".course-form").css("display","none");
        $(".course-list2").css("display","none");
    }
    function getsup(id,name,slug){
        $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
        $(".course-list").css("display","none");
        $(".course-form").css("display","none");
        $.post("<?= BASEURL ?>socialisation/getcoursesign/"+id,function(res){
            $("#cous_id").html(res);
        });
        $(".course-list2").css("display","block");
        $("#scid").val(id);
    }
    function getcurs(id){
        var scid = $("#scid").val();
        $("#sucid").val(scid);
        $("#course").val(id);
        $(".course-list").css("display","none");
        $(".course-form").css("display","block");
        $(".course-list2").css("display","none");
    }
    function backsup(){
        $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
        $(".course-list").css("display","block");
        $(".course-form").css("display","none");
        $(".course-list2").css("display","none");
    }
    function validateEmail(id) {
        var email = $('#'+id).val();
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        if(re.test(email)==false){
            $('#'+id).addClass('border-red');
            $('.email-alert').css('display', 'block');
        }else{
            $('#'+id).removeClass('border-red');
            $('.email-alert').css('display', 'none');
        }
    }
    function signupgmail(){
        var jsondata=[];
        var item = {}
        item ["supcat"]= $("#sucid").val();
        item ["course"]=  $("#course").val();
        item ["create_user"]=  $("#create_user").val();
        item ["quesid"]=  $("#quesid").val();
        var jsondata=encodeURI(JSON.stringify(item));
        window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto&state="+jsondata;
    }
    function loginwithgmail(){
        window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto";
    }
    function loginwithfb(){
        window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true";
    }
    function signupfacebook(){
        var jsondata=[];
        var item = {}
        item ["supcat"]= $("#sucid").val();
        item ["course"]=  $("#course").val();
        item ["create_user"]=  $("#create_user").val();
        item ["quesid"]=  $("#quesid").val();
        var jsondata=encodeURI(JSON.stringify(item));
        window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true&state="+jsondata;
    }
</script>
<body>
    <div class="body">
        <header id="header">
            <div class="container">
                <div class="logo">
                    <a href="<?=BASEURL?>index">
                        <img alt="Porto" width="111" height="54" data-sticky-width="82" data-sticky-height="40" src="../frontend/img/logo.png">
                    </a>
                </div>
                <div class="search">
                    
                </div>
                <ul class="social-icons">
                    <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                    <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                </ul>
                <nav>
                    <ul class="nav nav-pills nav-top">
                        <li>
                            <a href="<?=BASEURL?>index/about" >
                                <i class="fa fa-angle-right"></i>About Us
                            </a>
                        </li>
                        <li>
                            <a href="<?=BASEURL?>index/contact"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                        <li class="phone">
                            <span><i class="fa fa-phone"></i><?php echo $setting->phone_no;?></span>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">                     
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li>
                                <a href="<?=BASEURL?>index">HOME</a>
                            </li>
                            <li>
                                <a href="<?=BASEURL?>index#courses">COURSES</a>
                            </li>
                            <li>
                                <a href="<?=BASEURL?>index#features">FEATURES</a>
                            </li>
                            <!--<li>
                                <a href="#">TOPPERS</a>
                            </li>-->
                            <li>
                                <a href="#" title="Sign In" data-toggle="modal" data-target="#signin">SIGNIN</a>
                                <div id="signin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-signin">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Login</h4>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button class="btn  facebook-bg" onClick="loginwithfb();"><i class="fa fa-facebook"></i> Login with Facebook</button>
                                                        <button onclick="loginwithgmail();" class="btn  googleplus-bg"><i class="fa fa-google-plus"></i> Login with Google+</a>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <hr>
                                                        <h5>Or Simply Login</h5>
                                                        <hr>
                                                        <label class="text-danger creden-error" style="display:none;">Please Enter Valid Email and Password</label>
                                                        <label class="text-danger email-alert" style="display:none;">Please Enter Valid Email ID</label>
                                                        <form class="form-horizontal form-bordered" action="<?= BASEURL ?>index/login" method="post" id="loginform">
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-user"></i>
                                                                </span>
                                                                <input type="email" id="email" onBlur="validateEmail('email')" name="email" class="form-control input-lg" placeholder="Type Your Email...">
                                                            </div>
                                                    </div>          
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-lock"></i>
                                                            </span>
                                                            <input type="password" id="pass" name="pass" class="form-control input-lg" placeholder="Type Your Password...">
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <input type="button" name="submitlogin" class="btn btn-primary btn-lg col-md-12" value="Login" onclick="return checklogin();">
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </li>
                            <!--accet modal done by satya-->
                            <div id="accept_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="checkaccept(1);"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body" style="overflow:auto;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <button class="btn facebook-bg" onClick="checkaccept(2);"> Accept <?php if(!empty($this->session->get('quesid'))){ ?>Challenge <?php } else{ ?>Invitation <?php } ?></button>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <button class="btn  googleplus-bg" onClick="checkaccept(1);"> Cancel <?php if(!empty($this->session->get('quesid'))){ ?>Challenge <?php } else{ ?>Invitation <?php } ?></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <!--end here -->
                            <li>
                                <a  title="Sign Up" data-toggle="modal" onClick="showsignup();">SIGNUP</a>
                                <div id="signup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-signin">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <div>
                                                    <h4 class="modal-title" id="myModalLabel">Select Course</h4>
                                                </div>
                                            </div>
                                            <div class="modal-body" style="overflow:auto;">
                                                <div class="col-md-12">
                                                    <div class="course-list" <?= (isset($signup_error)) ? 'style="display:none;"' : 'style="display:block;"' ?>>
                                                        <?php
                                                        foreach ($supcat as $value) {
                                                            $scname = "'" . $value->scname . "'";
                                                            $slug = "'" . $value->slug . "'";
                                                            echo "<div class='clearfix' style='display:block;' onClick=getsup($value->scid,$scname,$slug)><img src='images/" . $value->slug . ".png' width='75px' class='pull-left'/><p class='pull-left para'>" . $value->scname . "</p><i class='fa fa-chevron-right pull-right icon'></i></div><hr/>";
                                                        }
                                                        ?>
                                                    </div>
                                                    <input type="hidden" id='scid' value="">
                                                    <div class="course-list2" id="cous_id">

                                                    </div>
                                                    <div class="course-form" <?= (isset($signup_error)) ? 'style="display:block;"' : '' ?> >
                                                        <div class="">
                                                            <button class="btn facebook-bg" onClick="signupfacebook();"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                                                            <button class="btn googleplus-bg" onClick="signupgmail();"><i class="fa fa-google-plus"></i> Signup with Google+</button>
                                                        </div>
                                                        <form class="form-horizontal form-bordered " action="<?= BASEURL ?>index/signup" method="post">
                                                            <div class="text-center">
                                                                <hr>
                                                                <h5>Or Simply Signup</h5>
                                                                <hr>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="hidden" id='sucid' name="sup_cat" value="">
                                                                <input type="hidden" id='course' name="course" value="">
                                                                <input type="hidden" id='create_user' name="create_user" value="">
                                                                <input type="hidden" id='quesid' name="quesid" value="">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="first_name" class="form-control input-lg" placeholder="First Name">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                        <input type="text" name="last_name" class="form-control input-lg" placeholder="Last Name">
                                                                    </div>
                                                                </div>
                                                                <div class="text-danger"><?= (isset($check_email)) ? $check_email : '' ?></div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-at"></i>
                                                                        </span>
                                                                        <input type="email" name="mail_id" class="form-control input-lg"  placeholder="Email">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <i class="fa fa-lock"></i>
                                                                        </span>
                                                                        <input type="password" name="pass" class="form-control input-lg" placeholder="Password">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Sign Up">
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </li>
                            <li>
                                <a href="<?=BASEURL?>index/blog">BLOG</a>
                            </li>
                            <li>
                                <a data-toggle="modal" data-target="#signin">QUIZ</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li><a href="<?= BASEURL ?>index">Home</a></li>
                                <li class="active">TERMS & CONDITIONS</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h1>TERMS & CONDITIONS</h1>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">

                <h3 class="word-rotator-title">
                    <strong>TERMS & </strong>
                    <span class="word-rotate" data-plugin-options='{"delay": 2000}'>
                        <span class="word-rotate-items">
                            <span>CONDITIONS</span>
                        </span>
                    </span>                    
                </h3>

                <div class="row">
                    <div class="col-md-12">

                        <div class="toogle" data-plugin-toggle>
                            <section class="toggle active">
                                <label>Introduction</label>
                                <p>www.Ischool4u.com is an online portal, owned by Eduberants, a private limited company incorporated in India, for imparting education in relation to preparation of entrance exams for engineering, medical colleges and institutions in India through digital modules.</p>
                            </section>

                            <section class="toggle">
                                <label>Registration </label>
                                <p>The terms and conditions, obligations, representations, warranties and agreements contained herein (“Terms”) govern your participation as a user of www.Ischool4u.com. You will be deemed to have accepted the Terms if you view or use in any manner any content, information, courseware, products and services ("Services") provided or available on www.Ischool4u.com (the "Website"), which is owned and maintained by Eduberants ("Us", "We" or "Our").<br>
You may be asked to register using your Facebook or Google account.
If You are under the age of 18 (Eighteen), it is mandatory that your parent or guardian has read and accepted the Terms on your behalf before using the Website.</p>
                            </section>

                            <section class="toggle">
                                <label>Services offered</label>
                                <p>As a part of our Services offered through our Website, We shall grant you access to our content, courseware, practice tests, and other information, data which may be in audio/video, written, graphic, recorded, photographic or any machine-readable format in relation to the package subscribed by You ("Courseware").<br>
We reserve the right to amend or update the Courseware offered to You. In the event such amendment or updating occurs, We may require you pay an additional amount of fees to access such amended or updated Courseware.</p>
                            </section>

                            <section class="toggle">
                                <label>Grant of License</label>
                                <p>We grant you a personal, restricted, non-transferable, non-exclusive and revocable license to use the Services and the Courseware offered through the Website for a limited time period i.e. 2 (Two) years from the date of purchase or subscription of the relevant package. The Services and the Courseware are provided solely for Your personal and non-commercial use ("Restricted Purpose"). You may not use, download, save or print the Courseware for commercial use without written permission.
The Services are personal to You and You may not assign your rights and obligation under the Terms to any person. You are not permitted to reproduce, distribute, sub-license, disseminate or prepare derivative works of the Courseware, or any part thereof, in any manner or means, without Our prior written consent.</p>
                            </section>

                            <section class="toggle">
                                <label>Ownership of Services & Intellectual Property Rights</label>
                                <p>You are granted a limited and non-exclusive right to use the Website, the Services and the Courseware for the Restricted Purpose as aforesaid. You acknowledge and agree that We are the sole and exclusive owner of the Website, the Services and the Courseware and hence are vested with all intellectual property rights and other proprietary rights in relation thereto, and no right, title or interest of a proprietary or any other nature in the Website, the Services or the Courseware is conveyed or granted other than permitting You to use the Website, the Services and the Courseware for the Restricted Purpose.<br>
We are the owner and/or the licensee of all the trademarks, logos or other intellectual property on the Website.</p>
                            </section>

                            <section class="toggle">
                                <label>Disclaimer</label>
                                <p>Our content is created by experts and goes through strict quality checks. The Website is available to users, including you, on an “as is” basis, without any warranties as to accuracy, fitness for use for a particular purpose, merchantability, freedom from any errors, defects or non-infringement, and the Company does not makes any warranties that the Website shall always be running and free of downtime, or that it shall be error-free, or any representations regarding the availability and performance of its Website or any of the websites to which links may be provided in the Website.<br>
Our site may be temporarily unavailable at any point of time due to maintenance, up-gradation or any other reason.<br>
We reserve the right to modify without prior notice and in Our sole discretion to refuse Service to any person. We reserve the right to accept or reject registrations on Ischool4u.com. We reserve the right to change prices for all our Services, offers or deals.</p>
                            </section>

                            <section class="toggle">
                                <label>Cancellation and Refund Policy</label>
                                <p>All purchases and payments made will be final and non-refundable, except where explicitly it is stated as part of an ongoing marketing promotion. Users can evaluate the Services through the free trial chapters provided on the Website.
No refund will be given if you wish to discontinue the Services before the end of tenure.
All refunds, if eligible, will be processed within 30 (Thirty) business days of receiving cancellation request.</p>
                            </section>

                            <section class="toggle">
                                <label>Privacy Policy</label>
                                <p>We request Facebook  or Google for your public profile, name, email id and list of friends.
We use cookies to store and gather certain data to enable a smoother user experience. Our Privacy Policy explains how such information may be collected and used. Your data on Facebook.com is governed by Facebook's privacy policy.</p>
                            </section>

                            <section class="toggle">
                                <label>Applicable Law and Jurisdiction</label>
                                <p>These Terms are governed by the laws of India and You agree that the courts of Kota (Rajasthan) will have exclusive jurisdiction over any dispute (contractual or non-contractual) concerning these Terms.</p>
                            </section>
                            
                            <section class="toggle">
                                <label>Indemnity</label>
                                <p>You agree to indemnify and hold the Company and (as applicable) its parent, subsidiaries, affiliates, officers, directors, agents, and employees, harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or arising out of your breach of the Terms, your violation of any law, or your violation of the rights of a third party, including the infringement by you of any intellectual property or other right of any person or entity. These obligations will survive any termination of the Terms.</p>
                            </section>
                            
                            <section class="toggle">
                                <label>Limitation of Liability</label>
                                <p>You expressly agree that use of the Website, the Services and the Courseware is at your sole risk. We do not warrant that the Website, the Services or access to the Courseware will be uninterrupted or error free; nor is there any warranty as to the results that may be obtained from the use of the Website, the Services or the Courseware or as to the accuracy or reliability of any information provided through the Website, the Services or the Courseware. We do not guarantee any particular outcome regarding the results of the users during the entrance exams.<br>
In no event will We, or Our affiliates will be liable for any direct, indirect, incidental, special or consequential damages arising out of the use of or inability to use the Website, the Services or the Courseware. You agree that Our liability or the liability of Our affiliates, directors, officers, employees, agents and licensors, if any, arising out of any kind of legal claim (whether in contract, tort or otherwise) in any way connected with the Services or the Courseware shall not exceed the fee You paid to Us for the particular/relevant package.</p>
                            </section>
                            
                            <section class="toggle">
                                <label>Revision of Terms</label>
                                <p>
Information on the Website including the Terms is subject to change at Our discretion at any time, without any prior notice or obligation to notify You.</p>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <a href="<?=BASEURL?>index/contact">
                    <div class="footer-ribbon">
                        <span>Get in Touch</span>
                    </div>
                    </a>
                     <div class="col-md-5">
                        <div id="googlemaps" class="google-map small"></div>
                     </div>
                    <div class="col-md-4">
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <ul class="contact">
                                <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> <?php echo $setting->address; ?>,<?php echo $setting->city; ?>,<?php echo $setting->state; ?></p></li>
                                <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> <?php echo $setting->phone_no; ?></p></li>
                                <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="<?php echo $setting->email_id; ?>"><?php echo $setting->email_id; ?></a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook">
                                    <a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a>
                                </li>
                                <li class="twitter">
                                    <a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a>
                                </li>
                                <li class="googleplus">
                                    <a href="https://plus.google.com/" target="_blank" data-placement="bottom" data-tooltip title="Google+">Google+</a>
                                </li>
                                <li class="linkedin">
                                    <a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a>
                                </li>                            
                                <li class="pinterest">
                                    <a href="https://in.pinterest.com/" target="_blank" data-placement="bottom" data-tooltip title="Pinterest">Pinterest</a>
                                </li> 
                                <li class="skype">
                                    <a href="https://www.skype.com/" target="_blank" data-placement="bottom" data-tooltip title="Skype">Skype</a>
                                </li>                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1">
                            <a href="iSchool4U" class="logo">
                                <img alt="" class="img-responsive" src="<?=BASEURL?>frontend/img/logo-footer.png">
                            </a>
                        </div>
                        <div class="col-md-7">
                            <p>© Copyright 2016. All Rights Reserved.</p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="<?=BASEURL?>index/faq">FAQ's</a></li>
                                    <li><a href="<?=BASEURL?>index/termcondition">Terms & Conditions</a></li>
                                    <li><a href="<?=BASEURL?>index/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<?= UIElementsUsers::frontjs() ?>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script>

            /*
            Map Settings

                Find the Latitude and Longitude of your address:
                    - http://universimmedia.pagesperso-orange.fr/geo/loc.htm
                    - http://www.findlatitudeandlongitude.com/find-address-from-latitude-and-longitude/

            */

            // Map Markers
            var mapMarkers = [{
                    address: "<?php echo $setting->address; ?>,<?php echo $setting->city; ?>,<?php echo $setting->state; ?>",
                  html: "<strong>ischool4u</strong><br><?php echo $setting->address; ?>,<?php echo $setting->city; ?>,<?php echo $setting->state; ?>",
                icon: {
                    image: "img/pin.png",
                    iconsize: [26, 46],
                    iconanchor: [12, 46]
                },
                popup: true
            }];

            // Map Initial Location
            var initLatitude = 40.75198;
            var initLongitude = -73.96978;

            // Map Extended Settings
            var mapSettings = {
                controls: {
                    draggable: true,
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true
                },
                scrollwheel: false,
                markers: mapMarkers,
                latitude: initLatitude,
                longitude: initLongitude,
                zoom: 16
            };

            var map = $("#googlemaps").gMap(mapSettings),
                mapRef = $("#googlemaps").data('gMap.reference');

            // Create an array of styles.
            var mapColor = "#0088cc";

            var styles = [{
                stylers: [{
                    hue: mapColor
                }]
            }, {
                featureType: "road",
                elementType: "geometry",
                stylers: [{
                    lightness: 0
                }, {
                    visibility: "simplified"
                }]
            }, {
                featureType: "road",
                elementType: "labels",
                stylers: [{
                    visibility: "off"
                }]
            }];

            var styledMap = new google.maps.StyledMapType(styles, {
                name: "Styled Map"
            });

            mapRef.mapTypes.set('map_style', styledMap);
            mapRef.setMapTypeId('map_style');

        </script>
<script>
    $(document).ready(function(){
        var create_id="<?= $this->session->get('id_create') ?>";
        var tomail="<?= $this->session->get('tomail') ?>";
        var inviteid="<?= $this->session->get('inviteid') ?>";
        if(create_id!=''){
            $("#accept_modal").modal("show");
        }
    });
    <?php if (!empty($login_error)) { ?>
            $(document).ready(function(){
                setTimeout(function(){
                    $("#signin").modal('show');
                    $(".creden-error").css('display', 'block');
                    setTimeout(function(){
                        $(".creden-error").css('display', 'none');
                    },5000);
                }, 1000);
            });
    <?php } ?>
    <?php if (!empty($signup_error)) { ?>
            $(document).ready(function(){
                setTimeout(function(){
                    $("#signup").modal('show');
                    $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
                }, 1000);
            });
    <?php } ?>

    function checkaccept(flg){
        var inviteid="<?= $this->session->get('inviteid') ?>";
        var id_create="<?= $this->session->get('id_create') ?>";
        var quesid="<?= $this->session->get('quesid') ?>";
        if(flg==1){
            $.post("<?= BASEURL ?>index/destroysession/",function(res){
            });
            $("#accept_modal").modal("hide");
        }else{
            if(inviteid!=''){
                $.post("<?= BASEURL ?>index/checkfriend/"+id_create+"/"+inviteid+"/"+quesid,function(res){
                    alert("You are accepted successsfully");
                    $("#accept_modal").modal("hide");
                });
            }else{
                $.post("<?= BASEURL ?>index/destroysession/",function(res){
                    $("#signup").modal('show'); 
                    $("#accept_modal").modal("hide");
                    $("#create_user").val(id_create);
                    $("#quesid").val(quesid);
                });
               
            }
        }
    }
</script>