<?php

echo $this->getContent();?>


<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
 <script type="text/javascript">
function Slugs() {
var title_nm= document.getElementById("title").value;
$.post("/ischool4u/concepts/slugify/"+title_nm,function(r){//alert("do");
    console.log(r);
    obj = JSON.parse(r);
    var elem = document.getElementById("slug");
     elem.value = obj.value;
     $("#slug_error").html(obj.msg);
        if (obj.status==1) {
            $('.submit').prop('disabled', false);
        }
        else
        {
            $('.submit').prop('disabled', true);
        }
    });
}
         
</script>
<style>
    #btn-article{
        display: none;
    }
</style>
                        
<!-- slug script end here-->
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::news()?>


  				<div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Blog</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>blog/addblog" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                    <div class="form-group">                                         
                                        <div class="col-md-12">
                                            <textarea class="form-control"   placeholder="Text Editor" rows="12" name="tips_name_new"></textarea>
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-description" onclick="setdata('description');">Add Blog</div>
                                          
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Title <span class="required">*</span></label>
                                        <div class="col-md-6">
                                         <input class="form-control" id="title" onkeyup="Slugs()"  placeholder="Enter title" type="text" name="title" value="<?=$this->request->getPost("title")?>" required >
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">SubTitle </label>
                                        <div class="col-md-6">
                                         <input class="form-control"  placeholder="Enter sub title" type="text" name="subtitle" value="<?=$this->request->getPost("title")?>" required >
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Slug</label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?=$this->request->getPost("slug")?>" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Category<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select class="form-control mb-md" name="category" required>
                                          <option value="">--Select category--</option>
                                          <option value="1">Innovation</option>
                                          <option value="2">Exams</option>
                                          <option value="3">Motivation</option>
                                      </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-6">
                                        <input type="text" class="form-control mb-md" name="tags" placeholder="Enter Multiple tags with comma separater....">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Blog<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <textarea class="form-control description" required id="article" required  placeholder="Enter Description" rows="3" name="blog"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" id="status" required class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="2">Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
   var editor = CKEDITOR.replace( 'tips_name_new',
    {  
        
    });
     CKFinder.setupCKEditor(editor, '<?=BASEURL?>assets/ckfinder/' );
    function setdata(){
        var value =CKEDITOR.instances.tips_name_new.getData();
        document.getElementById("article").value = value;
    }
</script>