<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
  <?=UIElementsAdmin::getHeadnav($access_roles)?>
  <div class="inner-wrapper">
    <?=UIElementsAdmin::getSidebar($access_roles)?>
    <section role="main" class="content-body has-toolbar">
      <?=UIElementsAdmin::getBreadcrumds()?>
      <?php $this->flashSession->output() ?>

      <!-- Start Page Here -->
      <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
        <ul>
          <li class="right">
            <ul class="nav nav-pills nav-pills-primary">
              <li class="active">
                <a href="<?=BASEURL?>paraquestion/add">Add Para Questions</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <section class="panel course-body"> <!-- Second Panel -->
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>
          
          <h2 class="panel-title">Para Questions Details</h2>
        </header>
        <div class="panel-body">
          <table class="table table-bordered table-striped mb-none" id="datatable-default-old">
            <thead>
              <tr>
                <th>SL# &nbsp;</th>
                <th>Question</th>
                <th>Question Type</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="table-data">

              <?php 
              $limit=$questions->limit;
              $cur=(int)$questions->current * $limit;
              $start=(int)$cur-(int)$limit;
              $x=(int)$start+1;
              if (isset($questions) && count($questions)>0) {
                foreach ($questions->items as $questionsRes) {//print_r($questionsRes);
                  ?>
                  <tr>
                    <td><?=$x++?></td>
                    <td><?=ucwords($questionsRes['question'])?></td>
                    <td>
                      Paragraph Question
                    </td>
                    <td>
                      <?php 
                      if ($questionsRes['status']==1) {
                        echo "<span class='badge qs-bg-1'>Final</span>";
                      }elseif($questionsRes['status']==2){
                        echo "<span class='badge qs-bg-2'>Complet</span>";
                      }elseif($questionsRes['status']==3){
                        echo "<span class='badge qs-bg-3'>Error</span>";
                      }elseif($questionsRes['status']==4){
                        echo "<span class='badge qs-bg-4'>Without Solution</span>";
                      }elseif($questionsRes['status']==5){
                        echo "<span class='badge qs-bg-5'>Need Update</span>";
                      }elseif($questionsRes['status']==0){
                        echo "<span class='badge qs-bg-0'>Unchecked</span>";
                      }
                      ?>
                    </td>
                    <td>
                      <?php echo $this->tag->linkTo("paraquestion/update/".$questionsRes['qid'], "<i class='fa fa-pencil' title='Update Para question'></i>") ?>
                      <i class="fa fa-times" title='Delete Para question' data-toggle="modal" data-target="#delete<?php echo $questionsRes['qid']?>" style="cursor:pointer;"></i>
                    </td>

                    <!-- Modal Start Here -->
                    <div id="delete<?php echo $questionsRes['qid']?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Question id <?php echo $questionsRes['questionid']; ?></h4>
                          </div>
                          <div class="modal-body">
                            <div class="">
                              Do you want to delete this Question?
                            </div>

                          </div>
                          <div class="modal-footer">
                            <?php echo Phalcon\Tag::linkTo(array("paraquestion/delete/".$questionsRes['qid'], 'Delete', 'class' => 'btn btn-danger'));?>

                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                          </div>

                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div>

                  </tr>
                  <?php  
                }
              }
              ?>
            </tbody>
          </table>
          <div class="pull-right">
           <a href="<?= BASEURL ?>paraquestion/">First</a>
           <a href="<?= BASEURL ?>paraquestion/?page=<?= $questions->before; ?>"><button><</button></a>
           <a href="<?= BASEURL ?>paraquestion/?page=<?= $questions->next; ?>"><button>></button></a>
           <a href="<?= BASEURL ?>paraquestion/?page=<?= $questions->last; ?>">Last</a>
           <?php echo "You are in page ", $questions->current, " of ", $questions->total_pages; ?>
         </div>
       </div><!--panel-body-->
     </section> <!-- Second Panel End -->
     
   </section><!--content -body-->
 </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->