<?php

echo $this->getContent();
#####################################
####### Answer Options Array ########
##################################### 
$ansList = array (
  'A' => 'A',
  'B' => 'B',
  'C' => 'C',
  'D' => 'D',
  'AB' => 'AB',
  'AC' => 'AC',
  'AD' => 'AD',
  'BC' => 'BC',
  'BD' => 'BD',
  'CD' => 'CD',
  'ABC' => 'ABC',
  'ABD' => 'ABD',
  'ACD' => 'ACD',
  'BCD' => 'BCD',
  'ABCD' => 'ABCD',
);
echo UIElementsAdmin::getHeader("updates"); ?> 
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::question()?>
            <script>
              function getsubsubject(){
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubsubject',
                  data: 'subjectid='+subid,
                  success: function(data){
                    if(data){
                      $("#subsubject").html(data);
                      $("#topics").html("<option>[ Select Topics ]</option>");
                      $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function gettopics(){
                var ssubid = $( "#subsubject" ).val();
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/gettopics',
                  data: {subjectid:subid,ssubid:ssubid},
                  success: function(data){
                    if(data){
                      $("#topics").html(data);
                      $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function getsubtopics(){
                var topics = $("#topics").val();
                var ssubid = $("#subsubject").val();
                var subid = $("#subject").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubtopics',
                  data: {subjectid:subid,ssubid:ssubid,topics:topics},
                  success: function(data){
                    if(data){
                      $("#subtopics").html(data);
                      console.log(data);
                    }
                  }
                });
              }
              // function getanswer(){
              //   var q_type = $("#q_type").val();
              //   $.ajax({
              //     type: 'POST',
              //     url: '<?php echo BASEURL;?>questionbank/getanswer',
              //     data: {q_type:q_type},
              //     success: function(data){
              //       if(data){
              //         $("#answer").html(data);
              //         console.log(data);
              //       }
              //     }
              //   });
              // }
            </script>
            <style>
                #btn-question1,#btn-option1,#btn-option2,#btn-option3,#btn-option4,#btn-question2,#btn-option5,#btn-option6,#btn-option7,#btn-option8,#btn-question3,#btn-option9,#btn-option10,#btn-option11,#btn-option12,#btn-question4,#btn-option13,#btn-option14,#btn-option15,#btn-option16,#btn-hint {
                    display: none;
                }
            </style>
        <!-- Start Page Here -->
                <div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Paragraph Question</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>paraquestion/add" method="post">
                                    <div class="form-group">                                         
                                        <div class="col-md-12">
                                          <textarea class="form-control Editor-editor"   placeholder="Text Editor" rows="12" name="ques_name"></textarea>
                                          <div class="clearfix gap"></div>
                                          <?php $k=1; ?>
                                          <?php for($i=1;$i<=4;$i++): ?>
                                          <div class="btn btn-primary" id="btn-question<?=$i?>" onclick="setparaTextArea('question<?=$i?>')">Add Question <?=$i?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <?php endfor; ?>
                                          <div class="btn btn-primary" id="btn-hint" onclick="setparaTextArea('hint')">Hint</div>
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <?php $k=1;for($j=1;$j<=4;$j++): ?>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('question<?=$j?>')">Question <?=$j?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <?php endfor; ?>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('hint')">Hint</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Paragraph</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="para" required  placeholder="Enter Paragraph" rows="3" name="para"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question One</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question1" required  placeholder="Enter Question" rows="3" name="question1"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option One</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option1" required  placeholder="Option One" rows="3" name="option1"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Two</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option2" required placeholder="Option Two" rows="3" name="option2"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Three</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option3" required placeholder="Option Three" rows="3" name="option3"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Four</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option4" required placeholder="Option Four" rows="3" name="option4"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Answer1</label>
                                        <div class="col-md-10">
                                          <select class="form-control mb-md"  name="ans1" >
                                            <option value="">Choose Answer</option>
                                              <?php 
                                              foreach ($ansList as $key => $ansRes) {
                                                echo "<option value='".$key."'>".$ansRes."</option>";
                                              }
                                              ?>
                                          </select>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question two</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question2" required  placeholder="Enter Question" rows="3" name="question2"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option five</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option5" required  placeholder="Option Five" rows="3" name="option5"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option six</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option6" placeholder="Option Six" rows="3" name="option6"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Seven</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option7" placeholder="Option Seven" rows="3" name="option7"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Eight</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option8" placeholder="Option Eight" rows="3" name="option8"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Answer2</label>
                                        <div class="col-md-10">
                                          <select class="form-control mb-md"  name="ans2" >
                                            <option value="">Choose Answer</option>
                                              <?php 
                                              foreach ($ansList as $key => $ansRes) {
                                                echo "<option value='".$key."'>".$ansRes."</option>";
                                              }
                                              ?>
                                          </select>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question Three</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question3"  placeholder="Enter Question" rows="3" name="question3"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Nine</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option9"  placeholder="Option Nine" rows="3" name="option9"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Ten</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option10" placeholder="Option Ten" rows="3" name="option10"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Eleven</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option11" placeholder="Option Eleven" rows="3" name="option11"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Twelve</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option12" placeholder="Option Twelve" rows="3" name="option12"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Answer3</label>
                                        <div class="col-md-10">
                                          <select class="form-control mb-md"  name="ans3" >
                                            <option value="">Choose Answer</option>
                                              <?php 
                                              foreach ($ansList as $key => $ansRes) {
                                                echo "<option value='".$key."'>".$ansRes."</option>";
                                              }
                                              ?>
                                          </select>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question Forth</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question4"  placeholder="Enter Question" rows="3" name="question4"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Thirteen</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option13"  placeholder="Option Nine" rows="3" name="option13"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Forteen</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option14" placeholder="Option Ten" rows="3" name="option14"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Fifteen</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option15" placeholder="Option Eleven" rows="3" name="option15"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Sixteen</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option16" placeholder="Option Twelve" rows="3" name="option16"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Answer4</label>
                                        <div class="col-md-10">
                                          <select class="form-control mb-md"  name="ans4" >
                                            <option value="">Choose Answer</option>
                                              <?php 
                                              foreach ($ansList as $key => $ansRes) {
                                                echo "<option value='".$key."'>".$ansRes."</option>";
                                              }
                                              ?>
                                          </select>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Hints</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control hint"  placeholder="Hints" rows="3" name="hint" id="hint"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Type</label>
                                        <div class="col-md-10">
                                        <select name="q_type" id="q_type" class="form-control" required>
                                          <option value="">--Choose Question Type--</option>
                                          <?php foreach($qtype as $value){ ?>
                                          <option value="<?=$value->qtid?>"><?=$value->qtname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                          <label for="subject">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Pool</label>
                                        <div class="col-md-10">
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="practice" value="1" name="e_type[]">
                                            <label for="practice" >Practice Pool</label>
                                          </div>
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="test" value="2" name="e_type[]">
                                            <label for="test" >Test Pool</label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Source</label>
                                        <div class="col-md-10">
                                        <select name="q_source"  class="form-control">
                                          <option value="">--Choose Question Source--</option>
                                          <?php foreach($qsources as $value){ ?>
                                          <option value="<?=$value->qsid?>"><?=$value->qsname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Level</label>
                                        <div class="col-md-10">
                                        <select name="q_level"  class="form-control">
                                          <option value="">--Choose Question Level--</option>
                                          <option value="1">Easy</option>
                                          <option value="2">Medium</option>
                                          <option value="3">Hard</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-10">
                                        <input class="form-control"  placeholder="Tags" type="text" name="tag">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Keywords</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control"  placeholder="Keywords" rows="3" name="keyword"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status</label>
                                        <div class="col-md-10">
                                          <select name="status"  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1">Final</option>
                                            <option value="2">Complete</option>
                                            <option value="3">Error</option>
                                            <option value="4">Without Solution</option>
                                            <option value="5">Need Update</option>
                                            <option value="0">Unchecked</option>
                                          </select>
                                          <div class="status-info">
                                              <i class="fa fa-circle" style="color:#13FD13;"></i> Final | 
                                              <i class="fa fa-circle" style="color:#1FBBA6;"></i> Complete |
                                              <i class="fa fa-circle" style="color:#FE5454;"></i> Error |
                                              <i class="fa fa-circle" style="color:#67CBF5;"></i> Without Solution |
                                              <i class="fa fa-circle" style="color:#F37934;"></i> Need Update |
                                              <i class="fa fa-circle" style="color:#8E8989;"></i> Unchecked
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Para Question</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Para Question</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->