<?php

echo $this->getContent();
$ansList = array (
  'A' => 'A',
  'B' => 'B',
  'C' => 'C',
  'D' => 'D',
  'AB' => 'AB',
  'AC' => 'AC',
  'AD' => 'AD',
  'BC' => 'BC',
  'BD' => 'BD',
  'CD' => 'CD',
  'ABC' => 'ABC',
  'ABD' => 'ABD',
  'ACD' => 'ACD',
  'BCD' => 'BCD',
  'ABCD' => 'ABCD',
);
?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::question()?>
            <script>
              function getsubsubject(){
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubsubject',
                  data: 'subjectid='+subid,
                  success: function(data){
                    if(data){
                      $("#subsubject").html(data);
                      $("#topics").html("<option value=''>[ Select Topics ]</option>");
                      $("#subtopics").html("<option value=''>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function gettopics(){
                var ssubid = $( "#subsubject" ).val();
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/gettopics',
                  data: {subjectid:subid,ssubid:ssubid},
                  success: function(data){
                    if(data){
                      $("#topics").html(data);
                      $("#subtopics").html("<option value=''>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function getsubtopics(){
                var topics = $("#topics").val();
                var ssubid = $("#subsubject").val();
                var subid = $("#subject").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubtopics',
                  data: {subjectid:subid,ssubid:ssubid,topics:topics},
                  success: function(data){
                    if(data){
                      $("#subtopics").html(data);
                      console.log(data);
                    }
                  }
                });
              }
              function getanswer(){
                var q_type = $("#q_type").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getanswer',
                  data: {q_type:q_type},
                  success: function(data){
                    if(data){ 
                      $("#answer").html(data);
                      console.log(data);
                    }
                  }
                });
              }
            </script>
            <style>
                #btn-question1,#btn-option1,#btn-option2,#btn-option3,#btn-option4,#btn-question2,#btn-option5,#btn-option6,#btn-option7,#btn-option8,#btn-question3,#btn-option9,#btn-option10,#btn-option11,#btn-option12,#btn-question4,#btn-option13,#btn-option14,#btn-option15,#btn-option16,#btn-hint {
                    display: none;
                }
            </style>
        <!-- Start Page Here -->
                <div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Paragraph Question</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>questionbank/updatequestion" method="post">
                                    <div class="form-group">                                         
                                        <div class="col-md-12">
                                        <textarea class="form-control Editor-editor"   placeholder="Text Editor" rows="12" name="ques_name"></textarea>
                                            <div class="clearfix gap"></div>
                                            <?php $k=1; ?>
                                          <?php for($i=1;$i<=4;$i++): ?>
                                          <div class="btn btn-primary" id="btn-question<?=$i?>" onclick="setparaTextArea('question<?=$i?>')">Add Question <?=$i?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <div class="btn btn-primary" id="btn-option<?=$k?>" onclick="setparaTextArea('option<?=$k?>')">Add Option<?=$k++?></div>
                                          <?php endfor; ?>
                                          <div class="btn btn-primary" id="btn-hint" onclick="setparaTextArea('hint')">Hint</div>
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <?php $k=1;for($j=1;$j<=4;$j++): ?>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('question<?=$j?>')">Question <?=$j?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('option<?=$k?>')">Option <?=$k++?></div>
                                          <?php endfor; ?>
                                          <div class="btn btn-sm btn-info" onclick="setparaEditor('hint')">Hint</div>
                                        </div>
                                    </div>
                                    <input type="hidden" value="<?=$question->qid?>" name="qid" />
                                    <input type="hidden" value="<?=$question->created?>" name="created" />
                                    <input type="hidden" value="<?=$question->questionid?>" name="questionid" />
                                    
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Paragraph</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="para" required  placeholder="Enter Paragraph" rows="3" name="para"><?=$question->para?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question One</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question1" id="question1" required  placeholder="Enter Question" rows="3" name="question1"><?=$question->question1?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option One</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option1" required  placeholder="Option One" rows="3" name="option1"  ><?=$question->option1?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Two</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option2" required placeholder="Option Two" rows="3" name="option2"  ><?=$question->option2?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Three</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option3" required placeholder="Option Three" rows="3" name="option3"  ><?=$question->option3?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Four</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option4" required placeholder="Option Four" rows="3" name="option4"  ><?=$question->option4?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Answer</label>
                                        <div class="col-md-10">
                                        <select class="form-control mb-md" id="answer" name="ans1" >
                                            <option value="">[ Select Answer ]</option>
                                            <?php
                                              foreach ($ansList as $key => $ansRes) {
                                                if($key==$question->ans1){
                                                  echo "<option value='".$key."' selected>".$ansRes."</option>";
                                                }else{
                                                  echo "<option value='".$key."'>".$ansRes."</option>";
                                                }
                                              }
                                              ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question two</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question2" id="question2" required  placeholder="Enter Question" rows="3" name="question2"  ><?=$question->question2?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option five</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option5" required  placeholder="Option Five" rows="3" name="option5"  ><?=$question->option5?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option six</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option6" required placeholder="Option Six" rows="3" name="option6"  ><?=$question->option6?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Seven</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option7" required placeholder="Option Seven" rows="3" name="option7"  ><?=$question->option7?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Eight</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option8" required placeholder="Option Eight" rows="3" name="option8"  ><?=$question->option8?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Answer2</label>
                                        <div class="col-md-10">
                                        <select class="form-control mb-md" id="answer" name="ans2" >
                                            <option value="">[ Select Answer ]</option>
                                            <?php
                                              foreach ($ansList as $key => $ansRes) {
                                                if($key==$question->ans2){
                                                  echo "<option value='".$key."' selected>".$ansRes."</option>";
                                                }else{
                                                  echo "<option value='".$key."'>".$ansRes."</option>";
                                                }
                                              }
                                              ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question Three</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question3" id="question3" required  placeholder="Enter Question" rows="3" name="question3"  ><?=$question->question3?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Nine</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option9" required  placeholder="Option Nine" rows="3" name="option9"  ><?=$question->option9?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Ten</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option10" required placeholder="Option Ten" rows="3" name="option10"  ><?=$question->option10?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Eleven</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option11" required placeholder="Option Eleven" rows="3" name="option11"  ><?=$question->option11?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Twelve</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option12" required placeholder="Option Twelve" rows="3" name="option12"><?=$question->option12?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Answer</label>
                                        <div class="col-md-10">
                                        <select class="form-control mb-md" id="answer" name="ans3" >
                                            <option value="">[ Select Answer ]</option>
                                            <?php
                                              foreach ($ansList as $key => $ansRes) {
                                                if($key==$question->ans3){
                                                  echo "<option value='".$key."' selected>".$ansRes."</option>";
                                                }else{
                                                  echo "<option value='".$key."'>".$ansRes."</option>";
                                                }
                                              }
                                              ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question Fourth</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question4" id="question4" required  placeholder="Enter Question" rows="3" name="question3"  ><?=$question->question3?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Nine</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option9" required  placeholder="Option Nine" rows="3" name="option9"  ><?=$question->option9?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Ten</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option10" required placeholder="Option Ten" rows="3" name="option10"  ><?=$question->option10?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Eleven</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option11" required placeholder="Option Eleven" rows="3" name="option11"  ><?=$question->option11?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Twelve</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option12" required placeholder="Option Twelve" rows="3" name="option12"><?=$question->option12?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Answer</label>
                                        <div class="col-md-10">
                                        <select class="form-control mb-md" id="answer" name="ans3" >
                                            <option value="">[ Select Answer ]</option>
                                            <?php
                                              foreach ($ansList as $key => $ansRes) {
                                                if($key==$question->ans3){
                                                  echo "<option value='".$key."' selected>".$ansRes."</option>";
                                                }else{
                                                  echo "<option value='".$key."'>".$ansRes."</option>";
                                                }
                                              }
                                              ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Hints</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control hint" id="hint" placeholder="Hints" rows="3" name="hint"><?=$question->hint?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Type</label>
                                        <div class="col-md-10">
                                        <select name="q_type" id="q_type" class="form-control" onchange="getanswer()">
                                          <option value="">--Choose Question Type--</option>
                                          <?php foreach($qtype as $value){ ?>
                                          <option value="<?=$value->qtid?>" <?=($value->qtid==$mquestion->q_type)?'selected':''?> ><?=$value->qtname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>' <?=($subdetRes->id == $mquestion->subject)?'selected':''?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <?php
                                            // Query Sub Subject 
                                            $subsub = MasterSubSubject::find(array("subid='".$mquestion->subject."'"));
                                        ?>
                                        <div class="col-md-3">
                                            <label class="control-label">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                                <?php if (isset($subsub) ) {
                                                  foreach ($subsub as $subsubRes) { ?>
                                                    <option value='<?=$subsubRes->ssid?>' <?=($subsubRes->ssid == $mquestion->subsubject)?'selected':''?> ><?=stripslashes(ucwords($subsubRes->ssname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <?php
                                            // Query Topics 
                                            $topics = MasterTopics::find(array("subid='".$mquestion->subject."' AND ssubid='".$mquestion->subsubject."'"));
                                        ?>
                                        <div class="col-md-3">
                                            <label class=" control-label">Topics</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                                <?php if (isset($topics) ) {
                                                  foreach ($topics as $topicsRes) { ?>
                                                    <option value='<?=$topicsRes->tid?>' <?=($topicsRes->tid == $mquestion->topics)?'selected':''?> ><?=stripslashes(ucwords($topicsRes->tname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <?php
                                            // Query Sub Topics 
                                            $subtopics = MasterSubTopics::find(array("subid='".$mquestion->subject."' AND ssubid='".$mquestion->subsubject."' AND tid='".$mquestion->topics."'"));
                                        ?>
                                        <div class="col-md-3">
                                            <label class=" control-label">Sub Topics</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                                <?php if (isset($subtopics) ) {
                                                  foreach ($subtopics as $subtopicsRes) { ?>
                                                    <option value='<?=$subtopicsRes->stid?>' <?=($subtopicsRes->stid == $mquestion->subtopics)?'selected':''?> ><?=stripslashes(ucwords($subtopicsRes->stname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <?php
                                      $e_type = json_decode($mquestion->e_type);
                                    ?>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Pool</label>
                                        <div class="col-md-10">
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="practice" value="1" name="e_type[]"
                                              <?php
                                                foreach ($e_type as $value) {
                                                  if($value == 1){
                                                    echo 'checked';
                                                  }
                                                }
                                              ?>
                                            >
                                            <label for="practice" >Practice Pool</label>
                                          </div>
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="test" value="2" name="e_type[]"
                                            <?php
                                                foreach ($e_type as $value) {
                                                  if($value == 2){
                                                    echo 'checked';
                                                  }
                                                }
                                              ?>
                                            >
                                            <label for="test" >Test Pool</label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Source</label>
                                        <div class="col-md-10">
                                        <select name="q_source"  class="form-control">
                                          <option value="">--Choose Question Source--</option>
                                          <?php foreach($qsources as $value){ ?>
                                          <option value="<?=$value->qsid?>" <?=($value->qsid==$mquestion->q_source)?'selected':''?> ><?=$value->qsname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Level</label>
                                        <div class="col-md-10">
                                        <select name="q_level"  class="form-control">
                                          <option value="">--Choose Question Level--</option>
                                          <option value="1" <?=$mquestion->q_level==1?'selected':''?>>Easy</option>
                                          <option value="2" <?=$mquestion->q_level==2?'selected':''?>>Medium</option>
                                          <option value="3" <?=$mquestion->q_level==3?'selected':''?>>Hard</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-10">
                                        <input class="form-control"  placeholder="Tags" type="text" name="tag" value="<?=$question->tag?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Keywords</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control"  placeholder="Keywords" rows="3" name="keyword"><?=$question->keyword?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status</label>
                                        <div class="col-md-10">
                                          <select name="status"  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1" <?=($question->status==1)?'selected':''?>>Final</option>
                                            <option value="2" <?=($question->status==2)?'selected':''?>>Complete</option>
                                            <option value="3" <?=($question->status==3)?'selected':''?>>Error</option>
                                            <option value="4" <?=($question->status==4)?'selected':''?>>Without Solution</option>
                                            <option value="5" <?=($question->status==5)?'selected':''?>>Need Update</option>
                                            <option value="0" <?=($question->status==0)?'selected':''?>>Unchecked</option>
                                          </select>
                                          <div class="status-info">
                                              <i class="fa fa-circle" style="color:#13FD13;"></i> Final | 
                                              <i class="fa fa-circle" style="color:#1FBBA6;"></i> Complete |
                                              <i class="fa fa-circle" style="color:#FE5454;"></i> Error |
                                              <i class="fa fa-circle" style="color:#67CBF5;"></i> Without Solution |
                                              <i class="fa fa-circle" style="color:#F37934;"></i> Need Update |
                                              <i class="fa fa-circle" style="color:#8E8989;"></i> Unchecked
                                          </div>
                                        </div>
                                    </div>
                                    <?php if($noteid!='' && $drtype!=''){?>
                                      <div class="form-group">
                                         <label class="col-md-2 control-label">Reply </label>
                                        <div class="col-md-10">
                                        <textarea class="form-control" required placeholder="Reply to doubt/error" rows="3" name="replycmt"></textarea>
                                        </div>
                                    <input type="hidden" value="<?=$drtype?>" name="drtype" />
                                    <input type="hidden" value="<?=$noteid?>" name="noteid" />
                                    </div>
                                    <?php } ?>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Question</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Question</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->