<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("dashboard"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
                <!-- Start Page Here -->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2 class="panel-title">Add User</h2>
                                <div class="col-md-3 mandatory">
                                        ( <span class="required">*</span> Marked are Mandatory)
                                </div>
                            </header>
                            <div class="panel-body">
                                <?php echo Phalcon\Tag::linkTo(array('users/index', 'User List', 'class' => 'btn btn-success pull-right'));?>
                            <?php echo Phalcon\Tag::form(array("users/add", "id"=>"adduser","method" => "post","class"=>"form-horizontal form-bordered","onsubmit"=>"return adduser_validate();"));?>
                                    <div class="form-group">
                                    <label class="col-md-3 control-label">First Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="first_name" placeholder="Enter First Name" type="text" name="first_name" value="" data-msg="Please enter your First Name"><span id="first_name1"></span>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="last_name" placeholder="Enter Last Name" type="text" name="last_name" value="" data-msg="Please enter your Last Name" ><span id="last_name1"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email-ID <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Mail-ID" type="email" name="mail_id" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" value="" data-msg="Please enter your Mail-ID">
                                    </div> 
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="********" type="text" name="pass" value="" data-msg="Please enter password" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Contact No <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="contact_no" onblur="checkphone()" placeholder="Enter Contact No" type="text" name="contact_no" value="" maxlength="10" data-msg="Please enter your contact no" ><span id="error"></span>
                                    </div \>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Super Category </label>
                                    <div class="col-md-6">
                                         <select name="sup_cat"  class="form-control" data-msg="Please choose one category">
                                         <option value="">--Choose Super Category</option><?php
                                            foreach ($supcat as $supcatres) {?>
                                                <option value="<?=$supcatres->scid?>"><?=$supcatres->scname?></option>
                                                <?php
                                                }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Course </label> 
                                    <div class="col-md-6">
                                     <?php
                                        $cour_ship = MasterCourse::find(array("status=:status: ORDER BY name",'bind' => array("status"=>1)));
                                        ?>
                                         <select name="course"  class="form-control" data-msg="Please choose your course">
                                         <option value="">--Choose Course</option><?php
                                            foreach ($cour_ship as $c_list) {?>
                                                <option value="<?=$c_list->id?>"><?=$c_list->name?></option>
                                                <?php
                                            }
                                            ?>
                                        </select>
                                        <input type="hidden" name="mem_start" value="<?=isset($uid->mem_start)?$uid->mem_start:""?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Package </label> 
                                    <div class="col-md-6">
                                     <?php 
                                        $pack_ship = MasterPackages::find(array("status=:status: ORDER BY name",'bind' => array("status"=>1)));
                                        ?>
                                         <select name="package"  class="form-control">
                                         <option value="">--Choose Packages</option><?php
                                            foreach ($pack_ship as $p_list) {?>
                                                <option value="<?=$p_list->id?>"><?=$p_list->name?></option>
                                                <?php
                                            }
                                            ?>
                                        </select>
                                        <input type="hidden" name="mem_start" value="<?=isset($uid->mem_start)?$uid->mem_start:""?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Mailing Address" type="text" name="address" value="" data-msg="Please enter address">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">City </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="City" type="text" name="city" value="" data-msg="Please enter city">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">State </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="State" type="text" name="state" value="" data-msg="Please choose state">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">Zip Code </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Zip Code" type="text" name="zip" maxlength="10" value=""><span id="last_name1" data-msg="Please enter pincode"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">Country </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Country" type="text" name="country" value="INDIA" data-msg="Please select country">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Marketing Preferences </label>
                                    <div class="col-md-6">
                                        <select name="marketing_pref"   class="form-control" data-msg="Please choose a option">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if(isset($uid->marketing_pref) and $uid->marketing_pref=='1'){echo "selected='selected'";}?>>Yes</option>
                                          <option value="0" <?php if(isset($uid->marketing_pref) and $uid->marketing_pref=='0'){echo "selected='selected'";}?>>No</option>          
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Mail Verified </label> 
                                    <div class="col-md-6">
                                        <select name="mail_verified"  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if(isset($uid->mail_verified) and $uid->mail_verified=='1'){echo "selected='selected'";}?>>Yes</option>   
                                          <option value="0" <?php if(isset($uid->mail_verified) and $uid->mail_verified=='0'){echo "selected='selected'";}?>>No</option>          
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Status <span class="required">*</span></label> 
                                    <div class="col-md-6">
                                        <select name="is_active"   class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if(isset($uid->is_active) and $uid->is_active=='1'){echo "selected='selected'";}?>>Active</option>   
                                          <option value="0" <?php if(isset($uid->is_active) and $uid->is_active=='0'){echo "selected='selected'";}?>>Inactive</option>          
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6 text-center">
                                        <button class="btn btn-primary">Add User</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("dashboard"); ?>