<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
                
                <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
                    <ul>
                        <li style="padding:9px;">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary">Search As Package</button>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                              <?php foreach($package as $val){ ?>
                                <li><a href="<?php echo BASEURL."users/search/?package=".$val->id;?>"><?php echo $val->name; ?></a></li>
                              <?php } ?>

                              </ul>
                            </div>
                        </li>
                        <li style="padding:9px;">
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary">Search As Course</button>
                              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <ul class="dropdown-menu" role="menu">
                              <?php foreach($course as $val){ ?>
                                <li><a href="<?php echo BASEURL."users/search/?course=".$val->id; ?>"><?php echo $val->name; ?></a></li>
                              <?php } ?>
                              </ul>
                            </div>
                        </li>
                        <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                                <li>
                                    <a href="#" class="" data-toggle="modal" data-target="#filter" >Filter</a>
                                </li>
                                <li class="active">
                                <a href="<?php echo BASEURL;?>users/add">Add User</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> <!-- Toolbar End Here -->
                
                <!-- Filter Modal -->
                <div id="filter" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          <h4 class="modal-title" id="myModalLabel">Filter Users</h4>
                        </div>
                        <div class="modal-body">
                          <div class="">
                          

                          </div> 
                       <?php echo Phalcon\Tag::form(array("users/filter/", "method" => "post"));?>
                          <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">First Name</label>
                                                <input type="text" name="first_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" name="last_name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input type="email" name="mail_id" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Contact</label>
                                                <input type="text" name="contact_no" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>                                                         
                        </div>
                        <div class="modal-footer">
                          
                          <!-- Contextual button for informational alert messages -->
                          <button type="submit" class="btn btn-info">Search</button>
                          <button type="button" class="btn btn-warning" data-dismiss="modal">Reset</button>
                        </div>
                        </form>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- Filter Modal End Here -->

                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>

                <!-- header logo: style can be found in header.less -->
                <?php 
                 $user = MasterUsers::find(array("order" => "uid DESC"));
                $tot_user=count($user);
                ?>
            
                <!-- Start Page -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            
                        </div>
                        <div class="dropdown panel-up-button">
                              <!-- <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Bulk Action
                                <span class="caret"></span>
                              </button> -->
                              <ul class="dropdown-menu "  id="bulk" role="menu" aria-labelledby="dropdownMenu1">
                                <li class="overflowpanel"> </li>

                                <li style="cursor:pointer;" role="presentation"><a role="menuitem" tabindex="-1" onclick="document.site_text_list.todo.value='deleteall'; if(confirm('Are you sure to delete !!')) document.site_text_list.submit();" value="Delete" name="deleteall" id="deleteall" disabled>Delete</a></li>

                                <li style="cursor:pointer;" role="presentation"><a role="menuitem" tabindex="-1" name="activeall" id="publishall" value="Active" onclick="document.site_text_list.todo.value='activeall';document.site_text_list.submit();">Active</a></li>

                                <li style="cursor:pointer;" role="presentation"><a role="menuitem" tabindex="-1" name="inactiveall" id="unpublishall" value="Inactive" onclick="document.site_text_list.todo.value='inactiveall';document.site_text_list.submit();">Inactive</a></li>

                                <li style="cursor:pointer;" role="presentation"><a role="menuitem" tabindex="-1" name="mailto" id="mailto" value="Send Mail" onclick="document.site_text_list.todo.value='mailto';document.site_text_list.submit();">Send Mail</a></li>
                              </ul>
                        </div>
                
                        <h2 class="panel-title">Users(<?=$tot_user?>)</h2>
                    </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>SL# &nbsp;</th>
                                    <th>Name</th>
                                    <th>Email - ID</th>
                                    <th>Contact No.</th>
                                    <th>Course</th>
                                    <th>Package</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php 
                            $x=1; $slno=0;
                            foreach ($user as $key ) {$slno++ ; ?>

                                <tr class="gradeX">
                                    <td><?php echo $x++; ?></td>
                                    <td><?php echo ucwords($key->first_name)." ".ucwords($key->last_name); ?></td>
                                    <td><?php echo $key->mail_id; ?></td>
                                    <td><?php echo $key->contact_no; ?></td>
                                     <td>
                                    <?php 
                                    $course= MasterCourse::findFirst(array("id=:id:" ,'bind' => array("id"=>$key->course)));
                                        if($course){
                                          $coursename=$course->name;
                                            if ($course->status =='1') {
                                                echo "<span class='badge bg-green' >Active</span> ".ucwords($coursename);
                                            }
                                            else{
                                                echo "<span class='badge bg-orange' >Expired</span> ".ucwords($coursename);
                                            }
                                        }
                                        ?>
                                    </td>
                                    <td>
                                    <?php 
                                    $package= MasterPackages::findFirst(array("id=:id:" ,'bind' => array("id"=>$key->package)));
                                        if($package){
                                          $packagename=$package->name;
                                            if ($package->status =='1') {
                                                echo "<span class='badge bg-green' >Active</span> ".ucwords($packagename);
                                            }
                                            else{
                                                echo "<span class='badge bg-orange' >Expired</span> ".ucwords($packagename);
                                            }
                                        }
                                        ?>
                                        <a href="<?=BASEURL?>users/package/<?=$key->uid?>">User Package</a>
                                    </td>
                                    <td>
                                    <?php 
                                        if ($key->is_active==1) {
                                            echo $this->tag->linkTo("users/updstatus/2/".$key->uid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                        }else{
                                            echo $this->tag->linkTo("users/updstatus/1/".$key->uid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                        }
                                    ?>
                                    </td>
                                    <td><?php echo date('m-d-Y',strtotime($key->created)) ; ?></td>
                                    <td>
                                      <div class="col-md-4">
                                        <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal<?php echo $key->uid?>" title="View Details">
                                            <i class="fa  fa-external-link"></i>
                                        </button>
                                      </div>
                                      <div class="col-md-4">
                                        <?php echo $this->tag->linkTo("adminusers/update/".$key->uid, "<button class='btn btn-xs btn-success' title='Update Users'><i class='fa fa-edit' ></i></button>") ?>
                                      </div>
                                      <div class="col-md-4">
                                        <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#delete<?php echo $key->uid?>" title="Delete Users">
                                            <i class="fa  fa-trash-o"></i>
                                        </button>
                                      </div>
                                    </td>
                                    <!-- Delete Modal -->
                                    <div id="delete<?php echo $key->uid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header bg-danger">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                              <h4 class="modal-title" id="myModalLabel"><?php echo $key->first_name." ".$key->last_name; ?></h4>
                                            </div>
                                            <div class="modal-body">
                                              <div class="">
                                                  Do you want to delete this user
                                              </div>                                                          
                                            </div>
                                            <div class="modal-footer">
                                              <?php echo Phalcon\Tag::linkTo(array("users/delete/".$key->uid, 'Delete', 'class' => 'btn btn-danger'));?>
                                              
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>

                                          </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div>

                                    <div id="myModal<?php echo $key->uid?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                    <div class="modal-dialog">
                                      <div class="modal-content">

                                        <div class="modal-header bg-primary">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                          <h4 class="modal-title" id="myModalLabel">Admin User Details</h4>
                                        </div>
                                        <div class="modal-body">
                                          <div class="">
                                              <div class="">
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                                                    <div class="col-sm-9">
                                                        <?php echo ucwords($key->first_name." ".$key->last_name);?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Email </label>
                                                    <div class="col-sm-9">
                                                        <?php echo $key->mail_id; ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Contact No</label>
                                                    <div class="col-sm-9">
                                                        <?php echo $key->contact_no; ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Package</label>
                                                    <div class="col-sm-9">
                                                        <?php (isset($member_ship))?ucwords($member_ship):'';?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Valid Upto</label>
                                                    <div class="col-sm-9">
                                                        <?php echo date('m-d-Y',strtotime($key->mem_end)) ; ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Expire</label>
                                                    <div class="col-sm-9">
                                                        <?php echo ucwords($key->mem_duration."s"); ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Address</label>
                                                    <div class="col-sm-9">
                                                        <?php
                                                    if ($key->address=="") {
                                                         echo "N/A";
                                                     } 
                                                     else
                                                    {
                                                        echo $key->address;
                                                    }
                                                    ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">City</label>
                                                    <div class="col-sm-9">
                                                        <?php
                                                    if ($key->city=="") {
                                                         echo "N/A";
                                                     } 
                                                     else
                                                    {
                                                        echo $key->city;
                                                    }
                                                    ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">State</label>
                                                    <div class="col-sm-9">
                                                        <?php
                                                    if ($key->state=="") {
                                                         echo "N/A";
                                                     } 
                                                     else
                                                    {
                                                        echo $key->state;
                                                    }
                                                    ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Zip Code</label>
                                                    <div class="col-sm-9">
                                                    <?php
                                                    if ($key->zip==0) {
                                                         echo "N/A";
                                                     } 
                                                     else
                                                    {
                                                        echo $key->zip;
                                                    }
                                                    ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Country</label>
                                                    <div class="col-sm-9">
                                                        <?php
                                                    if ($key->country=="") {
                                                         echo "N/A";
                                                     } 
                                                     else
                                                    {
                                                        echo $key->country;
                                                    }
                                                    ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Mail Verified</label>
                                                    <div class="col-sm-9">
                                                        <?php if ($key->mail_verified==1) {
                                                                echo"<span class='badge bg-green'>Vefied</span>";
                                                            }
                                                            else
                                                            {
                                                                echo"<span class='badge bg-red'>Not Verified</span>";   
                                                            }
                                                        ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Status</label>
                                                    <div class="col-sm-9">
                                                       <?php if ($key->is_active==1) {
                                                                echo"<span class='badge bg-green'>Active</span>";
                                                            }
                                                            else
                                                            {
                                                                echo"<span class='badge bg-red'>Inactive</span>";   
                                                            }
                                                        ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Created Date</label>
                                                    <div class="col-sm-9">
                                                        <?php echo date('m-d-Y',strtotime($key->created)) ; ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="form-group">
                                                    <label for="inputEmail3" class="col-sm-3 control-label">Modified Date</label>
                                                    <div class="col-sm-9">
                                                        <?php
                                                            if (!$key->modified) {
                                                                echo "....";
                                                            }else{
                                                             echo date('m-d-Y',strtotime($key->modified)) ; 
                                                            } ?>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                              </div>
                                          </div>
                                          
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  </div>
                                </tr>

                             <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </section>

        <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>