<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>

<script>
$(document).ready(function(){
    $(".close").click(function(){
        var top_level_div = document.getElementById('mail_list');
        var count = top_level_div.getElementsByTagName('div').length;//alert(count);
        if (count==1) {
             $('.close').prop('disabled', true);
             $("#error_msg").show();
        };
    });
});

</script>
    
                <section class="content">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Send Mail</h3>
                                    <div class="pull-right">
                                    <?php echo Phalcon\Tag::linkTo(array('users/index', 'User List', 'class' => 'btn btn-info', 'style'=>'margin:10px 50px 0px 0px; color:#FFF;'));?>

                                    </div>   
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <?php echo Phalcon\Tag::form(array("users/mailto", "method" => "post"));?>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">To:</span>
                                                <div class="mail_lst form-control" id="mail_list">
                                                <?php
                                                foreach($mail_id as $id){
                                                    $conditions = "uid = :uid:";
                                                    $parameters = array("uid" => $id);
                                                    $user = MasterUsers::findFirst(array($conditions,"bind" => $parameters));
                                                    ?>
                                                    <div class='alert alert-info alert-dismissable mail_id' id="mail_i<?=$id?>">
                                                        <button type='button' class='close' id="close" data-dismiss='alert' aria-hidden='true'>
                                                            &times;
                                                        </button>
                                                        <?=ucwords($user->first_name." ".$user->last_name)." [".$user->mail_id."]"?>

                                                        <input name="email_to[]" value="<?=$user->mail_id?>" class="form-control" type="hidden">
                                                    </div>
                                                <?php 
                                                }?>
                                                    
                                                </div>
                                                
                                            </div>
                                            <div id="error_msg" style="color:red; padding-left:20px; display:none;">Atleast one Email-Id is required</div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Subject:</span>
                                                <input name="subject" class="form-control" placeholder="Subject" type="text" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea id="editor1" name="message"  rows="10" cols="80" required>
                                            </textarea>
                                        </div>
                                        
                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Send</button>
                                        <button type="button" onclick="window.location='/beta/users/'" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>

                                        
                                    </div>
                                </form>
                            </div><!-- /.box -->

                        </div><!--after row col-md-12-->
                    </div>
                

                </section><!-- /.content -->
<style>
.mail_id {
margin-left: 15px;
position: relative;
width: auto;
padding: 3px 25px 3px 5px;
float: left;
display: inline-block;
}
.mail_id .close
{
  float: right;  
}
.mail_id {
    margin-right: 6px;
    margin-left: 0;
    margin-bottom: 3px;
    margin-top: 3px;
}
}
</style>
