<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <!-- Start Page Here -->
                
                <div class="row">
                            <div class="col-lg-12">
                                <section class="panel">
                                    <header class="panel-heading">
                                        <div class="panel-actions">
                                            <a href="#" class="fa fa-caret-down"></a>
                                            <a href="#" class="fa fa-times"></a>
                                        </div>
                                        <h2 class="panel-title">Update User</h2>
                                        <div class="col-md-3 mandatory">
                                            ( <span class="required">*</span> Marked are Mandatory)
                                        </div>
                                    </header>
                                    <div class="panel-body">
                                        <?php echo Phalcon\Tag::linkTo(array('users/index', 'User List', 'class' => 'btn btn-success pull-right'));?>
                                        <?php echo Phalcon\Tag::form(array("users/update/".$uid->uid."", "method" => "post"));?>
                                            <div class="form-group">
                                            <label class="col-md-3">First Name <span class="required">*</span></label>
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputEmail1" placeholder="Enter First Name" type="text" name="first_name" value="<?=isset($uid->first_name)?$uid->first_name:""?>" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Last Name <span class="required">*</span></label>
                                           
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Enter Last Name" type="text" name="last_name" value="<?=isset($uid->last_name)?$uid->last_name:""?>" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Email-ID <span class="required">*</span></label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Enter Mail-ID" type="email" name="mail_id" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" value="<?=isset($uid->mail_id)?$uid->mail_id:""?>" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Password <span class="required">*</span></label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="****PASSWORD****" type="text" name="pass" value="<?=isset($uid->pass)?base64_decode($uid->pass):""?>"  required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Contact No <span class="required">*</span></label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Enter Contact No" type="number" name="contact_no" value="<?=isset($uid->contact_no)?$uid->contact_no:""?>"  required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Super Category</label>
                                            <div class="col-md-6">
                                                 <select name="sup_cat" class="form-control">
                                                 <option value="">--Choose Super Category</option><?php
                                                    foreach ($supcat as $supcatres) {?>
                                                        <option value="<?=$supcatres->scid?>" <?=($supcatres->scid==$uid->sup_cat)?'selected':''?> ><?=$supcatres->scname?></option>
                                                        <?php
                                                        }
                                                    ?>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3">Course</label>
                                            <div class="col-md-6">
                                             <?php 
                                                $cour_ship = MasterCourse::find(array("status=:status: ORDER BY name",'bind' => array("status"=>1)));
                                                ?>
                                                 <select name="course" class="form-control"><?php
                                                    foreach ($cour_ship as $c_list) {?>
                                                        <option value="<?=$c_list->id?>"<?php if(isset($uid->course) and $uid->course==$c_list->id){echo "selected='selected'";}?>><?=$c_list->name?></option>
                                                        <?php
                                                    }
                                                    ?>
                                                </select>
                                                <input type="hidden" name="mem_start" value="<?=isset($uid->mem_start)?$uid->mem_start:""?>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Package</label>
                                            
                                            <div class="col-md-6">
                                             <?php 
                                                $pack_ship = MasterPackages::find(array("status=:status: ORDER BY name",'bind' => array("status"=>1)));
                                                ?>
                                                 <select name="package" class="form-control"><?php
                                                    foreach ($pack_ship as $p_list) {?>
                                                        <option value="<?=$p_list->id?>"<?php if(isset($uid->package) and $uid->package==$p_list->id){echo "selected='selected'";}?>><?=$p_list->name?></option>
                                                        <?php
                                                    }
                                                    ?>
                                                </select>
                                                <input type="hidden" name="mem_start" value="<?=isset($uid->mem_start)?$uid->mem_start:""?>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Address</label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Mailing Address" type="text" name="address" value="<?=isset($uid->address)?$uid->address:""?>" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">City</label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="City" type="text" name="city" value="<?=isset($uid->city)?$uid->city:""?>" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">State</label>
                                           
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="State" type="text" name="state" value="<?=isset($uid->state)?$uid->state:""?>" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Zip Code</label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Zip Code" type="text" name="zip" maxlength="10" value="<?=isset($uid->zip)?$uid->zip:""?>" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Country</label>
                                            
                                            <div class="col-md-6">
                                                <input class="form-control" id="exampleInputPassword1" placeholder="Country" type="text" name="country" value="<?=isset($uid->country)?$uid->country:""?>" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Marketing Preferences</label>
                                            
                                            <div class="col-md-6">
                                                <select name="marketing_pref"  class="form-control">
                                                  <option value="">--Choose status--</option>
                                                  <option value="1" <?php if(isset($uid->marketing_pref) and $uid->marketing_pref=='1'){echo "selected='selected'";}?>>Yes</option>   
                                                  <option value="0" <?php if(isset($uid->marketing_pref) and $uid->marketing_pref=='0'){echo "selected='selected'";}?>>No</option>          
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Mail Verified</label> 
                                            
                                            <div class="col-md-6">
                                                <select name="mail_verified"  class="form-control">
                                                  <option value="">--Choose status--</option>
                                                  <option value="1" <?php if(isset($uid->mail_verified) and $uid->mail_verified=='1'){echo "selected='selected'";}?>>Yes</option>   
                                                  <option value="0" <?php if(isset($uid->mail_verified) and $uid->mail_verified=='0'){echo "selected='selected'";}?>>No</option>          
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            
                                            <label class="col-md-3">Status <span class="required">*</span></label> 
                                            
                                            <div class="col-md-6">
                                                <select name="is_active" required  class="form-control">
                                                  <option value="">--Choose status--</option>
                                                  <option value="1" <?php if(isset($uid->is_active) and $uid->is_active=='1'){echo "selected='selected'";}?>>Active</option>   
                                                  <option value="0" <?php if(isset($uid->is_active) and $uid->is_active=='0'){echo "selected='selected'";}?>>Inactive</option>          
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-md-3"></label>
                                            <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                            </div>
                                        </div>


                                        </form>
                                    </div>
                                </section>
                            </div>
                </div>

                <!-- End Page Here -->

        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("updates"); ?>