<?php

$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val['id'] == $subval) {
            $cours['subject'][$j] = array('id' => $val['id'], 'slug' => $val['slug'], 'name' => $val['name']);
            $j++;
        }
    }
}
$cours['sup_cat'] = $user_session['sup_cat'];
$course = MasterCourse::findfirst("id='".$user_session['course']."'");
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>

<script type="text/javascript">
    
    function getsup(id){
        $("#sup_cate").val(id);
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>index/course',
          data: {id:id},
          success: function(data){
            if(data){
                $("#sup_cat").css("display","none");
                $("#course").html(data);
                $("#course").css("display","block");
                $("#crox").css("display","block");
                $("#submits").css("visibility","hidden");
            }
          }
        });
    }
    function back_supcat(){
        $("#crox").css("display","none");
        $("#sup_cat").css("display","block");
        $("#course").css("display","none");
        $("#submits").css("visibility","hidden");
    }
    function select_course(id){
        $("#change_course_id").val(id);
        $("#submits").css("visibility","visible");
    }
    function submitform(){
        document.getElementById("course_change").submit();
    }
</script>
<section class="body">
        <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
            <?= UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body">
        
<?= UIElementsUsers::getBreadcrumds('','',$this->session->get("course_name")); ?>
                    <?php $this->flashSession->output(); ?>
            <div class="row">
                <div class="col-md-12 col-lg-8 col-xl-6"> 
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">                                        
                                <span class="va-middle">Recent Activities</span>
                            </h2>
                        </header>
                        <div class="panel-body">
                            
                            <div class="content">
                                <ul class="simple-user-list">
                                
                                    <?php foreach($data as $val){?>
                                    <li class="clearfix">
                                        <?php
                                            if(!empty($val['img'])){ ?>
                                                <img src="<?=BASEURL?>propic/<?=$val['img']?>" height="50px;" class="img-circle pull-left circle-img-marg" >
                                        <?php }else{ ?>
                                            <img src="<?=BASEURL?>assets/images/!logged-user.jpg" height="50px;" class="img-circle pull-left circle-img-marg" >
                                        <?php
                                            }
                                        ?>
                                        <div class="title pull-left">
                                            <?=html_entity_decode($val['message'])." ."?>
                                            <div class="clearfix"></div>
                                            <span class="message truncate pull-right"><?=$val['add_date']?></span>
                                        </div>
                                    </li>
                                    
                                    <hr class="dotted short">
                                    <?php } ?>
                                </ul>
                            </div>
                        </div>                              
                    </section>
                </div>
                <div class="col-xl-6 col-md-12 col-lg-4">
                    <?php 
                $icon = array('fa-flask','fa-joomla','fa-superscript','fa-bug');

                foreach ($sub as $subres) {
                    if($subject[$subres]['id']==1):
                    ?>
                    <section class="panel panel-featured-left panel-featured-primary">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa <?=$icon[0]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $c = MasterAssessment::find("subject='1'");
                                            
                                            foreach($c as $val){
                                                $tt[]= $val->id;
                                            }
                                            $tt = json_encode($tt);
                                            $tt = str_replace("[", "", $tt);$tt = str_replace("]", "", $tt);
                                            
                                            $tkc = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$tt})"); 
                                            $time_taken = 0;
                                            
                                            foreach($tkc as $vc){
                                                $time_taken = $time_taken + $vc->total_time;
                                            }
                                        ?>
                                        <h4 class="title"><small><i class="fa fa-history"></i> TIME SPENT <?=$time_taken?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                        <b class="text-muted text-uppercase"><i class="fa fa-crosshairs"></i> <?=count($tkc)?>/ <?=count($c)?> concept</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php elseif($subject[$subres]['id']==2):?>
                    <section class="panel panel-featured-left panel-featured-secondary">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        <i class="fa <?=$icon[1]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $p = MasterAssessment::find("subject='2'");
                                            $time_taken = 0;
                                            if($p->count()!=0){
                                                foreach($p as $pval){
                                                    $tts[]= $pval->id;
                                                }
                                                
                                                $tts = json_encode($tts);
                                                
                                                $tts = str_replace("[", "", $tts);
                                                $tts = str_replace("]", "", $tts);
                                                
                                                $tkp = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$tts})");
                                                if($tkp->count()!=0){
                                                    foreach($tkp as $vp){
                                                        $time_taken = $time_taken + $vp->total_time;
                                                    }
                                                }
                                            }
                                        ?>
                                        <h4 class="title"><small><i class="fa fa-history"></i> TIME SPENT <?=$time_taken?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                        <b class="text-muted text-uppercase"><i class="fa fa-crosshairs"></i> <?=count($tkp)?>/ <?=count($p)?> concept</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php elseif($subject[$subres]['id']==3):?>
                    <section class="panel panel-featured-left panel-featured-tertiary">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-tertiary">
                                        <i class="fa <?=$icon[2]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $m = MasterAssessment::find("subject='3'");
                                            $time_taken = 0;
                                            if($m->count()!=0){
                                                foreach($m as $mval){
                                                    $ttm[]= $mval->id;
                                                }
                                                $ttm = json_encode($ttm);
                                                $ttm = str_replace("[", "", $ttm);
                                                $ttm = str_replace("]", "", $ttm);
                                                // echo $tt;
                                                $tkm = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$ttm})");
                                                if($tkm->count()!=0){
                                                    foreach($tkm as $vm){
                                                        $time_taken = $time_taken + $vm->total_time;
                                                    }
                                                }
                                            }
                                        ?>
                                        <h4 class="title"><small><i class="fa fa-history"></i> TIME SPENT <?=$time_taken?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase"><b><i class="fa fa-crosshairs"></i> <?=count($tkm)?>/ <?=count($m)?> concept</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php elseif($subject[$subres]['id']==4):?>
                    <section class="panel panel-featured-left panel-featured-quartenary">
                        <a href="<?=BASEURL?>module/<?=$subject[$subres]['name']?>" class="goto-sub">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quartenary">
                                        <i class="fa <?=$icon[3]?>"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">                                                       
                                        <div class="info">
                                            <strong class="amount"><?=$subject[$subres]['name']?></strong>
                                        </div>
                                        <?php
                                            $b = MasterAssessment::find("subject='4'");
                                            $time_taken = 0;
                                            if($b->count()!=0){
                                                foreach($b as $bval){
                                                    $ttb[]= $bval->id;
                                                }
                                                $ttb = json_encode($ttb);
                                                $ttb = str_replace("[", "", $ttb);
                                                $ttb = str_replace("]", "", $ttb);
                                                // echo $tt;
                                                $tkb = MasterResult::find("userid='".$user_session['id']."' AND assess_id IN ({$ttb})");
                                                if($tkb->count()!=0){
                                                    foreach($tkb as $vb){
                                                        $time_taken = $time_taken + $vb->total_time;
                                                    }
                                                }
                                            }
                                        ?>
                                        <h4 class="title"><small><i class="fa fa-history"></i> TIME SPENT <?=$time_taken?> m</small></h4>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase"><b><i class="fa fa-crosshairs"></i> <?=count($tkb)?>/ <?=count($b)?> concept</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </section>
                    <?php endif; ?>
                    <?php
                }
                ?>
                    
                    <section class="panel panel-horizontal">
                        <header class="panel-heading bg-white">
                            <div class="panel-heading-icon bg-primary mt-sm">
                                <i class="fa fa-phone"></i>
                            </div>
                        </header>
                        <div class="panel-body p-lg">
                            <h4 class="text-semibold mt-sm">Call Us</h4>
                            <p><b>+91-999999999</b></p>
                        </div>
                    </section>
                    <section class="panel panel-horizontal">
                        <header class="panel-heading bg-white">
                            <div class="panel-heading-icon bg-primary mt-sm">
                                <i class="fa fa-hand-o-right"></i>
                            </div>
                        </header>
                        <div class="panel-body p-lg">
                            <a  href="#" title="Invite your friend" data-toggle="modal" data-target="#invitefrienddata" ><h4 class="text-semibold mt-sm">Invite Friend</h4></a>
                        </div>
                    </section>
                    <?php if($userdetails->mail_verified==0 && $userdetails->mail_code!=''){?>
                     <section class="panel panel-horizontal">
                        <header class="panel-heading bg-white">
                            <div class="panel-heading-icon bg-primary mt-sm">
                                <i class="fa fa-mail-forward"></i>
                            </div>
                        </header>
                        <div class="panel-body p-lg">
                            <a  href="<?=BASEURL."index/sendingverifymail"?>" title="Verify Your Email"><h4 class="text-semibold mt-sm">Verify Email</h4></a>
                        </div>
                    </section>
                    <?php } ?>
                    <!--          modal start here          -->
                    <div id="invitefrienddata" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog modal-signin">
                            <div class="modal-content">
                                <form class="form-horizontal form-bordered" action="<?= BASEURL ?>socialisation/invitefriend" method="post">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Choose Friend Type</h4>
                                    </div>
                                    <div class="modal-body" style="overflow:auto;">
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <input type="radio" name="friend_type" value="1" class="form-control"  required> Facebook Friend
                                            </div>  
                                            <div class="col-md-3">
                                                <input type="radio" name="friend_type" value="2" class="form-control"  required> Gmail Friend
                                            </div>  
                                            <div class="col-md-3">
                                                <input type="radio" name="friend_type" value="3" class="form-control"  required> Ischool Friend
                                            </div>  
                                        </div>'
                                        <div class="col-md-12 text-center">
                                            <input type="submit" class="btn text-center" value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <!--          modal end here          -->
                    <section class="panel">
                        <header class="panel-heading">
                            <h2 class="panel-title">Suggested Topprs to Follow</h2>
                        </header>
                        <div class="panel-body">
                            <ul class="simple-post-list">
                                <?php foreach($follow as $fval): ?>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <?php if($fval['img']!=''): ?>
                                                <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php else: ?>
                                                    <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                        <a href="#"><b><?=$fval['name']?></b></a>
                                        <div class="post-meta">
                                            <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                        </div>                                                      
                                    </div>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>