<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>


	<!-- HEADER MENU OF THE USER VIEW-->

		<?php echo UIElements::getHeader('forgotpassword') ?>        


	<!-- TOP BANNER IN THE INDEX PAGE-->
	


	<!-- CATEGORY MENU -->
		<?php echo UIElements::catMenu() ?>        

<div class="container">
    	<!--  Spotlight section start  -->
    		<div class="row">
				<div class="col-lg-3 col-sm-3 hidden-xs"></div>
            	<div class="col-lg-6 col-sm-6 col-lg-12">
                
                <div class="center-box">
				  <div class="login">  FORGOT PASSWORD</div>
                	<div class="brownbox">
                  <?php echo Phalcon\Tag::form(array("index/forgotpassword", "method" => "post", "onsubmit" => 'return forgotValidation()'));?>
					  <div class="form-group">
						<label>Email :</label>
						<input type="text" class="form-control" id="email" name="email">
					  </div>
						  
						  
						<center>  <button type="submit" class="morebtn-signin">Submit</button>
						
						</center>
						</br>
						<?php $this->flashSession->output() ?>
					</form>           
                    </div>
                    
                </div>
            </div>
				<div class="col-lg-3 col-sm-3 hidden-xs"></div>
       	 	</div>    
        <!--  Spotlight section end  -->
    </div>
    	    
	    
	    

	<!--FOOTER CATEGORY MENU-->
		<?php echo UIElements::bottomMenu() ?>        


	<!--FOOTER SOCIAL MENU-->
		<?php echo UIElements::socialMenu() ?>        


	<!--FOOTER TAB -->
		<?php echo UIElements::footer() ?>        
	