<?php
echo $this->getContent();
$client_id = "301667846490-4j3d37dcdj5a120vg8nonvsfk25nhkah.apps.googleusercontent.com";
$client_secret = "6aQzLzJXjNeDCuo9pzXBy4Lp";
$redirecturi = BASEURL . "socialisation/gmaillogin";
$fb_client = "1141358925893848";
$redirecturifb = BASEURL . "socialisation/facebooklogin";
?>
<?= UIElementsUsers::frontcss() ?>
<script type="text/javascript">
    function showsignup(){
        $("#signup").modal("show");
        $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
        $(".course-list").css("display","block");
        $(".course-form").css("display","none");
        $(".course-list2").css("display","none");
    }
    function getsup(id,name,slug){
        $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
        $(".course-list").css("display","none");
        $(".course-form").css("display","none");
        $.post("<?= BASEURL ?>socialisation/getcoursesign/"+id,function(res){
            $("#cous_id").html(res);
        });
        $(".course-list2").css("display","block");
        $("#scid").val(id);
    }
    function getcurs(id){
        var scid = $("#scid").val();
        $("#sucid").val(scid);
        $("#course").val(id);
        $(".course-list").css("display","none");
        $(".course-form").css("display","block");
        $(".course-list2").css("display","none");
    }
    function backsup(){
        $(".modal-header>div").html('<h4 class="modal-title" id="myModalLabel">Select Course</h4>');
        $(".course-list").css("display","block");
        $(".course-form").css("display","none");
        $(".course-list2").css("display","none");
    }
    function validateEmail(id) {
        var email = $('#'+id).val();
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        if(re.test(email)==false){
            $('#'+id).addClass('border-red');
            $('.email-alert').css('display', 'block');
        }else{
            $('#'+id).removeClass('border-red');
            $('.email-alert').css('display', 'none');
        }
    }
    function signupgmail(){
        var jsondata=[];
        var item = {}
        item ["supcat"]= $("#sucid").val();
        item ["course"]=  $("#course").val();
        item ["create_user"]=  $("#create_user").val();
        item ["quesid"]=  $("#quesid").val();
        var jsondata=encodeURI(JSON.stringify(item));
        window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto&state="+jsondata;
    }
    function loginwithgmail(){
        window.location.href="https://accounts.google.com/o/oauth2/auth?response_type=code&redirect_uri=<?= $redirecturi ?>&client_id=<?= $client_id ?>&scope=email+profile&access_type=online&approval_prompt=auto";
    }
    function loginwithfb(){
        window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true";
    }
    function signupfacebook(){
        var jsondata=[];
        var item = {}
        item ["supcat"]= $("#sucid").val();
        item ["course"]=  $("#course").val();
        item ["create_user"]=  $("#create_user").val();
        item ["quesid"]=  $("#quesid").val();
        var jsondata=encodeURI(JSON.stringify(item));
        window.location.href="https://www.facebook.com/dialog/oauth?client_id=<?= $fb_client ?>&redirect_uri=<?= $redirecturifb ?>/&fbTrue=true&state="+jsondata;
    }
</script>

<div class="body">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img alt="Porto" width="161" height="54" data-sticky-width="82" data-sticky-height="40" src="frontend/img/logo.png">
                </a>
            </div>
            <div class="search">
                <form id="searchForm" action="page-search-results.html" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control search" name="q" id="q" placeholder="Search..." required>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <ul class="social-icons">
                <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
            </ul>
            <nav>
                <ul class="nav nav-pills nav-top">
                    <li>
                        <a href="<?=BASEURL?>index/about"><i class="fa fa-angle-right"></i>About Us</a>
                    </li>
                    <li>
                        <a href="<?=BASEURL?>index/contact"><i class="fa fa-angle-right"></i>Contact Us</a>
                    </li>
                    <li class="phone">
                        <span><i class="fa fa-phone"></i>(123) 456-7890</span>
                    </li>
                </ul>
            </nav>
            <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="navbar-collapse nav-main-collapse collapse">
            <div class="container">						
                <nav class="nav-main mega-menu">
                    <ul class="nav nav-pills nav-main" id="mainMenu">
                        <li class="active">
                            <a href="#">HOME</a>
                        </li>
                        <li>
                            <a href="#">COURSES</a>
                        </li>
                        <li>
                            <a href="#">FEATURES</a>
                        </li>
                        <!--								<li>
									<a href="#">TOPPERS</a>
								</li>-->
                        <li>
                            <a href="#" title="Sign In" data-toggle="modal" data-target="#signin">SIGNIN</a>
                            <div id="signin" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Login</h4>
                                        </div>
                                        <div class="modal-body" style="overflow:auto;">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <button class="btn  facebook-bg" onClick="loginwithfb();"><i class="fa fa-facebook"></i> Login with Facebook</button>
                                                    <button onclick="loginwithgmail();" class="btn  googleplus-bg"><i class="fa fa-google-plus"></i> Login with Google+</a>
                                                </div>
                                                <div class="form-group text-center">
                                                    <hr>
                                                    <h5>Or Simply Login</h5>
                                                    <hr>
                                                    <label class="text-danger creden-error" style="display:none;">Please Enter Valid Email and Password</label>
                                                    <label class="text-danger email-alert" style="display:none;">Please Enter Valid Email ID</label>
                                                    <form class="form-horizontal form-bordered" action="<?= BASEURL ?>index/login" method="post">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-user"></i>
                                                            </span>
                                                            <input type="email" id="email" onblur="validateEmail('email')" name="email" class="form-control input-lg" placeholder="Type Your Email...">
                                                        </div>
                                                </div>			
                                                <input type="hidden" name="qid" value="" id="qid" />
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-lock"></i>
                                                        </span>
                                                        <input type="password" id="pass" name="pass" class="form-control input-lg" placeholder="Type Your Password...">
                                                    </div>
                                                </div>
                                                <div class="form-group text-center">
                                                    <input type="submit" name="submit" class="btn btn-primary btn-lg col-md-12" value="Login" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a title="Sign Up" data-toggle="modal" onclick="showsignup();" data-dismiss="modal">Not an User?  Signup here...</a>
                                        </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </li>
                        <!--                                                                accet modal done by satya-->
                        <div id="accept_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-signin">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="checkaccept(1);"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body" style="overflow:auto;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <button class="btn facebook-bg" onClick="checkaccept(2);"> Accept <?php if(!empty($this->session->get('quesid'))){ ?>Challenge <?php } else{ ?>Invitation <?php } ?></button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn  googleplus-bg" onClick="checkaccept(1);"> Cancel <?php if(!empty($this->session->get('quesid'))){ ?>Challenge <?php } else{ ?>Invitation <?php } ?></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!--                                                                end here -->
                        <li>
                            <a  title="Sign Up" data-toggle="modal" onClick="showsignup();">SIGNUP</a>
                            <div id="signup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-signin">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div>
                                                <h4 class="modal-title" id="myModalLabel">Select Course</h4>
                                            </div>
                                        </div>
                                        <div class="modal-body" style="overflow:auto;">
                                            <div class="col-md-12">
                                                <div class="course-list" <?= (isset($signup_error)) ? 'style="display:none;"' : 'style="display:block;"' ?>>
                                                    <?php
                                                    foreach ($supcat as $value) {
                                                        $scname = "'" . $value->scname . "'";
                                                        $slug = "'" . $value->slug . "'";
                                                        echo "<div class='clearfix' style='display:block;' onClick=getsup($value->scid,$scname,$slug)><img src='images/" . $value->slug . ".png' width='75px' class='pull-left'/><p class='pull-left para'>" . $value->scname . "</p><i class='fa fa-chevron-right pull-right icon'></i></div><hr/>";
                                                    }
                                                    ?>
                                                </div>
                                                <input type="hidden" id='scid' value="">
                                                <div class="course-list2" id="cous_id">

                                                </div>
                                                <div class="course-form" <?= (isset($signup_error)) ? 'style="display:block;"' : '' ?> >
                                                    <div class="">
                                                        <button class="btn facebook-bg" onClick="signupfacebook();"><i class="fa fa-facebook"></i> Signup with Facebook</button>
                                                        <button class="btn googleplus-bg" onClick="signupgmail();"><i class="fa fa-google-plus"></i> Signup with Google+</button>
                                                    </div>
                                                    <form class="form-horizontal form-bordered " action="<?= BASEURL ?>index/signup" method="post">
                                                        <div class="text-center">
                                                            <hr>
                                                            <h5>Or Simply Signup</h5>
                                                            <hr>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <input type="hidden" id='sucid' name="sup_cat" value="">
                                                            <input type="hidden" id='course' name="course" value="">
                                                            <input type="hidden" id='create_user' name="create_user" value="">
                                                            <input type="hidden" id='quesid' name="quesid" value="">
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                                    <input type="text" name="first_name" class="form-control input-lg" placeholder="First Name">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-user"></i>
                                                                    </span>
                                                                    <input type="text" name="last_name" class="form-control input-lg" placeholder="Last Name">
                                                                </div>
                                                            </div>
                                                            <div class="text-danger"><?= (isset($check_email)) ? $check_email : '' ?></div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-at"></i>
                                                                    </span>
                                                                    <input type="email" name="mail_id" class="form-control input-lg"  placeholder="Email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-lock"></i>
                                                                    </span>
                                                                    <input type="password" name="pass" class="form-control input-lg" placeholder="Password">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="submit" class="btn btn-primary btn-lg col-md-12" value="Sign Up">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </li>
                        <li>
                            <a href="<?=BASEURL?>index/blog">BLOG</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#signin">QUIZ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div role="main" class="main">
        <div class="slider-container">
            <div class="slider" id="revolutionSlider" data-plugin-revolution-slider data-plugin-options='{"startheight": 500}'>
                <ul>

                    <li data-transition="fade" data-slotamount="13" data-masterspeed="300" >

                        <img src="frontend/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption sft stb visible-lg"
                             data-x="177"
                             data-y="180"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="frontend/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption top-label lfl stl"
                             data-x="227"
                             data-y="180"
                             data-speed="300"
                             data-start="500"
                             data-easing="easeOutExpo">A Reliable Platform For</div>

                        <div class="tp-caption sft stb visible-lg"
                             data-x="477"
                             data-y="180"
                             data-speed="300"
                             data-start="1000"
                             data-easing="easeOutExpo"><img src="frontend/img/slides/slide-title-border.png" alt=""></div>

                        <div class="tp-caption main-label sft stb"
                             data-x="135"
                             data-y="210"
                             data-speed="300"
                             data-start="1500"
                             data-easing="easeOutExpo">Bright Minds</div>

                        <div class="tp-caption bottom-label sft stb"
                             data-x="185"
                             data-y="285"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">50,0000+ Questions</div>

                        <div class="tp-caption bottom-label sft stb"
                             data-x="185"
                             data-y="315"
                             data-speed="500"
                             data-start="2200"
                             data-easing="easeOutExpo">45,0000+ Video Classes</div>

                        <div class="tp-caption bottom-label sft stb"
                             data-x="185"
                             data-y="345"
                             data-speed="500"
                             data-start="2400"
                             data-easing="easeOutExpo">Top National Level Rank Holders</div>

                        <div class="tp-caption randomrotate"
                             data-x="905"
                             data-y="248"
                             data-speed="500"
                             data-start="2500"
                             data-easing="easeOutBack"><img src="frontend/img/slides/book.png" alt=""></div>

                        <div class="tp-caption sfb"
                             data-x="980"
                             data-y="200"
                             data-speed="400"
                             data-start="3000"
                             data-easing="easeOutBack"><img src="frontend/img/slides/atom.png" alt=""></div>

                        <div class="tp-caption sfb"
                             data-x="925"
                             data-y="170"
                             data-speed="700"
                             data-start="3150"
                             data-easing="easeOutBack"><img src="frontend/img/slides/bekr.png" alt=""></div>

                        <div class="tp-caption sfb"
                             data-x="875"
                             data-y="130"
                             data-speed="1000"
                             data-start="3250"
                             data-easing="easeOutBack"><img src="frontend/img/slides/grad.png" alt=""></div>

                        <div class="tp-caption sfb"
                             data-x="605"
                             data-y="80"
                             data-speed="600"
                             data-start="3450"
                             data-easing="easeOutExpo"><img src="frontend/img/slides/slide-concept-2-5.png" alt=""></div>

                        <div class="tp-caption blackboard-text lfb "
                             data-x="635"
                             data-y="300"
                             data-speed="500"
                             data-start="3450"
                             data-easing="easeOutExpo" style="font-size: 37px;">Think</div>

                        <div class="tp-caption blackboard-text lfb "
                             data-x="660"
                             data-y="350"
                             data-speed="500"
                             data-start="3650"
                             data-easing="easeOutExpo" style="font-size: 47px;">Outside</div>

                        <div class="tp-caption blackboard-text lfb "
                             data-x="685"
                             data-y="400"
                             data-speed="500"
                             data-start="3850"
                             data-easing="easeOutExpo" style="font-size: 32px;">The box :)</div>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="1000" >

                        <img src="frontend/img/slides/slide-bg.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption sft stb"
                             data-x="155"
                             data-y="100"
                             data-speed="600"
                             data-start="100"
                             data-easing="easeOutExpo"><img src="frontend/img/slides/slide-concept.png" alt=""></div>

                        <div class="tp-caption blackboard-text sft stb"
                             data-x="285"
                             data-y="180"
                             data-speed="900"
                             data-start="1000"
                             data-easing="easeOutExpo" style="font-size: 30px;">Start Practice</div>

                        <div class="tp-caption blackboard-text sft stb"
                             data-x="285"
                             data-y="220"
                             data-speed="900"
                             data-start="1200"
                             data-easing="easeOutExpo" style="font-size: 40px;">TODAY!</div>

                        <div class="tp-caption main-label sft stb"
                             data-x="685"
                             data-y="190"
                             data-speed="300"
                             data-start="900"
                             data-easing="easeOutExpo">Courses!</div>

                        <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="250"
                             data-speed="500"
                             data-start="2000"
                             data-easing="easeOutExpo">IIT JEE</div>
                             <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="280"
                             data-speed="500"
                             data-start="2200"
                             data-easing="easeOutExpo">PRE MEDICAL</div>
                             <div class="tp-caption bottom-label sft stb"
                             data-x="685"
                             data-y="310"
                             data-speed="500"
                             data-start="2400"
                             data-easing="easeOutExpo">CBSE</div>

                    </li>
                </ul>
            </div>
        </div>
        <div class="home-intro" id="home-intro">
            <div class="container">

                <div class="row">
                    <div class="col-md-8">
                        <p>
                                    <em>ISchool4U</em> &nbsp;is an ideal launching pad for the serious aspirants.
                            <span>We Provide is repository of virtually infinite practice in Physics, Chemistry, Mathematics and Biology.</span>
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="get-started">
                            <a href="#" class="btn btn-lg btn-primary">Get Started Now!</a>
                            <div class="learn-more">or <a href="index.html">learn more.</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">

            <div class="row center">
                <div class="col-md-12">
                    <h1 class="short word-rotator-title">
								Porto is
                        <strong class="inverted">
                            <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                                <span class="word-rotate-items">
                                    <span>incredibly</span>
                                    <span>especially</span>
                                    <span>extremely</span>
                                </span>
                            </span>
                        </strong>
								beautiful and fully responsive.
                    </h1>
                    <p class="featured lead">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus suscipit molestie vestibulum.
                    </p>
                </div>
            </div>

        </div>

        <div class="home-concept">
            <div class="container">

                <div class="row center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="col-md-2 col-md-offset-1">
                        <div class="process-image" data-appear-animation="bounceIn">
                            <img src="frontend/img/stdy.png" alt="" />
                            <strong>Study</strong>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                            <img src="frontend/img/undt.png" alt="" />
                            <strong>Understand</strong>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                            <img src="frontend/img/prac.png" alt="" />
                            <strong>Practice</strong>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <div class="project-image">
                            <div id="fcSlideshow" class="fc-slideshow">
                                <ul class="fc-slides">
                                    <li><a href=""><img class="img-responsive" src="frontend/img/process/sucs1.png" /></a></li>
                                    <li><a href=""><img class="img-responsive" src="frontend/img/process/sucs2.png" /></a></li>
                                    <!-- <li><a href=""><img class="img-responsive" src="frontend/img/process/sucs3.png" /></a></li> -->
                                </ul>
                            </div>
                            <strong class="our-work">Success</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">

            <div class="row">
                <hr class="tall" />
            </div>

        </div>
        <div class="container">
            <h2>Our <strong>Courses</strong></h2>
            <div class="grid">

                <?php foreach ($supcat as $key => $val) { ?>
                    <figure class="effect-julia">
                        <?php
                        if (strtolower($val->scname) == 'engineering') {
                            $img = "eng.png";
                        } else if (strtolower($val->scname) == 'medical') {
                            $img = "med.png";
                        } else if (strtolower($val->scname) == 'cbse') {
                            $img = "brd.png";
                        }
                        ?>
                        <img src="frontend/img/<?= $img ?>" alt="Engg"/>
                        <figcaption>
                            <h2><span><?= $val->scname ?></span></h2>
                            <div>
                                <?php foreach ($allcurs[$val->scid] as $va) { ?>
                                    <p data-toggle="modal" onclick="showsignup();"><?= $va['name'] ?></p>
                                <?php } ?>
                            </div>
                        </figcaption>			
                    </figure>
                <?php } ?>
            </div>
        </div>
        <section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(frontend/img/parallax.jpg);">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <i class="fa fa-comments icon-featured" data-appear-animation="bounceIn"></i>
                        <h2 class="short text-shadow big white bold"><strong>We're excited about Porto Template</strong></h2>
                        <h3 class="lead white">5,500 customers in 100 countries use Porto Template. Meet our customers.</h3>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <h2>Our <strong>Features</strong></h2>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Test Series</h4>
                                    <p class="tall">Live Test with 20,000 students.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Practice series</h4>
                                    <p class="tall">Practice more than 1.2 lakhs questions.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-google-plus"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Quizophilic</h4>
                                    <p class="tall">Learning with earning.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-adjust"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">AskExperts</h4>
                                    <p class="tall">Kota's expert voice to guide you!!.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-film"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Complete Ansalysis</h4>
                                    <p class="tall">Detailed time and grapical analysis!!.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Compendium</h4>
                                    <p class="tall">Revise your whole chapter in minutes.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-bars"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Mobile and tablet friendly</h4>
                                    <p class="tall">Optimised for mobiles and tablets also.</p>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="feature-box-icon">
                                    <i class="fa fa-desktop"></i>
                                </div>
                                <div class="feature-box-info">
                                    <h4 class="shorter">Full Flexibility</h4>
                                    <p class="tall">Point system to choose a test and its level.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2>and more...</h2>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-usd"></i>
												Discussion Forum
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="panel-body">
											Every question has a discussion forum over which students can discuss and ask the question to our experts.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <i class="fa fa-comment"></i>
												 Add notes
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="panel-body">
											Best premium feature of ISchool4U to minimize silly mistakes and increase your accuracy.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <i class="fa fa-laptop"></i>
												 Point system to unlock
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div class="panel-body">
											One click away to unlock every chapter for free.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="tall" />

            <div class="row center">
                <div class="col-md-12">
                    <h1 class="text-center">Question of the Day</h1>
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="featured-box featured-box-secundary">
                            <div class="box-content" style="overflow:auto;">
                                <?php
                                    $dt = date("Y-m-d");
                                    $qod = QuestionOfday::findFirst("show_date='".$dt."'");
                                    if(!isset($qod->id_qday)){
                                        // $qod = QuestionOfday::findFirst("status='1' ORDER BY RAND()");
                                        $qod = QuestionOfday::findFirst("status='1' AND questionid='QID00014'");
                                    }
                                    if($qod->questionid){
                                        $mq = MasterQuestion::findFirst("questionid='".$qod->questionid."'");
                                        if($mq){
                                            switch ($mq->tableid) {
                                                case '1':
                                                    $question = MasterQuestionBank::findFirst("questionid='".$mq->questionid."'");
                                                    break;
                                                case '2':
                                                    $question = MasterMatchQuestion::findFirst("questionid='".$mq->questionid."'");
                                                    break;
                                                case '3':
                                                    $question = MasterNumericQuestion::findFirst("questionid='".$mq->questionid."'");
                                                    break;
                                                case '4':
                                                    $question = MasterParaQuestion::findFirst("questionid='".$mq->questionid."'");
                                                    break;
                                                case '5':
                                                    $question = MasterReasonQuestion::findFirst("questionid='".$mq->questionid."'");
                                                    break;
                                                case '6':
                                                    $question = MasterSubtheoQuestion::findFirst("questionid='".$mq->questionid."'");
                                                    break;
                                                default:
                                                    # code...
                                                    break;
                                            }
                                        }
                                    }else{
                                        echo 'No question found.';
                                    }
                                ?>
                                <p class="featured lead text-justify">
                                    <?php echo $question->question ?>
                                </p>
                                <div class="clearfix gap"></div>
                                <?php if($mq->q_type==1): ?>
                                    <ul class="list-group">
                                        <li class="list-group-item" id="<?= $mq->questionid ?>A" onClick="oneclickoption('<?= $mq->questionid ?>','A')"><span class="badge badge-inverse pull-left">A</span> <?= $question->option1 ?></li>
                                        <li class="list-group-item" id="<?= $mq->questionid ?>B" onClick="oneclickoption('<?= $mq->questionid ?>','B')"><span class="badge badge-inverse pull-left">B</span> <?= $question->option2 ?></li>
                                        <li class="list-group-item" id="<?= $mq->questionid ?>C" onClick="oneclickoption('<?= $mq->questionid ?>','C')"><span class="badge badge-inverse pull-left">C</span> <?= $question->option3 ?></li>
                                        <li class="list-group-item" id="<?= $mq->questionid ?>D" onClick="oneclickoption('<?= $mq->questionid ?>','D')"><span class="badge badge-inverse pull-left">D</span> <?= $question->option4 ?></li>
                                    </ul>
                                    <input type="hidden" value="" id="<?= $mq->questionid ?>">
                                    <input type="hidden" value="<?= $question->ans ?>" id="<?= $mq->questionid ?>ans">
                                    <div class="btn btn-primary btn-lg col-md-12 ans-btn"  id="<?= $mq->questionid ?>submit" onclick="checkmultians('<?= $mq->questionid ?>')">Submit</div>
                                <?php elseif($mq->q_type==2): ?>
                                    <ul class="list-group">
                                        <li class="list-group-item" id="<?= $question->questionid ?>A" onClick="clickoption('<?= $question->questionid ?>','A')"><span class="badge badge-inverse pull-left">A</span> <?= $question->option1 ?></li>
                                        <li class="list-group-item" id="<?= $question->questionid ?>B" onClick="clickoption('<?= $question->questionid ?>','B')"><span class="badge badge-inverse pull-left">B</span> <?= $question->option2 ?></li>
                                        <li class="list-group-item" id="<?= $question->questionid ?>C" onClick="clickoption('<?= $question->questionid ?>','C')"><span class="badge badge-inverse pull-left">C</span> <?= $question->option3 ?></li>
                                        <li class="list-group-item" id="<?= $question->questionid ?>D" onClick="clickoption('<?= $question->questionid ?>','D')"><span class="badge badge-inverse pull-left">D</span> <?= $question->option4 ?></li>
                                    </ul>
                                    <input type="hidden" value="" id="<?= $mq->questionid ?>">
                                    <input type="hidden" value="<?= $question->ans ?>" id="<?= $mq->questionid ?>ans">
                                    <div class="btn btn-primary option col-md-12 ans-btn" id="<?= $mq->questionid ?>submit" onclick="checkmultians('<?= $question->questionid ?>')">Submit</div>
                                <?php elseif($mq->q_type==3): ?>
                                    <table class="table table-bordered match-table text-left">
                                        <tbody>
                                            <tr>
                                                <td><span><b>A) </b></span> <?= $question->a ?></td>
                                                <td><span><b>P) </b></span> <?= $question->p ?></td>
                                            </tr>
                                            <tr>
                                                <td><span><b>B) </b></span> <?= $question->b ?></td>
                                                <td><span><b>Q) </b></span> <?= $question->q ?></td>
                                            </tr>
                                            <tr>
                                                <td><span><b>C) </b></span> <?= $question->c ?></td>
                                                <td><span><b>R) </b></span> <?= $question->r ?></td>
                                            </tr>
                                            <tr>
                                                <td><span><b>D) </b></span> <?= $question->d ?></td>
                                                <td><span><b>S) </b></span> <?= $question->s ?></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <?php
                                    $aans = array("A", "B", "C", "D", "E");
                                    if ($question->ans_e == '') {
                                        $count = 3;
                                    } else {
                                        $count = 4;
                                    }
                                    ?>
                                    <div class="col-md-12">
                                    <?php for ($i = 0; $i <= $count; $i++): ?>
                                        <div class="col-md-10">
                                            <div class="pull-left">
                                                <b><i class="fa fa-hand-o-right"></i> <?= $aans[$i] ?>:</b> &nbsp;&nbsp;&nbsp;&nbsp;
                                            </div>
                                            <div class="checkbox-custom checkbox-default" id="<?= $question->questionid ?>alert<?= strtolower($aans[$i]) ?>p"><input type="checkbox" value="P" id="<?= $question->questionid ?><?= strtolower($aans[$i]) ?>p" name="<?= $question->questionid ?>ans<?= strtolower($aans[$i]) ?>p"><label>P</label></div>
                                            <div class="checkbox-custom checkbox-default" id="<?= $question->questionid ?>alert<?= strtolower($aans[$i]) ?>q"><input type="checkbox" value="Q" id="<?= $question->questionid ?><?= strtolower($aans[$i]) ?>q" name="<?= $question->questionid ?>ans<?= strtolower($aans[$i]) ?>q"><label>Q</label></div>
                                            <div class="checkbox-custom checkbox-default" id="<?= $question->questionid ?>alert<?= strtolower($aans[$i]) ?>r"><input type="checkbox" value="R" id="<?= $question->questionid ?><?= strtolower($aans[$i]) ?>r" name="<?= $question->questionid ?>ans<?= strtolower($aans[$i]) ?>r"><label>R</label></div>
                                            <div class="checkbox-custom checkbox-default" id="<?= $question->questionid ?>alert<?= strtolower($aans[$i]) ?>s"><input type="checkbox" value="S" id="<?= $question->questionid ?><?= strtolower($aans[$i]) ?>s" name="<?= $question->questionid ?>ans<?= strtolower($aans[$i]) ?>s"><label>S</label></div>
                                            <div class="col-md-4" id="<?= $question->questionid ?>right<?= strtolower($aans[$i]) ?>"></div>
                                        <?php if ($question->ans_e != ""): ?>
                                            <div class="checkbox-custom checkbox-default"><input type="checkbox" value="T" name="<?= $question->questionid ?>ans<?= strtolower($aans[$i]) ?>t"><label>T</label></div>
                                        <?php endif; ?>
                                        </div>
                                        <div class="clearfix"></div>
                                    <?php endfor; ?>
                                            <input type="hidden" value="" id="<?= $question->questionid ?>">
                                            <input type="hidden" value="<?= $question->ans_a ?>" id="<?= $question->questionid ?>ans1">
                                            <input type="hidden" value="<?= $question->ans_b ?>" id="<?= $question->questionid ?>ans2">
                                            <input type="hidden" value="<?= $question->ans_c ?>" id="<?= $question->questionid ?>ans3">
                                            <input type="hidden" value="<?= $question->ans_d ?>" id="<?= $question->questionid ?>ans4">
                                            <input type="hidden" value="<?= $question->ans_e ?>" id="<?= $question->questionid ?>ans5">
                                            <div class="btn btn-primary col-md-6 col-md-offset-3" id="<?= $question->questionid ?>submit" onclick="checkmatchans('<?= $question->questionid ?>')">Submit</div>
                                <?php elseif($mq->q_type==4): ?>
                                    <div class="col-md-3">Min:  <?= $question->option1 ?></div>
                                    <div class="col-md-3" >Max:  <?= $question->option2 ?></div>
                                    <div class="col-md-3">
                                        <div id="alert<?= $question->questionid ?>" style="margin-bottom:5px;">
                                            <input type="text" class="form-control" id="<?= $question->questionid ?>" placeholder="Answer">
                                        </div>
                                        <div class="reason<?= $question->questionid ?>">
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3 ">
                                        <input type="hidden" value="<?= $question->ans ?>" id="<?= $question->questionid ?>ans">
                                        <div class="btn btn-primary col-md-12 ans-btn"  id="<?= $question->questionid ?>submit" onclick="checknuans('<?= $question->questionid ?>','')">Submit</div>
                                    </div>
                                    <div class="clearfix"></div>
                                <?php endif; ?>
                            </div>
                                <div class="clearfix gap"></div>
                                <a href="#" class="label label-default" onclick="showques('<?php echo $question->questionid; ?>');">Click here for Solution</a>
                            </div>
                        </div> 
                    </div>                 
                </div>
            </div>

        </div>

        <div>
            <section class="featured footer map">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="recent-posts push-bottom">
                                <h2>Latest <strong>Blog</strong> Posts</h2>
                                <div class="row">
                                    <div class="owl-carousel" data-plugin-options='{"items": 1}'>
                                        <div>
                                            <div class="col-md-6">
                                                <article>
                                                    <div class="date">
                                                        <span class="day">15</span>
                                                        <span class="month">Jan</span>
                                                    </div>
                                                    <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                                </article>
                                            </div>
                                            <div class="col-md-6">
                                                <article>
                                                    <div class="date">
                                                        <span class="day">15</span>
                                                        <span class="month">Jan</span>
                                                    </div>
                                                    <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                                </article>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-6">
                                                <article>
                                                    <div class="date">
                                                        <span class="day">12</span>
                                                        <span class="month">Jan</span>
                                                    </div>
                                                    <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                                </article>
                                            </div>
                                            <div class="col-md-6">
                                                <article>
                                                    <div class="date">
                                                        <span class="day">11</span>
                                                        <span class="month">Jan</span>
                                                    </div>
                                                    <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                                </article>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="col-md-6">
                                                <article>
                                                    <div class="date">
                                                        <span class="day">15</span>
                                                        <span class="month">Jan</span>
                                                    </div>
                                                    <h4><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                                </article>
                                            </div>
                                            <div class="col-md-6">
                                                <article>
                                                    <div class="date">
                                                        <span class="day">15</span>
                                                        <span class="month">Jan</span>
                                                    </div>
                                                    <h4><a href="blog-post.html">Lorem ipsum dolor</a></h4>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. <a href="/" class="read-more">read more <i class="fa fa-angle-right"></i></a></p>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="col-md-6">
                            <h2><strong>Question</strong> Of The Day</h2>
                            <div class="row">
                                <div class="owl-carousel push-bottom" data-plugin-options='{"items": 1}'>
                                    <div>
                                        <div class="col-md-12">
                                            <blockquote class="testimonial">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.</p>
                                            </blockquote>													
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-12">
                                            <blockquote class="testimonial">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            </blockquote>													
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <a href="<?=BASEURL?>index/contact">
                <div class="footer-ribbon">
                    <span>Get in Touch</span>
                </div>
                </a>
                <div class="col-md-5">
                    <div class="contact-details">
                        <h4>Contact Us</h4>
                        <ul class="contact">
                            <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
                            <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</p></li>
                            <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 pull-right">
                    <h4>Follow Us</h4>
                    <div class="social-icons">
                        <ul class="social-icons">
                            <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
                            <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="iSchool4U" class="logo">
                            <img alt="" class="img-responsive" src="frontend/img/logo-footer.png">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <p>© Copyright 2015. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <nav id="sub-menu">
                            <ul>
                                <li><a href="#">FAQ's</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<?= UIElementsUsers::frontjs() ?>
<!--<script src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script>
    $(document).ready(function(){
        var create_id="<?= $this->session->get('id_create') ?>";
        var tomail="<?= $this->session->get('tomail') ?>";
        var inviteid="<?= $this->session->get('inviteid') ?>";
        if(create_id!=''){
            $("#accept_modal").modal("show");
        }
    });
<?php if (!empty($login_error)) { ?>
        $(document).ready(function(){
            setTimeout(function(){
                $("#signin").modal('show');
                $(".creden-error").css('display', 'block');
                setTimeout(function(){
                    $(".creden-error").css('display', 'none');
                },5000);
            }, 1000);
        });
<?php } ?>
<?php if (!empty($signup_error)) { ?>
        $(document).ready(function(){
            setTimeout(function(){
                $("#signup").modal('show');
                $(".modal-header>div").html('<i class="fa fa-chevron-left pull-left icon-left" onClick=backsup()></i><h4 class="text-center"><img src="images/'+slug+'.png" width="25px" class="logo-ltitle"/>'+name+'</h4>');
            }, 1000);
        });
<?php } ?>

    function checkaccept(flg){
        var inviteid="<?= $this->session->get('inviteid') ?>";
        var id_create="<?= $this->session->get('id_create') ?>";
        var quesid="<?= $this->session->get('quesid') ?>";
        if(flg==1){
            $.post("<?= BASEURL ?>index/destroysession/",function(res){
            });
            $("#accept_modal").modal("hide");
        }else{
            if(inviteid!=''){
                $.post("<?= BASEURL ?>index/checkfriend/"+id_create+"/"+inviteid+"/"+quesid,function(res){
                    alert("You are accepted successsfully");
                    $("#accept_modal").modal("hide");
                });
            }else{
                $.post("<?= BASEURL ?>index/destroysession/",function(res){
                    $("#signup").modal('show'); 
                    $("#accept_modal").modal("hide");
                    $("#create_user").val(id_create);
                    $("#quesid").val(quesid);
                });
               
            }
        }
    }
    function showques(id){
         $("#qid").val(id);
        $("#signin").modal("show");
    }
</script>