<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='" . $sup_cat . "'"));
foreach ($subj as $val) {
    foreach ($sub as $subval) {
        if ($val->id == $subval) {
            $cours['subject'][$j] = array('sid' => $exam_id->etid, 'id' => $val->id, 'slug' => $val->slug, 'name' => $val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php
$getVal = $this->request->get();
$url = preg_replace('/^\//', '', $getVal['_url']);
?>
    <?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
        <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
            <?= UIElementsUsers::getfrontSidebar($cours, $this->session->get("fixpack"), $this->session->get("fullsylabus")) ?>
        <section role="main" class="content-body front-content after-breadcm">
<?= UIElementsUsers::getBreadcrumds('', '', $course->name) ?>
<?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Solution</h2>
                </div>
            </div>

            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <?php
                                    echo '<h4><u>Solution of Question Of the day</u> : </h4></br>';
                                    if ($qod->questionid) {
                                        $mq = MasterQuestion::findFirst("questionid='" . $qod->questionid . "'");
                                        if ($mq) {
                                            switch ($mq->tableid) {
                                                case '1':
                                                    $question = MasterQuestionBank::findFirst("questionid='" . $mq->questionid . "'");
                                                    break;
                                                case '2':
                                                    $question = MasterMatchQuestion::findFirst("questionid='" . $mq->questionid . "'");
                                                    break;
                                                case '3':
                                                    $question = MasterNumericQuestion::findFirst("questionid='" . $mq->questionid . "'");
                                                    break;
                                                case '4':
                                                    $question = MasterParaQuestion::findFirst("questionid='" . $mq->questionid . "'");
                                                    break;
                                                case '5':
                                                    $question = MasterReasonQuestion::findFirst("questionid='" . $mq->questionid . "'");
                                                    break;
                                                case '6':
                                                    $question = MasterSubtheoQuestion::findFirst("questionid='" . $mq->questionid . "'");
                                                    break;
                                                default:
                                                    # code...
                                                    break;
                                            }
                                        }
                                        
                                        echo $question->hint;
                                        
                                        
                                    } else {
                                        echo 'No question found.';
                                    }
                                    ?>
                                </div>
                            </div>
                        </div>
                        </section>
                    </div>
                    </section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
                    