<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>


	<!-- HEADER MENU OF THE USER VIEW-->

		<?php echo UIElements::getHeader() ?>        


	<!-- TOP BANNER IN THE INDEX PAGE-->
	


	<!-- CATEGORY MENU -->
		<?php echo UIElements::catMenu() ?>        

<div class="container">
    	<!--  Spotlight section start  -->
    		<div class="row">
				<div class="col-lg-3 col-sm-3 hidden-xs"></div>
            	<div class="col-lg-6 col-sm-6 col-lg-12">
                
                <div class="center-box">
				  <div class="login">  Login</div>
                	<div class="brownbox">
                  <?php echo Phalcon\Tag::form(array("index/signin", "method" => "post"));?>
					  <div class="form-group">
						<label for="exampleInputEmail1">Email :</label>
						<input type="email" class="form-control" id="exampleInputEmail1" name="email">
					  </div>
						  <div class="form-group">
							<label for="exampleInputPassword1">Password :</label>
							<input type="password" class="form-control" id="exampleInputPassword1" name="password">
						  </div>
						  <div class="checkbox">
							<label>
							  <input type="checkbox"> Remember me
							</label>
						  </div>
						<center>  <button type="submit" class="morebtn-signin">Log in</button>
						
						</center>
						
						
						<div class="center"><a href="<?php echo BASEURL;?>index/forgotpassword">Forgot Your Password ?</a></div></br>
						<?php $this->flashSession->output() ?>
					</form>           
                    </div>
                    <div class="center-box2">
                		<p>   New to Huxur? Register today to post your free adverts</p>
      			
      						<?=Phalcon\Tag::linkTo("index/register", "<button type='submit' class='morebtn-register'>REGISTER</button>")?>
                    </div>
                </div>
            </div>
				<div class="col-lg-3 col-sm-3 hidden-xs"></div>
       	 	</div>    
        <!--  Spotlight section end  -->
    </div>
    	    
	    
	    

	<!--FOOTER CATEGORY MENU-->
		<?php echo UIElements::bottomMenu() ?>        


	<!--FOOTER SOCIAL MENU-->
		<?php echo UIElements::socialMenu() ?>        


	<!--FOOTER TAB -->
		<?php echo UIElements::footer() ?>        
	