<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('sid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds('','',$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Study Group</h2>
                </div>
            </div>

            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">
                            <?php
                                foreach ($user as $value): ?>
                            <div class="col-md-4">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        
                                        <?php
                                            if(!empty($value->img)){ ?>
                                                <img src="<?=BASEURL?>propic/<?=$value->img?>" height="50px;" class="img-circle" >
                                        <?php }else{ ?>
                                            <img src="<?=BASEURL?>assets/images/!logged-user.jpg" height="50px;" class="img-circle" >
                                        <?php
                                            }
                                        ?>
                                        <?=$value->first_name.' '.$value->$last_name;?>
                                    </div>
                                </div>
                            </div>
                            <?php
                                endforeach;
                            ?>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    function submitform(){
      document.getElementById("packages").submit();
    }
</script>