<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('sid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds('','',$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Walet</h2>
                </div>
            </div>

            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <?php echo '<h4>You Walet have</h4></br>'.'Points: '.$points->points;?>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Package Purchase</div>
                                <div class="panel-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Sl. No.</th>
                                        <th>Package</th>
                                        <th>Description</th>
                                        <th>Point</th>
                                        <th>No. Test</th>
                                    </tr>
                                    <tbody>
                                <?php foreach($package as $pval): ?>
                                    <tr>
                                        <td>1</td>
                                        <td><?=$pval->name?></td>
                                        <td><?=$pval->desc?></td>
                                        <td><?=$pval->price?></td>
                                        <td>
                                            <?php if($mupval[$pval->id]['test_type']!=4):?>
                                                <?=$mupval[$pval->id]['not']?>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">Points Used</div>
                                <div class="panel-body">
                                    
                                    <?php
                                    $testtype = ["Subject Wise","Topic Wise","Unit Wise","Fixed Test","Full Syllabus"];
                                    foreach($testtype as $key=>$tval){ ?>
                                        <table class="table table-bordered">
                                            <tr>
                                                <th width="100">Exam id</th>
                                                <th width="100"><?=$tval?></th>
                                                <th width="100">Date & Time</th>
                                            </tr>
                                        <?php
                                        foreach($mr as $mrval){
                                            if($mrval->test_type==$key){ ?>
                                                <tr>
                                                    <td><?=$mrval->id?></td>
                                                    <td><?=$mrval->test_on?></td>
                                                    <td><?php if($mrval->date){ echo date("d-m-y h:i A",strtotime($mrval->date)); }else{ echo "N/A";}?></td>
                                                </tr>
                                            <?php }
                                        }
                                        echo '</table>';
                                    }
                                    
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    function submitform(){
      document.getElementById("packages").submit();
    }
</script>