<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<script type="text/javascript">
  var exam_tyme = <?=$etype->time?>*60*1000;
  function opt(ans,ques){
    $("#"+ques).val(ans);
  }

  function showquestion(id){
    var qno = <?=count($questionid)?>;
    for(i=1;i<=qno;i++){
      $("#"+i).css("display","none");
    }
    $("#"+id).css("display","block");
    $("#"+id).addClass(" appear-animation fadeInLeftBig ");
    if(id==qno){
      var pre = id-1;
      $("#"+"next").removeAttr("onclick");
      $("#"+"pre").attr("onclick","pre("+pre+")");
    }else if(id==1){
      var next = id+1;
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+"pre").removeAttr("onclick");
    }else{
      var pre = id-1;var next = id+1;
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+"pre").attr("onclick","pre("+pre+")");
    }
  }

  function next(id){
    var qno = <?=count($questionid)?>;
    for(i=1;i<=qno;i++){
      $("#"+i).css("display","none");
    }
    // $("#"+id).css("display","none");
    var next = id+1;
    var pre = id-1;
    $("#"+id).removeClass("appear-animation fadeInLeftBig fadeInRightBig");
    var qID = $("#qID"+next).val();
    if(id==qno){
      $("#"+"next").removeAttr("onclick");
      $("#"+"pre").attr("onclick","pre("+pre+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInLeftBig ");
    }else{
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+"pre").attr("onclick","pre("+pre+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInLeftBig ");
    }
  }

  function pre(id){
    var pre = id-1;
    var next = id+1;
    $("#"+next).css("display","none");
    $("#"+next).removeClass("appear-animation fadeInRightBig fadeInLeftBig");
    var qID = $("#qID"+pre).val();
    if(id==1){
      $("#"+"pre").removeAttr("onclick");
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInRightBig ");
    }else{
      $("#"+"next").attr("onclick","next("+id+")");
      $("#"+"pre").attr("onclick","pre("+pre+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInRightBig ");
    }
  }

</script>
<!-- <div id="test-toggle-icon" onclick="question_select()"><i class="fa fa-bars"></i></div> -->

<section class="row">
  <div class="col-md-3 hidden-sm hidden-xs qs-bar">
    <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center">
          <img src="<?= BASEURL ?>frontend/img/logo.png" height="35" alt="Ischool4u" />
        </h4>
      </div>
        <div class="panel-body">
          <?php
          if(count($questionid)>0): $count=1;$diff = 1;$counts=0;
            shuffle($questionid);
            foreach ($questionid as $questiondetail) { ?>
              <div class="" onclick="showquestion(<?=$count?>)">
                <div class="qcontent" >
                    <?php 
                      $q = strip_tags($questiondetail['question']);
                      $q = substr($q,0,100);
                    ?>
                    <span class="badge"><?=$count?></span> <?=$q?>
                </div>
              </div>
            <?php $count++;
            }
            endif;
            ?>
        </div>
    </div>
    </div>
  </div>
	<div class="col-md-9 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
        <div class="pull-left">
          <h3 class="" style="margin:0;"><?=$topics->tname?></h3>
          <p style="margin:0;"> ( Assessment Test - <?=$assess->title?>) </p>
        </div>
				<div class="pull-right">
          <div class="btn btn-success pull-right" data-toggle="modal" data-target="#pause" onclick="getstats()">Finish</div>
          <div id="countdown" class="pull-right"></div>
        </div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body" style="height:100% !important;">
				<div class="col-md-12">
            <form class="form-horizontal form-bordered" id="exam_form" action="<?=BASEURL?>assessment/result" method="post">

					     <?php
              // print_r($questionid);
              if(count($questionid)>0): $count=1;$diff = 1;
                    foreach ($questionid as $questiondetail):
                    $questionids = $questiondetail['questionid'];
              ?>
                        <div id="<?=$count?>" class="panel panel-ssub test-questions">
                            <div class="panel-body">
                                    <div class="qcontent">
                                        <p>Single Type Question</p>
                                        <span class="badge"><?=$count?></span> <?=$questiondetail['question']?><?=$questiondetail['ans']?>
                                    </div>
                                    <ul class="list-group">
                                        <li class="list-group-item" id="<?=$questionids?>A" onClick="oneclickoption('<?=$questionids?>','A')"><span class="badge pull-left">A</span> <?=$questiondetail['a']?></li>
                                        <li class="list-group-item" id="<?=$questionids?>B" onClick="oneclickoption('<?=$questionids?>','B')"><span class="badge pull-left">B</span> <?=$questiondetail['b']?></li>
                                        <li class="list-group-item" id="<?=$questionids?>C" onClick="oneclickoption('<?=$questionids?>','C')"><span class="badge pull-left">C</span> <?=$questiondetail['c']?></li>
                                        <li class="list-group-item" id="<?=$questionids?>D" onClick="oneclickoption('<?=$questionids?>','D')"><span class="badge pull-left">D</span> <?=$questiondetail['d']?></li>
                                    </ul>
                                    <input type="hidden" value="" id="<?=$questionids?>" name="userans[]">
                                    <input type="hidden" value="<?=$questiondetail['topicid']?>" id="" name="topicid[]">
                                    <input type="hidden" value="<?=$questiondetail['ans']?>" id="<?=$questionids?>ans" name="rightans[]">
                                    <input type="hidden" value="<?=$questionids?>" name='qID[]' id="qID<?=$count?>" >
                            </div>
                        </div>
                    <?php $count++;
                    endforeach;
              endif;
          ?>
            <input type="hidden" value="<?=$assessid?>" name="testid">
            <input type="hidden" value="2" name="test_type">
            <input type="hidden" value="<?=$subtopics_list?>" name="subtopics_list">
            <input type="hidden" id="note" value="" name="time_taken">
            </form>
				</div>
		</div>
	</div>
</section>
<div id="pause" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel">Confermation</h4>
            </div>
            <div class="modal-body">
              <div class="">
                  <div class="row">
                      <div class="col-md-12">
                          No of Question <?=count($questionid)?><br>
                          Attempted : <span id="attempt"></span><br>
                          Skiped : <span id="skiped"></span><br>
                          Time Present : <span id="time"></span><br>
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" onclick="submitform()">Finish</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
</div>
<div class="test-np">
  <span id="pre"><i class="fa fa-arrow-left"></i> Previous</span> | <span id="next" onclick="next(2)">Next <i class="fa fa-arrow-right"></i></span>
</div>
<?php echo UIElementsAdmin::getFooter("tables"); ?>
<?php
    $qarray = json_encode($questionid);
?>
<script>
function submitform(){
  document.getElementById("exam_form").submit();
}

function getstats(){
  var qid = <?=$qarray?>;
  var attempt = 0;var check; var skiped=0;
  $("#time").html($("#note").val());
  for(i=0;i<=<?=count($questionid)-1?>;i++){
      if($("#"+qid[i]).length){
        check = $("#"+qid[i]).val();
        if(check!=''){
          attempt = attempt+1;
        }else{
          skiped = skiped+1;
        }
      }
  }
  
  $("#attempt").html(attempt);
  $("#skiped").html(skiped);
}
</script>