<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">

    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->subjectname,$subsubject->ssname,$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topics->slug))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="<?=BASEURL?>question/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Practice Question</a></li>
                            <li><a href="<?=BASEURL?>assessment/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Assessment</a></li>
                            <li><a href="<?=BASEURL?>tip/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Tips</a></li>
                            <li><a href="<?=BASEURL?>articles/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <?php

                        if(isset($assess) && $assess->count()!=0){ 
                            foreach ($assess as $assessres) { ?>
                            <?php
                                // echo '<pre>';print_r($assess_result);
                                if(!empty($assess_result[$assessres->id])){
                                    $trcount=count($assess_result[$assessres->id])-1;
                                    $topicremark = json_decode($assess_result[$assessres->id]);
                                    $topicremark = get_object_vars($topicremark);
                                    $od = $assess_result['od'.$assessres->id];
                                }
                            ?>
                                <div class="panel panel-ssub">
                                    <div class="panel-body">
                                        <h3><?=$assessres->title?></h3>
                                        <p>
                                            <?php
                                                $concepts = json_decode($assessres->subtopics);
                                            ?>
                                            <ul style="margin-bottom:15px;">
                                                <?php foreach($concepts as $value): ?>
                                                    
                                                    <?php foreach($subtopics as $val): ?>
                                                        <?php if($val->stid==$value): ?>
                                                                <li>
                                                                    <?=$val->stname?>
                                                                    <?php
                                                                        if(isset($topicremark[$val->stid]) && $topicremark[$val->stid]!=''){
                                                                            if($topicremark[$val->stid]>=80){
                                                                                echo ' (Concept Absorbed)'."</br>";
                                                                            }
                                                                            if($topicremark[$val->stid]>=40 && $topicremark[$val->stid]<80){
                                                                                echo ' (Concept less Absorbed)'."</br>";
                                                                            }
                                                                            if($topicremark[$val->stid]<40 && $topicremark[$val->stid]>=0){
                                                                                echo ' (Concept Evaporate)'."</br>";
                                                                            }
                                                                        }
                                                                    ?>
                                                                </li>
                                                            
                                                        <?php endif; ?>
                                                    <?php endforeach; ?>
                                                <?php endforeach; 
                                                unset($i,$topicremark);
                                                ?>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="http://localhost/ischool4u/assets/images/is_qs.png" class="topic-img">
                                                    <label class="status-label">
                                                    <?php if(isset($od['right'])){
                                                        echo $od['right'];
                                                        }else{
                                                            echo '0';
                                                        }
                                                        ?>
                                                    / <?php if(isset($od['noq'])){
                                                            echo $od['noq'];
                                                        }else{
                                                            echo '0';
                                                        }
                                                        ?>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="http://localhost/ischool4u/assets/images/is_ac.png" class="topic-img">
                                                    <label class="status-label">
                                                    <?php
                                                        if(isset($od)){
                                                            echo round($od['nora']/$od['noqus']*100);
                                                        }else{
                                                            echo '0';
                                                        }
                                                    ?>
                                                    %
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="http://localhost/ischool4u/assets/images/is_sp.png" class="topic-img">
                                                    <label class="status-label">0s</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <a class="btn btn-primary btn-sm btn-block" href="<?=BASEURL?>assessmenttest/<?=$assessres->id?>" target="_blank">Take This Assessment</a>
                                                </div>
                                            </div>
                                            
                                        </p>
                                    </div>
                                </div>
                            <?php
                            unset($od);
                            }
                        }else{
                            echo 'No data found.';
                        }
                     ?>
                </div>

                <section class="panel col-md-4">
                    <header class="panel-heading">
                        <h2 class="panel-title">Toppers to Follow</h2>
                    </header>
                    <div class="panel-body">
                        <ul class="simple-post-list">
                            <?php foreach($follow as $fval): ?>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <?php if($fval['img']!=''): ?>
                                                <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php else: ?>
                                                    <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                        <a href="#"><b><?=$fval['name']?></b></a>
                                        <div class="post-meta">
                                            <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                        </div>                                                      
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </section>

            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>