<?php
/**
*Page index 
* 
* Author By: Preetish priyabrata
* Created On:13/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
                  <!-- Toolbar Here -->
                      <div class="inner-toolbar clearfix"> 
                        <ul>
                          <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                              <li class="active">
                                <a href="<?=BASEURL?>news/addnews">Add News</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  <!-- Toolbar Here end -->
                  <!-- main contain start-->
 				<section class="panel">

			                <header class="panel-heading">
			                    <div class="panel-actions">
			                        <a href="#" class="fa fa-caret-down"></a>
			                        <a href="#" class="fa fa-times"></a>
			                    </div>
			            
			                    <h2 class="panel-title">News Details</h2>
			                </header>
			                    <div class="panel-body">
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
			                                    <th>SL# &nbsp;</th>
			                                    <th>News</th>
			                                    <th>Slug</th>
			                                    <th>Description</th>
			                                    <th>Admin Name</th>
			                                    <th>Status</th>
			                                    <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
			                                
                                          <?php $x=1; foreach ($new as $val) { 
                                            $conditions = "aid = :aid:";              
                                            $parameters = array("aid" =>  $val->admin_id);
                                             $user= MasterAdminUsers::findFirst(array($conditions,"bind" => $parameters));?>
                                      <tr>
                                          <td><?php echo $x?></td>
                                          <td><?php echo $val->title_news?></td>
                                          <td><?php echo $val->slug?></td>
                                          <td><?php echo $val->description?></td>
                                          <td><?php echo $user->first_name." ".$user->last_name?></td>
                                          <td>
                                          <?php 
                                              if ($val->status==1) {
                                                  echo $this->tag->linkTo("news/newupdstatus/2/".$val->n_id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                              }
                                              else
                                              {
                                                  echo $this->tag->linkTo("news/newupdstatus/1/".$val->n_id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                              }
                                          ?>
                                          </td>
                                          
                                           <td>
                                             <?php echo $this->tag->linkTo("news/newupdate/".$val->n_id, "<i class='fa fa-pencil' title='Update News'></i>") ?>
                                              <i class="fa fa-times" title='Delete News' data-toggle="modal" data-target="#delete<?php echo $val->n_id?>" style="cursor:pointer;"></i>
                                          </td>
                                           <!--delete modal start-->
                                            <div id="delete<?php echo $val->n_id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->title_news); ?></h4>
                                                  </div>
                                                  <div class="modal-body">
                                                  <div class="">
                                                          Do you want to delete this News?
                                                  </div>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("news/newdelete/".$val->n_id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                  </div>

                                                </div><!-- /.modal-content -->
                                              </div><!-- /.modal-dialog -->
                                            </div>
                                            <!-- delete modal end here-->

                                      </tr>
                                     <?php $x++; } ?>         
			                            </tbody>
			                        </table>
			                    </div>
                          <!--panel-body-->
                          <!--main contain end here-->
           		</section>





      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->