<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}

echo $this->getContent();
$typques=array("1"=>"Single Type Question","2"=>"Multiple Type Question","3"=>"Match Type Question","4"=>"Numerical Type Question","5"=>"Paragraphs Question","6"=>"Theory Question","7"=>"Reason Assertion","8"=>"Subjective Question");
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">

    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Full Syllabus Test Result</h2>
                    
                </div>
            </div>
            <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">

                            <section class="panel panel-featured-top panel-featured-primary">
                                <div class="panel-body">
                                    <div class="col-md-4 subjectwiseresult-header">
                                        <h3><span class="completed-bg"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></span> <!--<img src='<?//php echo BASEURL;?>assets/images/is_cm.png' />--> Your Score</h3>
                                        <h4><?=$result->rights?> / <?=$result->rights+$result->wrongs+$result->skiped?></h4>
                                    </div>
                                    <div class="col-md-4 subjectwiseresult-header">
                                        <h3><span class="time-bg"><i class="fa fa-clock-o" aria-hidden="true"></i></span><!--<img src='<?//php echo BASEURL;?>assets/images/is_tm.png' />--> Speed</h3>
                                        <h4>
                                        <?php
                                            echo number_format($result->time_taken,2,'.','').'X';
                                        ?>
                                        </h4>
                                    </div>
                                    <div class="col-md-4 subjectwiseresult-header">
                                        <h3><span class="accuracy-bg"><i class="fa fa-bullseye" aria-hidden="true"></i></span> <!--<img src='<?//php echo BASEURL;?>assets/images/is_ac.png' />--> Accuracy</h3>
                                        <h4><?=round($result->rights/($result->rights+$result->wrongs+$result->skiped)*100)?>%</h4>
                                    </div>
                                    <div class="col-md-12"><hr/></div>
                                    <div class="clearfix"></div>
                                    <?php $qtype = ["1"=>"Single Type","2"=>"Multiple Type","3"=>"Match Type","4"=>"Numeric Type","5"=>"Paragraphs Type","6"=>"Theory Type","7"=>"Reason Assertion","8"=>"Subjective Type"];
                                        $total = 0; $mtg=0;
                                        // print_r($resultmark);
                                    ?>
                                    <?php foreach($resultmark as $rmval):?>
                                        <div class="col-md-12 subjectwiseresult-list">
                                            <h3><?=$qtype[$rmval['type']]?></h3>
                                            <label><i class="fa fa-plus-circle text-success" aria-hidden="true"></i>Positive Mark: <?=$rmval['pos']?> </label> <label><i class="fa fa-minus-circle text-danger" aria-hidden="true"></i> Negetive Mark: <?=$rmval['neg']?> </label> <label><i class="fa fa-dot-circle-o text-info" aria-hidden="true"></i> Total : <?=$rmval['pos']-$rmval['neg']?></label>
                                        </div>
                                        
                                    <?php endforeach; ?>
                                </div>
                            </section>
                            
                            <section class="panel panel-primary">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Questions</h2>
                                </header>
                                <div class="result-questions">
                                    <div class="">
                                        <?php
                                            foreach ($questions as $value) {
                                                foreach($value as $qdtail){
                                                    $questionsdataa = MasterQuestion::findfirst(array("questionid = '" . $qdtail->questionid . "'"));
                                        ?>
                                        <section class="panel panel-ssub practice-question-con">
                                        	<div class="panel-body">
                                                <div class="top-menus clearfix">
                                                <p class="text-uppercase pull-left" id=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <?=$typques[$questionsdataa->q_type]?></p>
                                                <div class="qicons pull-right">
                                                	<a href="#" data-toggle="modal" data-target="#error-modal<?= $qdtail->questionid ?>"><i class="fa fa-exclamation-triangle"></i></a>
<!--                                                       Start Error Modal-->
<div class="modal fade" id="error-modal<?= $qdtail->questionid ?>" tabindex="-1" role="dialog" 
                                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" 
                                                                                data-dismiss="modal" aria-hidden="true">
                                                                            &times;
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                            Add Error
                                                                        </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                    <div class="modal-con-new">
                                                                        <div class='modal-con-lists'>
                                                                        <div class="er<?= $qdtail->questionid ?>">
                                                                        <h4><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i> Error</h4>
                                                                            <?php
                                                                            $dnote = MasterDnote::find("user_id='" . $user_session['id'] . "' AND questionid='" . $qdtail->questionid . "' AND type=1");
                                                                            $d = 1;
                                                                            if (isset($dnote) && !empty($dnote)) {
                                                                                foreach ($dnote as $value) {
                                                                                    echo '<div class="clearfix">';
                                                                                    echo $d . ') ' . $value->note;
                                                                                    echo '</div>';
                                                                                    $d++;
                                                                                }
                                                                            }
                                                                            ?>
                                                                        </div>
                                                                        <textarea id="err<?=$qdtail->questionid?>"  class="form-control" rows="4"></textarea>
                                                                   </div>
                                                                    </div>
                                                                    </div>                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" onclick="eout('<?= $qdtail->questionid ?>')">
                                                                            Add Error
                                                                        </button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /. Error Modal -->
<!--                                                        End Error Modal-->
                                                        
                                                        
                                                    <a href="#" data-toggle="modal" data-target="#doubt-modal<?= $qdtail->questionid ?>"><i class="fa fa-question"></i> Ask a Doubt.</a>
                                                    <!-- Doubt Modal -->
                                                        <div class="modal fade" id="doubt-modal<?= $qdtail->questionid ?>" tabindex="-1" role="dialog" 
                                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" 
                                                                                data-dismiss="modal" aria-hidden="true">
                                                                            &times;
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                            Add Doubts
                                                                        </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                    <div class="modal-con-new">
                                                                        <div class='modal-con-lists'>
                                                                        <div class="doutmcon<?= $qdtail->questionid ?>">
                                                                        <h4><i class="fa fa-thumb-tack text-info" aria-hidden="true"></i> Doubts</h4>
                                                                            <?php
                                                                            $dnote = MasterDnote::find("user_id='" . $user_session['id'] . "' AND questionid='" . $qdtail->questionid . "' AND type=2");
                                                                            $d = 1;
                                                                            if (isset($dnote) && !empty($dnote)) {
                                                                                foreach ($dnote as $value) {
                                                                                    echo '<div class="clearfix">';
                                                                                    echo $d . ') ' . $value->note;
                                                                                    echo '</div>';
                                                                                    $d++;
                                                                                }
                                                                            }
                                                                            ?>
                                                                        </div>
                                                                        <textarea id="douta<?= $qdtail->questionid ?>"  class="form-control" rows="4"></textarea>
                                                                    </div>
                                                                    </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary" onclick="dout('<?= $qdtail->questionid ?>')">
                                                                            Add Doubt
                                                                        </button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /. Doubt Modal -->
                                                    <a href="#" data-toggle="modal" data-target="#solution<?= $qdtail->questionid ?>"><i class="fa fa-lightbulb-o"></i> Solution</a>
                                                    <!-- Solution Modal -->
                                                        <div class="modal fade" id="solution<?= $qdtail->questionid ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" 
                                                                                data-dismiss="modal" aria-hidden="true">
                                                                            &times;
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                            View Solution 
                                                                        </h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                    <div class="modal-con-new">
                                                                        <?php
																		echo "<div class='modal-con-lists'><h4><i class='fa fa-check-square-o text-success'></i> Answer </h4>" ;
                                                                        $ans = str_split($qdtail->ans);
                                                                        foreach ($ans as $value) {
                                                                            if ($value == 'A') {
                                                                                echo '<span class="badge badge-inverse">A</span> ' . $qdtail->option1 . '</br>';
                                                                            } elseif ($value == 'B') {
                                                                                echo '<span class="badge badge-success">B</span> ' . $qdtail->option2 . '</br>';
                                                                            } elseif ($value == 'C') {
                                                                                echo '<span class="badge badge-inverse">C</span> ' . $qdtail->option3 . '</br>';
                                                                            } elseif ($value == 'D') {
                                                                                echo '<span class="badge badge-inverse">D</span> ' . $qdtail->option4 . '</br>';
                                                                            }
                                                                        }
																		echo "</div>";
																		
                                                                        echo "<div class='modal-con-lists'><h4><i class='fa fa-lightbulb-o text-warning' ></i> Solution </h4>" . strip_tags($qdtail->hint);
                                                                        $snote = MasterSnote::find("user_id='" . $user_session['id'] . "' AND questionid='" . $qdtail->questionid . "' AND type='1'");
																		echo "</div>";
                                                                        ?>
                                                                        <div class='modal-con-lists'>
                                                                        <div class="snote<?= $qdtail->questionid ?>">
                                                                            <h4><i class="fa fa-thumb-tack text-info" aria-hidden="true"></i> Note</h4>
                                                                            <?php
                                                                            $s = 1;
                                                                            if (isset($snote) && !empty($snote)) {
                                                                                foreach ($snote as $value) {
                                                                                    echo '<div class="clearfix">';
                                                                                    echo $s . ') ' . '<label class="note-list">'.$value->note.'</label>';
                                                                                    echo '</div>';
                                                                                    $s++;
                                                                                }
                                                                            }
                                                                            ?>
                                                                        </div>
                                                                        <div class="solution-note">
                                                                            <div class="form-group">
                                                                                <input type="hidden" id="ntype<?= $qdtail->questionid ?>" value="1">
                                                                                <textarea id="note<?= $qdtail->questionid ?>" class="form-control" rows="4"></textarea>                                                                            </div>

                                                                            </div>
                                                                            </div>
                                                                            </div>
                                                                            <button class="btn btn-primary pull-right" onclick="snote('<?= $qdtail->questionid ?>')" ><i class="fa fa-thumb-tack" aria-hidden="true"></i> Add Note</button>
                                                                            <div class="clearfix"></div>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /. Solution Modal -->
													<?php $q = strip_tags($qdtail->question); ?>
                                                    <?php //echo "Question ".$qdtail->questionid;//$q = substr($q,0,50);?>
                                                        <label>
                                                        <?php if($anscheck[$qdtail->questionid]==$qdtail->ans){
                                                            echo 'Correct Ans.';
                                                        }elseif($anscheck[$qdtail->questionid]==''){
                                                            echo 'Skipped Ans.';
                                                        }else{
                                                            echo 'Wrong Ans.';
                                                        }?>
                                                        </label>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="qcontent"> <?=$qdtail->question?></div>
                                                <?php if($type[$qdtail->questionid]=='1' || $type[$qdtail->questionid]=='2'): ?>
                                                <ul class="list-group">
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">A </span> <?=$qdtail->option1?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">B </span> <?=$qdtail->option2?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">C </span> <?=$qdtail->option3?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">D </span> <?=$qdtail->option4?></li>
                                                </ul>
                                                 <?php elseif($type[$qdtail->questionid]=='7'): ?>
                                                <ul class="list-group">
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">A </span> <?=$qdtail->option1?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">B </span> <?=$qdtail->option2?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">C </span> <?=$qdtail->option3?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">D </span> <?=$qdtail->option4?></li>
                                                  <?php if($qdtail->option5!=''){?>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">D </span> <?=$qdtail->option5?></li>
                                                  <?php } ?>
                                                </ul>
                                                <?php elseif($type[$qdtail->questionid]=='3'): ?>
                                                    <table class="table table-bordered match-table">
                                                      <tbody>
                                                          <tr>
                                                              <td><span>A</span> <?=$qdtail->a?></td>
                                                              <td><span>P</span> <?=$qdtail->p?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>B</span> <?=$qdtail->b?></td>
                                                              <td><span>Q</span> <?=$qdtail->q?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>C</span> <?=$qdtail->c?></td>
                                                              <td><span>R</span> <?=$qdtail->r?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>D</span> <?=$qdtail->d?></td>
                                                              <td><span>S</span> <?=$qdtail->s?></td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                                <?php elseif($type[$qdtail->questionid]=='4'): ?>
                                                    <div class="clearfix">
                                                        <div class="col-md-4">Min: 0</div>
                                                        <div class="col-md-4">Max: 9</div>
                                                    </div>
                                                <?php endif; ?>
                                                <?php
                                                    switch ($type[$qdtail->questionid]) {
                                                        case '1':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                        case '2':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                        case '3':
                                                            $ans = ['a','b','c','d','e'];
                                                            if($qdtail->ans_e==''){
                                                                $count = 4;
                                                            }else{
                                                                $count = 5;
                                                            }
                                                            for($i=0;$i<$count;$i++){
                                                                echo strtoupper($ans[$i]).' : ';
                                                                $ns = 'ans_'.$ans[$i];
                                                                echo $qdtail->$ns.'<br>';
                                                            }
                                                            break;
                                                        case '4':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                         case '7':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                        default:
                                                            # code...
                                                            break;
                                                    }
                                                ?>
                                            </div>
                                        </section>
                                        <?php } } ?>
                                    </div>
                                    

                            </section>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
							<section class="panel panel-featured-left panel-featured-info bg-primary topicwise-test">
                                <?php if($result->share==0): ?>
											<div class="panel-body bg-primary" onclick="share(<?=$result->id?>)">
												<div class="widget-summary">
													<div class="widget-summary widget-summary-xs">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon bg-primary">
                                           <i class="fa fa-users" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Share Score with friends</h4>
														</div>
													</div>
												</div>
											</div>
                                <?php endif; ?>
							</section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
 <!--Solution Modal-->
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    function share(id){
        $("#shareid").removeAttr("onclick");
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>test/fsshare',
          data: {id:id},
          success: function(data){
            if(data){
              alert(data);
            }
          }
        });
      }
</script>