<?php 

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<style>
	.smarg {
		margin-right: 10px;
	    background: #0088CC;
	    color: #FFF;
	    border-radius: 50%;
	    padding: 0px 7px 0px 7px;
	}
	.hed{
		line-height: 2em;
	}
	.tbtn {
		margin: 0 auto;
		display: block;
		width: 115px;
	}
	.info-box{    
		background: url("<?=BASEURL?>images/students.png") no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		padding-top: 6%;
	}
	.extra-info{
		font-size: 15px;
	    display: block;
	    color: #A7A7A7;
	    text-indent: 5%;
	    line-height: 25px;
	}
</style>
<div class="quiz-results-con">
	<h3 class="score-card">Score Card</h3>
	<div class="qr-contents">
    	<div class="col-md-4 col-sm-6 single-result">
        	<div class="result-body">
            	<div class="top-con">
                	<h3 class="color1"><?=(($quiz['right']/count($quiz['qID']))*100)?><b>%</b></h3>
                </div><!--top-con-->
                <div class="divider"></div>
            	<div class="bottom-con">
                	<div class="icon-con">
                    	<span><i class="fa fa-star"></i></span>
                    </div>
                    <div class="text-con">
                    	<h5>Accuracy</h5>
                    </div>
                </div><!--bottom-con-->                
            </div>
        </div><!--single-result-->
        <?php 
$markpos=$markneg=0;
                foreach($quiz['exam_detail'] as $qzval){
                    if(isset($qzval['markpos'])){
                        $markpos += $qzval['markpos'];
                    }else{
                        $markneg += $qzval['markneg'];
                    }
                }
        ?>
    	<div class="col-md-4 col-sm-6 single-result">
        	<div class="result-body">
            	<div class="top-con">
                	<h3 class="color2"><?=$quiz['time_taken'];?><b>min.</b></h3>
                </div><!--top-con-->
                <div class="divider"></div>
            	<div class="bottom-con">
                	<div class="icon-con">
                    	<span><i class="fa fa-clock-o"></i></span>
                    </div>
                    <div class="text-con">
                    	<h5>Time Taken</h5>
                    </div>
                </div><!--bottom-con-->                
            </div>
        </div><!--single-result-->  
              
    	<div class="col-md-4 col-sm-6 single-result">
        	<div class="result-body">
            	<div class="top-con">
                	<h3 class="color3"><?=$quiz['right'].'/'.count($quiz['qID'])?></h3>
                </div><!--top-con-->
                <div class="divider"></div>
            	<div class="bottom-con">
                	<div class="icon-con">
                    	<span><i class="fa fa-check-square-o"></i></span>
                    </div>
                    <div class="text-con">
                    	<h5>Right Answer</h5>
                    </div>
                </div><!--bottom-con-->                
            </div>
        </div><!--single-result-->
        
    	<div class="col-md-4 col-sm-6 col-md-offset-2 single-result">
        	<div class="result-body">
            	<div class="top-con">
                	<h3 class="color4"><?=$markpos?></h3>
                </div><!--top-con-->
                <div class="divider"></div>
            	<div class="bottom-con">
                	<div class="icon-con">
                    	<span><i class="fa fa-plus-circle"></i></span>
                    </div>
                    <div class="text-con">
                    	<h5>Positive Mark</h5>
                    </div>
                </div><!--bottom-con-->                
            </div>
        </div><!--single-result-->
        
    	<div class="col-md-4 col-sm-6 col-md-offset-0 col-sm-offset-3 single-result">
        	<div class="result-body">
            	<div class="top-con">
                	<h3 class="color5"><?=$markneg?></h3>
                </div><!--top-con-->
                <div class="divider"></div>
            	<div class="bottom-con">
                	<div class="icon-con">
                    	<span><i class="fa fa-minus-circle"></i></span>
                    </div>
                    <div class="text-con">
                    	<h5>Negetive Mark</h5>
                    </div>
                </div><!--bottom-con-->                
            </div>
        </div><!--single-result-->        
        
	</div><!--qr-contents-->
    <div class="quiz-bottom">
    	<div class="home-body">
        	<a href="<?=BASEURL?>index" data-toggle="tooltip" title="go back to Home" data-appear-animation="fadeIn" class="">
            	<i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div><!--quiz-results-con-->

