<script type="text/javascript">
						function get_assign1(c_this){
						  var cls_name=$("#class1").val();
						  var sec_name=$("#sec").val();//alert("ff")
						  if ((sec_name == null || sec_name == "") && (cls_name == null || cls_name == "") ) {
							  $("#assign_info").html("<div class='alert alert-danger alert-dismissable'><i class='fa fa-paperclip'></i><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><b>Alert!</b> Please Choose Class, Section. . . . </div>");
							  return false;
						  }
						  if (cls_name == null || cls_name == "") {
							  $("#assign_info").html("<div class='alert alert-danger alert-dismissable'><i class='fa fa-paperclip'></i><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><b>Alert!</b> Please Choose Class . . . . </div>");
							  return false;
						  }
						  if (sec_name == null || sec_name == "") {
							  $("#assign_info").html("<div class='alert alert-danger alert-dismissable'><i class='fa fa-paperclip'></i><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><b>Alert!</b> Please Choose Section . . . . </div>");
							  return false;
						  }
						  
						  
						  if ((sec_name !== null || sec_name !== "") && (cls_name !== null || cls_name !== "") ) {
							
							  $("#assign_info").html("<center><img style='padding:20px;' src='http://www.mykid.co.in/asserts/admin/img/719.gif'/></center>");
							  $.post("http://www.mykid.co.in/index.php/school/get_student/"+cls_name+"/"+sec_name,function(r){
								console.log(r);
								$("#assign_info").html(r);
							  });
						  }
						}
					  </script>