<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("pageform"); ?>

<section class="body">
<!-- slug script start here-->
<script type="text/javascript">
    function myFunction() {
        var title_nm= document.getElementById("page").value;
        $.post("/ischool4u/pages/slugify/"+title_nm,function(r){
            console.log(r);
            obj = JSON.parse(r);
            var elem = document.getElementById("slug");
             elem.value = obj.value;
             $("#slug_error").html(obj.msg);
                if (obj.status==1) {
                    $('.submit').prop('disabled', false);
                }
                else
                {
                    $('.submit').prop('disabled', true);
                }
            });
        }       
</script>
                        
<!-- slug script end here-->
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            
  				<div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Page</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>pages/updatepage" onsubmit="return submitValidation();" method="post">
                                 <?php foreach($page as $val){ ?>
                                    <input type="hidden" value="<?php echo $val->id ?>" name="id">
                                    <div class="form-group">
                                         <label class="col-md-3">Page </label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="page" onkeyup="myFunction()" value="<?=$this->request->getPost("page")?>"  placeholder="<?php echo $val->page ?>" type="text" name="page" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3">Slug</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" value="<?=$this->request->getPost("slug")?>"placeholder="<?php echo $val->slug ?>" type="text" name="slug"   >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3">Enter Description</label>
                                        <div class="col-md-6">                                        
                                            <textarea class="summernote" name="desc"id="desc" onblur="return check2();" data-plugin-summernote data-plugin-options ='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>
                                            <?php echo $val->desc ?></textarea>
                                            <label><span id="er" ></span></label>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3">Meta Key Word </label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?php echo $val->metakeyword ?>" placeholder="Enter Plan Name" type="text" name="metakeyword" id="metakeyword" onblur="return check3();"  required>
                                        <label><span id="error1" ></span></label>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3">Meta Data </label>
                                        <div class="col-md-6">
                                        <input class="form-control"  value="<?php echo $val->metadata ?>"  placeholder="Enter Plan Name" type="text" name="metadata" id="metadata" onblur="return check4();" required>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3">Meta Description</label>
                                        <div class="col-md-6"> 
                                        <textarea class="summernote" name="metadesc" id="metadesc" data-plugin-summernote data-plugin-options ='{ "height": 180, "codemirror": { "theme": "ambiance" } }'>
                                            <?php echo $val->metadesc ?>
                                        </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Status</label>
                                        <div class="col-md-6">
                                        <select name="status"  id="status" onchange="return check5();" class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php echo $val->status==1?'selected':'' ?> >Active</option>   
                                          <option value="0" <?php echo $val->status==0?'selected':'' ?> >Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update</button>
                                        </div>
                                    </div>
                                     <?php } ?>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("pageform"); ?><!-- footer-->