<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<?php
  $getVal=$this->request->get();
?>
<script type="text/javascript">
  function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubsubject',
          data: 'subjectid='+subid,
          success: function(data){
            if(data){
              $("#subsubject").html(data);
              $("#topics").html("<option value>[ Select Topics ]</option>");
              $("#subtopics").html("<option value>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/gettopics',
          data: {subjectid:subid,ssubid:ssubid},
          success: function(data){
            if(data){
              $("#topics").html(data);
              $("#subtopics").html("<option value>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubtopics',
          data: {subjectid:subid,ssubid:ssubid,topics:topics},
          success: function(data){
            if(data){
              $("#subtopics").html(data);
              console.log(data);
            }
          }
        });
      }
       function getdetail(){
        var subtopics=$("#subtopics").val();
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>concepts/index',
          data: {subjectid:subid,ssubid:ssubid,topics:topics,subtopics:subtopics},
          success: function(data){
            }
        });
      }
</script>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
                  <!-- Toolbar Here -->
                      <div class="inner-toolbar clearfix"> 
                        <ul>
                          <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                              <li class="active">
                                <a href="<?=BASEURL?>article/addarticle">Add Article</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  <!-- Toolbar Here end -->
                  <!-- main contain start-->
 				<section class="panel">

			                <header class="panel-heading">
			                    <div class="panel-actions">
			                        <a href="#" class="fa fa-caret-down"></a>
			                        <a href="#" class="fa fa-times"></a>
			                    </div>
			            
			                    <h2 class="panel-title">Article Details</h2>
			                </header>
			                    <div class="panel-body">
                              <div class="form-group">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>article" method="get">
                                  <div class="col-md-3">
                                    <label for="subject">Subject</label>
                                      <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                          <option value="">[ Select Subject ]</option>
                                          <?php if (isset($subdet) ) {
                                            foreach ($subdet as $subdetRes) { ?>
                                              <option value='<?=$subdetRes->id?>' <?php if(isset($getVal['subject']) & $getVal['subject']==$subdetRes->id){echo "selected";}?>><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                          <?php  }
                                          }
                                        ?>
                                      </select>
                                  </div>
                                  <div class="col-md-3">
                                    <label for="subsubject">Sub Subject</label>
                                      <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                          <option value="">[ Select Sub Subject ]</option>
                                          <?php if (isset($subsubdet) ) {
                                            foreach ($subsubdet as $subsubdetRes) { ?>
                                              <option value='<?=$subsubdetRes->ssid?>' <?php if(isset($getVal['subsubject']) & $getVal['subsubject']==$subsubdetRes->ssid){echo "selected";}?> ><?=stripslashes(ucwords($subsubdetRes->ssname))?></option>
                                          <?php  }
                                          }
                                        ?>
                                      </select>
                                  </div>
                                  <div class="col-md-3">
                                    <label for="topics">Topic</label>
                                      <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                          <option value="">[ Select Topics ]</option>
                                          <?php if (isset($mTopicdet) ) {
                                              foreach ($mTopicdet as $mTopicdetRes) { ?>
                                                <option value='<?=$mTopicdetRes->tid?>' <?php if(isset($getVal['topics']) & $getVal['topics']==$mTopicdetRes->tid){echo "selected";}?> ><?=stripslashes(ucwords($mTopicdetRes->tname))?></option>
                                            <?php  }
                                            }
                                          ?>
                                      </select>
                                  </div>
                                  <div class="col-md-3">
                                    <label for="subtopics">Sub Topic</label>
                                      <select class="form-control mb-md" name="subtopics" id="subtopics" onchange="getdetail()">
                                          <option value="">[ Select Sub Topics ]</option>
                                          <?php if (isset($msTopicdet) ) {
                                              foreach ($msTopicdet as $msTopicdetRes) { ?>
                                                <option value='<?=$msTopicdetRes->stid?>' <?php if(isset($getVal['subtopics']) & $getVal['subtopics']==$msTopicdetRes->stid){echo "selected";}?> ><?=stripslashes(ucwords($msTopicdetRes->stname))?></option>
                                            <?php  }
                                            }
                                          ?>
                                      </select>
                                  </div>
                                  <div class="col-md-3">
                                    <input type="submit" name="submit" value="submit" class="btn btn-primary">
                                  </div>
                                </form>
                              </div>
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
			                                    <th>SL# &nbsp;</th>
			                                    <th>Title</th>			                                    
			                                    <th>Article</th>
                                          <th>slug</th>
                                          <th>Meta Data</th>
                                          <th>Meta Type</th>
                                          <th>Meta Description</th>
			                                    <th>Status</th>
			                                    <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
                                  
                                   <?php $x=1; foreach ($article as $articleRes) { ?>
                                        <tr>
                                          <td><?=$x?></td>
                                          <td><?=$articleRes->title?></td>                                   
                                          <td><?=$articleRes->article?></td>
                                          <td><?=$articleRes->slug?></td>
                                          <td><?=$articleRes->metadata?></td>
                                          <td><?=$articleRes->metatype?></td>
                                          <td><?=$articleRes->metadesc?></td>
                                          <td>
                                          <?php 
                                              if ($articleRes->status==1) {
                                                  echo $this->tag->linkTo("article/updarstatus/2/".$articleRes->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                              }
                                              else
                                              {
                                                  echo $this->tag->linkTo("article/updarstatus/1/".$articleRes->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                              }
                                          ?>
                                          </td>
                                           <th> <?php echo $this->tag->linkTo("article/updatearticle/".$articleRes->id, "<i class='fa fa-pencil' title='Update Article'></i>") ?>
                                          <i class="fa fa-times" title='Delete Article' data-toggle="modal" data-target="#delete<?php echo $articleRes->id?>" style="cursor:pointer;"></i></th>
                                       <!-- Modal Start Here -->
                                          <div id="delete<?php echo $articleRes->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($articleRes->article); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Do you want to delete this Article?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("article/deletearticle/".$articleRes->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>
                                        </tr>
                                     <?php $x++; } ?>                                       
			                            </tbody>
			                        </table>
			                    </div>
                          <!--panel-body-->
                          <!--main contain end here-->
           		</section>
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->