<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
<script type="text/javascript">
    function updateEditor(para){
        var value = $('.Editor-editor').html();
        $("#"+para).html(value);
    }
    function Slugs() {
        var title_nm= document.getElementById("title").value;
        $.post("/ischool4u/concepts/slugify/"+title_nm,function(r){//alert("do");
            console.log(r);
            obj = JSON.parse(r);
            var elem = document.getElementById("slug");
            elem.value = obj.value;
            $("#slug_error").html(obj.msg);
            if (obj.status==1) {
                $('.submit').prop('disabled', false);
            }
            else
            {
                $('.submit').prop('disabled', true);
            }
        });
    }
    function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>questionbank/getsubsubject',
            data: 'subjectid='+subid,
            success: function(data){
                if(data){
                    $("#subsubject").html(data);
                    $("#topics").html("<option>[ Select Topics ]</option>");
                    $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                    console.log(data);
                }
            }
        });
    }
    function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>questionbank/gettopics',
            data: {subjectid:subid,ssubid:ssubid},
            success: function(data){
                if(data){
                    $("#topics").html(data);
                    $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                    console.log(data);
                }
            }
        });
    }
    function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>questionbank/getsubtopics',
            data: {subjectid:subid,ssubid:ssubid,topics:topics},
            success: function(data){
                if(data){
                    $("#subtopics").html(data);
                    console.log(data);
                }
            }
        });
    }             
</script>
<style>
    #btn-article{
        display: none;
    }
</style>

<!-- slug script end here-->
<section class="body">
<?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
    <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
        <?= UIElementsAdmin::getBreadcrumds() ?>
            <?= UIElementsAdmin::news() ?>


            <div class="row"> <!-- Content Start Here -->
                <div class="col-xs-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">Add Article</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" action="<?= BASEURL ?>article/updatearticle" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                <input type="hidden" name="id" value="<?= $article->id ?>">
                                <div class="form-group">                                         
                                    <div class="col-md-12">
                                        <textarea class="form-control" name="tips_name_new_up" placeholder="Text Editor" rows="12" ></textarea>
                                        <div class="clearfix gap"></div>
                                        <div class="btn btn-primary" id="btn-article" onclick="setdatanew('article')">Add Article</div>

                                    </div>
                                    <div class="clearfix gap"></div>
                                    <div class="col-md-12 editCollection">
                                        <div class="btn btn-sm btn-info" onclick="setEditornew('article')">Article</div>
                                    </div>                                       
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label for="subject">Subject <span class="required">*</span></label>
                                        <select class="form-control mb-md" required id="subject" name="subject" onchange="getsubsubject()" >
                                            <option value="">[ Select Subject ]</option>
<?php if (isset($subdet)) {
    foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?= $subdetRes->id ?>' <?= ($subdetRes->id == $article->subject) ? "selected" : '' ?>><?= stripslashes(ucwords($subdetRes->subjectname)) ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="subsubject">Sub Subject <span class="required">*</span></label>
                                        <select class="form-control mb-md" required name="subsubject" id="subsubject" onchange="gettopics()" >
                                            <option value="">[ Select Sub Subject ]</option>
                                            <?php if (isset($subsubdet)) {
                                                foreach ($subsubdet as $subsubdetRes) { ?>
                                                    <option value='<?= $subsubdetRes->ssid ?>' <?= ($subsubdetRes->ssid == $article->subsubject) ? "selected" : '' ?>><?= stripslashes(ucwords($subsubdetRes->ssname)) ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="topics">Topic <span class="required">*</span></label>
                                        <select class="form-control mb-md" required name="topics" id="topics" onchange="getsubtopics()" >
                                            <option value="">[ Select Topics ]</option>
                                            <?php if (isset($mTopicdet)) {
                                                foreach ($mTopicdet as $mTopicdetRes) { ?>
                                                    <option value='<?= $mTopicdetRes->tid ?>' <?= ($mTopicdetRes->tid == $article->topics) ? "selected" : '' ?>><?= stripslashes(ucwords($mTopicdetRes->tname)) ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label for="subtopics">Sub Topic </label>
                                        <select class="form-control mb-md" name="subtopics" id="subtopics">
                                            <option value="">[ Select Sub Topics ]</option>
                                            <?php if (isset($msTopicdet)) {
                                                foreach ($msTopicdet as $msTopicdetRes) { ?>
                                                    <option value='<?= $msTopicdetRes->stid ?>' <?= ($msTopicdetRes->stid == $article->subtopics) ? "selected" : '' ?>><?= stripslashes(ucwords($msTopicdetRes->stname)) ?></option>
                                                <?php
                                                }
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">                                         
                                    <label class="col-md-2 control-label">Title <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="title" onkeyup="Slugs()"  placeholder="Enter Page" type="text" name="title" value="<?= $article->title ?>" required >

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Slug</label><span id="slug_error"></span>
                                    <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?= $article->slug ?>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Article <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <textarea class="form-control description" required id="article" required  placeholder="Enter Description" rows="3" name="article" ><?= strip_tags($article->article) ?></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Meta data</label><span id="slug_error"></span>
                                    <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Meta data" type="text" name="metadata"  value="<?= $article->metadata ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Meta Type</label><span id="slug_error"></span>
                                    <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Meta Type" type="text" name="metatype"  value="<?= $article->metatype ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Meta data</label><span id="slug_error"></span>
                                    <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Meta Desc" type="text" name="metadesc" value="<?= $article->metadesc ?>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <select name="status" id="status" required class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1" <?php if ($article->status == 1) { ?>selected<?php } ?>>Active</option>   
                                            <option value="0" <?php if ($article->status == 0) { ?>selected<?php } ?>>Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label hidden-xs"></label>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success hidden-xs pull-right"  >Update</button>
                                        <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
    CKEDITOR.replace( 'tips_name_new_up',
    {  
    });
    function setdatanew(){
        var value =CKEDITOR.instances.tips_name_new_up.getData();
        document.getElementById("article").value = value;
    }
    function setEditornew(){
        var value = $("#article").val();
        CKEDITOR.instances['tips_name_new_up'].setData(value);
        document.getElementById("btn-article").style.display = "inline";
    }
</script>