<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Add Subject</h2>
                                <div class="col-md-3 mandatory">
                                    ( <span class="required">*</span> Marked are Mandatory)
                                </div>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/addsubject" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Subject Name <span class="required">*</span> </label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Subject Name" type="text" name="subjectname"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter Meta Description" type="text" name="slug">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Data" type="text" name="metadata"  >
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Type" type="text" name="metatype"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Description" type="text" name="metadesc"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Subject</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Subject</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->