<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>
  function getsubject(){
    var s = $( "#subject" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectlist',
      data: 'subjectid='+s,
      success: function(data){
        if(data)
        {
          $("#subsubject").html(data);
        }
      }
    });
  }
 
function mytopicslug() {
    var title_nm= document.getElementById("tname").value;
    $.post("/ischool4u/subject/slug_topic_ify/"+title_nm,function(r){//alert("do");
        console.log(r);
        obj = JSON.parse(r);
        var elem = document.getElementById("slug");
         elem.value = obj.value;
         $("#slug_error").html(obj.msg);
            if (obj.status==1) {
                $('.submit').prop('disabled', false);
            }
            else
            {
                $('.submit').prop('disabled', true);
            }
        });
    }
// slug script end here
  
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row">
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Add Topic</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/addtopics" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Subject Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="subid" required  class="form-control" id="subject" onchange="getsubject()">
                                          <option value="">--Choose Subject--</option>
                                          <?php foreach($subject as $val){?>
                                            <option value="<?php echo $val->id; ?>"><?php echo $val->subjectname;?></option>
                                          <?php }?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Sub Subject Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="ssubid" required  class="form-control" id="subsubject">
                                          <option value="">--Choose Sub Subject--</option>
                                           
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Topic Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="tname" onkeyup="mytopicslug()" placeholder="Enter Topic Name" type="text" value="<?=$this->request->getPost("tname")?>" name="tname"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control"  id="slug"   placeholder="Enter Meta Description" type="text" name="slug" value="<?=$this->request->getPost("slug")?>">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Data" type="text" name="metadata"  >
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Type" type="text" name="metatype"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Description" type="text" name="metadesc"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->