<?php

echo $this->getContent();?>
<?php 
  $getVal=$this->request->get();
?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<script>
  var url ="?";
  function getsubsubject(){
    var subid = $( "#subject" ).val();
    if (!subid=="") {
      url+="subject="+subid+"&";
      window.location="<?php echo BASEURL;?>subject/subsubject/"+url;
    }
  }
  
</script>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

          <!-- Start Page Here -->
          <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
            <ul>
              <li class="right">
                <ul class="nav nav-pills nav-pills-primary">
                  <li class="active">
                    <a href="<?=BASEURL?>subject/addsubsubject">Add Subject</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <section class="panel course-body"> <!-- Second Panel -->
                  <header class="panel-heading">
                      <div class="panel-actions">
                          <a href="#" class="fa fa-caret-down"></a>
                          <a href="#" class="fa fa-times"></a>
                      </div>
              
                      <h2 class="panel-title">Sub Subject Details</h2>
                  </header>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-6">
                              <div class="form-group">
                                <label class="col-md-4 control-label" for="inputSuccess">Subject Name</label>
                                <div class="col-md-8">
                                  <select class="form-control mb-md" id="subject" onchange="getsubsubject()" >
                                      <option value="">[ Select Subject ]</option>
                                      <?php if (isset($subject) ) {
                                          foreach ($subject as $subjectRes) { ?>
                                            <option value='<?=$subjectRes->id?>' <?php if(isset($getVal['subject']) & $getVal['subject']==$subjectRes->id){echo "selected";}?> ><?=stripslashes(ucwords($subjectRes->subjectname))?></option>
                                        <?php  }
                                        }
                                      ?>
                                  </select>
                                </div>
                              </div>
                              </div>
                          </div>
                          <table class="table table-bordered table-striped mb-none" id="datatable-default">
                              <thead>
                                  <tr>
                                      <th>SL# &nbsp;</th>
                                      <th>Subject Name</th>
                                      <th>Sub Subject Name</th>
                                      <th>Metadata</th>
                                      <th>Metatype</th>
                                      <th>Metadesc</th>
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody id="table-data">
                                  <?php $i=1;foreach($subsubject as $value){
                                  $subjectname = MasterSubject::findFirst(array("id='".$getVal['subject']."' "));
                                  ?>
                                  <tr>
                                      <td><?=$i++?></td>
                                      <td><?=$subjectname->subjectname?></td>
                                      <td><?=$value->ssname?></td>
                                      <td><?=$value->metadata?></td>
                                      <td><?=$value->metatype?></td>
                                      <td><?=$value->metadesc?></td>
                                      <td>
                                        <?php 
                                        if ($value->status==1) {
                                            echo $this->tag->linkTo("subject/updsubsubstatus/2/".$value->ssid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                        }else{
                                            echo $this->tag->linkTo("subject/updsubsubstatus/1/".$value->ssid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                        }
                                        ?>
                                      </td>
                                      <td>
                                        <i class="fa fa-desktop" title="Display" data-toggle="modal" data-target="#myModal<?php echo $value->ssid?>" style="cursor:pointer;"></i>
                                        <?php echo $this->tag->linkTo("subject/updatesubsubject/".$value->ssid, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                        <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $value->ssid?>" style="cursor:pointer;"></i>
                                      </td>

                                      <!-- Modal Start Here -->
                                      <div id="delete<?php echo $value->ssid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($value->ssname); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this Sub Subject?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("subject/deletesubsubject/".$value->ssid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                      </div>

                                      <div id="myModal<?php echo $value->ssid?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                          <div class="modal-dialog">
                                            <div class="modal-content">

                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Sub Subject Details</h4>
                                              </div>
                                              <div class="modal-body">
                                                <div class="">
                                                    <div class="row">
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Subject Name</label>
                                                          <div class="col-sm-9">
                                                              <?php echo $subjectname->subjectname; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Sub Subject Name </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->ssname; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Slug </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->slug; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Meta Data </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->metadata; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Meta Type </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->metatype; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Meta Description </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->metadesc; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Status</label>
                                                          <div class="col-sm-9">
                                                              <?php 
                                                              if ($value->status==1){
                                                                  echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
                                                                  }else{
                                                                      echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
                                                                }
                                                              ?>
                                                          </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                              </div>

                                            </div><!-- /.modal-content -->
                                          </div><!-- /.modal-dialog -->
                                      </div>
                                      <!-- Modal End Here -->
                                  </tr>
                                  <?php } ?>
                              </tbody>
                          </table>
                      </div><!--panel-body-->
          </section> <!-- Second Panel End -->
          
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->