<?php

echo $this->getContent();?>
<?php 
  $getVal=$this->request->get();
  ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<script>
  var url ="?";
  function getsubsubject(){
    var subid = $( "#subject" ).val();
    
    if (!subid=="") {
      url+="subject="+subid+"&";
      window.location="<?php echo BASEURL;?>subject/subtopics/"+url;
    }
  }
  function gettopics(){
    var topics = $( "#topics" ).val();
    var subid = $( "#subject" ).val();
    
    if (!subid=="") {
      url+="subject="+subid+"&";
    }
    if (!topics=="") {
      url+="topics="+topics+"&";
      window.location="<?php echo BASEURL;?>subject/subtopics/"+url;
    }
  }
  function getsubtopics(){
    var subtopics = $( "#subtopics" ).val();
    var topics = $( "#topics" ).val();
    var subid = $( "#subject" ).val();
    
    if (!subid=="") {
      url+="subject="+subid+"&";
    }
    if (!topics=="") {
      url+="topics="+topics+"&";
    }
    if (!subtopics=="") {
      url+="subtopics="+subtopics+"&";
      window.location="<?php echo BASEURL;?>subject/subtopics/"+url;
    }
  }
</script>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

          <!-- Start Page Here -->
          <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
            <ul>
              <li class="right">
                <ul class="nav nav-pills nav-pills-primary">
                  <li class="active">
                    <a href="<?=BASEURL?>subject/addsubtopics">Add Sub Topic</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <section class="panel course-body"> <!-- Second Panel -->
                  <header class="panel-heading">
                      <div class="panel-actions">
                          <a href="#" class="fa fa-caret-down"></a>
                          <a href="#" class="fa fa-times"></a>
                      </div>
              
                      <h2 class="panel-title">Sub Topics Details</h2>
                  </header>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-3">
                              <div class="form-group">
                                <div class="">
                                  <select class="form-control mb-md" id="subject" onchange="getsubsubject()" >
                                      <option value="">[ Select Subject ]</option>
                                      <?php if (isset($subdet) ) {
                                          foreach ($subdet as $subdetRes) { ?>
                                            <option value='<?=$subdetRes->id?>' <?php if(isset($getVal['subject']) & $getVal['subject']==$subdetRes->id){echo "selected";}?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                        <?php  }
                                        }
                                      ?>
                                  </select>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-3">
                              <div class="form-group">
                                <div class="">
                                  <select class="form-control mb-md" id="topics" onchange="gettopics()" >
                                          <option value="">[ Select Sub Subject ]</option>
                                      <?php if (isset($subsubject) ) {
                                          foreach ($subsubject as $subsubjectRes) { ?>
                                            <option value='<?=$subsubjectRes->ssid?>' <?php if(isset($getVal['topics']) & $getVal['topics']==$subsubjectRes->ssid){echo "selected";}?> ><?=stripslashes(ucwords($subsubjectRes->ssname))?></option>
                                        <?php  }
                                        }
                                      ?>
                                  </select>
                                </div>
                              </div>
                              </div>
                              <div class="col-md-3">
                              <div class="form-group">
                                <div class="">
                                  <select class="form-control mb-md" id="subtopics" onchange="getsubtopics()" >
                                          <option value="">[ Select Topics ]</option>
                                      <?php if (isset($topics) ) {
                                          foreach ($topics as $topicsRes) { ?>
                                            <option value='<?=$topicsRes->tid?>' <?php if(isset($getVal['subtopics']) & $getVal['subtopics']==$topicsRes->tid){echo "selected";}?> ><?=stripslashes(ucwords($topicsRes->tname))?></option>
                                        <?php  }
                                        }
                                      ?>
                                  </select>
                                </div>
                              </div>
                              </div>
                          </div>
                          <table class="table table-bordered table-striped mb-none" id="datatable-default">
                              <thead>
                                  <tr>
                                      <th>SL# &nbsp;</th>
                                      <th>Subject Name</th>
                                      <th>Sub Subject Name</th>
                                      <th>Topic Name</th>
                                      <th>Sub-Topic Name</th>
                                      <th>Metadata</th>                                      
                                      <th>Status</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody id="table-data">
                                  <?php $i=1;foreach($subtopics as $value){
                                   $getSubject = MasterSubject::findFirst(array("id='".$getVal['subject']."' "));
                                  $getsubsubject = MasterSubSubject::findFirst(array("subid='".$getVal['subject']."' AND ssid='".$value->ssubid."'"));
                                   $gettopics = MasterTopics::findFirst(array("tid='".$value->tid."' AND subid='".$getVal['subject']."' "));
                                  
                                  ?>
                                  <tr>
                                      <td><?=$i++?></td>
                                      <td><?=$getSubject->subjectname?></td>
                                      <td><?=$getsubsubject->ssname?></td>
                                      <td><?= $gettopics->tname?></td>
                                      <td><?=$value->stname?></td>
                                      <td><?=$value->metadata?></td>
                                      <td>
                                        <?php 
                                        if ($value->status==1) {
                                            echo $this->tag->linkTo("subject/updasub_topstatus/2/".$value->stid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                        }else{
                                            echo $this->tag->linkTo("subject/updasub_topstatus/1/".$value->stid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                        }
                                        ?>
                                      </td>
                                      <td>
                                        <i class="fa fa-desktop" title="Display" data-toggle="modal" data-target="#myModal<?php echo $value->stid?>" style="cursor:pointer;"></i>
                                        <?php echo $this->tag->linkTo("subject/updatesubtopics/".$value->stid, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                        <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $value->tid?>" style="cursor:pointer;"></i>
                                      </td>

                                      <!-- Modal Start Here -->
                                      <div id="delete<?php echo $value->tid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($value->tname); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this Sub Subject?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("subject/deletesubtopics/".$value->stid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                      </div>

                                      <div id="myModal<?php echo $value->stid?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                          <div class="modal-dialog">
                                            <div class="modal-content">

                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Sub Topics Details</h4>
                                              </div>
                                              <div class="modal-body">
                                                <div class="">
                                                    <div class="row">
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Subject Name </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $getSubject->subjectname; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Sub Subject Name</label>
                                                          <div class="col-sm-9">
                                                              <?php echo $getsubsubject->ssname; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Topics Name </label>
                                                          <div class="col-sm-9">
                                                              <?=$gettopics->tname?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label"> Sub Topics Name </label>
                                                          <div class="col-sm-9">
                                                              <?=$value->stname;?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Slug </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->slug; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Meta Data </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->metadata; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Meta Type </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->metatype; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Meta Description </label>
                                                          <div class="col-sm-9">
                                                              <?php echo $value->metadesc; ?>
                                                          </div>
                                                      </div>
                                                      <div class="clearfix"></div>
                                                      <div class="form-group">
                                                          <label class="col-sm-3 control-label">Status</label>
                                                          <div class="col-sm-9">
                                                              <?php 
                                                              if ($value->status==1){
                                                                  echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
                                                                  }else{
                                                                      echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
                                                                }
                                                              ?>
                                                          </div>
                                                      </div>
                                                    </div>
                                                </div>
                                                
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                              </div>

                                            </div><!-- /.modal-content -->
                                          </div><!-- /.modal-dialog -->
                                      </div>
                                      <!-- Modal End Here -->
                                  </tr>
                                  <?php } ?>
                              </tbody>
                          </table>
                      </div><!--panel-body-->
          </section> <!-- Second Panel End -->
          
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->