<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Add Admin</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>adminusers/add" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">Role</label>
                                            <div class="col-md-6">
                                                <select name="type" id="" class="form-control" onchange="showdata(this.value);">
                                                    <option value="">-- Choose a Role --</option>
                                                    <?php
                                                        foreach($roles as $role){
                                                            echo "<option value='".$role->id."'>".$role->role_name."</option>";
                                                        }
                                                    ?>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">First Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter First Name" type="text" name="first_name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Last Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Last Name" type="text" name="last_name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Mail-ID</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Mail-ID" type="email" name="mail_id" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Password</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="****PASSWORD****" type="text" name="pass"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Contact No</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Contact No" type="number" name="contact_no"  required>
                                        </div>
                                    </div>
                                    <div id="auth" style="display: none;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Education</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" placeholder="****Enter highest education****" type="text" name="education">
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Profession</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" placeholder="****Enter Profession ****" type="text" name="profession">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Currently Working</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" placeholder="****Currently Working at ****" type="text" name="currently_working">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Profile Image</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1"  type="file" name="profile_image" onChange="ValidateSingleInput(this);">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Status</label>
                                        <div class="col-md-6">
                                        <select name="is_active" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Admin</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Admin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>
<script>
function showdata(chk){
    if(chk==1){
        $("#auth").removeAttr("style");
        $(".author").attr("required","required");
    }else{
        $(".author").removeAttr("required");
        $("#auth").attr("style","display:none");
    }
}
function ValidateSingleInput(oInput) {
        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
             
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
</script>