<?php

use Phalcon\Tag as Tag;
echo $this->getContent();
?>
               
                <!-- Main content -->
                <section class="content">

                    <div class="row">
                        <div class="col-md-12">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Add User Type</h3>
                                    <div class="pull-right">
                                    <?php echo Phalcon\Tag::linkTo(array('adminusers/usertype', 'User Type List', 'class' => 'btn btn-info', 'style'=>'margin:10px 50px 0px 0px; color:#FFF;'));?>
                                    </div>  
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <?php echo Phalcon\Tag::form(array("adminusers/addtype", "method" => "post"));?>
                                    <div class="box-body manual_width">
                                        
                                        <div class="form-group">
                                            <div class="col-lg-2">
                                                <label>User Type</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <input class="form-control" id="title" placeholder="Enter Admin User Type" type="text" name="type_name" value="<?=$this->request->getPost("type_name")?>" required>
                                            </div>
                                        </div>
                                        
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary submit">Submit</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->

                        </div><!--after row col-md-12-->
                    </div>
                

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <!-- add new calendar event modal -->
        