<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Update Admin</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>adminusers/update" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="aid" value="<?=$adminuser->aid?>">
                                    <input type="hidden" name="pass" value="<?=$adminuser->pass?>">
                                    <input type="hidden" name="created" value="<?=$adminuser->created?>">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">Role</label>
                                            <div class="col-md-6">
                                                <select name="type" id="" class="form-control" onchange="showdata(this.value);">
                                                    <option value="">-- Choose a Role --</option>
                                                    <?php
                                                        foreach($roles as $role){
                                                            $select = ($role->id==$adminuser->type)?'selected':'';
                                                            echo "<option value='".$role->id."' ".$select.">".$role->role_name."</option>";
                                                        }
                                                    ?>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">First Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter First Name" type="text" name="first_name" value="<?=$adminuser->first_name?>" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Last Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Last Name" type="text" name="last_name" value="<?=$adminuser->last_name?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email</label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Email" type="email" name="mail_id" value="<?=$adminuser->mail_id?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Password</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="****PASSWORD****" type="text" name="pass" value="<?php echo base64_decode($adminuser->pass);?>" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Contact No</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Contact No" type="number" name="contact_no" value="<?=$adminuser->contact_no?>"  >
                                        </div>
                                    </div>
                                    <div id="auth" <?php if($adminuser->type!=1){?>style="display: none;"<?php } ?>>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Education</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" <?php if($adminuser->type==1){?>required<?php } ?>id="exampleInputPassword1" placeholder="****Enter highest education****" type="text" name="education" value="<?=$adminuser->education?>">
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Profession</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" <?php if($adminuser->type==1){?>required<?php } ?> placeholder="****Enter Profession ****" type="text" name="profession" value="<?=$adminuser->profession?>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Currently Working</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" <?php if($adminuser->type==1){?>required<?php } ?> placeholder="****Currently Working at ****" type="text" name="currently_working" value="<?=$adminuser->currently_working?>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Profile Image</label>
                                            <div class="col-md-3">
                                                <input class="form-control author" id="exampleInputPassword1" type="file" name="profile_image" onChange="ValidateSingleInput(this);">
                                                </div>
                                                <div class="col-md-3">
                                                <?php if ($adminuser->profile_image != '') { ?>
                                        <img src="<?=BASEURL?>author/<?= $adminuser->profile_image ?>" height="100px;" width="100px;">
                                    <?php } ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Status</label>
                                        <div class="col-md-6">
                                        <select name="is_active"   class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if($adminuser->is_active==1){ ?>selected <?php } ?> >Active</option>   
                                          <option value="0" <?php if($adminuser->is_active==0){ ?>selected <?php } ?> >Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Admin</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Admin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>
<script>
function showdata(chk){
    if(chk==1){
        $("#auth").removeAttr("style");
        $(".author").attr("required","required");
    }else{
        $(".author").removeAttr("required");
        $("#auth").attr("style","display:none");
    }
}
function ValidateSingleInput(oInput) {
        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
             
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
</script>