<?php echo $this->getContent(); ?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
            <?= UIElementsAdmin::getBreadcrumds() ?>

            <!-- Start Page Here -->
            <div class="row"> 
                <div class="col-xs-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">Add Course</h2>
                            <div class="col-md-3 mandatory">
                                ( <span class="required">*</span> Marked are Mandatory)
                            </div>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" action="<?= BASEURL ?>course/addcategory" method="post">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Super Category Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <select name="scid" required class="form-control">
                                            <option value=''>--select--</option>
                                            <?php foreach($supcat as $scat){?>
                                            <option value='<?=$scat->scid ?>'><?=$scat->scname ?></option>
                                            <?php } ?>
                                            </select>
<!--                                        <input class="form-control"  placeholder="Enter Category Name" type="text" name="name"  required>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Category Name" type="text" name="name"  required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Description</label>
                                    <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Description" type="text" name="description">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1">Active</option>   
                                            <option value="0">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label  hidden-xs"></label>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                        <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->