<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

          <!-- Start Page Here -->
          <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
            <ul>
              <li style="padding:9px;">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary">Search As Course</button>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                  
                  <?php foreach($course as $val){ ?>
                    <li><a href="<?php echo BASEURL."course/searchpackage/".$val->id; ?>"><?php echo $val->name; ?></a></li>
                  <?php } ?>
                  </ul>
                </div>
              </li>
              <li class="right">
                <ul class="nav nav-pills nav-pills-primary">
                  <li class="active">
                    <a href="<?=BASEURL?>course/addpackages">Add Packages</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        <section class="panel">

                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Package Details</h2>
                      </header>
                          <div class="panel-body">
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Package Name</th>
                                          <th>Description</th>
                                          <th>Price</th>
                                          <th>Period</th>
                                          <th>Format</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <?php $x=1; foreach ($package as $val) { ?>
                                      <tr>
                                          <td><?php echo $x?></td>
                                          <td><?php echo $val->name?></td>
                                          <td><?php echo $val->desc?></td>
                                          <td><?php echo $val->price?></td>
                                          <td><?php echo $val->period?></td>
                                          <td><?php echo $val->format?></td>
                                          <td>
                                          <?php 
                                                    if ($val->status==1) {
                                                        echo $this->tag->linkTo("course/packageupdstatus/2/".$val->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                                    }
                                                    else
                                                    {
                                                        echo $this->tag->linkTo("course/packageupdstatus/1/".$val->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                                    }
                                                ?>
                                                </td>
                                          <td>
                                            <i class="fa fa-desktop" title="Display" data-toggle="modal" data-target="#myModal<?php echo $val->id?>" style="cursor:pointer;"></i>
                                                  <?php echo $this->tag->linkTo("course/updatepackages/".$val->id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                                     <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $val->id?>" style="cursor:pointer;"></i>
                                                
                                          </td>
                                          <div id="delete<?php echo $val->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->name); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this package?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("course/deletepackages/".$val->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>

                                            <div id="myModal<?php echo $val->id?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel">User Details</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          <div class="row">
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Package Name</label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->name; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">package Description </label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->desc; ?>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Price </label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->price; ?>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Period </label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->period; ?>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Format </label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $val->format; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label class="col-sm-3 control-label">Status</label>
                                                                <div class="col-sm-9">
                                                                    <?php 
                                                              if ($val->status==1) {
                                                                  echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
                                                              }
                                                              else
                                                              {
                                                                  echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
                                                              }
                                                          ?>
                                                                </div>
                                                            </div>
                                                          </div>
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                      </tr>
                                  <?php 
                                    $x++; 
                                }
                                unset($x);
                                   ?>
                                  </tbody>
                              </table>
                          </div><!--panel-body-->
              </section>

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->