<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <button class="btn btn-primary" title='Add Social Links' data-toggle="modal" data-target="#addlink">Add Menu</button>
                      </li>
                    </ul> 
                  </li>
                </ul>
              </div>
              <div id="addlink" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    <form class="form-horizontal form-bordered" action="<?=BASEURL?>navigation/addmenu" method="post">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Menu Type</h4>
                      </div>
                      <div class="modal-body">
                        <div class="">
                            <div class="form-group">
                                 <label class="col-md-4 control-label">Menu Type</label>
                                <div class="col-md-6">                                
                                    <select name="menu" required class="form-control" >
                                      <option value="">--Choose Menu Type--</option>
                                      <?php
                                        foreach($menu_type as $value){ ?>
                                        <option value="<?=$value->mid?>"><?=$value->menu_name?></option>
                                      <?php  }
                                      ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                 <label class="col-md-4 control-label">Menu Name</label>
                                <div class="col-md-6">                                
                                    <input type="text" class="form-control" placeholder="Enter Menu Name" name="menu" />
                                </div>
                            </div>
                            <div class="form-group">
                                 <label class="col-md-4 control-label">Menu Name</label>
                                <div class="col-md-6">                                
                                    <input type="radio" value="1" name="radio" /> Custom Link
                                    <input type="radio" value="2" name="radio" /> Pages
                                </div>
                            </div>
                            <div class="form-group">
                                 <label class="col-md-4 control-label">Pages</label>
                                <div class="col-md-6">                                
                                    <select name="page" required class="form-control" >
                                      <option value="">--Choose Menu Type--</option>
                                      <?php
                                        foreach($pages as $value){ ?>
                                        <option value="<?=$value->id?>"><?=$value->page?></option>
                                      <?php  }
                                      ?>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Status</label>
                                    <div class="col-lg-6">
                                        <select name="status" required class="form-control" >
                                          <option value="">--Choose status--</option>
                                          <option value="1" >Active</option>   
                                          <option value="0" >Inactive</option>          
                                        </select>
                                    </div>
                            </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                       <button type="submit" class="btn btn-primary submit">Submit</button>
                      </div>
                      </form>
                      </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Assign Menu </h2>
                      </header>
                          <div class="panel-body">
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Menu Type</th>
                                          <th>Menu Name</th>
                                          <th>Page</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody id="table-data">

                                    <?php 
                                    $x=1;
                                    foreach ($assignmenu as $value) {
                                    ?>
                                      <tr>
                                        <td><?=$x++?></td>
                                        <td>
                                          <?php 
                                            $menutype = MasterMenuType::findFirst("mid='".$value->menu_type."'");
                                            echo $menutype->menu_name;
                                          ?>
                                        </td>
                                        <td><?=$value->menu_name?></td>
                                        <td>
                                          <?php
                                            $pages = MasterCms::findFirst("id='".$value->page."'");
                                            echo $pages->page;
                                          ?>
                                        </td>
                                        <td>
                                          <?php 
                                            if ($value->status==1) {
                                                echo $this->tag->linkTo("navigation/updamstatus/2/".$value->amid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                            }else{
                                                echo $this->tag->linkTo("navigation/updamstatus/1/".$value->amid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>"); 
                                            }
                                        ?>
                                        </td>
                                        <td>
                                          <?php echo $this->tag->linkTo("navigation/updateassignmenu/".$value->amid, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                          <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $value->amid?>" style="cursor:pointer;"></i>
                                        </td>

                                        <!-- Modal Start Here -->
                                          <div id="delete<?php echo $value->amid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($value->menu_name); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Do you want to delete this Menu?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("navigation/deleteassmenu/".$value->amid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>

                                      </tr>
                                      <?php  
                                      }
                                    
                                    ?>
                                  </tbody>
                              </table>
                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->