<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("questiontype"); ?>


<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Assign Menu</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>navigation/updatemenu" method="post">
                                    <input type="hidden" value="<?php echo $menu->mid ?>" name="mid">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Menu Type</label>
                                        <div class="col-md-6">
                                        <select name="menu_type" required  class="form-control">
                                          <option value="">--Choose Menu type--</option>
                                          <?php 
                                            foreach(){ ?>
                                            <option></option>
                                          <?php  }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">Menu Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  type="text" name="menu_name"  value="<?php echo $menu->menu_name ?>"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Menu Content</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose Menu Content--</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Pages</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose Page--</option>
                                        </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php echo $menu->status==1?'selected':'' ?> >Active</option>   
                                          <option value="0" <?php echo $menu->status==0?'selected':'' ?> >Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update</button>
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("questiontype"); ?>