<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
$s = preg_replace("(-)", " ", $subject);
$ss = preg_replace("(-)", " ", $subsubject);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">

    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($s,$ss)?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topics))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="#">Assessment</a></li>
                            <li><a href="<?=BASEURL?>user/tips/<?=$subject.'/'.$subsubject.'/'.preg_replace('( )', '-', $topics)?>">Tips</a></li>
                            <li><a href="#">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <?php
                        if(isset($questions)){ $i=1;
                                    foreach ($questions as $questionsres) { ?>
                                        <div class="panel panel-ssub">
                                            <div class="panel-body">
                                        <?php
                                        if($questionsres->tableid==1){
                                            $etype = '["1"';
                                            $question = MasterQuestionBank::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); 
                                            ?>
                                                    <div class="qextra clearfix">
                                                        <?=$i++;?> | <?=$question->questionid?>
                                                        <div class="qicons pull-right">
                                                            <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-placement="top" title="Error Report"></i> |
                                                            <i class="fa fa-question"></i> <a href="#" data-toggle="modal" 
   data-target="#doubt<?=$question->questionid?>">Ask a Doubt.</a> |
                                                            <!-- Doubt Modal -->
                                                            <div class="modal fade" id="doubt<?=$question->questionid?>" tabindex="-1" role="dialog" 
                                                               aria-labelledby="myModalLabel" aria-hidden="true">
                                                               <div class="modal-dialog">
                                                                  <div class="modal-content">
                                                                     <div class="modal-header">
                                                                        <button type="button" class="close" 
                                                                           data-dismiss="modal" aria-hidden="true">
                                                                              &times;
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                           Doubts for <?=$question->questionid?>
                                                                        </h4>
                                                                     </div>
                                                                     <div class="modal-body">
                                                                        <div class="doutmcon">
                                                                            <h4>There is no Doubt.</h4>
                                                                        </div>
                                                                        <textarea name="douta<?=$question->questionid?>" id="" class="mod-textarea" rows="4"></textarea>
                                                                     </div>
                                                                     <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" 
                                                                           data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary">
                                                                           Submit changes
                                                                        </button>
                                                                     </div>
                                                                  </div><!-- /.modal-content -->
                                                              </div><!-- /.modal-dialog -->
                                                            </div><!-- /. Doubt Modal -->
                                                            <i class="fa fa-lightbulb-o"></i> <a href="#" data-toggle="modal" 
   data-target="#solu<?=$question->questionid?>">Solution</a> |
                                                            <!-- Solution Modal -->
                                                            <div class="modal fade" id="solu<?=$question->questionid?>" tabindex="-1" role="dialog" 
                                                               aria-labelledby="myModalLabel" aria-hidden="true">
                                                               <div class="modal-dialog">
                                                                  <div class="modal-content">
                                                                     <div class="modal-header">
                                                                        <button type="button" class="close" 
                                                                           data-dismiss="modal" aria-hidden="true">
                                                                              &times;
                                                                        </button>
                                                                        <h4 class="modal-title" id="myModalLabel">
                                                                           View Solution for <?=$question->questionid?>
                                                                        </h4>
                                                                     </div>
                                                                     <div class="modal-body">
                                                                    <?php
                                                                        $ans = str_split($question->ans);
                                                                        foreach($ans as $value){
                                                                            if($value=='A'){
                                                                                echo $question->option1.'</br>';
                                                                            }elseif($value=='B'){
                                                                                echo $question->option2.'</br>';
                                                                            }elseif($value=='C'){
                                                                                echo $question->option3.'</br>';
                                                                            }elseif($value=='D'){
                                                                                echo $question->option4.'</br>';
                                                                            }
                                                                        }
                                                                    ?>
                                                                     </div>
                                                                  </div><!-- /.modal-content -->
                                                              </div><!-- /.modal-dialog -->
                                                            </div><!-- /. Solution Modal -->
                                                            <i class="fa fa-bookmark" data-toggle="tooltip" data-placement="top" title="Bookmark"></i>
                                                        </div>
                                                    </div>
                                                    <div class="qcontent" data-ans="<?=$question->ans?>">
                                                        <?=$question->question?>
                                                        <?php
                                                            if($question->q_type==3){
                                                                echo '<p class="text-uppercase" style="margin-top:5px;">This question has multiple correct options</p>';
                                                            }
                                                        ?>
                                                    </div>
                                                    <?php if($question->q_type==3){ ?>
                                                    <div class="qoption">
                                                        <div class="row">
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>A" onClick="clickoption('<?=$question->questionid?>','A')">
                                                                <span>A</span> <?=$question->option1?>
                                                            </div>
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>B" onClick="clickoption('<?=$question->questionid?>','B')">
                                                                <span>B</span> <?=$question->option2?>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>C" onClick="clickoption('<?=$question->questionid?>','C')">
                                                                <span>C</span> <?=$question->option3?>
                                                            </div>
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>D" onClick="clickoption('<?=$question->questionid?>','D')">
                                                                <span>D</span> <?=$question->option4?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" value="" id="<?=$question->questionid?>">
                                                    <input type="hidden" value="<?=$question->ans?>" id="<?=$question->questionid?>ans">
                                                    <div class="col-md-12 text-center">
                                                    <input type="submit" class="btn btn-primary btn-lg ans-btn" value="submit" id="<?=$question->questionid?>submit" onclick="checkmultians('<?=$question->questionid?>')">                                                    
                                                    </div> 
                                                    <?php }elseif($question->q_type==2){ ?>
                                                        <div class="qoption">
                                                        <div class="row">
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>A" onClick="oneclickoption('<?=$question->questionid?>','A')">
                                                                <span>A</span> <?=$question->option1?>
                                                            </div>
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>B" onClick="oneclickoption('<?=$question->questionid?>','B')">
                                                                <span>B</span> <?=$question->option2?>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>C" onClick="oneclickoption('<?=$question->questionid?>','C')">
                                                                <span>C</span> <?=$question->option3?>
                                                            </div>
                                                            <div class="col-md-5 options" id="<?=$question->questionid?>D" onClick="oneclickoption('<?=$question->questionid?>','D')">
                                                                <span>D</span> <?=$question->option4?>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" value="" id="<?=$question->questionid?>">
                                                    <input type="hidden" value="<?=$question->ans?>" id="<?=$question->questionid?>ans">
                                                    <div class="col-md-12 text-center">
                                                    <input type="submit" class="btn btn-primary btn-lg ans-btn" value="submit" id="<?=$question->questionid?>submit" onclick="checkoneans('<?=$question->questionid?>')">                                                    
                                                    </div> 
                                                    <?php } ?>
                                                
                                            <?php
                                        }elseif($questionsres->tableid==2){
                                            $question = MasterMatchQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                            
                                            
                                            <?php
                                        } ?>
                                        </div>

                                    </div>
                                    <?php
                                    }
                        }
                     ?>
                        
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="">
                            <div class="right-sidebar">
                                <h3>Filter Questions</h3>
                                <div class="right-qs clearfix">
                                    <h5 class="text-uppercase">by Type</h5>
                                    <?php
                                        $e_type = json_decode($etypes->q_type);
                                        echo $etype->ename;
                                        foreach($qtype as $val){
                                            foreach($e_type as $e_typeres){
                                                if($val->qtid==$e_typeres){ ?>
                                                    <div class="checkbox-custom checkbox-default">
                                                      <input id="etyp" value="1" name="course[]" type="checkbox">
                                                      <label for="curs1"><?=$val->qtname?></label>
                                                    </div>
                                                    <div class="clearfix"></div>
                                            <?php
                                                }

                                            }
                                        }
                                    ?>
                                </div>
                                <div class="right-qs clearfix">
                                    <h5 class="text-uppercase">By Difficulty</h5>
                                    <div class="checkbox-custom checkbox-default ">
                                        <input id="easy" value="1" name="easy" type="checkbox">
                                        <label for="easy">Easy</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="medium" value="2" name="medium" type="checkbox">
                                        <label for="medium">Medium</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="checkbox-custom checkbox-default">
                                        <input id="hard" value="3" name="hard" type="checkbox">
                                        <label for="hard">Hard</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="btn btn-primary btn-md" style="position:fixed;bottom:1%;right:1%;">Submit</div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>