<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
$s = preg_replace("(-)", " ", $subject);
$ss = preg_replace("(-)", " ", $subsubject);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">

    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($s,$ss)?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topics))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="#">Assessment</a></li>
                            <li><a href="<?=BASEURL?>user/tips/<?=$subject.'/'.$subsubject?>">Tips</a></li>
                            <li><a href="#">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <?php
                        if(isset($tips)){ $i=1;
                            foreach ($tips as $tipsres) { ?>
                                <div class="panel panel-ssub">
                                    <div class="panel-body">
                                        <p>
                                            <?php 
                                            echo $i++.' | ';
                                                $contype = MasterConceptType::findFirst(array("id='".$tipsres->contype."'"));
                                                echo $contype->title;
                                            ?>
                                        </p>
                                        <h3><?=$tipsres->title?></h3>
                                        <p><?=$tipsres->description?></p>
                                    </div>
                                </div>
                            <?php
                            }
                        }
                     ?>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="">
                            <div class="right-sidebar">
                                <h3>Filter Tips</h3>
                                <div class="right-qs clearfix">
                                    <h5 class="text-uppercase">by Type</h5>
                                    <?php
                                        foreach($tipstype as $tipstyperes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input id="etyp" value="1" name="course[]" type="checkbox">
                                              <label for="curs1"><?=$tipstyperes->title?></label>
                                            </div>
                                            <div class="clearfix"></div>
                                        <?php
                                        }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="btn btn-primary btn-md" style="position:fixed;bottom:1%;right:1%;">Submit</div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>