<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
$s = preg_replace("(-)", " ", $subjects);
$ss = preg_replace("(-)", " ", $subsubject);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($s,$ss)?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $ss))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="#">Assessment</a></li>
                            <li><a href="#">Tips</a></li>
                            <li><a href="#">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <?php 
                        if(isset($topics)){ $i=1;
                            foreach ($topics as $topicsres) {
                                ?>
                                <div class="panel panel-ssub">
                                    <div class="panel-body">
                                        <a href="<?=BASEURL?>user/question/<?=$subjects?>/<?=$subsubject?>/<?=$topicsres->slug?>">
                                            <div class="panel-bg" style="background:url(<?=BASEURL?>images/blur.jpg) no-repeat scroll 8% 21%;">
                                                <div class="pull-left sl-no">
                                                <span class="fa-stack fa-lg text-center fa-custom">
                                                  <i class="fa fa-circle-thin fa-stack-2x"></i>
                                                  <i class="fa fa-inverse"><?=$i++;?></i>
                                                </span>
                                                </div>
                                                <h3 class="pull-left"><?=$topicsres->tname?></h3>
                                                <i class="fa fa-chevron-right pull-right fa-2x right-arrow"></i>
                                                <div class="clearfix"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <?php
                            }
                        }
                     ?>
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="">
                            <div class="right-sidebar">
                                <h3>Your Stats</h3>
                                <div class="sidsec clearfix">
                                    <div class="sidicon">
                                        <i class="fa fa-bullseye fa-5x pull-left"></i>
                                    </div>
                                    <div class="pull-left sidcon">
                                        <h1>0%</h1>
                                        <h5 class="text-uppercase">Accuracy</h5>
                                    </div>
                                </div>
                                <div class="sidsec clearfix">
                                    <div class="sidicon">
                                        <i class="fa fa-bolt fa-5x pull-left"></i>
                                    </div>
                                    <div class="pull-left sidcon">
                                        <h1>0s</h1>
                                        <h5 class="text-uppercase">Question Speed</h5>
                                    </div>
                                </div>
                                <div class="sidsec clearfix">
                                    <div class="sidicon">
                                        <i class="fa fa-clock-o fa-5x pull-left"></i>
                                    </div>
                                    <div class="pull-left sidcon">
                                        <h1>0</h1>
                                        <h5 class="text-uppercase">Time Practiced</h5>
                                    </div>
                                </div>
                                <div class="sidsec clearfix">
                                    <div class="sidicon">
                                        <i class="fa fa-flag fa-5x pull-left"></i>
                                    </div>
                                    <div class="pull-left sidcon">
                                        <h1>0/200</h1>
                                        <h5>Test Cleared</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>