<?php 

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<style>
	.smarg {
		margin-right: 10px;
	    background: #0088CC;
	    color: #FFF;
	    border-radius: 50%;
	    padding: 0px 7px 0px 7px;
	}
	.hed{
		line-height: 2em;
	}
	.tbtn {
		margin: 0 auto;
		display: block;
		width: 115px;
	}
	.info-box{
		background: url("<?=BASEURL?>images/students.png") no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		padding-top: 6%;
	}
	.extra-info{
		font-size: 15px;
	    display: block;
	    color: #A7A7A7;
	    text-indent: 5%;
	    line-height: 25px;
	}
</style>
<div class="info-box">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<h1 class="text-center text-primary text-capitalize">Quiz Result</h1>
				<hr>
				<?php
				echo 'Accurecy: '.(($quiz['right']/count($quiz['qID']))*100).'%<br>';
				echo 'Time Taken: '.$quiz['time_taken'].'Minute<br>';
				echo 'Right Answer: '.$quiz['right'].'/'.count($quiz['qID']);
				$markpos=$markneg=0;
				foreach($quiz['exam_detail'] as $qzval){
					if(isset($qzval['markpos'])){
						$markpos += $qzval['markpos'];
					}else{
						$markneg += $qzval['markneg'];
					}
				}
				echo 'Positive Mark:'.$markpos;
				echo 'Negetive Mark:'.$markneg;
				?>
				<a href="<?=BASEURL?>index">Go back to Home</a>
			</div>
		</div>
	</div>
</div>