<?php
$role_access = [
    'Dashboard','Admin Users','Users','Course Detail','Subject','Question','Exams','Tips','Pages','Navigation','Article','Social Media','News','Question of the Day','Quiz','Blog'
];
echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                </div>
                
                                <h2 class="panel-title">Add Admin Role</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" id="adminformid" action="<?=BASEURL?>adminrole/add" method="post" onsubmit="return adminvaidate();">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">First Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" data-msg="Please Enter the admin role" placeholder="Admin Role Name" type="text" name="role_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Role Access</label>
                                        <div class="col-md-6" >
                                            <?php $i=0; foreach($role_access as $roleaccess): ?>
                                            <span class="checkbox-custom checkbox-default">
                                                <input type="checkbox" data-msg="Please Choose any one role access" id="role<?=$i?>" value="<?=$i?>" name="role_access[]">
                                                <label for="role<?=$i?>"><?=$roleaccess?></label>
                                            </span>
                                            <?php $i++; endforeach; ?>
                                            <br/>
                                            <label id="role_access[]-error" class="error" for="role_access[]"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Role</label>
                                        <div class="col-md-6">
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="add" data-msg="Please Choose any one role" value="1" name="role[]">
                                                <label for="add">Add</label>
                                            </div>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="update" data-msg="Please Choose any one role" value="2" name="role[]">
                                                <label for="update">Update</label>
                                            </div>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="delete" data-msg="Please Choose any one role" value="3" name="role[]">
                                                <label for="delete">Delete</label>
                                            </div>
                                            <label id="role[]-error" class="error" for="role[]"></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <label><input type="checkbox" value="1" name="is_verifier"> Is a Verifier</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6 text-center">
                                            <button class="btn btn-success hidden-xs">Add Admin Role</button>
                                            <button class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Admin Role</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>