<?php
$role_access = [
'Dashboard', 'Admin Users', 'Users', 'Course Detail', 'Subject', 'Question', 'Exams', 'Tips', 'Pages', 'Navigation', 'Article', 'Social Media', 'News', 'Question of the Day', 'Quiz','Blog'
];
$roles = [
'1' => 'Add',
 '2' => 'Update',
 '3' => 'Delete',
];
echo $this->getContent();
?>
    <?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">
        <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
            <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
<?php $this->flashSession->output() ?> 
            <div class="inner-toolbar clearfix"> <!-- Toolbar Here -->
                <ul>
                    <li class="right">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="active">
                                <a href="<?= BASEURL ?>adminrole/add">Add Admin Role</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                    </div>
                    <h2 class="panel-title">Admin Role Details</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>First Name</th>
                                <th>Role Access</th>
                                <th>Roles</th>
                                <th>Action</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <?php
                            $x = 1;
                            foreach ($role as $key) {
                                $ra = json_decode($key->role_access);
                                $rol = json_decode($key->role);
                                ?>
                                <tr class="gradeX">
                                    <td><?php echo $x++; ?></td>
                                    <td style="text-align:center;">
                                        <?php echo ucwords($key->role_name); ?>
                                    </td>
                                    <td>
                                        <?php
                                        if (!empty($ra)) {
                                            foreach ($ra as $r) {
                                                echo '<span class="badge bg-primary">'. $role_access[$r] . '</span>';
                                            }
                                        }
                                        ?>
                                    </td>
                                    <td>
                                        <?php
                                        if (!empty($rol)) {
                                            foreach ($rol as $ro) {
                                                echo '<span class="badge bg-warning">' . $roles[$ro] . '</span>';
                                            }
                                        }
                                        ?>
                                    </td>
                                    <td>
                                        <?php echo $this->tag->linkTo("adminrole/update/" . $key->id, "<button class='btn btn-xs btn-block btn-success' title='Update Role'><i class='fa fa-edit' ></i></button>") ?>
                                    </td>
                                </tr>
                                <?php } ?>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>

</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>