<?php
$role_access = [
    'Dashboard','Admin Users','Users','Course Detail','Subject','Question','Exams','Tips','Pages','Navigation','Article','Social Media','News','Question of the Day','Quiz','Blog'
];
echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                </div>                
                                <h2 class="panel-title">Add Admin Role</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>adminrole/update" method="post">
                                    <input type="hidden" value="<?php echo $urole->id;?>" name="id">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">First Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Admin Role Name" type="text" name="role_name" value="<?php echo $urole->role_name;?>" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Role Access</label>
                                        <div class="col-md-6">
                                            <?php 
                                            $acc=json_decode($urole->role_access);
                                            $rolee=json_decode($urole->role);
                                            $i=0; foreach($role_access as $roleaccess): ?>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="role<?=$i?>" value="<?=$i?>" name="role_access[]" <?php if(in_array($i,$acc)){ ?>checked<?php }?>>
                                                <label for="role<?=$i?>"><?=$roleaccess?></label>
                                            </div>
                                            <?php $i++; endforeach; ?>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Role</label>
                                        <div class="col-md-6">
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="add" value="1" name="role[]" <?php if(in_array(1,$rolee)){ ?>checked<?php }?>>
                                                <label for="add">Add</label>
                                            </div>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="update" value="2" name="role[]" <?php if(in_array(2,$rolee)){ ?>checked<?php }?>>
                                                <label for="update">Update</label>
                                            </div>
                                            <div class="checkbox-custom checkbox-default">
                                                <input type="checkbox" id="delete" value="3" name="role[]" <?php if(in_array(3,$rolee)){ ?>checked<?php }?>>
                                                <label for="delete">Delete</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <label><input type="checkbox" <?php if($urole->is_verifier==1){?>checked <?php } ?> value="1" name="is_verifier"> Is a Verifier</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6 text-center">
                                            <button type="submit" class="btn btn-success hidden-xs">Update Admin Role</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Admin Role</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>