<?php

echo $this->getContent();?>


<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
 <script type="text/javascript">
function Slugs() {
var title_nm= document.getElementById("title").value;
$.post("/ischool4u/concepts/slugify/"+title_nm,function(r){//alert("do");
    console.log(r);
    obj = JSON.parse(r);
    var elem = document.getElementById("slug");
     elem.value = obj.value;
     $("#slug_error").html(obj.msg);
        if (obj.status==1) {
            $('.submit').prop('disabled', false);
        }
        else
        {
            $('.submit').prop('disabled', true);
        }
    });
}
function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubsubject',
          data: 'subjectid='+subid,
          success: function(data){
            if(data){
              $("#subsubject").html(data);
              $("#topics").html("<option>[ Select Topics ]</option>");
              $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/gettopics',
          data: {subjectid:subid,ssubid:ssubid},
          success: function(data){
            if(data){
              $("#topics").html(data);
              $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubtopics',
          data: {subjectid:subid,ssubid:ssubid,topics:topics},
          success: function(data){
            if(data){
              $("#subtopics").html(data);
              console.log(data);
            }
          }
        });
      }             
</script>
<style>
    #btn-description{
        display: none;
    }
</style>
                        
<!-- slug script end here-->
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::news()?>


  				<div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Concept</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>concepts/updconcept" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                <input class="form-control" id="cid" type="hidden" name="cid" value="<?=$concept->cid?>" required>
                                    <div class="form-group">
                                        <!-- <div class="col-md-3">
                                          <label for="subject">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Subject</label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Sub Subject</label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Title </label>
                                        <div class="col-md-6">
                                         <input class="form-control" id="title" onkeyup="Slugs()"  placeholder="Enter Page" type="text" name="title" value="<?=$concept->title?>" required>
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Slug</label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?=$concept->slug?>" >
                                        </div>   
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Concept Type</label>
                                        <div class="col-md-6">
                                        
                                        
                                                 <select name="contype" required class="form-control"><?php
                                                    foreach ($contype as $contypeRes) {?>
                                                        <option value="<?=$contypeRes->id?>"<?php if($contypeRes->id==$contypeRes->id){echo "selected='selected'";}?>><?=$contypeRes->title?></option>
                                                        <?php
                                                    }
                                                    ?>
                                                </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                      <div class="form-group">                                         
                                        <div class="col-md-12">
                                          <textarea class="form-control" id="editor"  placeholder="Text Editor" rows="12" ></textarea>
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-description" onclick="setTextArea('description')">Add Description</div>
                                          
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <div class="btn btn-sm btn-info" onclick="setEditor('description')">Description</div>
                                          </div>                                       
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Description</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control description" id="description" required  placeholder="Enter Description" rows="3" name="description"  ><?=$concept->description?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status</label>
                                        <div class="col-md-6">
                                        
                                        <select name="status" id="status" required  class="form-control">
                                                  <option value="">--Choose status--</option>
                                                  <option value="1" <?php if($concept->status=='1'){echo "selected='selected'";}?>>Active</option>   
                                                  <option value="0" <?php if($concept->status=='0'){echo "selected='selected'";}?>>Inactive</option>          
                                                </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right"  >Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->