<?php
$usersession = $this->session->get("user");
$uid = md5($usersession['id']);
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val->id == $subval) {
            $cours['subject'][$j] = array('id' => $val->id, 'slug' => $val->slug, 'name' => $val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
        <?= UIElementsUsers::getfrontSidebar($cours) ?>
        <section role="main" class="content-body front-content">
            <?= UIElementsUsers::getBreadcrumds('challengefriend'); ?>
            <?php $this->flashSession->output(); ?>
            <section class="content">
                <div class="row ">
                    <div class="panel panel-info">
                        <div class="panel-heading">User list</div>
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div class="box">
                                        <form method="post" name="inviteisus" action="<?= BASEURL ?>socialisation/challengesuccess" onSubmit=" return checkssingleUser();">
                                            <input type="hidden" name="quesid" value="<?=$quesid?>">
                                            <div class="list-group">
                                                <?php foreach ($user as $inviteuser) { ?>
                                                    <div class="col-md-3"><span class="hidden"><?php if (!in_array($inviteuser->uid, $arrinvt) && (!in_array($inviteuser->uid, $acceptus))) { ?><input class="isc_user"  type="checkbox" name="challengeuser[]" value="<?= $inviteuser->uid ?>" id="<?= $inviteuser->uid ?>" /> <?php } ?></span> <label for="<?= $inviteuser->uid ?>" class="list-group-item listmar <?php if (in_array($inviteuser->uid, $acceptus)) { ?> btn-success <?php } ?><?php if (in_array($inviteuser->uid, $rejectus)) { ?> btn-danger <?php } ?><?php if (in_array($inviteuser->uid, $arrinvt)) { ?> btn-warning <?php } ?><?php if (!in_array($inviteuser->uid, $arrinvt) && (!in_array($inviteuser->uid, $acceptus))) { ?>actinact<?php } else { ?>disabled<?php } ?>" title="<?php if (in_array($inviteuser->uid, $acceptus)) { ?>Accepted Friend<?php } else if (in_array($inviteuser->uid, $rejectus)) { ?>Rejected Friends <?php } else if (in_array($inviteuser->uid, $arrinvt)) { ?>Already Invited<?php } else { ?> Click to invite<?php } ?>">
                                                            <?= ucfirst($inviteuser->first_name) . " " . ucfirst($inviteuser->last_name) ?></label> </div>
                                                <?php } ?>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="text-center"><input type="submit" value="Challenge" title="select user to challenge" class="btn btn-info btn-lg"></div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script type="text/javascript">
    function checkssingleUser(){
        if($(".isc_user:checkbox:checked").length > 0){
            return true;
        }else {
            alert("You must select at least one user!");
            return false;
        }
    }
    $(".actinact").click(function(){
        $(this).toggleClass('active');
    });
</script>
<style>
    .listmar:last-child{
        margin-bottom: 5px;
    }
    div.invcls{
        disabled:disabled;
    }
    .loading{
        margin: auto 0px;
        text-align:center;
        vertical-align:middle;
    }
</style>