<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val->id == $subval) {
            $cours['subject'][$j] = array('id' => $val->id, 'slug' => $val->slug, 'name' => $val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
        <?= UIElementsUsers::getfrontSidebar($cours) ?>
        <section role="main" class="content-body front-content">
            <?= UIElementsUsers::getBreadcrumds('invitefriend'); ?>
            <?php $this->flashSession->output(); ?>
            <section class="content">
                <div class="row ">
                    <div class="panel panel-info">
                        <div class="panel-heading">User list</div>
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div class="box">
                                        <form method="post" name="inviteisus" action="<?= BASEURL ?>socialisation/invitemailsuccess" onSubmit=" return checkssingleUser();">
                                            <?php if(!empty($qesid)){?>
                                            <input type="hidden" name="quesid" value="<?=$qesid?>" />
                                            <?php } ?>
                                            <div class="list-group">
                                                <?php foreach ($user as $inviteuser) { ?>
                                                    <div class="col-md-3"><span class="hidden"><input class="isc_user"  type="checkbox" name="inviteuser[]" value="<?= $inviteuser['0'] ?>" id="<?= $inviteuser['0'] ?>" /> </span><label for="<?= $inviteuser['0'] ?>" class="list-group-item listmar actinact" title="click to invite">
                                                            <?= $inviteuser['0'] ?></label>
                                                    </div>
                                                <?php } ?>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="text-center"><input type="submit" value="<?=($qesid!=''?"Challenge":"Invite")?>" title="select user to invite" class="btn btn-info btn-lg"></div>
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script type="text/javascript">
   
    function checkssingleUser(){
        if($(".isc_user:checkbox:checked").length > 0){
            return true;
        }else {
            alert("You must select at least one user!");
            return false;
        }
    }
    $(".actinact").click(function(){
        $(this).toggleClass('active');
    });
</script>
<style>
    .listmar:last-child{
        margin-bottom: 5px;
    }
    div.invcls{
        disabled:disabled;
    }
</style>