<?php
echo $this->getContent();
$gmail = $this->session->get('gmailreg');
?>
<!doctype html>
<html class="fixed">
    <head>
        <meta charset="UTF-8">
        <title>Select Subject :: Ischool4U</title>
        <meta name="keywords" content="" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Web Fonts  -->
        <?php echo UIElementsUsers::getHeader("gmail-login"); ?>
    <body>
        <form action="<?= BASEURL ?>index/signup" method="post" id="gmailreg">
            <input type="hidden" id='sucid' name="first_name" value="<?= $gmail['first_name'] ?>">
            <input type="hidden" id='course' name="last_name" value="<?= $gmail['last_name'] ?>">
            <input type="hidden" id='create_user' name="mail_id" value="<?= $gmail['mail_id'] ?>">
            <?php if($gmail['google_id']!=''){?>
            <input type="hidden" id='google_id' name="google_id" value="<?= $gmail['google_id'] ?>">
            <?php }else{?>
            <input type="hidden" id='facebook_id' name="facebook_id" value="<?= $gmail['facebook_id'] ?>">
            <?php } ?>
            <div class="first">
                <section>
                    <div class="uname">
                        <p>
                            <span>Select a Course</span>
                            <span>What are you preparing for? </span>
                            <span class="iddd" style="color:red;"></span>
                        </p>
                    </div>
                </section>
                <section style="float:none;">
                    <div class="course-container">
                        <center>
                            <?php
                            foreach ($supcat as $value) {
                                $scname = "'" . $value->scname . "'";
                                $slug = "'" . $value->slug . "'";
                                ?>

                                <a class="course-box actinactaa" onclick="chkrrr(<?= $value->scid ?>);">
                                    <input type="radio" name="sup_cat" class="hidden chkcourse required" value="<?= $value->scid ?>" id="<?= $value->scid ?>">
                                    <span><img src='../images/<?= $value->slug ?>.png' alt="<?= $value->slug ?>"></span>
                                    <span><?= $value->scname ?></span>
                                </a>
                            <?php }
                            ?>
                        </center>
                    </div>
                </section>
                <section>
                    <div class="stear pull-right">
                        <div onclick="checkradio();"class="btn btn-lg btn-success pull-right">Next </div>
                    </div>
                </section>
            </div>
            <div class="second" style="display:none;">
                <section>
                    <div class="prog-con" id="putid">
                    </div>
                </section>
                <section>
                    <div class="uname">
                        <p>
                            <span>Welcome <b><?= $gmail['first_name'] ?> <?= $gmail['last_name'] ?></b></span>
                            <span>On Ischool4U, the topics in each chapter are divided into individual learning goals. As you practice questions, you get instant feedback on your progress in each goal. Finish your goals to complete each chapter, as you work your way through the syllabus. </span>
                            <span class="error_cls" style="color:red;"></span>
                        </p>
                    </div>
                </section>
                <section>
                    <div class="stear">
                        <span onclick="checkvalidation();"class="btn btn-lg btn-success pull-right">Submit</span>
                        <span onclick="backtoprev();"class="btn btn-lg btn-warning pull-left">Previous </span>
                    </div>
                </section>
            </div>
        </form>
    </body>
</html>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    $(".actinactaa").click(function(){
        $(".actinactaa").removeClass('chkcou');
        $(this).toggleClass('chkcou');
    });
    function chkrrr(id){
        $("#"+id).prop("checked",true);
    }
    function chkrrr12(id){
        $("#sub"+id).prop("checked",true);
        $(".actinactaa11").removeClass('chkcou');
        $("#all"+id).addClass('chkcou');
    }
    function checkradio(){
        if($(".chkcourse:radio:checked").length > 0){
            var scid=$(".chkcourse:radio:checked").val();
            $(".iddd").html("");
            $(".first").attr("style","display:none");
            $.post("<?= BASEURL ?>socialisation/getcourse/"+scid,function(res){
                $("#putid").html(res);
            });
            $(".second").removeAttr("style");
            return true;
        }else {
            $(".iddd").html("You must select to proceed");
            return false;
        }
    }
    function backtoprev(){
        $(".first").removeAttr("style");
        $(".second").attr("style","display:none");  
    }
    function checkvalidation(){
        if($(".chkclass:radio:checked").length > 0){
            $(".error_cls").html("");
            document.getElementById("gmailreg").submit();
            return true;
        }else {
            $(".error_cls").html("You must select to proceed");
            return false;
        }
    }
</script>
<style>
    .chkcou{
        background-color: #CCCCCC !important;
    }
</style>