<?php
echo $this->getContent();
$gmail = $this->session->get('gmailreg');
?>
<!doctype html>
<html class="fixed">
    <head>
        <meta charset="UTF-8">
        <title>Select Subject :: Ischool4U</title>
        <meta name="keywords" content="" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Web Fonts  -->
        <?php echo UIElementsUsers::getHeader("gmail-login"); ?>
    <body>
        <form action="<?= BASEURL ?>index/signup" method="post" id="gmailreg">
            <input type="hidden" id='sucid' name="first_name" value="<?= $gmail['first_name'] ?>">
            <input type="hidden" id='course' name="last_name" value="<?= $gmail['last_name'] ?>">
            <!---<input type="hidden" id='create_user' name="mail_id" value="<?= $gmail['mail_id'] ?>">-->
            <?php if($gmail['google_id']!=''){?>
            <input type="hidden" id='google_id' name="google_id" value="<?= $gmail['google_id'] ?>">
            <?php }else{?>
            <input type="hidden" id='facebook_id' name="facebook_id" value="<?= $gmail['facebook_id'] ?>">
            <?php } ?>
            <div class="">
                <section>
                    <div class="uname">
                    	<span>
                        	<i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </span>
                        <p>
                            <span>Hi, <?= $gmail['first_name'] ?> <?= $gmail['last_name'] ?></span>
                            <span>On Ischool4U, the topics in each chapter are divided into individual learning goals. As you practice questions, you get instant feedback on your progress in each goal. Finish your goals to complete each chapter, as you work your way through the syllabus.</span>
                            <span class="iddd" style="color:red;"></span>
                        </p>
                    </div>
                </section>
                <div class="email-first" <?php if($gmail['mail_id']!=''){?> style="display:none;"<?php } ?>>
                <section style="float:none;">
                    <div class="course-container">
                    		<h3>Provide Your Email</h3>
                            <div class="mail-con">
                                <span class="mail-icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="mail_id" name="mail_id" value="<?= $gmail['mail_id'] ?>">
                            </div>
                    </div>
                </section>
                    <div class="stear">
                        <button type="button" onclick="checkmail();" class="btn btn-lg btn-success">Next </button>
                    </div>
          </div>
             <div class="first signup-first" <?php if($gmail['mail_id']==''){?> style="display:none;"<?php } ?>>
                <section style="float:none;">
                    <div class="course-container">
                    		<h3>Select a Course</h3>
                            <?php
                            foreach ($supcat as $crskey => $value) {
                                $scname = "'" . $value->scname . "'";
                                $slug = "'" . $value->slug . "'";
                                ?>

                                <a class="course-box actinactaa appear-animation" onclick="chkrrr(<?= $value->scid ?>);" data-appear-animation="fadeInLeft" data-appear-animation-delay="<?php echo ($crskey+1)*400;?>">
                                    <input type="radio" name="sup_cat" class="hidden chkcourse required" value="<?= $value->scid ?>" id="<?= $value->scid ?>">
                                    <span><img src='../images/<?= $value->slug ?>.png' alt="<?= $value->slug ?>"></span>
                                    <h3><?= $value->scname ?></h3>
                                </a>
                            <?php }
                            ?>
                    </div>
                </section>
                    <div class="stear">
                        <button type="button" onclick="checkradio();" class="btn btn-lg btn-success">Next </button>
                    </div>
          </div>
          <div class="second" style="display:none;">
                <section>
                    <div class="prog-con" id="putid">
                    	
                    </div>
                </section>
                <section>
                    <div class="uname">
                        <p>
                            <!--<span class="error_cls" style="color:red;"></span>-->
                        </p>
                    </div>
                </section>
                <section class="">
                    <div class="stear">
                        <button type="button" onclick="backtoprev();"class="btn btn-lg btn-warning">Previous </button>
                        <button type="button" onclick="checkvalidation();"class="btn btn-lg btn-success">Submit</button>
                    </div>
                </section>
            </div>
          
          
          
          
            </div>
            
        </form>
    </body>
</html>
<div id="toasty-con" class="toasty-style toasty-danger">
    <div class="toast-content"></div>	
</div>

<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    $(".actinactaa").click(function(){
        $(".actinactaa").removeClass('chkcou');
        $(this).toggleClass('chkcou');
    });
    function chkrrr(id){
        $("#"+id).prop("checked",true);
    }
    function chkrrr12(id){
        $("#sub"+id).prop("checked",true);
        $(".actinactaa11").removeClass('chkcou');
        $("#all"+id).addClass('chkcou');
    }
    function checkradio(){
        if($(".chkcourse:radio:checked").length > 0){
            var scid=$(".chkcourse:radio:checked").val();
            $(".iddd").html("");
            $(".first").attr("style","display:none");
            $.post("<?= BASEURL ?>socialisation/getcourse/"+scid,function(res){
                $("#putid").html(res);
            });
            $(".second").removeAttr("style");
            return true;
        }else {
            $(".toast-content").html("You must select to proceed");
				document.getElementById("toasty-con").style.display = "block";
	var myvar=setInterval(function(){ 
	$("#toasty-con").hide(function(){ clearInterval(myvar);
	});
	 }, 4000);
			
            return false;
        }
    }
	function checkmail(){
		var mail_id=$("#mail_id").val();
		if(mail_id!=''){
            if(isValidEmailAddress(mail_id)) {
                $.post("<?= BASEURL ?>socialisation/checkmailexixt/"+mail_id,function(res){ 
                if(res==1){
                   $(".first").attr("style","display:block");
                   $(".email-first").css("display","none");
                return true;  
            }else{
                $(".toast-content").html("Email ID Already Registered");
            document.getElementById("toasty-con").style.display = "block";
            var myvar=setInterval(function(){ 
                    $("#toasty-con").hide(function(){ clearInterval(myvar);
                });
                 }, 4000);
        return false;
            }
            });
			   
            }else{
                $(".toast-content").html("Provide Your Valid Email ID");
            document.getElementById("toasty-con").style.display = "block";
            var myvar=setInterval(function(){ 
                    $("#toasty-con").hide(function(){ clearInterval(myvar);
                });
                 }, 4000);
        return false;
            }
        }else{
            $(".toast-content").html("Provide Your Email ID");
            document.getElementById("toasty-con").style.display = "block";
            var myvar=setInterval(function(){ 
                    $("#toasty-con").hide(function(){ clearInterval(myvar);
                });
                 }, 4000);
        return false;
     }
}
     function isValidEmailAddress(emailAddress) {
        var pattern = new RegExp(/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/);
        return pattern.test(emailAddress);
    }      
    function backtoprev(){
        $(".first").removeAttr("style");
        $(".second").attr("style","display:none");  
    }
    function checkvalidation(){
        if($(".chkclass:radio:checked").length > 0){
            $(".error_cls").html("");
            document.getElementById("gmailreg").submit();
            return true;
        }else {
            $(".toast-content").html("You must select to proceed");
	document.getElementById("toasty-con").style.display = "block";
	var myvar=setInterval(function(){ 
	$("#toasty-con").hide(function(){ clearInterval(myvar);
	});
	 }, 4000);
	             return false;
			
        }
    }
</script>
<style>
.chkcou{
	box-shadow: -3px 3px 3px #d0d0d0 !important;
    background-color: #f7f7f7 !important;
}
@media only screen and (min-width: 300px){
	html,body{
		background: #fff;
	}
}


</style>