<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<?php
  $getVal=$this->request->get();
 ?>
<script type="text/javascript">
  function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubsubject',
          data: 'subjectid='+subid,
          success: function(data){
            if(data){
              $("#subsubject").html(data);
              $("#topics").html("<option value>[ Select Topics ]</option>");
              $("#subtopics").html("<option value>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/gettopics',
          data: {subjectid:subid,ssubid:ssubid},
          success: function(data){
            if(data){
              $("#topics").html(data);
              $("#subtopics").html("<option value>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubtopics',
          data: {subjectid:subid,ssubid:ssubid,topics:topics},
          success: function(data){
            if(data){
              $("#subtopics").html(data);
              console.log(data);
            }
          }
        });
      }
       function getdetail(){
        var subtopics=$("#subtopics").val();
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>concepts/index',
          data: {subjectid:subid,ssubid:ssubid,topics:topics,subtopics:subtopics},
          success: function(data){
            }
        });
      }
</script>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
                  <!-- Toolbar Here -->
                      <div class="inner-toolbar clearfix"> 
                        <ul>
                          <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                              <li class="active">
                                <a href="<?=BASEURL?>blog/addblog">Add Blog</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  <!-- Toolbar Here end -->
                  <!-- main contain start-->
 				<section class="panel">

			                <header class="panel-heading">
			                    <div class="panel-actions">
			                        <a href="#" class="fa fa-caret-down"></a>
			                        <a href="#" class="fa fa-times"></a>
			                    </div>
			            
			                    <h2 class="panel-title">Blog Details</h2>
			                </header>
			                    <div class="panel-body">
                              <div class="form-group">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>blog/bloglist/" method="get">
                                  <div class="col-md-5">
                                    <label for="subject">Category</label>
                                      <select class="form-control mb-md" id="subject" name="category">
                                          <option value="">[ Select category ]</option>
                                          <option value="1" <?php if($getVal['category']==1){?>selected<?php } ?>>Innovation</option>
                                          <option value="2" <?php if($getVal['category']==2){?>selected<?php } ?>>Exams</option>
                                          <option value="3" <?php if($getVal['category']==3){?>selected<?php } ?>>Motivation</option>
                                          
                                      </select>
                                  </div>
                                  <div class="col-md-5">
                                    <label for="subsubject">Tag</label>
                                    <input type="text" name="tag" class="form-control" placeholder="Type tag name ..." value="<?= $getVal['tag']?>">
                                  </div>
                                  <div class="col-md-2">
                                         <br/>
                                    <input type="submit" name="submit" value="Search" class="btn btn-primary">
                                  </div>
                                </form>
                              </div>
			                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
			                            <thead>
			                                <tr>
                                                            <th>SL# &nbsp;</th>
                                                            <th>Title</th>			                                    
                                                            <th>Shortdescription</th>
                                                            <th>Blog</th>
                                                            <th>category</th>
                                                            <th>Tags</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
			                                </tr>
			                            </thead>
			                            <tbody>
                                  
                                   <?php
                                   $arr=array('1'=>"Innovation",'2'=>"Exams",'3'=>"Motivation");
                                   $x=1; foreach ($blog as $blogRes) { ?>
                                        <tr>
                                          <td><?=$x?></td>
                                          <td><?=$blogRes->title?></td>                                   
                                          <td><?=$blogRes->subtitle?></td>
                                          <td><?=$blogRes->blog?></td>
                                          <td><?=$arr[$blogRes->category]?></td>
                                          <td><?= implode("<br/>",json_decode($blogRes->tags))?></td>
                                          <td>
                                          <?php 
                                              if ($blogRes->status==1) {
                                                  echo $this->tag->linkTo("blog/updarstatus/2/".$blogRes->id_blog, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                              }
                                              else
                                              {
                                                  echo $this->tag->linkTo("blog/updarstatus/1/".$blogRes->id_blog, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                              }
                                          ?>
                                          </td>
                                           <th> <?php echo $this->tag->linkTo("blog/updateblog/".$blogRes->id_blog, "<i class='fa fa-pencil' title='Update blog'></i>") ?>
                                          <i class="fa fa-times" title='Delete blog' data-toggle="modal" data-target="#delete<?php echo $blogRes->id_blog?>" style="cursor:pointer;"></i></th>
                                       <!-- Modal Start Here -->
                                          <div id="delete<?php echo $blogRes->id_blog?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($blogRes->title); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Do you want to delete this blog?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("blog/deleteblog/".$blogRes->id_blog, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>
                                        </tr>
                                     <?php $x++; } ?>                                       
			                            </tbody>
			                        </table>
			                    </div>
                          <!--panel-body-->
                          <!--main contain end here-->
           		</section>
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->