<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
<script type="text/javascript">
    function updateEditor(para){
        var value = $('.Editor-editor').html();
        $("#"+para).html(value);
    }
    function Slugs() {
        var title_nm= document.getElementById("title").value;
        $.post("/ischool4u/concepts/slugify/"+title_nm,function(r){//alert("do");
            console.log(r);
            obj = JSON.parse(r);
            var elem = document.getElementById("slug");
            elem.value = obj.value;
            $("#slug_error").html(obj.msg);
            if (obj.status==1) {
                $('.submit').prop('disabled', false);
            }
            else
            {
                $('.submit').prop('disabled', true);
            }
        });
    }
    function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>questionbank/getsubsubject',
            data: 'subjectid='+subid,
            success: function(data){
                if(data){
                    $("#subsubject").html(data);
                    $("#topics").html("<option>[ Select Topics ]</option>");
                    $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                    console.log(data);
                }
            }
        });
    }
    function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>questionbank/gettopics',
            data: {subjectid:subid,ssubid:ssubid},
            success: function(data){
                if(data){
                    $("#topics").html(data);
                    $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                    console.log(data);
                }
            }
        });
    }
    function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
            type: 'POST',
            url: '<?php echo BASEURL; ?>questionbank/getsubtopics',
            data: {subjectid:subid,ssubid:ssubid,topics:topics},
            success: function(data){
                if(data){
                    $("#subtopics").html(data);
                    console.log(data);
                }
            }
        });
    }             
</script>
<style>
    #btn-article{
        display: none;
    }
</style>

<!-- slug script end here-->
<section class="body">
<?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
    <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
        <?= UIElementsAdmin::getBreadcrumds() ?>
            <?= UIElementsAdmin::news() ?>


            <div class="row"> <!-- Content Start Here -->
                <div class="col-xs-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">Update Blog</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" action="<?= BASEURL ?>blog/updateblog" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                <input type="hidden" name="id_blog" value="<?= $blog->id_blog ?>">
                                <div class="form-group">                                         
                                    <div class="col-md-12">
                                        <textarea class="form-control" name="tips_name_new_up" placeholder="Text Editor" rows="12" ></textarea>
                                        <div class="clearfix gap"></div>
                                        <div class="btn btn-primary" id="btn-article" onclick="setdatanew('article')">Add Blog</div>

                                    </div>
                                    <div class="clearfix gap"></div>
                                    <div class="col-md-12 editCollection">
                                        <div class="btn btn-sm btn-info" onclick="setEditornew('article')">Blog</div>
                                    </div>                                       
                                </div>
                                <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Title <span class="required">*</span></label>
                                        <div class="col-md-6">
                                         <input class="form-control" id="title" onkeyup="Slugs()"  placeholder="Enter title" type="text" name="title" value="<?=$blog->title ?>" required >
                                         
                                        </div>
                                    </div>
                                     <div class="form-group"> 
                                     <label class="col-sm-2 control-label">Image: </label>
                                    <div class="col-md-4">
                                    <div class="widget-profile-info">                                                    
                                        <div class="profile-info" style="vertical-align:top;">
                                            <h5>
                                                <input type="file" name="image" onChange="ValidateSingleInput(this);" style="margin-top:12px;">
                                            </h5>                                            
                                        </div>
                                        <div class="profile-picture">
                                            <?php if ($blog->image != '') { ?>
                                                <img src="<?=BASEURL?>files/<?= $blog->image ?>" alt="website logo">
                                            <?php } ?>
                                        </div>
                                        <input type="hidden" name="imageold" value="<?= $blog->image ?>">
                                    </div>                             
                                </div>
                                </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Short Description <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <textarea class="form-control"  placeholder="Enter sub title" type="text" name="subtitle" required><?=$blog->subtitle ?></textarea>
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Slug</label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?=$blog->slug ?>" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Category<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select class="form-control mb-md" name="category" required>
                                          <option value="">--Select category--</option>
                                          <option value="1" <?php if($blog->category==1){ ?>selected<?php } ?>>Innovation</option>
                                          <option value="2" <?php if($blog->category==2){ ?>selected<?php } ?>>Exams</option>
                                          <option value="3" <?php if($blog->category==3){ ?>selected<?php } ?>>Motivation</option>
                                      </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-6">
                                        <input type="text" class="form-control mb-md" name="tags" placeholder="Enter Multiple tags with comma separater...." value="<?= implode(",",json_decode($blog->tags))?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Blog<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <textarea class="form-control description" required id="article" required  placeholder="Enter Description" rows="3" name="blog" ><?= $blog->blog?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" id="status" required class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if($blog->status==1){ ?>selected<?php } ?>>Active</option>   
                                          <option value="2" <?php if($blog->status==2){ ?>selected<?php } ?>>Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label hidden-xs"></label>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success hidden-xs pull-right"  >Update</button>
                                        <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Update</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
   var editor=CKEDITOR.replace( 'tips_name_new_up',
    {  
    });
    CKFinder.setupCKEditor(editor, '<?=BASEURL?>assets/ckfinder/' );
    function setdatanew(){
        var value =CKEDITOR.instances.tips_name_new_up.getData();
        document.getElementById("article").value = value;
    }
    function setEditornew(){
        var value = $("#article").val();
        CKEDITOR.instances['tips_name_new_up'].setData(value);
        document.getElementById("btn-article").style.display = "inline";
    }
</script>