<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"><!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <a href="<?=BASEURL?>freetest/addfreetest">Add Free Test</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Free Test Exam Detail</h2>
                      </header>
                          <div class="panel-body">
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Free test Name</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody id="table-data">

                                    <?php 
                                    $x=1;
                                    if (isset($freetest) && count($freetest)>0) {
                                      foreach ($freetest as $freetestRes) {
                                    ?>
                                      <tr>
                                        <td><?=$x++?></td>
                                        <td><?=stripslashes(ucwords($freetestRes->name))?></td>
                                        <td>
                                          <?php 
                                            if ($freetestRes->status==1) {
                                                echo $this->tag->linkTo("fixedtest/updteststatus/2/".$freetestRes->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                            }else{
                                                echo $this->tag->linkTo("fixedtest/updteststatus/1/".$freetestRes->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                            }
                                        ?>
                                        </td>
                                        <td>
                                          
                                          <?php echo $this->tag->linkTo("fixedtest/update/".$freetestRes->id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                          <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $freetestRes->id?>" style="cursor:pointer;"></i>
                                        </td>

                                        <!-- Modal Start Here -->
                                          <div id="delete<?php echo $freetestRes->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($freetestRes->name); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Do you want to delete this Fixed Test?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("fixedtest/delete/".$freetestRes->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>

                                          <!-- Modal End Here -->
                                      </tr>
                                      <?php  
                                      }
                                    }
                                    ?>
                                  </tbody>
                              </table>
                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->