<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
            <div class="inner-toolbar clearfix" style="overflow:visible;"><!-- Toolbar Here -->
            </div>
            <section class="panel course-body"> <!-- Second Panel -->
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Add Exam</h2>
                </header>
                <form action="" method="post">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none">
                            <thead>
                                <tr>
                                    <th><input type="text" placeholder="Enter Exam name.." required class="form-control" name="name"></th>
                                    <th><input type="submit" class="btn btn-block btn-primary" Value="Save"></th>
                                </tr>
                            </thead>
                        </table>
                    </div><!--panel-body-->
                </form>
            </section> <!-- Second Panel End -->
            <section class="panel course-body"> <!-- Second Panel -->
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Previous Year Exam</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">

                            <?php
                            $x = 1;
                            if (count($res) > 0) {
                                foreach ($res as $freetestRes) {
                                    ?>
                                    <tr>
                                        <td><?= $x++ ?></td>
                                        <td>
                                        <span id="set<?php echo $freetestRes->id ?>"><?= stripslashes(ucwords($freetestRes->name)) ?></span>
                                        <span style="display:none;" id="get<?php echo $freetestRes->id ?>"><input class="form-control" type="text" value="<?= stripslashes(ucwords($freetestRes->name)) ?>" id="save<?php echo $freetestRes->id ?>" onblur="savevalue(this.value,<?php echo $freetestRes->id ?>);"></span>
                                        </td>
                                        <td>
                                            <?php
                                            if ($freetestRes->status == 1) {
                                                echo $this->tag->linkTo("fixedtest/prviousyeartstatus/2/" . $freetestRes->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>");
                                            } else {
                                                echo $this->tag->linkTo("fixedtest/prviousyeartstatus/1/" . $freetestRes->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                            }
                                            ?>
                                        </td>
                                        <td>
                                            <i class='fa fa-pencil' title='Edit Exam' onclick="editdata(<?php echo $freetestRes->id ?>);" style="cursor:pointer;"></i>
                                            <i class="fa fa-times" title='Delete Exam' data-toggle="modal" data-target="#delete<?php echo $freetestRes->id ?>" style="cursor:pointer;"></i>
                                        </td>

                                        <!-- Modal Start Here -->
                                <div id="delete<?php echo $freetestRes->id ?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($freetestRes->name); ?></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="">
                                                    Do you want to delete this previous type exam?
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <?php echo Phalcon\Tag::linkTo(array("fixedtest/deleteexam/" . $freetestRes->id, 'Delete', 'class' => 'btn btn-danger')); ?>

                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>

                                <!-- Modal End Here -->
                                </tr>
                                <?php
                            }
                        }
                        ?>
                        </tbody>
                    </table>
                </div><!--panel-body-->
            </section> <!-- Second Panel End -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->
<script>
function editdata(id){
    $("#set"+id).attr("style","display:none;");
    $("#get"+id).css("display","block");
}
function savevalue(va,id){
   $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>freetest/saveprvexam',
      data: 'name='+va+"&id="+id,
      success: function(data){
        if(data){
           $("#set"+id).css("display","block");
           $("#set"+id).html(va);
           $("#get"+id).css("display","none");
        }
      }
    });
    }
</script>