<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>

    function supcat(supcat){
      var sup_cat = $("#sup_cat").val();
      // ajax call start here
      $.ajax({
          type: 'POST',
          url: '<?=BASEURL?>exams/getcourse',
          data: 'sup_cat='+supcat,
          success: function(data){
            if(data){
              $("#course").html(data);
                console.log(data);
            }
          }
        });
      // console.log(sup_cat);
      }

    function getfixtest(abj)
    {
        if($("#sup_cat").val()!=''){
            var sup_cat = $("#sup_cat").val();
            var course = $(abj).val();
            $.ajax({
              type: 'POST',
              url: '<?=BASEURL?>fixedtest/getfixtest',
              data: 'sup_cat='+sup_cat+'&course='+course,
              success: function(data){
                if(data){
                    $("#fixtests").html(data);
                }
              }
            });
        }else{
            alert("Please select a Super Cateroy");
        }
        
    }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Add Fix Package</h2>
                                <div class="col-md-3 mandatory">
                                    ( <span class="required">*</span> Marked are Mandatory)
                                </div>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>fixedtest/addpackages" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Package Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Package Name" type="text" name="name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Description</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control" placeholder="Enter Description" name="desc"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Super Category <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="sup_cat" required class="form-control " id="sup_cat" onchange="supcat(this.value)">
                                            <option>--Choose Super Category--</option>
                                        <?php foreach($supcat as $val): ?>
                                            <option value="<?=$val->scid?>"><?=$val->scname?></option>
                                        <?php endforeach;?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Course<span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="course" required class="form-control " id="course" onchange="getfixtest(this)">
                                            <option>--Choose Course --</option>
                                        </select>
                                        </div>
                                    </div>
                                    
                                        <div class="col-md-8 col-md-offset-2" id="fixtests">
                                            
                                        </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="inputSuccess">Test Type <span class="required">*</span></label>
                                        <div class="col-md-6">    
                                            <select name="test_type" required class="form-control ">
                                                <option value="4" selected>Fixed Wise Test</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Price <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control" required placeholder="Enter Plan Name" type="text" name="price"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Package</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Package</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->