<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>
  function supcat(supcat){
  // var sup_cat = $("#sup_cat").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>exams/getnewcourse',
      data: 'sup_cat='+supcat,
      success: function(data){
        if(data){
          $("#course").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
  }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Exam type</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>exams/addexamtype" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Type of Test</label>
                                        <div class="col-md-6">
                                        <select name="exam_type"  class="form-control" onchange="checktest(this.value)">
                                          <option value="">-- Choose type of test --</option>
                                          <option value="1">Subject Wise</option>
                                          <option value="2">Topic Wise</option>
                                          <option value="3">Unit Wise</option>
                                          <option value="5">Full Syllabus</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Exam Type Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Exam Type Name" type="text" name="etname"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Super Category</label>
                                        <div class="col-md-6">
                                        <select name="sup_cat" required  onchange="supcat(this.value)"  class="form-control">
                                          <option value="">-- Super Category --</option>
                                          <?php
                                            foreach($supcat as $supcatRes){ ?>
                                              <option value="<?=$supcatRes->scid?>"><?=$supcatRes->scname?></option>
                                           <?php }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label" >Course <i class="fa fa-question-circle" data-toggle="tooltip" title="Course are listed Under Super Category"></i></label>
                                        <div class="col-md-6" id="course">
                                            
<!--                                          <select name="course" id="course" class="form-control">
                                            <option value="">Select Course</option>
                                          </select>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Question Type</label>
                                        <div class="col-md-6">
                                          <?php foreach($qtype as $qtypeRes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="qtype<?=$qtypeRes->qtid?>" value="<?=$qtypeRes->qtid?>" name="q_type[]">
                                              <label for="qtype<?=$qtypeRes->qtid?>" ><?=$qtypeRes->qtname?></label>
                                            </div>
                                          <?php } ?>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Number Of Question</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Number Of Question" type="text" name="no_qs" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Time In Minute</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Time In Minute" type="text" name="time" value="">
                                        </div>
                                    </div>
<!--                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Date</label>
                                        <div class="col-md-6">
                                        <input class="form-control" data-plugin-datepicker placeholder="Date" type="text" name="date" value="">
                                        </div>
                                    </div>-->
                                    <!-- <div class="form-group" id="notapply">
                                         <label class="col-md-3 control-label">Question Level</label>
                                        <div class="col-md-6"> 
                                          <div class="row">
                                              <table class="table mb-none">
                                                <thead>
                                                  <tr>
                                                    <th>Question Level</th>
                                                    <th>Easy</th>
                                                    <th>Medium</th>
                                                    <th>Hard</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>Easy</td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>Medium</td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td>Hard</td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard[]">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="1" selected>Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Exam type</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Exam type</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
  function checktest(vl){
      if(vl!=''){
           $("#notapply").css("display","none");
      }else{
          $("#notapply").css("display","block");
      }
  }
</script>