<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <!-- <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Practice</h2>
                            </header> -->
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>exams/addpractice" method="post" id="pracAddForm">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label" >Course <i class="fa fa-question-circle" data-toggle="tooltip" title="Select a Course for practice series."></i></label>
                                        <div class="col-md-6" >
                                          <select name="course" required  class="form-control">
                                          <option value="">-- Choose Practice Series --</option>
                                          <?php
                                            foreach($courseName as $crsName){ ?>
                                              <option value="<?=$crsName->id?>"><?=$crsName->name?></option>
                                           <?php }
                                          ?>
                                        </select>
                                          
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Question Type</label>
                                        <div class="col-md-6">
                                          <?php foreach($qtype as $qtypeRes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="qtype<?=$qtypeRes->qtid?>" value="<?=$qtypeRes->qtid?>" name="q_type[]">
                                              <label for="qtype<?=$qtypeRes->qtid?>" ><?=$qtypeRes->qtname?></label>
                                            </div>
                                          <?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group" id="notapply">
                                         <label class="col-md-3 control-label">Question Level</label>
                                        <div class="col-md-6"> 
                                          <div class="row">
                                              <table class="table mb-none">
                                                <thead>
                                                  <tr>
                                                    <th>Question Level</th>
                                                    <th>Easy</th>
                                                    <th>Medium</th>
                                                    <th>Hard</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>%age</td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Minimum No of Question : </label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Enter no of question" type="text" required name="minimum_question">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success pull-right" onclick="return createPracList();">Add Practice</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
  function checktest(){
    $("#notapply").css("display","none");
  }
</script>