<?php echo $this->getContent(); ?>
<?php
$getVal = $this->request->get();
?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<script>
    function getssubject(){
        var s = $( "#subject" ).val();
        $.ajax(
        {
            type: 'POST',
            url: '<?php echo BASEURL; ?>exams/getsubsubject',
            data: 'subid='+s,
            success: function(data){
                if(data) 
                {
                    $("#subsubject").html(data);
                }
            }
        });
    }
    function gettopics(){
        var ss = $( "#subsubject" ).val();
        var s = $( "#subject" ).val();
        $.ajax(
        {
            type: 'POST',
            url: '<?php echo BASEURL; ?>exams/gettopics',
            data: 'ssubid='+ss+'&subid='+s,
            success: function(data){
                if(data)
                {
                    $("#topics").html(data);
                }
            }
        });
    }
    function getsubtopics(){
        var t = $( "#topics" ).val();
        var ss = $( "#subsubject" ).val();
        var s = $( "#subject" ).val();
        $.ajax(
        {
            type: 'POST',
            url: '<?php echo BASEURL; ?>exams/getsubtopics',
            data: 'ssubid='+ss+'&subid='+s+'&tid='+t,
            success: function(data){
                if(data)
                {
                    $("#subtopics").html(data);
                }
            }
        });
    }
    function updqt(id){
        var d='';
        if($( "#test"+id).is(':checked')){
            d += $( "#test"+id).val()+',';
        }
        if($( "#practice"+id).is(':checked')){
            d += $( "#practice"+id).val()+',';
        }
        d = d.replace(/,$/,'');
        if(d==''){
            alert('Please checked an checked box before update.');
        }else{
            d = "["+d+"]";
            // alert(d);
            $.ajax(
            {
                type: 'POST',
                url: '<?php echo BASEURL; ?>exams/updqt',
                data: 'qid='+id+'&etype='+d,
                success: function(data){
                    if(data)
                    {
                        alert('Successfully updated.');
                    }
                }
            });
        }
    }
</script>

<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body ">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>

            <section class="panel course-body"> <!-- Second Panel -->
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Assign Exams</h2>
                </header>
                <div class="panel-body">
                    <form class="form-bordered" action="<?= BASEURL ?>exams/examassign/" name="form1" method="get">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Subject</label>
                                        <select class="form-control mb-md" id="subject" required name="subject" onclick="getssubject()">
                                            <option value="">[ Select Subject ]</option>
                                            <?php if (isset($subdet)) {
                                                foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?= $subdetRes->id ?>' <?php
                                            if (isset($getVal['subject']) & $getVal['subject'] == $subdetRes->id) {
                                                echo "selected";
                                            }
                                                    ?> ><?= stripslashes(ucwords($subdetRes->subjectname)) ?></option>
                                                            <?php
                                                        }
                                                    }
                                                    ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Sub Subject</label>
                                        <select class="form-control mb-md" id="subsubject" name="subsubject" onclick="gettopics()">
                                            <option value="">[ Select Sub Subject ]</option>
                                            <?php if (isset($subsubdet)) {
                                                foreach ($subsubdet as $subsubdetRes) { ?>
                                                    <option value='<?= $subsubdetRes->ssid ?>' <?php
                                                    if (isset($getVal['subsubject']) & $getVal['subsubject'] == $subsubdetRes->ssid) {
                                                        echo "selected";
                                                    }
                                                    ?> ><?= stripslashes(ucwords($subsubdetRes->ssname)) ?></option>
        <?php
    }
}
?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Topics</label>
                                        <select class="form-control mb-md" id="topics" name="topics" onclick="getsubtopics()">
                                            <option value="">[ Select Topics ]</option>
                                                    <?php if (isset($mTopicdet)) {
                                                        foreach ($mTopicdet as $mTopicdetRes) { ?>
                                                    <option value='<?= $mTopicdetRes->tid ?>' <?php
                                                    if (isset($getVal['topics']) & $getVal['topics'] == $mTopicdetRes->tid) {
                                                        echo "selected";
                                                    }
                                                    ?> ><?= stripslashes(ucwords($mTopicdetRes->tname)) ?></option>
        <?php
    }
}
?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Sub Topics</label>
                                        <select class="form-control mb-md" id="subtopics" name="subtopics">
                                            <option value="">[ Select Sub Topics ]</option>
                                                    <?php if (isset($msTopicdet)) {
                                                        foreach ($msTopicdet as $msTopicdetRes) { ?>
                                                    <option value='<?= $msTopicdetRes->stid ?>' <?php
                                                    if (isset($getVal['subtopics']) & $getVal['subtopics'] == $msTopicdetRes->stid) {
                                                        echo "selected";
                                                    }
                                                    ?> ><?= stripslashes(ucwords($msTopicdetRes->stname)) ?></option>
        <?php
    }
}
?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Question Type</label>
                                        <select class="form-control mb-md" name="qtype">
                                            <option value="">[ Select Question Type ]</option>
                                            <option value="">All Question Type</option>
                                                    <?php if (isset($qtype)) {
                                                        foreach ($qtype as $qtypeRes) { ?>
                                                    <option value='<?= $qtypeRes->qtid ?>' <?php
                                                            if (isset($getVal['qtype']) & $getVal['qtype'] == $qtypeRes->qtid) {
                                                                echo "selected";
                                                            }
                                                            ?> ><?= stripslashes(ucwords($qtypeRes->qtname)) ?></option>
        <?php
    }
}
?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Question Level</label>
                                        <select class="form-control mb-md" name="qlevel">
                                            <option value="">[ Select Question Level ]</option>
                                            <option value="">All Question Level</option>
                                            <option value="1" <?= ($getVal['qlevel'] == 1) ? "selected" : '' ?>>Easy</option>
                                            <option value="2" <?= ($getVal['qlevel'] == 2) ? "selected" : '' ?>>Medium</option>
                                            <option value="3" <?= ($getVal['qlevel'] == 3) ? "selected" : '' ?>>Hard</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Pole Type</label>
                                        <select class="form-control mb-md" name="etype">
                                            <option value="">[ Select Exam Type ]</option>
                                            <option value='' >All Exam Type</option>
                                            <option value="1">Practice Pool</option>
                                            <option value="2">Test Pole Test</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Edited By</label>
                                        <select class="form-control mb-md" name="modified_by">
                                            <option value="">[ Select ]</option>
<?php $adu = MasterAdminUsers::find();
foreach ($adu as $adv) { ?>
                                                <option value="<?php echo $adv->aid; ?>" <?= ($getVal['modified_by'] == $adv->aid) ? "selected" : '' ?>><?php echo $adv->first_name . " " . $adv->last_name; ?></option>
<?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">Date</label>
                                        <input class="form-control" data-plugin-datepicker placeholder="From.." type="text" name="date" value="<?= $getVal['date']; ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="">
                                        <label for="">&nbsp;</label>
                                        <input class="form-control" data-plugin-datepicker placeholder="To.." type="text" name="todate" value="<?= $getVal['todate']; ?>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary" name="submit" value="Search">
                            </div>
                        </div>
                    </form>
                    <table class="table table-bordered table-striped mb-none" >
                        <thead>
                            <tr>
                                <th>SL#</th>
                                <th>QuestionID</th>
                                <th>Question</th>
                                <th>Question Type</th>
                                <th>Modified By</th>
                                <th>Modified Date</th>
                                <th style="width:150px;">Allocation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">
                        <form class="form-horizontal form-bordered" action="<?= BASEURL ?>exams/examassign" method="post">
                            <?php
                            $qtype = ["1" => "Single Type", "2" => "Multiple Type Question", "3" => "Match Type Question", "4" => "Numerical Type", "5" => "Paragraphs", "6" => "Theory Question", "7" => "Reason Assertion", "8" => "Subjective Question"];
                            $limit = $question->limit;
                            $cur = (int) $question->current * $limit;
                            $start = (int) $cur - (int) $limit;
                            $x = (int) $start + 1;
                            if (isset($question) && count($question->items) > 0) {

                                foreach ($question->items as $questionRes) {
                                    $cond = "questionid='" . $questionRes['questionid'] . "'";
                                    if ($getVal['modified_by']) {
                                        $cond.=" AND modified_by='{$getVal['modified_by']}'";
                                    }
                                    if ($getVal['date'] != '' && $getVal['todate'] != '') {
                                        $from = date("Y-m-d", strtotime($getVal['date'])) . " 00:00:00";
                                        $to = date("Y-m-d", strtotime($getVal['todate'])) . " 23:58:59";
                                        $cond.=" AND modified BETWEEN '$from' AND '$to'";
                                    } else {
                                        if ($getVal['date']) {
                                            $from = date("Y-m-d", strtotime($getVal['date'])) . " 00:00:00";
                                            $cond.=" AND modified >= '$from'";
                                        }
                                        if ($getVal['todate']) {
                                            $to = date("Y-m-d", strtotime($getVal['todate'])) . " 23:58:59";
                                            $cond.=" AND modified <= '$to'";
                                        }
                                    }
                                    if ($questionRes['tableid'] == 1) {
                                        $phql = 'SELECT * FROM MasterQuestionBank WHERE ' . $cond;
                                        $ques = $this->modelsManager->executeQuery($phql);
                                        //$ques = MasterQuestionBank::findFirst(array($cond));
                                    } elseif ($questionRes['tableid'] == 2) {
                                        //$ques = MasterMatchQuestion::findFirst(array($cond));
                                        $phql = 'SELECT * FROM MasterMatchQuestion WHERE ' . $cond;
                                        $ques = $this->modelsManager->executeQuery($phql);
                                    } elseif ($questionRes['tableid'] == 3) {
                                        //$ques = MasterNumericQuestion::findFirst(array($cond));
                                        $phql = 'SELECT * FROM MasterNumericQuestion WHERE ' . $cond;
                                        $ques = $this->modelsManager->executeQuery($phql);
                                    } elseif ($questionRes['tableid'] == 4) {
                                        // $ques = MasterParaQuestion::findFirst(array($cond));
                                        $phql = 'SELECT * FROM MasterParaQuestion WHERE ' . $cond;
                                        $ques = $this->modelsManager->executeQuery($phql);
                                    } elseif ($questionRes['tableid'] == 5) {
                                        //$ques = MasterReasonQuestion::findFirst(array($cond));
                                        $phql = 'SELECT * FROM MasterReasonQuestion WHERE ' . $cond;
                                        $ques = $this->modelsManager->executeQuery($phql);
                                    } elseif ($questionRes['tableid'] == 6) {
                                        $phql = 'SELECT * FROM MasterSubtheoQuestion WHERE ' . $cond;
                                        $ques = $this->modelsManager->executeQuery($phql);
                                    }
                                    if (isset($ques[0]) && count($ques[0]) > 0) {
                                        $et = json_decode($ques[0]->e_type);
                                        ?>
                                        <tr>
                                            <td><?= $x ?></td>
                                            <td><?= $questionRes['questionid'] ?></td>
                                            <td><?= stripslashes(ucwords($ques[0]->question)) ?></td>
                                            <td>
            <?php
            echo $qtype[$questionRes['q_type']];
            ?>
                                            </td>
                                            <td><?php
            $aduser = MasterAdminUsers::findFirst(array("aid='" . $ques[0]->modified_by . "'"));
            echo ($aduser->first_name) ? $aduser->first_name . " " . $aduser->last_name : "N/A";
            ?></td>
                                            <td><?php echo ($ques[0]->modified) ? date("d M,Y", strtotime($ques[0]->modified)) : "N/A"; ?></td>
                                            <td>
                                                <div class="clearfix text-center assign-update hide" id="<?= $questionRes['questionid'] ?>">
                                                    <label class="label label-success">Updated</label>
                                                </div>
                                                    <?php
                                                    $e_type = json_decode($questionRes['e_type']);
                                                    ?>
                                                <div class="checkbox-custom checkbox-default">
                                                    <input type="checkbox" id="practice<?= $questionRes['questionid'] ?>"  value="1"
            <?php
            foreach ($e_type as $value) {
                if ($value == 1) {
                    echo 'checked';
                }
            }
            ?>
                                                           >
                                                    <label for="practice<?= $questionRes['questionid'] ?>" >Practice Pool</label>
                                                </div>
                                                <div class="checkbox-custom checkbox-default">
                                                    <input type="checkbox" id="test<?= $questionRes['questionid'] ?>"  value="2" 
            <?php
            foreach ($e_type as $value) {
                if ($value == 2) {
                    echo 'checked';
                }
            }
            ?>
                                                           >
                                                    <label for="test<?= $questionRes['questionid'] ?>" >Test Pool</label>
                                                </div>
                                                <div class="btn btn-primary btn-xs" onclick="updqt('<?= $questionRes['questionid'] ?>')">Update</div>
                                            </td>
                                            <td>
                                                <a href="<?= BASEURL ?>exams/updquestion/<?= $questionRes['questionid'] ?>" style="courser:pointer !important;"><label for="" class="label label-primary" >Edit</label></a>
                                            </td>
                                        </tr>
            <?php
        }
        $x++;
    }
}
?>
                        </form>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <?php $cururl=explode("_url=/",urldecode(http_build_query($this->request->getQuery())));
$newurl=explode("&page",$cururl[1]);
?>
<a href="<?= BASEURL ?><?php echo $newurl[0];?>">First</a>
<a href="<?= BASEURL ?><?php echo $newurl[0];?>&page=<?= $question->before; ?>" ><button><<</button></a>
<a href="<?= BASEURL ?><?php echo $newurl[0];?>&page=<?= $question->next; ?>" ><button>>></button></a>
<a href="<?= BASEURL ?><?php echo $newurl[0];?>&page=<?= $question->last; ?>" >Last</a>
<?php echo "You are in page ", $question->current, " of ", $question->total_pages; ?>
                    </div>
            </section> <!-- Second Panel End -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->