<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <section class="panel course-body"> <!-- Second Panel -->
                <div>
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <?php
                    if (count($sub_name) > 0) {
                        $j=1;
                        foreach ($sub_name as $nameSub) {?>
                            <li role="presentation" class="<?php if($j==1){?>active<?php } ?>"><a href="#<?=$nameSub->subjectname?>" aria-controls="home" role="tab" data-toggle="tab"><?=$nameSub->subjectname?></a></li><?php
                       $j++; }
                     } 
                    ?>
                    
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">
                  <?php
                    if (count($sub_name) > 0) {
                        $i=1;
                        $levar=array("1"=>"Easy","2"=>"Medium","3"=>"Hard");
                        foreach ($sub_name as $nameSub) {
                            ?>
                            <div role="tabpanel" class="tab-pane <?php if($i==1){?>active<?php } ?>" id="<?=$nameSub->subjectname?>">
                                <ul><?php
                                foreach ($subSubject as $subSubjectname) {
                                    if ($subSubjectname->subid == $nameSub->id) {
                                        $sqltopic="SELECT count(*) as totalqestion,a.q_level,a.topic_id,b.tname FROM PracticeQuestionList a,MasterTopics b WHERE a.topic_id=b.tid AND b.ssubid=".$subSubjectname->ssid." AND b.status=1 GROUP BY a.topic_id,a.q_level ORDER BY a.topic_id  DESC";
                                        $result = $this->modelsManager->executeQuery($sqltopic);
                                        ?>
                                        <li>
                                            <?=$subSubjectname->ssname?>
                                            <ul>
                                            <?php foreach($result as $newres){?>
                                                <li>
                                                    <?=$newres->tname?>--<?=$levar[$newres->q_level]?>--<?=$newres->totalqestion?>
                                                </li>
                                                <?php } ?>
                                            </ul>
                                        </li><?php
                                    }
                                }?>
                                </ul>
                            </div><?php
                        $i++; }
                     } 
                    ?>
                  </div>

                </div>
                <!-- <div class="panel-body">
                    
                </div> --><!--panel-body-->
            </section> <!-- Second Panel End -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->
