<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
            <div class="inner-toolbar clearfix" style="overflow:visible;"><!-- Toolbar Here -->
                <ul>
                    <li class="right">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="active">
                                <a href="<?= BASEURL ?>exams/addpractice">Add Practice series</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <section class="panel course-body"> <!-- Second Panel -->
                
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" >
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>Practice Series</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">

                            <?php
                            $x = 1;
                            if (isset($exam_type) && count($exam_type) > 0) {
                                foreach ($exam_type as $exam_typeRes) {
                                    ?>
                                    <tr>
                                        <td><?= $x++ ?></td>
                                        <td><?= stripslashes(ucwords($exam_typeRes->c_name)) ?></td>
                                        <td>
                                            <?php
                                            if ($exam_typeRes->p_status == 1) {
                                                echo $this->tag->linkTo("exams/updextystatus/2/" . $exam_typeRes->etid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>");
                                            } else {
                                                echo $this->tag->linkTo("exams/updextystatus/1/" . $exam_typeRes->etid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                            }
                                            ?>
                                        </td>
                                        <td>
                                            
                                            <?php echo $this->tag->linkTo("exams/updatepractice/" . $exam_typeRes->p_id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                            
                                            <?php echo $this->tag->linkTo("exams/practicedetails/" . $exam_typeRes->p_id, "<i class='fa fa-laptop' title='Series Details'></i>") ?>

                                            
                                            <i class="fa fa-times" title='Delete Practice Series' data-toggle="modal" data-target="#delete<?php echo $exam_typeRes->p_id ?>" style="cursor:pointer;"></i>
                                        </td>
                                
                                <!-- Modal Start Here -->
                                <div id="delete<?php echo $exam_typeRes->p_id ?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($exam_typeRes->c_name); ?></h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="">
                                                    Do you want to delete this Practice Series?
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <?php echo Phalcon\Tag::linkTo(array("Exams/deletePractice/" . $exam_typeRes->p_id, 'Delete', 'class' => 'btn btn-danger')); ?>

                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                            </div>

                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>


                                <!-- Modal End Here -->
                                </tr>
                                <?php
                            }
                        }
                        ?>
                        </tbody>
                    </table>
                </div><!--panel-body-->
            </section> <!-- Second Panel End -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->