<?php

$qt = json_decode($exam_type->q_type);
foreach($qt as $val){
  $qarray[$val] = $val;
}

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>exams/updatepractice" method="post" id="pracupForm">
                                  <input type="hidden" value="<?=$exam_type->id?>" name="id">
                                  <input type="hidden" value="<?=$exam_type->course?>" name="course">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">practice Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter practice Name" type="text" readonly value="<?=$course->name?>"  >
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Question Type</label>
                                        <div class="col-md-6">
                                          <?php foreach($qtype as $qtypeRes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input type="checkbox" id="qtype<?=$qtypeRes->qtid?>" value="<?=$qtypeRes->qtid?>" name="q_type[]"
                                                <?=(isset($qarray[$qtypeRes->qtid]))?'checked':'' ?>
                                              >
                                              <label for="qtype<?=$qtypeRes->qtid?>" ><?=$qtypeRes->qtname?></label>
                                            </div>
                                          <?php } ?>
                                        </div>
                                    </div>
                                    <div class="form-group" id="notapply">
                                         <label class="col-md-3 control-label">Question Level</label>
                                        <div class="col-md-6"> 
                                          <div class="row">
                                              <table class="table mb-none">
                                                <thead>
                                                  <tr>
                                                    <th>Question Level</th>
                                                    <th>Easy</th>
                                                    <th>Medium</th>
                                                    <th>Hard</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>%age</td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_easy" value="<?=$exam_type->ql_easy?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_medium" value="<?=$exam_type->ql_medium?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                    <td>
                                                      <div class="input-group mb-md">
                                                        <input class="form-control" placeholder="Percentage" type="text" name="ql_hard" value="<?=$exam_type->ql_hard?>">
                                                        <span class="input-group-addon">
                                                          %
                                                        </span>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Minimum No of Question : </label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Enter no of question" type="text" required name="minimum_question" value="<?=$exam_type->minimum_question?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?=($exam_type->status==1)?'selected':''?>>Active</option>
                                          <option value="0" <?=($exam_type->status==0)?'selected':''?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success pull-right" onclick="return updatePracList();">Update Practice</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
  function checktest(){
    $("#notapply").css("display","none");
  }
</script>