<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getTest(); ?>
</head>
  <body>
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      <a class="navmenu-brand" href="#"><i class="fa fa-question-circle"></i> Questions</a>
      <div class="div col-md-12">
        <div class="form-group">
          <select name="" id="" class="form-control">
            <option>All Questions</option>
            <option>Unanswered</option>
            <option>Answered</option>
            <option>Marked For Review</option>
          </select>              
        </div>
        <hr>
        <h4 class="text-teal">Section 1</h4>        
      </div>
      <div class="div col-md-12">
        
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
      <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="container-fluid">
        <div class="col-md-2 col-sm-12 col-xs-12 pull-right">
          <div class="row">
            <div class="timer">
              <div class="clock">
                <img src="images/clock.png" alt=""/>
              </div>  
              <div class="count-time">
                <div id="timer" class="timer-box">
                    <input id="minutes" disabled/>:
                    <input id="seconds" disabled/>
                      <div id="timer">
                          <input type="button" class="btn btn-sm btn-warning btn-block" id="Pause" value="Pause" onClick="pause();" />
                      </div>
                  </div>
              </div>
            </div>
            <div class="clearfix"></div> 
            <hr>
            <div class="hidden-sm hidden-xs text-center">
              <a class="big-option">A</a>
              <a class="big-option">B</a>
              <a class="big-option">C</a>
              <a class="big-option">D</a>
            </div>     
            
          </div>
        </div>
        <div class="col-md-10">
          <div class="page-header">
            <h2 class="text-primary"><i class="fa fa-book"></i> Physics</h2>
          </div>          
          <div>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div class="col-md-12">
                    <p>
                      <span class="badge"><strong>Qs.No 1.</strong></span>
                      The plates S and T of an uncharged parallel plate capacitor are connected across a battery. The battery is then disconnected and the charged plates are now connected in a system as shown in the figure. The system shown is in equilibrium. All the strings are insulating and mass less. The magnitude of charge on one of the capacitor plates is: [Area of plates = A]
                    </p>
                    <img src="images/qs.png" class="img-rsponsive" alt="question"/>
                    <hr>
                    <p>
                      <span class="badge">A</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                    <p>
                      <span class="badge">B</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                    <p>
                      <span class="badge">C</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                    <p>
                      <span class="badge">D</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                  </div>               
                </div>
                <div class="item">
                  <div class="col-md-12">
                    <p>
                      <span class="badge"><strong>Qs.No 2.</strong></span>
                      The plates S and T of an uncharged parallel plate capacitor are connected across a battery. The battery is then disconnected and the charged plates are now connected in a system as shown in the figure. The system shown is in equilibrium. All the strings are insulating and mass less. The magnitude of charge on one of the capacitor plates is: [Area of plates = A]
                    </p>
                    <img src="images/qs.png" class="img-rsponsive" alt="question"/>
                    <hr>
                    <p>
                      <span class="badge">A</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                    <p>
                      <span class="badge">B</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                    <p>
                      <span class="badge">C</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                    <p>
                      <span class="badge">D</span>
                      Lorem ipsum
                      <img src="images/ans.png" class="img-rsponsive" alt="answer"/>
                    </p>
                    <hr>
                  </div>                
                </div>
              </div>        
        </div>  
        <div class="clearfix"></div>          
    </div><!-- /.container -->
    <footer class="footer">
      <div class="container">
            <div class="col-md-12 text-center">
              <a href="#carousel-example-generic" role="button" data-slide="prev" class="pre"><i class="fa fa-chevron-left"></i></a>
              <a href="#" class="review"><i class="fa fa-bookmark"></i> <small>Review Later</small></a>
              <a href="#carousel-example-generic" role="button" data-slide="next" class="nex"><i class="fa fa-chevron-right"></i></a>
            </div>      
      </div>
    </footer>

  </body>