<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->subjectname,$subsubject->ssname,$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topics->slug))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="<?=BASEURL?>question/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Practice Question</a></li>
                            <li><a href="<?=BASEURL?>assessment/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>" class="sublist-active">Assessment</a></li>
                            <li><a href="<?=BASEURL?>tip/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Tips</a></li>
                            <li><a href="<?=BASEURL?>articles/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <?php
                        if(isset($assess) && $assess->count()!=0){
                            foreach ($assess as $assessres) { 
                                $totaltimespent=0;
                                $completed=0;
                                $toalshowtime="0 min";
                                if(!empty($assess_result[$assessres->id])){
                                    $trcount=count($assess_result[$assessres->id])-1;
                                    $topicremark = json_decode($assess_result[$assessres->id][$assessres->id]);
                                    $topicremark = get_object_vars($topicremark);
                                    $od = $assess_result[$assessres->id]['od'.$assessres->id];
                                    $totaltimespent=round($assess_result[$assessres->id]['od'.$assessres->id]['totaltime']);
                                  $hours = floor($hournew / 60);
                                  $hours = ($hours > 0)? $hours." hr" :"";
                                  $minutes = $totaltimespent % 60;
                                  $minutes = ($minutes > 0)? $minutes." min" :"";
                                  $toalshowtime=$hours." ".$minutes;
                                  $completed=round($assess_result[$assessres->id]['od'.$assessres->id]['completed']);
                                }
                            ?>
                        <section class="panel panel-tertiary assessment-portlet" data-portlet-item="">
								<header class="panel-heading portlet-handler">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title"><?=$assessres->title?></h2>
								</header>
								<div class="panel-body">
                                  
                                            <?php
                                                $concepts = json_decode($assessres->subtopics);
                                            ?>
                                            <div class="col-md-12 assessment-list">
                                                <?php foreach($concepts as $value): ?>
                                                    
                                                    <?php foreach($subtopics as $val): ?>
                                                        <?php if($val->stid==$value): ?>
                                                                <p><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                    <?=$val->stname?>
                                                                    <?php
                                                                        if(isset($topicremark[$val->stid]) && $topicremark[$val->stid]!=''){
                                                                            if($topicremark[$val->stid]>=80){
                                                                                echo ' (Concept Absorbed)'."</br>";
                                                                            }
                                                                            if($topicremark[$val->stid]>=40 && $topicremark[$val->stid]<80){
                                                                                echo ' (Concept less Absorbed)'."</br>";
                                                                            }
                                                                            if($topicremark[$val->stid]<40 && $topicremark[$val->stid]>=0){
                                                                                echo ' (Concept Evaporate)'."</br>";
                                                                            }
                                                                        }
                                                                    ?>
                                                                </p>
                                                            
                                                        <?php endif; ?>
                                                    <?php endforeach; ?>
                                                <?php endforeach; 
                                                unset($i,$topicremark);
                                                ?>
                                            </div>
                                            <div class="col-md-12 assessment-status your-stats your-stats-cust">
                                                <div class="col-xs-4">
                                                   <span class="completed-bg circular-bar-chart" data-percent="<?=$completed?>" data-plugin-options='{ "barColor": "#fff", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#b4dcb6" }'>
                                                </span> 
                                                    <label for=""><small><b>Completed</b></small></label>
                                                    <label class="status-label">
                                                    <?=$completed?> %
                                                    </label>
                                                </div>
                                                <div class="col-xs-4">
                                                	<span class="accuracy-bg"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
                                                    <label for=""><small><b>Accuracy</b></small></label>
                                                    <label class="status-label">
                                                    <?php
                                                        if(isset($od)){
                                                            echo round($od['nora']/$od['noqus']*100);
                                                        }else{
                                                            echo '0';
                                                        }
                                                    ?>
                                                    %
                                                    </label>
                                                </div>
                                                <div class="col-xs-4">
                                                	<span class="time-bg"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                    <label for=""><small><b>Time Spent</b></small></label>
                                                    <label class="status-label"><?= $toalshowtime;?></label>
                                                </div>
                                            </div>
                                                 <div class="col-md-12 assessment-footer">
                                                    <a class="btn btn-default btn-sm pull-right" href="<?=BASEURL?>assessmenttest/<?=$assessres->id?>" target="_blank">Take This Assessment <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                                </div>
                                        </div>
                                    </section>                            
                             <?php
                            unset($od);
                            }
                        }else{
                            echo '<p style="text-align: center;margin-top: 100px;font-size: 20px;color: #E04206;">No data found.</p>';
                        }
                     ?>
                            
                              
                           
                </div>
			<div class="col-md-4">
                <section class="panel suggested-toppers">
                    <header class="panel-heading">
                        <h2 class="panel-title">Toppers to Follow</h2>
                    </header>
                    <div class="panel-body">
                        <ul class="simple-post-list">
                            <?php foreach($follow as $fval): ?>
                                <li>
                                    <div class="post-image">
                                        <div class="img-thumbnail">
                                            <a href="#">
                                                <?php if($fval['img']!=''): ?>
                                                <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php else: ?>
                                                    <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                <?php endif; ?>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-info">
                                        <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                        <a href="#"><b><?=$fval['name']?></b></a>
                                        <div class="post-meta">
                                            <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                        </div>                                                      
                                    </div>
                                </li>
                            <?php endforeach; ?>
                        </ul>
                    </div>
                </section>
				</div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
<style>
	body{
		background:#FAFAFA;
		height:auto;
	}
</style>