<?php

echo $this->getContent();
?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <?php $q_type = MasterExamType::findFirst(array("etid='" . $exam_type . "'")); ?>
                                <h2 class="panel-title">Add <?php if($test_type==1){ echo "Subject Wise";}else if($test_type==2){ echo "Topics Wise";}else if($test_type==3){echo "Unit Wise";}else{ echo "Syllabus";}?> Tests ( <?php echo $supcat[$q_type->sup_cat];?> , <?php echo $course[$couse];?> )</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" id="addform" action="<?=BASEURL?>tests/addtests" method="post">
                                            <input type="hidden" name="test_type" id="test_type" value="<?php echo $test_type; ?>">
                                             <input type="hidden" name="exam_type" id="exam_type" value="<?php echo $exam_type;?>">
                                            <input type="hidden" name="couse" id="course" value="<?php echo $couse;?>">
                                            <input type="hidden" name="status"  value="1">
                                    <div id="afcurtest">
                                      
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Test</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Test</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
afcurtest();
function afcurtest(){
  var test_type = $("#test_type").val();
  var course = $("#course").val();
  var etid = $("#exam_type").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>tests/stuwise',
      data: 'course='+course+'&test_type='+test_type+'&etid='+etid,
      success: function(data){
        if(data){
          $("#afcurtest").html(data);
            console.log(data);
        }
      }
    });
  // console.log(sup_cat);
}
function getalltopic(va){
 $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>tests/getalltopic',
      data: 'subject='+va,
      success: function(data){
        if(data){
          $(".topic").html(data);
        }
      }
    });
}
</script>