<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('sid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$fixpack)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
            <div class="fixed-test-top">
                <div class="container">
                    <h2>Fixed Test</h2>
                    <p>Now check your Exam Dates in a simplified way by using TimeLine View.</p>
                </div>
            </div><!--fixed-test-top-->
            
            <div class="row fixed-test-con">
            	<div class="col-xs-12">
                    <div class="timelines">
                    <?php foreach($fixpack as $k=>$v){ ?>
                        <div class="timelines-item-head">
                            <div class="timelines-icon-head">
                                <h4><?php echo $k;?></h4>
                            </div>
                            <div class="timelines-content-head">
                            </div>
                        </div> 
                    <?php $i=1; foreach($v as $ka=>$va){
                         $curyear=date("Y");
                            $curmonth=date("m");
                            $month=date("m",strtotime($ka));
                        if($i%2!=0){ 
                            ?>
                        <div class="timelines-item">
                            <div class="timelines-icon <?php if(((int)$curyear == (int)$k  || (int)$curyear > (int)$k) && ((int)$curmonth>(int)$month)){ 
                                echo "previous-months";
                            }else if(((int)$curyear==(int)$k) && ((int)$curmonth==(int)$month)){ 
                                echo "current-month";}?>">
                                    <div class="beep-con">
                                      <div class="dots <?php echo $ka;?><?php echo $k;?>"></div>
                                      <div class="pulses"></div>
                                    </div>
                            </div>
                            <div class="timelines-content timelinehover" id="<?php echo $ka;?><?php echo $k;?>">
                                <h2><i class="fa fa-th-large" aria-hidden="true"></i> <?php echo $ka;?></h2>
                                <div class="dates-con">
                                <?php foreach($va as $da){
                                 ?>
                                      <a href="#" <?php if((int)time()<=(int)$da['fromtimestamp']){if(in_array($da['id_package'],$upack)){?> onclick="viewexam(<?=$da['id']?>,'<?=$da['fromtimestamp']?>');" <?php }else{ ?> onclick="viewpackage(<?=$da['id_package']?>,'<?=$da['fromtimestamp']?>');" <?php }} ?> class="single-dates" data-toggle="tooltip" title="<?php echo date("h:i a",$da['fromtimestamp'])."-".date("h:i a",$da['totimestamp'])?>">
                                        <h5><?php echo ucfirst($ka);?></h5>
                                        <p><?php echo date("d",strtotime($da['date']));?></p>
                                    </a><!--single-dates-->
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <?php }else{ ?>
                            <div class="timelines-item">
                            <div class="timelines-icon <?php if(((int)$curyear == (int)$k  || (int)$curyear > (int)$k) && ((int)$curmonth>(int)$month)){ 
                                echo "previous-months";
                            }else if(((int)$curyear==(int)$k) && ((int)$curmonth==(int)$month)){ 
                                echo "current-month";}?>">
                                    <div class="beep-con">
                                      <div class="dots <?php echo $ka;?><?php echo $k;?>"></div>
                                      <div class="pulses"></div>
                                    </div>
                             </div>
                            <div class="timelines-content right timelinehover" id="<?php echo $ka;?><?php echo $k;?>">
                                <h2><i class="fa fa-th-large" aria-hidden="true"></i> <?php echo $ka;?></h2>
                                <div class="dates-con">
                                 <?php foreach($va as $da){ 
                                  ?>
                                    <a href="#" <?php if((int)time()<=(int)$da['fromtimestamp']){if(in_array($da['id_package'],$upack)){?> onclick="viewexam(<?=$da['id']?>,'<?=$da['fromtimestamp']?>');" <?php }else{ ?> onclick="viewpackage(<?=$da['id_package']?>);" <?php } } ?>  class="single-dates" data-toggle="tooltip" title="<?php echo date("h:i a",$da['fromtimestamp'])."-".date("h:i a",$da['totimestamp'])?>">
                                        <h5><?php echo ucfirst($ka);?></h5>
                                        <p><?php echo date("d",strtotime($da['date']));?></p>
                                    </a><!--single-dates-->
                                    <?php } ?>
                                </div>
                            </div>
                        </div>
                        <?php } $i++;} } ?>
                    </div>                
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<style>
	.page-header{
		box-shadow:none;
	}
</style>
<script>

$(function(){
	$(".timelinehover").mouseover(function(){
        var idn=$(this).attr('id');
		$("."+idn).addClass("dots-animation");
		});
	$(".timelinehover").mouseout(function(){
        var idn=$(this).attr('id');
		$("."+idn).removeClass("dots-animation");
		});		
		
	});
function viewexam(id_exam,fromtime){
   $.ajax({
                type: 'POST',
                url: '<?php echo BASEURL; ?>tests/getdescription',
                data: 'id_exam='+id_exam+"&fromtime="+fromtime,
                success: function(data){
                    if(data){
                        $("#content").html(data);
                        $("#datemodal_new").modal('show');
                    }
                }
            });
}
function viewpackage(id_package){
    $.ajax({
                type: 'POST',
                url: '<?php echo BASEURL; ?>package/getfixpackage',
                data: 'id_package='+id_package,
                success: function(data){
                    if(data){
                        $("#packdata").html(data);
                        $("#package").modal('show');
                    }
                }
            });
}
function submitform(){
    if($(".chkeb").is(":checked")){
    document.getElementById("packages").submit();
    }else{
        alert("Select atleast one package");
    }
}
</script>
<!-- Modal -->

<div id="datemodal_new" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Instructions</h4>
          </div>
          <span id="content">
          
          </span>
    </div>
    
  </div>
</div>
<div id="package" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Package</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="<?= BASEURL ?>package/selectpackage" id="packages" method="post">
                            <div id="packdata">
                                </div>
                                <input type="hidden" value="<?= $url ?>" name="url">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="submitform();">Add Package</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>