<?php
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"><!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <a href="<?=BASEURL?>tests/addtests" title="Subject wise, Topic Wise or Unit Wise">Add Tests</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Subject,Topics and Unit wise Tests</h2>
                      </header>
                          <div class="panel-body">
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Exam Name</th>
                                          <th>Type</th>
                                          <th>Course</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody id="table-data">

                                    <?php
                                    $x=1;
                                    if (isset($tests) && count($tests)>0) {
                                      foreach ($tests as $exam_typeRes) {
                                          $type= MasterExamType::findFirst(array("etid=:etid:" ,'bind' => array("etid"=>$exam_typeRes->exam_type)));
                                          $course= MasterCourse::findFirst(array("id=:id:" ,'bind' => array("id"=>$exam_typeRes->couse)));
                                    ?>
                                      <tr>
                                        <td><?=$x++?></td>
                                        <td><?=($exam_typeRes->test_type=='1')?"Subject Wise":(($exam_typeRes->test_type=='2')?"Topic Wise":(($exam_typeRes->test_type=='3')?"Unit Wise":(($exam_typeRes->test_type=='4')?"Fixed":"All Test")))?></td>
                                        <td><?=ucwords($type->etname)?></td>
                                        <td><?=ucwords($course->name)?></td>
                                        <td>
                                          <?php 
                                            if ($exam_typeRes->status==1) {
                                                echo $this->tag->linkTo("exams/updateteststatus/2/".$exam_typeRes->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                            }else{
                                                echo $this->tag->linkTo("exams/updateteststatus/1/".$exam_typeRes->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                            }
                                        ?>
                                        </td>
                                        <td>
                                          <?php echo $this->tag->linkTo("tests/updatetests/".$exam_typeRes->id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                          <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $exam_typeRes->id?>" style="cursor:pointer;"></i>
                                        </td>

                                        <!-- Modal Start Here -->
                                          <div id="delete<?php echo $exam_typeRes->id?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?=($exam_typeRes->test_type=='1')?"Subject Wise":(($exam_typeRes->test_type=='2')?"Topic Wise":(($exam_typeRes->test_type=='3')?"Unit Wise":(($exam_typeRes->test_type=='4')?"Fixed":"All Test")))?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Are you sure to delete the exam...?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("tests/deletetest/".$exam_typeRes->id, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>

                                          <div id="myModal<?php echo $subjectRes->id?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                              <div class="modal-dialog">
                                                <div class="modal-content">

                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Subject Details</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class="">
                                                        <div class="row">
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Course Name</label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->subjectname; ?>
                                                              </div>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Coures Description </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->slug; ?>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Meta Data </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->metadata; ?>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Meta Type </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->metatype; ?>
                                                              </div>
                                                          </div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Meta Description </label>
                                                              <div class="col-sm-9">
                                                                  <?php echo $subjectRes->metadesc; ?>
                                                              </div>
                                                          </div>
                                                          <div class="clearfix"></div>
                                                          <div class="form-group">
                                                              <label class="col-sm-3 control-label">Status</label>
                                                              <div class="col-sm-9">
                                                                  <?php 
                                                                  if ($subjectRes->status==1){
                                                                      echo "<span class='badge bg-green' style='cursor:pointer;'>Active</span>";
                                                                      }else{
                                                                          echo "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>";
                                                                    }
                                                                  ?>
                                                              </div>
                                                          </div>
                                                        </div>
                                                    </div>
                                                    
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                  </div>

                                                </div><!-- /.modal-content -->
                                              </div><!-- /.modal-dialog -->
                                          </div>
                                          <!-- Modal End Here -->
                                      </tr>
                                      <?php  
                                      }
                                    }
                                    ?>
                                  </tbody>
                              </table>
                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->