<?php echo $this->getContent(); ?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <!-- Start Page Here -->
            <?php $this->flashSession->output() ?>
            <div class="row">
                <section class="panel course-body">
                    <header class="panel-heading">
                        <?php
                        $q_type = MasterExamType::findFirst(array("etid='" . $exam_type . "'"));
                        $neq_qtype = $q_type;
                        $testexam = MasterTests::findFirst(array("id='" . $test_id . "'"));
                        $subjectdata = json_decode($testexam->sort);
                        $topicid=implode(",",$subjectdata);
                        $ques_type = MasterQuesType::find("status=1");
                        $remain = MasterTestExam::find(array("id_test=$test_id"));
                        $totalused = 0;
                        foreach ($remain as $va) {
                            $used = json_decode($va->qint);
                            foreach ($used as $key => $val) {
                                $totalused+= $val[0];
                            }
                        }
                        $remain_ques = (int) $neq_qtype->no_qs - (int) $totalused;
                        ?>
                        <h2 class="panel-title">Manage Topics  : <?php
                        if ($test_type == 1) {
                            echo "Subject Wise";
                        } else if ($test_type == 2) {
                            echo "Topics Wise";
                        } else if ($test_type == 3) {
                            echo "Unit Wise";
                        } else {
                            echo "Syllabus";
                        }
                        ?> Tests ( <?php echo $supcat[$q_type->sup_cat]; ?> , <?php echo $course[$couse]; ?> ) 
                        </h2>
                    </header>
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <div class="topic-left">
                                <?php
                                 $sql_subject = "SELECT * FROM MasterTopics WHERE tid IN ($topicid) GROUP BY subid";
                                 $res_subject = $this->modelsManager->executeQuery($sql_subject);
                                 foreach($res_subject as $subval){
                                     $subname= MasterSubject::findFirst(array("id='" . $subval->subid . "'"));
                                ?>
                                <h5><b><i class="fa fa-book"></i> <?= $subname->subjectname ?></b></h5>
                                <?php
                                foreach ($subjectdata as $ssres) {
                                    $topics = MasterTopics::find(array("tid='" . $ssres . "' AND subid='".$subval->subid."'"));
                                    if ($topics->count()) {
                                        echo '<div class="choose-topics-content"><span class="topix">' . $ssres->ssname . '</span>';
                                        echo '<div class="clearfix"></div>';
                                        foreach ($topics as $value) {
                                            $remain = MasterTestExam::findfirst(array("id_test=$test_id and topic=$ssres"));
                                            ?>
                                            <div class="radio-custom radio-default">
                                                <input type="radio"  class="chkcnt" id="curs<?= $value->tid ?>" value="<?= $value->tid ?>"  name="sort[]" onclick="getques(this.value);">
                                                <label for="curs<?= $value->tid ?>" class="<?php if (!empty($remain)) {
                                    echo "text-success";
                                } ?>" ><?= $value->tname ?></label>
                                            </div>
                                            <div class="clearfix"></div>

                                            <?php
                                        }
                                        echo '</div>';
                                    }
                                }
                                 }
                                echo '<div class="clearfix"></div>';
                                ?>
                            </div>
                        </div>  
                        <div class="col-md-9">
                            <div class="spin-bg" style="display:none;">
                                <i class="fa fa-cog fa-spin fa-3x fa-fw margin-bottom"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="panel-body topic-detail">
                                <form class="form-horizontal form-bordered" id="addform" action="<?= BASEURL ?>tests/addmanagetopics" method="post">
                                    <input type="hidden" name="test_type" id="test_type" value="<?php echo $test_type; ?>">
                                    <input type="hidden" name="exam_type" id="exam_type" value="<?php echo $exam_type; ?>">
                                    <input type="hidden" name="course" id="course" value="<?php echo $couse; ?>">
                                    <input type="hidden" name="id_test" id="test_id" value="<?php echo $test_id; ?>">
                                    <input type="hidden" name="url"  value="<?php echo $this->router->getRewriteUri(); ?>">
                                    <div class="addtest-fixed-data" style="top:33%;width: auto;right: 47%;border-radius: 5px;padding: 5px 10px;">
                                        <p>
                                            Question in a Test: <span id="no_qs"> <?= $neq_qtype->no_qs ?></span></br>
                                            Time: <span> <?= $neq_qtype->time ?> min</span>
                                        </p>
                                    </div>
                                    <div id="afcurtest" class="form-group">

                                    </div>
                                </form>
                            </div>
                        </div>                            
                    </div>
            </div>
        </section>
    </div>
</section>
</div>
</section><!--content -body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
    function getques(topic){
        var test_type = $("#test_type").val();
        var course = $("#course").val();
        var etid = $("#exam_type").val();
        var test_id = $("#test_id").val();
        // ajax call start here
        $(".spin-bg").css("display","block");
        $.ajax({
            type: 'POST',
            url: '<?= BASEURL ?>tests/gettopicwise',
            data: 'course='+course+'&test_type='+test_type+'&etid='+etid+'&topic='+topic+'&test_id='+test_id,
            success: function(data){
                if(data){
                    $("#afcurtest").html(data);
                    $(".spin-bg").css("display","none");
                }
            }
        });
    }
    function validate(){
        var tosetque=$("#no_qs").html();
        var to_main=0;
        var staus=1;
        var i;
        $(".total").each(function() {
            if($.isNumeric($(this).val())){
                to_main+=parseInt($(this).val());
            }
        });
        if(parseInt(to_main) != parseInt(tosetque)){
            staus=0;
        }
        for(i=1;i<10;i++){
            var to_main_bel=0;
            if($.isNumeric($("#total"+i).val())){
                $(".que"+i).each(function() {
                    if($.isNumeric($(this).val())){
                        to_main_bel+=parseInt($(this).val());
                    }
                });
                if(parseInt($("#total"+i).val())!=parseInt(to_main_bel)){
                    staus=0;
                } 
            } 
        }
        if(staus==0){
            alert("Provide All valid Details");
            return false;
        }else{
            document.getElementById("addform").submit();
        }
    }
    function totalques(id,curvalue){
        var tota=$("#qt"+id).html();
        var res = (tota.replace("(<b>", "")).replace("</b>)", "");
        var to_main=0;
        var curvalue=curvalue?curvalue:0;
        $(".total").each(function() {
            if($.isNumeric($(this).val())){
                to_main+=parseInt($(this).val());
            }
          
        });
        if(curvalue==0){
            return true;  
        }else if((parseInt(curvalue)<=parseInt(res)) && (parseInt(to_main)<=parseInt(tosetque))){
            return true;  
        }else{
            alert("Exceed Your limit");
            $("#total"+id).focus();
        }
    }
    function totaltype(id,curvalue,curid){
        var tota=$("#tt"+id+curid).html();
        var nm_value=$("#total"+id).val();
        var res = (tota.replace("(<b>", "")).replace("</b>)", "");
        var to_main=0;
        var curvalue=curvalue?curvalue:0;
        $(".que"+id).each(function() {
            if($.isNumeric($(this).val())){
                to_main+=parseInt($(this).val());
            }
          
        });
        if(curvalue==0){
            return true;  
        }else if((parseInt(curvalue)<=parseInt(res)) && (parseInt(to_main)<=parseInt(nm_value))){
            return true;  
        }else{
            alert("Exceed Your limit");
            $("#que"+id+curid).focus();
        }
    }
    function viewmodal(){
        $("#myModal").modal("show");
    }
</script>