<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
foreach ($subject as $val) {
    foreach ($sub as $subval) {
        if ($val['id'] == $subval) {
            $cours['subject'][$j] = array('id' => $val['id'], 'slug' => $val['slug'], 'name' => $val['name']);
            $j++;
        }
    }
}
$cours['sup_cat'] = $user_session['sup_cat'];
$course = MasterCourse::findfirst("id='" . $user_session['course'] . "'");
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>

<section class="body">
    <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
        <?= UIElementsUsers::getfrontSidebar($cours, $this->session->get("fixpack"), $this->session->get("fullsylabus")) ?>
        <section role="main" class="content-body front-content after-breadcm">

            <?= UIElementsUsers::getBreadcrumds('', '', $this->session->get("course_name")); ?>
            <?php $this->flashSession->output(); ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>UnitWise Test List</h2>
                </div>
            </div>                   
            <div class="row">
                <div class="portlet-con">
                    <?php if(count($alllist)>0){
                        $i=1;
                        foreach($alllist as $val){
                        ?>
                    <div class="col-md-4" data-plugin-portlet id="portlet-1">
                        <section class="panel <?php if($i%3==1){ echo 'panel-warning';}else if($i%3==2){echo 'panel-tertiary';}else{ echo 'panel-secondary';}?>" id="panel-6" data-portlet-item>
                            <header class="panel-heading portlet-handler">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>

                                <h2 class="panel-title"><?= $val['name']?$val['name']:$val['etname']?></h2>
                            </header>
                                        <div class="panel-body">
                                            <p>Question : <?= $val['no_qs']?></p>
                                            <p>Time : <?= $val['time']?> min</p>
                                            <div class="portlet-bottom"><a href="<?=BASEURL?>tests/uwtdesc/<?php echo $val['id'];?>" class="btn btn-md btn-default">Start <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                                        </div>
                        </section>
                    </div><!--col-md-4-->
                    <?php $i++;}}else{ echo "No exam found..";}?>
                </div> <!--Portlet-Con--->          

            </div>
        </section><!--Right-Side-Section-->
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>