<?php echo $this->getContent(); ?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php
            $qint = json_decode($exam_data->qint);
            $alldata = array();
            foreach ($qint as $key => $da) {
                foreach ($da as $k => $d) {
                    $alldata[$key][$k] = $d;
                }
            }
            $course = $exam_data->couse;
            $test_type = $exam_data->test_type;
            $etid = $exam_data->exam_type;
            $subjects = MasterSubject::find(array("status='1'"));
            $q_type = MasterExamType::findFirst(array("etid='" . $etid . "'"));
            $neq_qtype = $q_type;
            ?>
            <!-- Start Page Here -->
            <div class="row"> 
                <div class="col-xs-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>
                            <h2 class="panel-title">Update <?php
            if ($exam_data->test_type == 1) {
                echo "Subject Wise";
            } else if ($exam_data->test_type == 2) {
                echo "Topics Wise";
            } else if ($exam_data->test_type == 3) {
                echo "Unit Wise";
            } else {
                echo "Syllabus";
            }
            ?> Tests ( <?php echo $supcat[$neq_qtype->sup_cat]; ?> , <?php echo $coursenew[$exam_data->couse]; ?> )</h2>
                        </header>
                        <div class="panel-body">
                            <form class="form-horizontal form-bordered" action="<?= BASEURL ?>tests/updatetests" id="addform" method="post">
                                <input type="hidden" name="id" value="<?= $exam_data->id ?>">
                                <input type="hidden" name="test_type" id="test_type" value="<?php echo $exam_data->test_type; ?>">
                                <input type="hidden" name="exam_type" id="exam_type" value="<?php echo $exam_data->exam_type; ?>">
                                <input type="hidden" name="couse" id="course" value="<?php echo $exam_data->couse; ?>">
                                <div id="afcurtest">
                                    <?php
                                    $ques_type = MasterQuesType::find("status=1");
                                    $q_type = json_decode($q_type->q_type);
                                    $qu_type = implode(",", json_decode($exam_data->sort));
                                    if ($test_type == 1) {
                                        $subject = MasterCourse::findFirst(array("id='$course' AND status=1"));
                                        $subject = json_decode($subject->subject);
                                        ?>
                                        <div class="form-group">
                                            <div class="col-md-3 text-right">
                                                <label class="" style="font-size: 15px;font-weight: 600;">Choose Subject:</label>
                                            </div>
                                            <div class="col-md-9 text-left">
                                                <?php
                                                if (!empty($subject)) {
                                                    foreach ($subject as $value) {
                                                        foreach ($subjects as $val) {
                                                            if ($val->id == $value) {
                                                                ?>
                                                                <label style="margin: 0 5px 5px 0;"><div class="radio-custom radio-default">
                                                                        <input type="radio" class="chkcnt" id="curs<?= $value ?>" value="<?= $value ?>" <?php
                                            if (in_array($value, json_decode($exam_data->sort))) {
                                                echo "checked";
                                            }
                                                                ?> name="sort[]">
                                                                        <label for="curs<?= $value ?>" ><?= $val->subjectname ?></label>
                                                                    </div></label>
                                                                <?php
                                                            }
                                                        }
                                                    }
                                                } else {
                                                    echo 'No subject assign to this course. Please check the course Module.';
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <hr style="opacity:0;" />
                                        <div class="form-group">
                                            <div class="addtest-fixed-data"><p>Question in a Test: <span> <?= $neq_qtype->no_qs ?></span><p> Time: <span> <?= $neq_qtype->time ?> min</span></p></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <?php
                                                $i = 0;
                                                $j = 1;
                                                foreach ($ques_type as $value) {
                                                    foreach ($q_type as $val) {
                                                        if ($value->qtid == $val) {
                                                            ?>
                                                            <div class="qs-type-con">
                                                                <input type="hidden" name="qint<?= $val ?>[]" value="<?= $val ?>" class="form-control">
                                                                <div class="qs-type-list">
                                                                    <h5 class="qs-type-heading"><?= $value->qtname ?></h5>
                                                                    <div class="col-md-6">
                                                                        <label for="">Max Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][0]; ?>"class="form-control">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="">Min Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][1]; ?>" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>                                                            <div class="clearfix"></div>
                                                            <?php
                                                            $i = $i + 7;
                                                            $j++;
                                                        }
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <?php
                                    } elseif ($test_type == 2) {
                                        $subject = MasterCourse::findFirst(array("id='$course' AND status=1"));
                                        $subject = json_decode($subject->subject);
                                        ?>
                                        <div class="form-group">
                                            <h3 class="choose-topics-h">Choose Topics <i class="fa fa-hand-o-down" aria-hidden="true"></i></h3>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <table class="table table-bordered choose-topics-tbl">
                                                    <tr>
                                                        <?php
                                                        if (!empty($subject)) {
                                                            foreach ($subject as $value) {
                                                                foreach ($subjects as $val) {
                                                                    if ($val->id == $value) {
                                                                        ?>
                                                                        <td>
                                                                            <label for="" class="bg-success main-head"><?= $val->subjectname ?></label>

                                                                            <div class="clearfix"></div>
                                                                            <?php $subsubject = MasterSubSubject::find(array("subid='$val->id' AND status=1")); ?>
                                                                            <?php
                                                                            foreach ($subsubject as $ssres) {
                                                                                $topics = MasterTopics::find(array("subid='" . $val->id . "' AND ssubid='" . $ssres->ssid . "' AND status=1"));
                                                                                if ($topics->count()) {
                                                                                    echo '<div class="choose-topics-content"><p>' . $ssres->ssname . '</p><hr>';
                                                                                    echo '<div class="clearfix"></div>';
                                                                                    foreach ($topics as $value) {
                                                                                        ?>

                                                                                        <div class="checkbox-custom checkbox-default">
                                                                                            <input type="checkbox" class="chkcnt" id="curs<?= $value->tid ?>" value="<?= $value->tid ?>" <?php
                                                        if (in_array($value->tid, json_decode($exam_data->sort))) {
                                                            echo "checked";
                                                        }
                                                                                        ?> name="sort[]">
                                                                                            <label for="curs<?= $value->tid ?>" ><?= $value->tname ?></label>
                                                                                        </div>
                                                                                        <div class="clearfix"></div>

                                                                                        <?php
                                                                                    }
                                                                                    echo '</div>';
                                                                                }
                                                                            }
                                                                            echo '<div class="clearfix"></div>';
                                                                            ?>
                                                                            <?php
                                                                        }
                                                                    }
                                                                }
                                                            } else {
                                                                echo 'No subject assign to this course. Please check the course Module.';
                                                            }
                                                            ?>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="addtest-fixed-data"><p>Question in a Test: <span> <?= $neq_qtype->no_qs ?></span><p> Time: <span> <?= $neq_qtype->time ?> min</span></p></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <?php
                                                foreach ($ques_type as $value) {
                                                    foreach ($q_type as $val) {
                                                        if ($value->qtid == $val) {
                                                            ?>
                                                            <div class="qs-type-con">
                                                                <input type="hidden" name="qint<?= $val ?>[]" value="<?= $val ?>" class="form-control">
                                                                <div class="qs-type-list">
                                                                    <h5 class="qs-type-heading"><?= $value->qtname ?></h5>
                                                                    <div class="col-md-6">
                                                                        <label for="">Max Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][0]; ?>" class="form-control" >
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="">Negative Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][1]; ?>" class="form-control" >
                                                                    </div>
                                                                </div>
                                                            </div>                                                            
                                                            <div class="clearfix"></div>
                                                            <?php
                                                            $i = $i + 7;
                                                        }
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <?php
                                    } elseif ($test_type == 3) {
                                        $subject = MasterCourse::findFirst(array("id='$course' AND status=1"));
                                        $subject = json_decode($subject->subject);
                                        $sort=json_decode($exam_data->sort);
                                        $newsub = MasterTopics::findFirst(array("tid='$sort[0]'"));
                                        ?>
                                        <div class="form-group">
                                            <div class="col-md-3 text-right">
                                                <label class="" style="font-size: 15px;font-weight: 600;">Choose Subject:</label>
                                            </div>
                                            <div class="col-md-9 text-left">
                                                <table class="table table-bordered choose-topics-tbl">
                                                    <tr>
                                                        <?php
                                                        if (!empty($subject)) {
                                                            foreach ($subject as $value) {
                                                                foreach ($subjects as $val) {
                                                                    if ($val->id == $value) {
                                                                        ?>
                                                                    <label style="padding-left:10px;">
                                                                        <div class="radio-custom radio-default">
                                                                            <input type="radio" required name="subjectall" class="chkcnt" id="cursda<?= $value ?>" value="<?= $value ?>" <?php if($value==$newsub->subid){echo "checked";}?> onclick="getalltopic(this.value);">
                                                                            <label for="cursda<?= $value ?>" ><?= $val->subjectname ?></label>
                                                                        </div>
                                                                    </label>
                                                                    <?php
                                                                }
                                                            }
                                                        }
                                                    } else {
                                                        echo 'No subject assign to this course. Please check the course Module.';
                                                    }
                                                    ?>
                                                    </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group topic">
                                                <?php
                                                $subsubject = MasterSubSubject::find(array("subid='$newsub->subid' AND status=1"));
                                                foreach ($subsubject as $ssres) {
                                                    $topics = MasterTopics::find(array("subid='" . $newsub->subid . "' AND ssubid='" . $ssres->ssid . "' AND status=1"));
                                                    if ($topics->count()) {
                                                        echo '<div class="col-md-4"><div class="choose-topics-content"><p><b>' . $ssres->ssname . '</b></p>';
                                                        foreach ($topics as $value) {
                                                            ?>
                                                            <div class="col-md-12">
                                                                <div class="checkbox-custom checkbox-default">
                                                                    <input type="checkbox" <?php
                                                        if (in_array($value->tid, json_decode($exam_data->sort))) {
                                                            echo "checked";
                                                        }
                                                                                        ?> id="curs<?= $value->tid ?>" value="<?= $value->tid ?>" class="chkcnt" name="sort[]">
                                                                    <label for="curs<?= $value->tid ?>" ><?= $value->tname ?></label>
                                                                </div>
                                                            </div>
                                                            <?php
                                                        }
                                                        echo "</div></div>";
                                                    }
                                                }
                                                ?>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Unit name</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" name="unit" value="<?php echo $exam_data->unit;?>">
                                            </div>
                                        </div>
                                        <hr style="opacity:0;" />
                                        <div class="form-group">
                                            <div class="addtest-fixed-data"><p>Question in a Test: <span> <?= $neq_qtype->no_qs ?></span><p> Time: <span> <?= $neq_qtype->time ?> min</span></p></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <?php
                                                $i = 0;
                                                foreach ($ques_type as $value) {
                                                    foreach ($q_type as $val) {
                                                        if ($value->qtid == $val) {
                                                            ?>
                                                            <div class="qs-type-con">
                                                                <input type="hidden" name="qint<?= $val ?>[]" value="<?= $val ?>" class="form-control">
                                                                <div class="qs-type-list">
                                                                    <h5 class="qs-type-heading"><?= $value->qtname ?><span id="qt<?= $value->qtid ?>"></span></h5>
                                                                    <div class="col-md-6">
                                                                        <label for="">Max Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][0]; ?>" class="form-control" >
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <label for="">Negetive Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][1]; ?>" class="form-control" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <?php
                                                            $i = $i + 7;
                                                        }
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <?php
                                    } elseif ($test_type == 5) {
                                        $subject = MasterCourse::findFirst(array("id='$course' AND status=1"));
                                        $subject = json_decode($subject->subject);
                                        ?>
                                        <div class="form-group">
                                            <div class="col-md-3 text-right">
                                                <label class="" style="font-size: 15px;font-weight: 600;">Choose Subject:</label>
                                            </div>
                                            <div class="col-md-9 text-left">
                                                <?php
                                                if (!empty($subject)) {
                                                    foreach ($subject as $value) {
                                                        foreach ($subjects as $val) {
                                                            if ($val->id == $value) {
                                                                ?>
                                                                <div class="checkbox-custom checkbox-default">
                                                                    <input type="checkbox" class="chkcnt" id="curs<?= $value ?>" value="<?= $value ?>" name="sort[]" <?php
                                            if (in_array($value, json_decode($exam_data->sort))) {
                                                echo "checked";
                                            }
                                                                ?>>
                                                                    <label for="curs<?= $value ?>" ><?= $val->subjectname ?></label>
                                                                </div>
                                                                <?php
                                                            }
                                                        }
                                                    }
                                                } else {
                                                    echo 'No subject assign to this course. Please check the course Module.';
                                                }
                                                ?>
                                            </div>
                                        </div>
                                        <hr style="opacity:0;" />
                                        <div class="form-group">
                                            <div class="addtest-fixed-data"><p>Question in a Test: <span> <?= $neq_qtype->no_qs ?></span><p> Time: <span> <?= $neq_qtype->time ?> min</span></p></div>
                                            <div class="clearfix"></div>
                                            <div class="col-md-12">
                                                <?php
                                                $i = 0;
                                                foreach ($ques_type as $value) {
                                                    foreach ($q_type as $val) {
                                                        if ($value->qtid == $val) {
                                                            ?>
                                                            <div class="qs-type-con">
                                                                <input type="hidden" name="qint<?= $val ?>[]" value="<?= $val ?>" class="form-control">
                                                                <div class="qs-type-list">
                                                                    <h5 class="qs-type-heading"><?= $value->qtname ?></h5>
                                                                    <div class="col-md-4">
                                                                        <label for="">Max Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][0]; ?>"class="form-control" >
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <label for="">Negative Mark</label>
                                                                        <input type="text" name="qint[<?= $val ?>][]" value="<?php echo $alldata[$val][1]; ?>" class="form-control" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <?php
                                                            $i = $i + 7;
                                                        }
                                                    }
                                                }
                                                ?>
                                            </div>
                                        </div>
                                    <?php } ?>
                                </div>
                                <input type="hidden" name="status"  value="1">
                                <div class="form-group">
                                    <label class="col-md-3 control-label hidden-xs"></label>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-success hidden-xs pull-right">Add Test</button>
                                        <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Test</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
function getalltopic(va){
 $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>tests/getalltopic',
      data: 'subject='+va,
      success: function(data){
        if(data){
          $(".topic").html(data);
        }
      }
    });
}
</script>