<?php

echo $this->getContent();?>
<?php 
  $getVal=$this->request->get();
?>
<?php echo UIElementsAdmin::getHeader("update"); ?>
<script> 
//getting data for drop down for subsubject @@ preetish
  var url ="?";  
  function getsubsubject(){
    var subid = $( "#subject" ).val();
    if (!subid=="") {
      url+="subject="+subid+"&";
      window.location="<?php echo BASEURL;?>subject/addsubtopics/"+url;
    }
  }
  //getting data for data for topics @author preetish
  function gettopics(){
    var topics = $( "#topics" ).val();
    var subid = $( "#subject" ).val();
    if (!subid=="") {
      url+="subject="+subid+"&";
    }
    if (!topics=="") {
      url+="topics="+topics+"&";
      window.location="<?php echo BASEURL;?>subject/addsubtopics/"+url;
    }
  }
  /*
   * @author preetish for slug
   */
   // slug function is here started
  function mySsubtopic() {
    var title_nm= document.getElementById("stname").value;
    $.post("/ischool4u/subject/slug_subtopic/"+title_nm,function(r){//alert("do");
        console.log(r);
        obj = JSON.parse(r);
        var elem = document.getElementById("slug");
         elem.value = obj.value;
         $("#slug_error").html(obj.msg);
            if (obj.status==1) {
                $('.submit').prop('disabled', false);
            }
            else
            {
                $('.submit').prop('disabled', true);
            }
        });
    }
    //slug function is here end
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Sub-Topic</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/addsubtopics" method="post">
                                    
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Subject Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="subid"  required  class="form-control" id="subject" onchange="getsubsubject()">
                                          <option value="">--Choose Subject--</option>
                                          <?php if (isset($subdet) ) {
                                          foreach ($subdet as $subdetRes) { ?>
                                            <option value='<?=$subdetRes->id?>' <?php if(isset($getVal['subject']) & $getVal['subject']==$subdetRes->id){echo "selected";}?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                            <?php  }
                                            }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Sub Subject Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="ssubid"  required  class="form-control" id="topics" onchange="gettopics()">
                                          <option value="">--Choose Sub Subject--</option>
                                          <?php if (isset($subsubject) ) {
                                          foreach ($subsubject as $subsubjectRes) { ?>
                                            <option value='<?=$subsubjectRes->ssid?>' <?php if(isset($getVal['topics']) & $getVal['topics']==$subsubjectRes->ssid){echo "selected";}?> ><?=stripslashes(ucwords($subsubjectRes->ssname))?></option>
                                            <?php  }
                                            }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label  class="col-md-3 control-label">Topics Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="tid" required  class="form-control">
                                          <option value="">--Choose Topics--</option>
                                          <?php if (isset($topics) ) {
                                          foreach ($topics as $topicsRes) { ?>
                                            <option value='<?=$topicsRes->tid?>'><?=stripslashes(ucwords($topicsRes->tname))?></option>
                                            <?php  }
                                            }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Sub Topic Name <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Subject Name" type="text" name="stname" id="stname" onkeyup="mySsubtopic()" value="<?=$this->request->getPost("stname")?>"   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug <span class="required">*</span></label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Subject Name" type="text" name="slug" id="slug" value="<?=$this->request->getPost("slug")?>" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Subject Name" type="text" name="metadata">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Description" type="text" name="metatype">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Data" type="text" name="metadesc">
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Sub Topic</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Sub Topic</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->