<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>
  function getcourse(){
    var d = $( "#course" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectname',
      data: 'courseid='+d,
      success: function(data) {
        if(data)
        {
          $("#subject").html(data);
        }
      }
    });
  }
  function getsubject(){
    var s = $( "#subject" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectlist',
      data: 'subjectid='+s,
      success: function(data){
        if(data)
        {
          $("#subsubject").html(data);
        }
      }
    });
  }
  function getsubject(){
    var d = $( "#course" ).val();
    var s = $( "#subject" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectlist',
      data: 'courseid='+d+'&subjectid='+s,
      success: function(data){
        if(data)
        {
          $("#subsubject").html(data);
        }
      }
    });
  }

</script>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
                <div class="row">
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">Update Topic</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/updatetopic" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Subject Name</label>
                                        <div class="col-md-6">
                                        <select class="form-control mb-md" id="subject" onchange="getsubject()" >
                                      <option value="">[ Select Subject ]</option>
                                      <?php if (isset($subdet) ) {
                                          foreach ($subdet as $subdetRes) { ?>
                                            <option value='<?=$subdetRes->id?>' <?php if(isset($getVal['subject']) & $getVal['subject']==$subdetRes->id){echo "selected";}?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                        <?php  }
                                        }
                                      ?>
                                  </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Sub Subject Name</label>
                                        <div class="col-md-6">
                                        <select class="form-control mb-md" name="" id="subsubject" onchange="getsubsubject()" >
                                          <option value="">[ Select Sub Subject ]</option>
                                          <?php if (isset($subsubject) ) {
                                              foreach ($subsubject as $subsubjectRes) { ?>
                                                <option value='<?=$subsubjectRes->ssid?>' <?php if(isset($getVal['topics']) & $getVal['topics']==$subsubjectRes->ssid){echo "selected";}?> ><?=stripslashes(ucwords($subsubjectRes->ssname))?></option>
                                            <?php  }
                                            }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Topic Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="tname" onkeyup="myFunction()" placeholder="Enter Topic Name" type="text" value="<?=$this->request->getPost("tname")?>" name="tname"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  id="slug"   placeholder="Enter Meta Description" type="text" name="slug" value="<?=$this->request->getPost("slug")?>">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Data" type="text" name="metadata"  >
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Type" type="text" name="metatype"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Description" type="text" name="metadesc"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->