<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>
  
  function getcourse(){
    var d = $( "#course" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectname',
      data: 'courseid='+d,
      success: function(data) {
        if(data)
        {
          $("#subject").html(data); 
        }
      }
    });
  } 

  // slug script start here

function myFunction() {
    var title_nm= document.getElementById("ssname").value;
    $.post("/ischool4u/subject/slugify/"+title_nm,function(r){//alert("do");
        console.log(r);
        obj = JSON.parse(r);
        var elem = document.getElementById("slug");
         elem.value = obj.value;
         $("#slug_error").html(obj.msg);
            if (obj.status==1) {
                $('.submit').prop('disabled', false);
            }
            else
            {
                $('.submit').prop('disabled', true);
            }
        });
    }   
// slug script end here
  </script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
                <div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Edit Sub Subject</h2>
                            </header> 
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/updatesubsubject" method="post">
                                    <input type="hidden" value="<?=$subsubject->ssid?>" name="ssid">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Subject Name</label>
                                        <div class="col-md-6">
                                        <select name="subid" required  class="form-control" id="subject">
                                          <option value="">-- Selected Subject --</option>
                                          <?php foreach($subject as $sslist){?>
                                            <option value="<?php echo $sslist->id; ?>" <?php echo ($sslist->id==$subsubject->subid)?'selected':''?> ><?php echo $sslist->subjectname;?></option>
                                          <?php }?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Subject Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="ssname" onkeyup="myFunction()"  placeholder="<?=$subsubject->ssname?>" type="text" name="ssname" value="<?=$subsubject->ssname?>" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug</label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="<?=$subsubject->slug?>" type="text" name="slug" value="<?=$subsubject->slug?>">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Data" type="text" name="metadata" value="<?=$subsubject->metadata?>" >
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Type" type="text" name="metatype" value="metatype"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Description" type="text" name="metadesc" value="<?=$subsubject->metadesc?>"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php echo ($subsubject->status==1)?'selected':'' ?> >Active</option>
                                          <option value="0" <?php echo ($subsubject->status==0)?'selected':'' ?> >Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->