<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script>
   function getcourse(){
    
    var d = $( "#course" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectname',
      data: 'courseid='+d,
      success: function(data) {
        if(data)
        {
          $("#subject").html(data);
          $("#subsubject").html("<option>-- Select Sub Subject--</option>");
        }
      }
    });
  }
  function getsubject(){

    var d = $( "#course" ).val();
    var s = $( "#subject" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectlist',
      data: 'courseid='+d+'&subjectid='+s,
      success: function(data){
        if(data)
        {
          $("#subsubject").html(data);
        }
      }
    });
  }
  
</script>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
    <div class="row">
        <div class="col-xs-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Update Topic</h2>
                </header>
                <div class="panel-body">
                    
                   
                           <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/updatetopics" onsubmit="return submitValidation();" method="post">
                    
                                    <input type="hidden" name="tid" value="<?php echo $topic->tid?>"/>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Subject Name</label>
                                        <div class="col-md-6">
                                        <select name="subid" required  class="form-control" id="subject" onchange="getsubject()">
                                          <option value="">-- Selected Subject --</option>
                                          <?php foreach($subject as $sslist){?>
                                            <option value="<?php echo $sslist->id; ?>" <?php echo ($sslist->id==$topic->subid)?'selected':''?> ><?php echo $sslist->subjectname;?></option>
                                          <?php }?>
                                        </select>
                                      
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Sub Subject Name</label>
                                        <div class="col-md-6">
                                            <select name="ssubid" id="subsubject" required  class="form-control" >
                                            <option value="">-- Selected Sub Subject --</option>
                                             <?php foreach($subsubject as $value1){?>
                                            <option value="<?php echo $value1->ssid; ?>" <?=$value1->ssid==$topic->ssubid?"selected":""?> ><?php echo $value1->ssname;?> </option>
                                          <?php }?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Topic Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="tname" onkeyup="myFunction()" placeholder="" type="text" value="<?=$topic->tname?>" name="tname"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" type="text" name="slug" value="<?=$topic->slug?>">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?=$topic ->metadata?>"  placeholder="Enter Meta Data" type="text" name="metadata"  >
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?=$topic ->metatype?>" placeholder="Enter Meta Type" type="text" name="metatype"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?=$topic ->metadesc?>" placeholder="Enter Meta Description" type="text" name="metadesc"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?=$topic ->status==1?'selected':''?>>Active</option>
                                          <option value="0" <?=$topic->status==0?'selected':''?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->