<?php
echo $this->getContent();
?>
<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
 <script type="text/javascript">
function Slugs() {
var title_nm= document.getElementById("title").value;
$.post("/ischool4u/concepts/slugify/"+title_nm,function(r){
    console.log(r);
    obj = JSON.parse(r);
    var elem = document.getElementById("slug");
     elem.value = obj.value;
     $("#slug_error").html(obj.msg);
        if (obj.status==1) {
            $('.submit').prop('disabled', false);
        }
        else
        {
            $('.submit').prop('disabled', true);
        }
    });
}
function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubsubject',
          data: 'subjectid='+subid,
          success: function(data){
            if(data){
              $("#subsubject").html(data);
              $("#topics").html("<option>[ Select Topics ]</option>");
              $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function gettopics(){ 
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/gettopics',
          data: {subjectid:subid,ssubid:ssubid},
          success: function(data){
            if(data){
              $("#topics").html(data);
              $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubtopics',
          data: {subjectid:subid,ssubid:ssubid,topics:topics},
          success: function(data){
            if(data){
              $("#subtopics").html(data);
              console.log(data);
            }
          }
        });
      }             
</script>
<style>
    #btn-description{
        display: none;
    }
</style>
                        
<!-- slug script end here-->
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::news()?>


          <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Tip</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>tips/updtips" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                    <input type="hidden" value="<?=$tips->tid?>" name='tid'>
                                    <div class="form-group">
                                        <!-- <div class="col-md-3">
                                          <label for="subject">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div> -->
                                       <!--  <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div> -->
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Subject <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>' <?=($tips->subject==$subdetRes->id)?"selected":""?>><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Sub Subject <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                                <?php if (isset($subsub) ) {
                                                  foreach ($subsub as $subsubRes) { ?>
                                                    <option value='<?=$subsubRes->ssid?>' <?=($tips->subsubject==$subsubRes->ssid)?"selected":""?>><?=stripslashes(ucwords($subsubRes->ssname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Topics <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                                 <?php if (isset($topic) ) {
                                                  foreach ($topic as $topicRes) { ?>
                                                    <option value='<?=$topicRes->tid?>' <?=($tips->topics==$topicRes->tid)?"selected":""?>><?=stripslashes(ucwords($topicRes->tname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Sub Topics <span class="required">*</span></label>
                                        <div class="col-md-6">
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                                 <?php if (isset($subtopic) ) {
                                                  foreach ($subtopic as $subtopicRes) { ?>
                                                    <option value='<?=$subtopicRes->stid?>' <?=($tips->subtopics==$subtopicRes->stid)?"selected":""?>><?=stripslashes(ucwords($subtopicRes->stname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">                                         
                                         <label class="col-md-2 control-label">Title <span class="required">*</span></label>
                                        <div class="col-md-6">
                                         <input class="form-control" id="title" required onkeyup="Slugs()"  placeholder="Enter Page" type="text" name="title" value="<?=$tips->title?>" required>
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Slug <span class="required">*</span></label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" required id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?=$tips->slug?>" >
                                        </div>   
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Tips Type <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="tiptype" class="form-control" required>
                                          <option value="">--Choose Tips Type--</option>
                                          <?php
                                              foreach($tipstype as $tipstyperes){ ?>
                                                <option value="<?=$tipstyperes->id?>" <?=($tips->tid==$tipstyperes->id)?"selected":""?>><?=$tipstyperes->title?></option>
                                           <?php   }
                                          ?>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                      <div class="form-group">                                         
                                        <div class="col-md-12">
                                          <textarea class="form-control"   placeholder="Text Editor" rows="12" name="tips_name_new_up"></textarea>
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-description" onclick="setdatanew('description')">Add Tip</div>
                                          
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <div class="btn btn-sm btn-info" onclick="setEditornew('description')">Tips</div>
                                          </div>                                       
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Tip</label>
                                        <div class="col-md-6">
                                        <textarea class="form-control description" id="tip" required  placeholder="Enter Tip" rows="3" name="tip"><?=$tips->tip?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" id="status" required class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?=($tips->status==1)?"selected":""?>>Active</option>   
                                          <option value="0" <?=($tips->status==0)?"selected":""?>>Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right"  >Update Tips</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Update Tips</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
    CKEDITOR.replace( 'tips_name_new_up',
    {  
    });
    function setdatanew(){
        var value =CKEDITOR.instances.tips_name_new_up.getData();
        document.getElementById("tip").value = value;
    }
    function setEditornew(){
        var value = $(".description").val();
        CKEDITOR.instances['tips_name_new_up'].setData(value);
        document.getElementById("btn-description").style.display = "inline";
    }
</script>