<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subjects,'',$this->session->get("course_name"))?>
            
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $subjects))?></h2>
                </div>
            </div>
            <?php $this->flashSession->output() ?>

            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">
                        <?php 
                $subsub = json_decode($course->subsubject);
                if(isset($subsubjects)){ $i=1;

                    foreach ($subsubjects as $subsubjectsres) {
                        if (isset($subsub) && !empty($subsub)) 
                        {
                            foreach($subsub as $val){
                                if($val==$subsubjectsres->ssid){
                            ?>
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-sm">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">                                                       
                                                <div class="info">
                                                    <strong class="amount">Units and Dimensions</strong>                            
                                                </div>
                                                
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="goto-chapter" onclick="window.location.href='topic.html'">
                                        <i class="fa fa-chevron-right"></i>
                                    </button>
                                </div>
                            </section>
                                    <?php
                                        }
                                    }
                                }
                            }
                        }
                     ?>
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-sm">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">                                                       
                                                <div class="info">
                                                    <strong class="amount">Measurement of Errors</strong>                           
                                                </div>
                                                <h4 class="title"><b>0/5 GOALS</b></h4>
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="goto-chapter"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </section>                                                                  
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-sm">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">                                                       
                                                <div class="info">
                                                    <strong class="amount">Vectors</strong>                         
                                                </div>
                                                <h4 class="title"><b>0/5 GOALS</b></h4>
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="goto-chapter"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </section>
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-sm">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">                                                       
                                                <div class="info">
                                                    <strong class="amount">Kinematics</strong>                          
                                                </div>
                                                <h4 class="title"><b>0/5 GOALS</b></h4>
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="goto-chapter"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </section>
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-sm">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">                                                       
                                                <div class="info">
                                                    <strong class="amount">Newton's Laws Of Motion</strong>                         
                                                </div>
                                                <h4 class="title"><b>0/5 GOALS</b></h4>
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="goto-chapter"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </section>
                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-sm">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-lightbulb-o"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">                                                       
                                                <div class="info">
                                                    <strong class="amount">Friction</strong>                            
                                                </div>
                                                <h4 class="title"><b>0/5 GOALS</b></h4>
                                            </div>
                                            <div class="summary-footer">
                                                <a class="text-muted text-uppercase">(view all)</a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="goto-chapter"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">                                        
                                        <span class="va-middle">Your Stats</span>
                                    </h2>
                                </header>
                                <div class="panel-body">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">                                                      
                                                <img src="assets/images/is_qs.png"/>
                                                <label class="status-label">64</label><br>
                                                <label for=""><small><b>Attempted</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="assets/images/is_ac.png"/>
                                                <label class="status-label">67%</label><br>
                                                <label for=""><small><b>Accuracy</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="assets/images/is_sp.png"/>
                                                <label class="status-label">43s</label><br>
                                                <label for=""><small><b>Question Speed</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="assets/images/is_tm.png"/>
                                                <label class="status-label">45m</label><br>
                                                <label for=""><small><b>Time Practiced</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="assets/images/is_fn.png"/>
                                                <label class="status-label">1/300</label><br>
                                                <label for=""><small><b>Goals Cleared</b></small></label>
                                            </div>
                                        </div>
                                        <hr class="dotted short">                                       
                                    </div>
                                </div>                              
                            </section>
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <?php foreach($follow as $fval): ?>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <?php if($fval['img']!=''): ?>
                                                            <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php else: ?>
                                                                <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php endif; ?>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                                    <a href="#"><b><?=$fval['name']?></b></a>
                                                    <div class="post-meta">
                                                        <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                                    </div>                                                      
                                                </div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>


           
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>