<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <script>
        function checkbookmark(qid,type){
            if($("#"+qid+'book').hasClass('booked')!=true){
                $("#"+qid+"book").addClass("booked");
            }else{
                $("#"+qid+"book").removeClass("booked");
            }
            $.ajax({
                type: 'POST',
                url: '<?php echo BASEURL; ?>bookmarks/books',
                data: 'qid='+qid+'&type='+type,
                success: function(data){
                    if(data){
                        console.log(data);
                    }
                }
            });
        }
    </script>
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->subjectname,$subsubject->ssname,$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $topics->slug))?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="<?=BASEURL?>question/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Practice Question</a></li>
                            <li><a href="<?=BASEURL?>assessment/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Assessment</a></li>
                            <li><a href="<?=BASEURL?>tip/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Tips</a></li>
                            <li><a href="<?=BASEURL?>articles/<?=$subject->slug.'/'.$subsubject->slug.'/'.$topics->slug?>">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <?php
                        if(isset($article)){ $i=1;
                            foreach ($article as $articleres) { ?>
                                <div class="panel panel-ssub">
                                    <div class="panel-body">
                                        <div class="qicon pull-right">
                                            <i class="fa fa-lightbulb-o"></i> <a href="#" data-toggle="modal" data-target="#solu<?= $articleres->id ?>">Solution</a> |
                                                <!-- Solution Modal -->
                                                <div class="modal fade" id="solu<?= $articleres->id ?>" tabindex="-1" role="dialog" 
                                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" 
                                                                        data-dismiss="modal" aria-hidden="true">
                                                                    &times;
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    View Solution 
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <?php
                                                                
                                                                $snote = MasterSnote::find("user_id='" . $user_session['id'] . "' AND questionid='" . $articleres->id . "' AND type='2'");
                                                                
                                                                ?>
                                                                
                                                                <div class="snote<?= $articleres->id ?>">
                                                                    <?php
                                                                    $s = 1;
                                                                    if (isset($snote) && !empty($snote)) {
                                                                        foreach ($snote as $value) {
                                                                            echo '<div class="clearfix">';
                                                                            echo $s . ') ' . $value->note;
                                                                            echo '</div>';
                                                                            $s++;
                                                                        }
                                                                    }
                                                                    ?>
                                                                </div>
                                                                <hr>
                                                                <div class="solution-note">
                                                                    <div class="form-group">
                                                                        <input type="hidden" id="ntype<?= $articleres->id ?>" value="2">
                                                                        <textarea id="note<?= $articleres->id ?>" class="form-control" rows="4"></textarea>
                                                                    </div>
                                                                    <div class="btn btn-primary pull-right" onclick="snote('<?= $articleres->id ?>')" >Add Note</div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /. Solution Modal -->
                                                <?php
                                                $book = MasterBookmarks::findFirst("user_id='" . $user_session['id'] . "' AND questionid='" . $articleres->id . "' AND type='2'");
                                                ?>
                                                <i class="fa fa-bookmark <?= ($book->id != '') ? 'booked' : '' ?>" data-toggle="tooltip" data-placement="top" title="Bookmark" id="<?= $articleres->id ?>book" onClick="checkbookmark('<?= $articleres->id ?>','2')"></i>
                                        </div>
                                        <h3><?=$articleres->title?></h3>
                                        <p><?=substr($articleres->article,0,100)?>... <a href="<?=BASEURL?>readarticles/<?=$articleres->slug?>" target="_blank">Read More</a></p>
                                    </div>
                                </div>
                            <?php
                            }
                        }else{
                            echo "There is no article found.";
                        }
                     ?>
                </div>
                <!-- <div class="col-md-3">
                    <div class="panel">
                        <div class="">
                            <div class="right-sidebar">
                                <h3>Filter Tips</h3>
                                <div class="right-qs clearfix">
                                    <h5 class="text-uppercase">by Type</h5>
                                    <?php
                                        foreach($tipstype as $tipstyperes){ ?>
                                            <div class="checkbox-custom checkbox-default">
                                              <input id="etyp" value="1" name="course[]" type="checkbox">
                                              <label for="curs1"><?=$tipstyperes->title?></label>
                                            </div>
                                            <div class="clearfix"></div>
                                        <?php
                                        }
                                    ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>