<?php

echo $this->getContent();

?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::question()?>
            <script>
              function getsubsubject(){
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubsubject',
                  data: 'subjectid='+subid,
                  success: function(data){
                    if(data){
                      $("#subsubject").html(data);
                      $("#topics").html("<option value=''>[ Select Topics ]</option>");
                      $("#subtopics").html("<option value=''>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function gettopics(){
                var ssubid = $( "#subsubject" ).val();
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/gettopics',
                  data: {subjectid:subid,ssubid:ssubid},
                  success: function(data){
                    if(data){
                      $("#topics").html(data);
                      $("#subtopics").html("<option value=''>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function getsubtopics(){
                var topics = $("#topics").val();
                var ssubid = $("#subsubject").val();
                var subid = $("#subject").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubtopics',
                  data: {subjectid:subid,ssubid:ssubid,topics:topics},
                  success: function(data){
                    if(data){
                      $("#subtopics").html(data);
                      console.log(data);
                    }
                  }
                });
              }
              function getanswer(){
                var q_type = $("#q_type").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getanswer',
                  data: {q_type:q_type},
                  success: function(data){
                    if(data){ 
                      $("#answer").html(data);
                      console.log(data);
                    }
                  }
                });
              }
            </script>
            <style>
                #btn-question,#btn-answer,#btn-option2,#btn-option3,#btn-option4,#btn-hint {
                    display: none;
                }
            </style>
        <!-- Start Page Here -->
                <div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Update Subjective or Theory Type Question</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subtheory/update" method="post">
                                    <div class="form-group">                                         
                                        <div class="col-md-12">
                                          <textarea class="form-control Editor-editor"   placeholder="Text Editor" rows="12" name="ques_name"></textarea>
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-question" onclick="setsubTextArea('question')">Add Question</div>
                                          <div class="btn btn-primary" id="btn-answer" onclick="setsubTextArea('answer')">Answer</div>
                                          <div class="btn btn-primary" id="btn-hint" onclick="setsubTextArea('hint')">Hint</div>
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <div class="btn btn-sm btn-info" onclick="setsubEditor('question')">Question</div>
                                          <div class="btn btn-sm btn-info" onclick="setsubEditor('answer')">Answer</div>
                                          <div class="btn btn-sm btn-info" onclick="setsubEditor('hint')">Hint</div>
                                        </div>
                                    </div>
                                    <input type="hidden" value="<?=$question->qid?>" name="qid" />
                                    <input type="hidden" value="<?=$question->created?>" name="created" />
                                    <input type="hidden" value="<?=$question->questionid?>" name="questionid" />
                                    
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Question</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question" required  placeholder="Enter Question" rows="3" name="question"  ><?=$question->question?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Answer</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="answer" required  placeholder="Enter Answer" rows="3" name="answer"  ><?=$question->answer?></textarea>
                                        </div>
                                    </div>

                                    
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Hints</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control hint" id="hint" placeholder="Hints" rows="3" name="hint"><?=$question->hint?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Type</label>
                                        <div class="col-md-10">
                                        <select name="q_type" id="q_type" class="form-control" onchange="getanswer()">
                                          <option value="">--Choose Question Type--</option>
                                          <?php foreach($qtype as $value){ ?>
                                          <option value="<?=$value->qtid?>" <?=($value->qtid==$mquestion->q_type)?'selected':''?> ><?=$value->qtname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="control-label">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>' <?=($subdetRes->id == $mquestion->subject)?'selected':''?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <?php
                                            // Query Sub Subject 
                                            $subsub = MasterSubSubject::find(array("subid='".$mquestion->subject."'"));
                                        ?>
                                        <div class="col-md-3">
                                            <label class="control-label">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                                <?php if (isset($subsub) ) {
                                                  foreach ($subsub as $subsubRes) { ?>
                                                    <option value='<?=$subsubRes->ssid?>' <?=($subsubRes->ssid == $mquestion->subsubject)?'selected':''?> ><?=stripslashes(ucwords($subsubRes->ssname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <?php
                                            // Query Topics 
                                            $topics = MasterTopics::find(array("subid='".$mquestion->subject."' AND ssubid='".$mquestion->subsubject."'"));
                                        ?>
                                        <div class="col-md-3">
                                            <label class=" control-label">Topics</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                                <?php if (isset($topics) ) {
                                                  foreach ($topics as $topicsRes) { ?>
                                                    <option value='<?=$topicsRes->tid?>' <?=($topicsRes->tid == $mquestion->topics)?'selected':''?> ><?=stripslashes(ucwords($topicsRes->tname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <?php
                                            // Query Sub Topics 
                                            $subtopics = MasterSubTopics::find(array("subid='".$mquestion->subject."' AND ssubid='".$mquestion->subsubject."' AND tid='".$mquestion->topics."'"));
                                        ?>
                                        <div class="col-md-3">
                                            <label class=" control-label">Sub Topics</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                                <?php if (isset($subtopics) ) {
                                                  foreach ($subtopics as $subtopicsRes) { ?>
                                                    <option value='<?=$subtopicsRes->stid?>' <?=($subtopicsRes->stid == $mquestion->subtopics)?'selected':''?> ><?=stripslashes(ucwords($subtopicsRes->stname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                    </div>
                                    <?php
                                      $e_type = json_decode($mquestion->e_type);
                                    ?>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Pool</label>
                                        <div class="col-md-10">
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="practice" value="1" name="e_type[]"
                                              <?php
                                                foreach ($e_type as $value) {
                                                  if($value == 1){
                                                    echo 'checked';
                                                  }
                                                }
                                              ?>
                                            >
                                            <label for="practice" >Practice Pool</label>
                                          </div>
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="test" value="2" name="e_type[]"
                                            <?php
                                                foreach ($e_type as $value) {
                                                  if($value == 2){
                                                    echo 'checked';
                                                  }
                                                }
                                              ?>
                                            >
                                            <label for="test" >Test Pool</label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Source</label>
                                        <div class="col-md-10">
                                        <select name="q_source"  class="form-control">
                                          <option value="">--Choose Question Source--</option>
                                          <?php foreach($qsources as $value){ ?>
                                          <option value="<?=$value->qsid?>" <?=($value->qsid==$question->q_source)?'selected':''?> ><?=$value->qsname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Level</label>
                                        <div class="col-md-10">
                                        <select name="q_level"  class="form-control">
                                          <option value="">--Choose Question Level--</option>
                                          <option value="1" <?=$mquestion->q_level==1?'selected':''?>>Easy</option>
                                          <option value="2" <?=$mquestion->q_level==2?'selected':''?>>Medium</option>
                                          <option value="3" <?=$mquestion->q_level==3?'selected':''?>>Hard</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-10">
                                        <input class="form-control"  placeholder="Tags" type="text" name="tag" value="<?=$question->tag?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Keywords</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control"  placeholder="Keywords" rows="3" name="keyword"><?=$question->keyword?></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status</label>
                                        <div class="col-md-10">
                                          <select name="status"  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1" <?=($question->status==1)?'selected':''?>>Final</option>
                                            <option value="2" <?=($question->status==2)?'selected':''?>>Complete</option>
                                            <option value="3" <?=($question->status==3)?'selected':''?>>Error</option>
                                            <option value="4" <?=($question->status==4)?'selected':''?>>Without Solution</option>
                                            <option value="5" <?=($question->status==5)?'selected':''?>>Need Update</option>
                                            <option value="0" <?=($question->status==0)?'selected':''?>>Unchecked</option>
                                          </select>
                                          <div class="status-info">
                                              <i class="fa fa-circle" style="color:#13FD13;"></i> Final | 
                                              <i class="fa fa-circle" style="color:#1FBBA6;"></i> Complete |
                                              <i class="fa fa-circle" style="color:#FE5454;"></i> Error |
                                              <i class="fa fa-circle" style="color:#67CBF5;"></i> Without Solution |
                                              <i class="fa fa-circle" style="color:#F37934;"></i> Need Update |
                                              <i class="fa fa-circle" style="color:#8E8989;"></i> Unchecked
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Question</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Question</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->